[2017-07-05 23:25] housseindjirdeh opened #2 "Android Version"
Since this is built with React Native, it only makes sense to include an Android version.

Unfortunately, I haven't _once_ tried running the application on a Android emulator or device so there is definitely going to be quite a bit that needs to be done to have it working smoothly across both platforms.

[2017-07-10 15:44] housseindjirdeh opened #3 "Re-navigating back to the same screen does not reload state"
Since the app has nested navigation throughout, most of the screens can be accessed through each of the tabs. Moreover, the same screen can easily be accessed in the same stack.

To reproduce this bug, there are 2 ways:

### 1

1) In any tab, navigate to any screen (for example: user profile)
2) Switch to a different tab, navigate to the same screen (for example: user profile for a different user)

[2017-07-10 16:00] housseindjirdeh opened #4 "Fix status bar"
Screens that use a profile component (repository screen/user profile screen) should have white status bar text. Currently, the text is dark.

<p align="center">
<img src = "https://user-images.githubusercontent.com/12476932/28027216-510e0762-6566-11e7-88b5-642e715008c4.png" width=250>
</p>

I've already exposed a `barColor` prop to modify this attribute in the [ViewContainer component](https://git

[2017-07-10 16:10] housseindjirdeh opened #5 "View commits"
As of currently, actual commit information can't be viewed anywhere in the application. You may have already noticed that you can't even click a commit in the notifications screen to view it's details.

Would definitely be nice to:

* have the number of commits when viewing the diff of a pull request be clickable
* have commits that show in the notifications screen be clickable
* add number of com

[2017-07-10 16:17] housseindjirdeh opened #6 "Pull Request Review Comments"
Currently, pull request review comments don't show at all when viewing a PR. Not too sure how we want to include this functionality design-wise just yet, but this is definitely something we need to have. Open to all kinds of suggestions!

[2017-07-10 16:32] housseindjirdeh opened #7 "Clicking profile image navigates to full screen"
Would be nice if clicking the image on a user profile screen opens a modal screen that shows the image in full screen mode :)

[2017-07-10 16:40] housseindjirdeh opened #8 "Update profile details"
Would be nice to have a settings icon on the authenticated user's profile screen (`AuthProfileScreen`) that opens a modal screen with a form of sorts that allows you to update settings in your profile such as:

* Profile Image (select from the photo library + take photo (if that's not too complicated))
* Name
* Email
* Website

We may also want to allow updating of the following:

* Bio
* Company

[2017-07-10 16:46] housseindjirdeh opened #9 "Add share functionality"
Could be useful to have a share link associated to repositories, users and issues that would allow us to share the actual github link.

For repositories and users, share can be added to the ActionSheet that opens when clicking the menu icon. However for issues we might have to add a `share` icon somewhere. Always open to suggestions of course.

[2017-07-11 20:43] rmevans9 commented on #2
I love to look of this app but can't use it since I run Android... so I spent 5ish minutes to see if there is anything that is a major showstopper for this to run on Android. My findings:

- You need to hook up deep linking on Android.  Add this to your main activity in `AndroidManifest`
[code]

- `react-native-search-bar` is iOS only. Would need to either switch to something more cross platform o

[2017-07-11 21:17] housseindjirdeh commented on #2
@rmevans9 I can't thank you enough for this. I'm so happy to hear that screens are looking quite good on Android 🙌 . From the sounds of it, it doesn't look like there is _too much_ to do 😃

I'm going to tackle this in the coming week and hopefully have it up and running in around a week or so. Will post my updates here (and of course: any kind of contribution is always welcome!!)

[2017-07-11 21:22] rmevans9 commented on #2
I should probably point out I only saw like two screens because if the second issue pointed out.

[2017-07-11 21:28] housseindjirdeh commented on #2
Thank you, in that case you're right there are quite a few screens in the app so there may definitely be things to do in many of them (off the top of my head for example - I use `ActionSheetIOS` in a number of screens so will need to find a cross platform solution for that)

Two screens looking decent is still good news nevertheless! :)

[2017-07-11 22:37] housseindjirdeh opened #10 "Allow for different branches when viewing repository code"
As of currently, only code in the `master` branch of every repo can be viewed. Definitely need to allow for the user to switch branches.

[2017-07-12 01:53] housseindjirdeh opened #11 "Add filters for search"
Would be awesome to allow the user to filter for `Best Match` `Most Stars` etc... for repository search and the same for users (`Most Followers`, etc...).

[2017-07-12 01:54] housseindjirdeh opened #12 "Expand search to include searching for issues"
Currently we can only search for users and repos. Would be nice to have the ability to [search for issues](https://developer.github.com/v3/search/#search-issues) as well.

[2017-07-12 02:10] housseindjirdeh opened #14 "Allow for editing code"
Something I've been thinking about adding for some time: **editing and updating files in a repo**. Still not 100% sure how _exactly_ we would do this but opening this issue for discussion/tracking.

[2017-07-12 02:14] rmevans9 commented on #2
After commenting out `SearchBar` in the 4 screen files I have the app up and working. I am sure that if I triggered anything that used `ActionSheetIOS` it would fail miserably.

![image](https://user-images.githubusercontent.com/14151327/28098776-18e5c1ec-666d-11e7-85ab-9061ae6eaec4.png)

![image](https://user-images.githubusercontent.com/14151327/28098781-2074ebf4-666d-11e7-9cb2-6504961ae568.png)

[2017-07-12 02:26] housseindjirdeh opened #15 "Repository list for logged in user doesn't show private repos"
When clicking `Repositories` on the authenticated user profile screen, the list of repositories that shows is only public (unless actually searched for --> that call will show a private repo)

This is most likely due to endpoint that's hit by `getRepositories` in the `user.actions`. Although `/users/${user}/repos` is correct for other users --> we'll have to conditionally set the endpoint to be `/

[2017-07-12 03:04] housseindjirdeh commented on #2
Sweet sweet sweeet.

All in all it doesn't look too bad and I'm so glad :D. The tab bar looks completely out of place for one and screens without the navbar (like the notification's screen) makes things look a bit off I think.

Going to spend some time later this week running it myself and see how many things I can spot and smooth out. Thanks again for all the help, and please don't hesitate to pu

[2017-07-12 03:10] rmevans9 commented on #2
The tab bar is because `react-navigation` defaults to `TabBarTop` for Android with a `tabBarPosition` of top. You just need to force it to the bottom and tell it to use `TabBarBottom`. Looking at your code you already force it to `TabBarBottom` so it is a simple change to force it to the bottom. PR landing in ~30 seconds

ref: https://reactnavigation.org/docs/navigators/tab#TabNavigatorConfig

[2017-07-12 03:14] housseindjirdeh commented on #2
Cheers I had a feeling it was defaulted to the top for react-navigation, thank you :D

[2017-07-12 03:17] rmevans9 commented on #2
Alright - I think that is plenty productive for sitting in an airport. If you want or need further assistance just tag me here or if you just have a question you can find me hanging around the react-native channel in infinite red's OSS community slack - find the link in https://github.com/infinitered/reactotron readme. Can't wait to see this on the Google Play store!

[2017-07-12 03:19] housseindjirdeh commented on #2
Can't thank you enough for everything you've already done - will definitely keep you in the loop as things progress here :raised_hands:

[2017-07-12 04:34] alejandronanez opened #17 "User profile description is missing"
When you open your profile, the user description is missing.

I'd love to work on this feature, let me know if I can do it.

Also, thanks for making this project, it's awesome!!!

[2017-07-12 05:17] housseindjirdeh commented on #17
I would _love_ to have you help out with that :)

[2017-07-12 05:20] housseindjirdeh commented on #17
Let me know how you're envisioning showing that on the screen. Also we don't show user location and I think that would be a nice to have to :) But don't worry about it if you would rather only just try showing the user profile first.

[2017-07-12 05:22] housseindjirdeh commented on #17
User profile description* (writing these comments through the app - being able to edit posts would definitely be something we'll need to add in the future :P)

[2017-07-12 05:29] blahblahblah- opened #18 "Diff blocks not appearing in Pull Requesrs"

[2017-07-12 05:29] blahblahblah- opened #19 "Diff blocks not appearing in Pull Requests for private repos"
For some reason, diff blocks only appear in Pull Requesrs for public repos, but not for private repos. The side effect is that you cannot view different for private repo PRs.

[2017-07-12 05:31] blahblahblah- commented on #18
Sorry, fat fingered this. 😞  see: https://github.com/gitpoint/git-point/issues/19 instead

[2017-07-12 05:31] #18 closed

[2017-07-12 06:12] Talor-A commented on #2
@housseindjirdeh I can assist with running on Android, I actually have a cross-platform wrapper for ActionSheet that I'm using in my own app that I can shoot you a PR for.

[2017-07-12 10:40] alejandronanez commented on #17
Sounds good! Let me work on this over the week! Thanks!

[2017-07-12 10:41] alejandronanez commented on #17
I think you should open some issues with those feautres too :)

[2017-07-12 12:26] ShaunLloyd commented on #4
@housseindjirdeh I can take a peek at this this afternoon!

[2017-07-12 13:12] kamasheto opened #21 "https://gitpoint.co SSL certificate broken"
Getting a `NET::ERR_CERT_AUTHORITY_INVALID`

[2017-07-12 13:18] jjperezaguinaga commented on #21
Are you talking about the website? That's weird, could you provide more info on which browser are you using? I don't have that issue on Chrome Version 59.0.3071.115 (Official Build) (64-bit).

![image](https://user-images.githubusercontent.com/1128312/28119460-39bed6bc-6715-11e7-97d2-1c895af1b208.png)

[2017-07-12 13:23] #21 closed

[2017-07-12 13:23] kamasheto commented on #21
Our corporate network auto blocked it and it was not able to verify the certificate. 😅

[2017-07-12 14:58] nikolaevigor opened #22 "NavBar margin-bottom is missing?"
Seems like labels here is not centered vertically imo
iOS 11, latest public beta atm.

![2017-07-12 17 50 18](https://user-images.githubusercontent.com/3702281/28124125-78d9076c-672b-11e7-8785-ef904b23b662.jpg)
Nice app though :)

[2017-07-12 15:00] nikolaevigor opened #23 "Crashing on PR opening"
App has crashed on taping on "Add carousel"
iOS 11, latest public beta atm

Video attached
[2017-07-12 17.54.24.MOV.zip](https://github.com/gitpoint/git-point/files/1142389/2017-07-12.17.54.24.MOV.zip)

[2017-07-12 15:18] housseindjirdeh commented on #22
Cheers that's a good catch - definitely a tiny thing we can fix

And thank you :)

[2017-07-12 15:20] housseindjirdeh opened #24 "Allow for editing and deleting issue comments"
Would definitely be awesome to have the ability to edit and delete issue comments!

[2017-07-12 15:26] housseindjirdeh opened #25 "Reactions"
So I spent a bit of time some while ago working on adding reactions. This is all in the `with-reactions` branch of the repo. Keep in mind this is a much older branch and there have been a lot of changes since than on `master`, but I feel we can port our logic from there when we're ready.

This is what I had working:

![gitpoint-reactions](https://user-images.githubusercontent.com/12476932/28125415

[2017-07-12 15:45] housseindjirdeh opened #26 "Syntax highlighting"
Would be nice to have syntax highlighting for repository and pull request code in the app. For pull request diffs - this probably isn't trivial at all with they way I've set it up but worth looking into if we have the time :)

Definitely not a high priority however.

[2017-07-12 17:25] housseindjirdeh commented on #4
Nothing but love for you <3

[2017-07-12 17:27] housseindjirdeh commented on #2
Thank you so much @Talor-A, any assistance would be extremely appreciated! And that's awesome - I was just planning to look for a cross-platform wrapper so I'm glad you already have one 🙌

[2017-07-12 17:32] housseindjirdeh commented on #17
Just did :) #24

[2017-07-12 17:34] housseindjirdeh commented on #23
Oooh do you know what might be triggering this by any chance? Hard to tell from the video but I assume this happens when you tap to open the PR right?

Thanks so much for logging this 🙌

[2017-07-12 17:45] alejandronanez commented on #17
I think you can create a label like `Assigned` or something, so people don't lose time opening issues that already have someone assigned. Just saying :)

[2017-07-12 18:05] alejandronanez opened #29 "Can't run the project"
I follow the steps under CONTRIBUTING.md but couldn't run the project. What I'm seeing is this:
[code]
Any idea what could be wrong?

Thanks!

[2017-07-12 18:06] alejandronanez commented on #17
https://github.com/gitpoint/git-point/issues/29

[2017-07-12 18:13] housseindjirdeh commented on #29
Aaaah that's most likely due to me removing a localhost exception in `Info.plist` since I had to in order to deploy the app. Included it back in (https://github.com/gitpoint/git-point/commit/f471f044ecf60209da62be1a84d96e9979bcf93a) - I'll remember to remove it locally before I deploy the next update.

[2017-07-12 18:22] miotke commented on #22
I'll try and look at this today, probably on the bus ride home 🚌

[2017-07-12 18:33] housseindjirdeh commented on #21
🙌  glad it wasn't something more serious :) Thanks for pinpointing this folks 👍

[2017-07-12 19:39] staabm opened #31 "Credentials on first login"
Does the app really need access to all this?

The less data would be required the best
![img_5566](https://user-images.githubusercontent.com/120441/28136587-871bc444-674a-11e7-9fd2-11dc0fa6eb2f.PNG)

[2017-07-12 19:41] staabm opened #32 "App store device compat"
At the moment the phone app is available in the appstore also for ipad.

As the app on ipad is only a scaled up version of the phone version (at the time of writing) the app should instead define that its only compatible for iphone not ipad

[2017-07-12 21:37] nikolaevigor commented on #23
Yes, I tapped here
![screenshot at jul 13 00-36-54](https://user-images.githubusercontent.com/3702281/28141011-67b186ca-6763-11e7-864e-f0a1dbd6d174.png)

[2017-07-12 22:42] alejandronanez opened #35 "Squashing commits"
Hey @housseindjirdeh! Thanks for the super awesome project, I really like it!

What about only allowing _squash merges_ on the repo, that will give us a cleaner commit history + it's easier to track bugs, what do you think?

[2017-07-12 23:13] dgouldin opened #36 "View PRs awaiting review from me"
Github has a PR list view that displays only the PRs that have requested review from me but which I haven't reviewed. I frequently use this as a code review TODO list. It'd be great to have it available in git-point.

[2017-07-13 01:19] jiaaro opened #37 "iPad support"
I don't know how much work it is to support iPad size classes but I would absolutely love to pay $10 for this conditional on supporting iPad (where I do most of my team communication - and development on my desktop). I get that it's a free download but I so badly want there to be a good iPad client :)

[2017-07-13 01:27] jiaaro commented on #32
All iPhone apps can be installed and run in scaled mode on iPads

[2017-07-13 01:53] krsjoseph commented on #15
Hey I'll take this issue on 👋

[2017-07-13 02:29] housseindjirdeh commented on #15
Thank you so much, but it looks like there's a PR up for it already! Please don't hesitate to work on anything else if you would like however, and I appreciate it :)

[2017-07-13 02:31] krsjoseph commented on #15
No worries I was view from mobile web. didn't see the referenced pr. was just looking at the tags.

[2017-07-13 02:32] krsjoseph commented on #15
Is there a 'being worked on' or 'taken' tag? I think it'd be great so see from the issue list which issues were taken etc.

[2017-07-13 02:44] housseindjirdeh commented on #35
I think that's a great idea :)

Just changed it to only allow squashing :raised_hands:

[2017-07-13 02:44] #35 closed

[2017-07-13 02:52] housseindjirdeh commented on #15
There is - there's an assigned tag. Will make sure to keep them all updated :raised_hands:

[2017-07-13 03:19] #15 closed

[2017-07-13 03:56] housseindjirdeh commented on #37
I appreciate this so much, thank you <3 Wasn't sure how complicated it was either to support iPad classes, but @pate0920 has a PR up!

[2017-07-13 04:04] housseindjirdeh commented on #31
Thanks for this :D And you're right  we _shouldn't_ need private email addresses for one. Will take a good look through the required data and post my updates here - should definitely be able to narrow it down to what we just need

[2017-07-13 04:06] housseindjirdeh commented on #32
Cheers, there's another issue for iPad support so I'm going to keep the discussion there (+ there's an open PR as well) :dancer:

[2017-07-13 04:06] #32 closed

[2017-07-13 04:07] housseindjirdeh commented on #36
I think this is a great idea. Do you have any preference where you'd like to see this in the app? Notifications screen 4th tab maybe? Definitely open to suggestions as I'm not sure where we can put this - but definitely something that can be useful :)

[2017-07-13 04:27] housseindjirdeh opened #40 "add logout functionality"
So we can't logout of the app right now :). Currently users have to delete the app and redownload in order to sign in with another account.

We can just navigate the user to the initial welcome screen (might be worth clearing our persisted store too).

[2017-07-13 04:36] dgouldin commented on #36
IANAD, but awaiting review seems like a subset of "participating" to me, so maybe the participating tab could have sub-tabs including the different types of participation (including ones that are awaiting a review by me).

[2017-07-13 05:07] jjperezaguinaga commented on #14
There are a few ways to go with this, one of them would be to create an adapter of [libgit2](https://libgit2.github.com/), allow gitpoint to clone a repo and perform git operations directly to the code base from the device.

An easier approach would be to use the [Contents API](https://developer.github.com/v3/repos/contents/) from Github.

Both solutions would need to then identify the contents of

[2017-07-13 05:37] mikekavouras opened #41 "Add forking"
Add "fork" to Repository Actions

![](https://rpl.cat/uploads/2dDGIcgieTvOJDalgisM3uitPwCoP_EbaAcrpu-Vp-w/public.png)

[2017-07-13 05:56] callodacity commented on #26
We could use a webview and make use of the excellent [CodeMirror](https://codemirror.net) library 👍

[2017-07-13 07:24] krenshou opened #42 "Add GitHub Enterprise Support"
Is it possible to add GitHub Enterprise support to the app ?
Idea would be to add a GitHub Enterprise sign in button on launch screen in addition to the sign in button that will ask for the GitHub Enterprise URL and so redirect to the GitHub Enterprise url instead of GitHub.com

[2017-07-13 07:32] staabm commented on #32
as long as the app does not provide a "built for ipad UI" I would not list it in the app-store as a universal app but a iphone only app.

adding iPad support itself is of course even better.

[2017-07-13 08:11] Huang-Libo opened #44 "Add github trending"
Just like https://github.com/trending

[2017-07-13 08:18] GMouron opened #45 "Using OAuth or Personal Access Tokens rathen than username/password"
Hi,

Thanks for this nice app. I was wondering if it would be possible to use OAuth authentication or Personal Access Tokens to access my account rather than the username/password combo ?

Thanks again for your work.

[2017-07-13 10:00] patw0929 commented on #2
I am looking forward the Android version too!

Have made some revision for compatible with Android:
https://github.com/patw0929/git-point/tree/feature/android-version

We have two obvious issues, ActionSheetIOS & the search box are only compatible with iOS, so:

* Using react-native-actionsheet to replace build-in ActionSheetIOS
* Using react-native-search-bar to replace the react-native-search-bo

[2017-07-13 12:01] gulien opened #46 "Pinned repositories"
Hi,

This app looks promising, great work! 👍
It would be nice to have the pinned repositories on a user profil 😃

[2017-07-13 13:51] astelvida commented on #44
I've tried adding that feature to one of my projects -  but GitHub doesn't provide an api specifically for getting the exact data at that url. The solution closest to that is to use the Search API and give it some options. For instance for finding popular API's created in the last day using js:

`curl -G https://api.github.com/search/repositories --data-urlencode "sort=stars" --data-urlencode "ord

[2017-07-13 14:30] AndonyNS commented on #2
Hi! I've really liked what I've seen of this project so far.

I do not have any experience on react native or react whatsoever but I would love to collaborate doing QA for the android version as soon as it is up.

[2017-07-13 17:05] #37 closed

[2017-07-13 17:13] housseindjirdeh commented on #44
I really wanted to include this as part of the first release but just like you mentioned @astelvida - there was no direct available endpoint for it :O

[2017-07-13 17:14] alejandronanez commented on #40
Any steps for the new people to the repo to follow? Also, any thoughts about the design? I think a logout link in the profile page would be enough.

[2017-07-13 17:22] housseindjirdeh commented on #44
In terms of design - I think this can fit perfectly within the `Search` screen. Right now we have a placeholder when a search hasn't been made (`Search for any repository/user`). I think having the list of popular/trending repositories here would awesome.

We can start with just having popular repositories of today and I would be happy to close this PR with it. We can create a separate ticket to a

[2017-07-13 18:43] housseindjirdeh commented on #40
Thank you @alejandronanez, I had it all in mind and just realized I didn't actually write it down 😞 .

So the `UserProfile` screen has a menu icon on the top right that lets you follow/unfollow users. We don't have this for the `AuthUserProfile` screen and I think we can just add this to open an Action Sheet with a Logout button.

2 caveats:

1. `ActionSheetIOS` is being used and will be changed s

[2017-07-13 18:54] housseindjirdeh commented on #2
@patw0929 that looks outstanding!!!!! there may still be bugs but wow it's coming together so nicely <3  <3

Will you putting up a PR for it soon? As long as the iOS functionality hasn't changed - let me know if you think it's in a good enough state to put up a PR

[2017-07-13 18:56] housseindjirdeh commented on #2
@AndonyNS I would _love_ to help you get started with React Native by working on super simple issues in this repo. Happy to spend some time showing you the ropes to get started (only if you're interested enough however)

And of course that would be so useful! Will let you know as soon as an Android version is available for you to demo on your device 🎉 . The more opinions/testing we do on devices t

[2017-07-13 18:59] housseindjirdeh commented on #26
Thank you so much @callodacity. I've never heard of CodeMirror before and it looks promising!!

If anybody wants to take a stab at this - don't hesitate to let us know :)

[2017-07-13 19:07] pschfr commented on #2
@housseindjirdeh I would also help with Q/A on my Android device!

[2017-07-13 21:15] Antoine38660 commented on #26
Hey, just tried your app for the first time today : very nice !
The first improvement I was thinking about was Syntax Highlighting :)

I'll try to integrate CodeMirror, I'll let you know if I have some trouble or anything else.

[2017-07-13 21:29] housseindjirdeh commented on #2
@pschfr I'll be sure to shoot you a message so soon as Android is in <3 I owe you one mate :)

[2017-07-13 21:30] housseindjirdeh commented on #26
Thank you I'm glad you liked it :)

[2017-07-13 21:33] housseindjirdeh commented on #36
I like the sound of that 🙌 . Within the participating tab of the notifications screen - a toggle of some sort.

Can't thank you enough for the suggestions, appreciate it!

[2017-07-13 21:44] housseindjirdeh commented on #41
Cheers this can be useful without a doubt - and it can be right part of the Action Sheet 👍

Here's what I'm thinking: Click Fork and get navigated directly to the newly created forked instance. I think we should only worry about forking to the user's direct profile for now and not worry about trying to fork to any of the user's organizations (unless that happens to be trivial :))

[2017-07-13 21:47] housseindjirdeh commented on #46
Thank you so much :)

Yes this can be useful! Do you happen to have an idea of where you'd like to show it on the user profile page? Don't want to over-clutter the page, but some ideas:

1. Show in the bottom section of the user profile page right above the Email `SectionList` (as another `SectionList` with just the list of pinned repositories
2. Show ordered to the top in the `RepositoryListScree

[2017-07-13 21:49] housseindjirdeh commented on #42
This would be absolutely _awesome_ but definitely need to explore how trivial this can be.

1. I assume all the APIs provided by GitHub will also be supported for enterprise accounts but I'm not sure.
2. Is there anything specific with Enterprise that we feel we need to extend in the application? Or will the base APIs be sufficient (assuming 1 is true)

Opening the floor to discussion 💬

[2017-07-13 22:02] gulien commented on #46
Both options are cool, but I've a slighty preference for the first one 😁

[2017-07-13 23:29] housseindjirdeh commented on #46
Agreed! 🎉

[2017-07-14 00:07] housseindjirdeh commented on #45
Thank you so much @GMouron :)

[2017-07-14 00:08] housseindjirdeh commented on #45
Interesting, do you think that would be something you would like to do and we can provide the option in the sign in screen?

[2017-07-14 01:38] Huang-Libo commented on #44
You can have a look at this [repo](https://github.com/thedillonb/GitHub-Trending), its [trending api](http://trending.codehub-app.com/v2/trending) is closed to https://github.com/trending, it maybe have some time lag because of cache, but still awesome.

[2017-07-14 03:27] housseindjirdeh commented on #44
Thank you so mucj @Huang-Libo that is perfect!!! Makes things so much simpler :tada :tada :tada

[2017-07-14 04:11] housseindjirdeh opened #51 "Add onboarding swiper as welcome screen"
Our current welcome screen before a user logs in:

<p align="center">
<img src = "https://user-images.githubusercontent.com/12476932/28197852-8e7fdd14-6827-11e7-8e90-577282962db0.png" width=250>
</p>

I quite like it, but I think having a welcome swiper explaining the different things the app could do would be even better 🤓

For example: the Slack mobile app

![image](https://user-images.githubuse

[2017-07-14 04:15] #17 closed

[2017-07-14 05:59] krenshou commented on #42
1. The only thing is that there is a delay between a feature added to GitHub.com and a feature added to the Enterprise version. Except that, there is no difference except the URL path.
2. I don't think so.

[2017-07-14 06:01] krenshou commented on #42
By the way if you want to check, you can ask for a 30 days trial of a GitHub Enterprise instance.

[2017-07-14 06:57] frankdilo opened #52 "Cannot get the app to run in the iOS simulator"
Hi, thanks for this amazing project. I wanted to contribute in some way, but can't get the project to run since I am having this error in the packager:

[code]

[2017-07-14 07:53] FlorianTaut opened #53 "Images not rendering"
Hey,

It would be nice to be able to create issues with GitPoint.

Another point is that rendering is not working correctly. Images are not displayed only the code behind the image is displayed.

Great app!

Thank you!

[2017-07-14 10:23] jkomyno commented on #2
@housseindjirdeh IMHO instead of replacing the previous searchbar completely as @patw0929 suggested, I would simply declare two different wrappers: searchbar.android.js and searchbar.ios.js. RN will automatically choose the right one basing on the current running platform. Doing so we don't lose platform consistency. It's the same for the ActionSheet. I would use the actual ActionSheetIOS on iOS a

[2017-07-14 10:33] jkomyno commented on #2
SearchBar example: https://gist.github.com/jkomyno/c11544a76fc55dc0a413c33282026943

[2017-07-14 10:43] patw0929 commented on #2
@jkomyno Thanks for advice, I will try this way tonight. :)

[2017-07-14 13:28] SammyIsra opened #54 "Help getting started in a Windows machine"
Hey! I am trying to get this project started on my Windows machine to see if I could tackle an issue or two. RIght now I am having issues with the installation process, `yarn run link`:

[code]

Running those two npm commands fixed nothing. Before forking the application, I did not have anything React Native installed on my machine. Any suggestions will help, thank you!

[2017-07-14 14:35] housseindjirdeh commented on #52
Thank you so much :) I'm glad you like the project and I can't tell you how much I appreciate your . willingness to contribute.

Yeah this used to happen to me from time to time. Can you try running `yarn start -- --reset-cache` and then `yarn run ios` to get the simulator up and running? If that doesn't work can you please try steps 1-3 in the logs there? Please let me know if either fixes the pr

[2017-07-14 14:40] #41 closed

[2017-07-14 15:02] housseindjirdeh commented on #2
@jkomyno I think that's a great idea 🙌

So if I'm not mistaken - `react-native-action-sheet` wraps around `ActionSheetIOS` for iOS and it might just be easier to use it as a single solution. However , I don't exactly know how it renders the _Action Sheet_ for Android and if it renders it the way it should. @patw0929 @jkomyno if we try and realize that it looks just fine on Android as well - I thin

[2017-07-14 15:30] FlorianTaut opened #55 "Show last search results"
It would be helpful to show the last search results or last watched repos when starting a new search request

[2017-07-14 15:40] frankdilo commented on #52
It worked, thanks a lot!

[2017-07-14 15:40] #52 closed

[2017-07-14 15:56] patw0929 commented on #2
Yap, @housseindjirdeh you're right, `react-native-action-sheet` wraps `ActionSheetIOS` for iOS. I'm not sure should we use other component for Android.

And I already updated the PR #49, about the SearchBar component which depends on different platform:

* Using react-native-search-bar on iOS (like before)
* Using `react-native-material-design-searchbar` on Android (like @jkomyno's example gist)

[2017-07-14 16:40] kevinmccartney commented on #7
@housseindjirdeh I can take a look this weekend! Sound good?

[2017-07-14 17:05] alejandronanez opened #56 "Watch repos"
I see that right now is not possible to watch any repos (only star repos is available)

I'd like to work on this feature too.

Thanks!

[2017-07-14 17:07] alejandronanez commented on #54
Hey @SammyIsra I don't have a windows machine but the error you're seeing is:
`Looks like you installed react-native globally, maybe you meant react-native-cli?` ?

[2017-07-14 17:08] alejandronanez commented on #54
Also I think you won't be able to run the ios app in windows. Thoughts about this @housseindjirdeh ?

[2017-07-14 17:09] alejandronanez commented on #53
Hey @FlorianTaut thanks for reporting this issue.
About `Another point is that rendering is not working correctly. Images are not displayed only the code behind the image is displayed.` do you have a screenshot or some steps to reproduce?

Thanks!

[2017-07-14 17:10] alejandronanez opened #57 "Backlog!"
Hey @housseindjirdeh I've seen quite some new issues in the project, what do you think about having a Roadmap with the most urgent features? I think we can use `Github projects` to make this happen.

Thanks!

[2017-07-14 17:13] alejandronanez commented on #8
Those are great suggestions, and will fit into a roadmap document. I mention that in #57 :)

[2017-07-14 17:56] Antoine38660 commented on #26
Some news: :smiley:

I tried a today to integrate CodeMirror inside a ReactNative WebView. I think it's a bit complicated and will not be easy as we think.

After some search, I found this lib : [https://github.com/conorhastings/react-native-syntax-highlighter](react-native-syntax-highlighter).
As it's my first experience with ReactNative, I prefer to use this one. What do you think about it @hous

[2017-07-14 17:56] conema commented on #2
@patw0929, I hope that @housseindjirdeh will accept your PR soon, I look forward to help you all with the android version.
I saw that "profile.screen.js" wraps ActionSheetIOS too, we haven't put react-native-actionsheet yet? It should be cross-platform.

Citing from the [repository](https://github.com/expo/react-native-action-sheet):

[2017-07-14 18:13] housseindjirdeh commented on #56
Awesome this will be great, thank you!

If it's possible will love to have number of watchers show in the repository profile as well (watchers + stars + forks). Of course we can move that to a separate ticket if you prefer. Watching/unwatching can be just like we do starring currently. 💃

[2017-07-14 18:44] alejandronanez commented on #57
I'm seeing you're already making some good progress @housseindjirdeh in the [projects](https://github.com/gitpoint/git-point/projects/1) tab. I'm closing this then.

[2017-07-14 18:44] #57 closed

[2017-07-14 18:55] housseindjirdeh commented on #55
I think this would be awesome to have - will probably want to make sure a decision is made on which search bar tool is being used in #2. Once that's done and merged in, I think this will nice to have.

How I'm envisioning things:

When you try searching for a repository - some recent searches (up to 5?) show up as a dropdown or something along those lines. When you try searching for a user - the s

[2017-07-14 18:56] housseindjirdeh commented on #57
Thank you, I hope you have access to editing the project? Please let me know if you like the way it's structured and feel to move things around priority if you think I'll be okay with it.

We can discuss on this issue on process improvements at any point too 🙌

[2017-07-14 19:12] alejandronanez commented on #57
That's all right! I think I have enough permissions already =] Will let you know if I need something.

[2017-07-14 19:17] housseindjirdeh commented on #54
Thanks for logging this @SammyIsra, and I appreciate that you want to tackle a few issues :)

Unfortunately you need a Mac to be able to run native iOS code using the CLI (although I'm not sure why `yarn run link` is failing - it looks like you may need to install the CLI globally as well [`yarn global add react-native-cli`).

So if we were using [`create-react-native-app`](https://github.com/reac

[2017-07-14 19:17] #54 closed

[2017-07-14 19:32] housseindjirdeh opened #58 "Add submit new issue functionality"
Thank you @FlorianTaut for suggesting this :)

Will be awesome to be able to do this. Here's what I'm envisioning on the `IssueListScreen`:

<p align="center">
<img src = "https://user-images.githubusercontent.com/12476932/28227618-c98502e6-68a8-11e7-8e2e-7a8e81f6b6b7.png" width=250>
</p>

Only in the that screen --> add a + icon to the top right corner and when clicked it takes you to a form type

[2017-07-14 19:33] housseindjirdeh commented on #53
Cheers thank you folks so much.

Just created a separate issue to add new issues #58. We can use this ticket to analyze the image bug you're seeing @FlorianTaut

[2017-07-14 20:02] housseindjirdeh commented on #26
Cheers thanks so much @Antoine38660 - yes that looks promising! More than happy to give that a go and see how it turns out 😄

Appreciate you taking the time to look into using CodeMirror as well!

[2017-07-14 20:44] housseindjirdeh commented on #7
@kevinmccartney absolutely! Thank you mate

[2017-07-14 22:44] Rex501st opened #59 "[Suggestion] Add dark theme"
This isn't an issue, but more of a wish lish. Dark themes are nice and alot easier on the eyes. Love the app!

[2017-07-14 23:16] Antoine38660 commented on #26
This is it : 😄
<img src="https://user-images.githubusercontent.com/9287184/28233166-499c979c-68cb-11e7-8b36-c92f15416f52.png" width="300" alt="Screenshot of some syntax highlighting" />

One last thing before I'll be able to make the PR: I have some trouble with scrolling vertically inside the code viewer, do you have some tips or advices? (I already tried to add another `ScrollView`).

[2017-07-15 03:41] alejandronanez opened #61 "Start using `redux-actions`"
We can start using https://github.com/acdlite/redux-actions so we can write less code. I'm talking specifically about dispatching something like this: https://github.com/acdlite/redux-actions#usage instead of having all the boilerplate we already have in our reducer/actions.

Also, we can do this incrementally.

[2017-07-15 03:43] alejandronanez opened #62 "Start using `reselect`"
Start creating and using https://github.com/reactjs/reselect, by having selectors we can make our code better. Easier to test and easier to reason about.

Also we can do this incrementally.

[2017-07-15 04:53] junedomingo opened #64 "Showing NaN while loading profile"
Causing by adding private repos that aren't loaded yet.

![simulator screen shot 15 jul 2017 12 45 10 pm](https://user-images.githubusercontent.com/5106887/28236602-362f1f5e-695c-11e7-83d2-bdf6ac8c13f1.png)

[2017-07-15 05:17] housseindjirdeh commented on #64
I just noticed this today and was about to put up a fix - thank you for spotting it and putting up a PR <3

[2017-07-15 05:19] #64 closed

[2017-07-15 05:19] housseindjirdeh commented on #62
Was thinking about this all week - thank you for logging this and I agree., we can start incrementally :+1:

[2017-07-15 05:20] housseindjirdeh commented on #61
:+1:

[2017-07-15 05:33] housseindjirdeh commented on #59
Thank you I'm glad you like the app so much :+1:

This can be a cool addition but definitely not a very high priority in my opinion. If someone would like to get their hands building this out sooner rather than later however, that would be awesome nonetheless :)

Will love to come to a complete consensus before this feature is stared. Here's what I 'm thinking:

1. Leverage a HOC to accept `theme`

[2017-07-15 06:03] housseindjirdeh opened #66 "add precommit hook + enforce eslint rules"
As mentioned, let's narrow down our eslint/formatting preferences in the codebase. We can use this thread for discussion.

I'm a huge fan of `prettier` - we can do a [`prettier-eslint`](https://gist.github.com/cadebward/c26e218220d653385d876f9a81308140) pre-commit hook? Thoughts? CC @alejandronanez @patw0929

[2017-07-15 06:12] patw0929 commented on #66
`prettier` is good.
I used [`lint-staged`](https://github.com/okonet/lint-staged) + [`prettier`](https://github.com/prettier/prettier) before.

And which eslint config base should we use? Or just custom rules?

[2017-07-15 08:29] FlorianTaut commented on #53
Hey,

@alejandronanez
Here is a Screenshot:
![image](https://user-images.githubusercontent.com/18403881/28237851-783dfc08-6948-11e7-97b3-f5f47147cedb.png)

[2017-07-15 08:48] FlorianTaut opened #67 "Show Issues and Pulls"
Hey,

it would be nice to have those Buttons on the personal Settings page:
![thumbnail_file](https://user-images.githubusercontent.com/18403881/28238020-04363278-694b-11e7-991a-18bf30d4f050.jpg)

Those are the opened issues and PRs of the user.

Thank you

[2017-07-15 09:01] FlorianTaut opened #68 "Show Releases"
Hey,

it would be cool to view the Releases of repositories.

For example between Stars and Forks or below:
![thumbnail_file](https://user-images.githubusercontent.com/18403881/28238105-dc6509de-694c-11e7-8473-610ebf518d20.jpg)

I marked the to Points that seem possible to me.

Thank you

[2017-07-15 09:03] FlorianTaut opened #69 "Emojis not rendered correctly"
Hey,

Some emojys are not rendered corretly.. See below:
![thumbnail_file](https://user-images.githubusercontent.com/18403881/28238128-3754746a-694d-11e7-8128-3b191f6470ef.jpg)

Thank you

[2017-07-15 09:16] patw0929 commented on #66
Just a test, I made a lint-staged + prettier branch:
https://github.com/patw0929/git-point/tree/feature/prettier-n-eslint

I added some eslint rules. Including the import lint, so I think that removing babel resolve module alias should be better. Although it's convenient, but sometimes it confuse me, "Is this import a packages or actual path?".

Btw, it might be large commits, because we need fix

[2017-07-15 10:39] FlorianTaut opened #70 "Back-Button is buggy"
Hey,

The back button in issues is not working correctly.

For example:
In the gitpoint app open issue #55. There is a reference to #2 click on it. Than go back.
#55 should be displayed and "#55" is Standing on top of the page but #2 is displayed.

Hopefully everbody understands what i mean....

Thank you

[2017-07-15 10:42] FlorianTaut commented on #70
Sorry duplicate to #3 overseen that one :laughing:

[2017-07-15 15:36] alejandronanez commented on #66
@housseindjirdeh @patw0929
+1 on travis, that's great.
About prettier I have never used but I want to, so, go for it, I remember on my last a project had it and prettier was enforcing something like:
`<Foo foo={1} bar={2} baz={3} />`
That's not so good for diffing/reading purposes, we should enforce:
[code]
that being said, go ahead with prettier =]

Is it possible to not format all files at once?

[2017-07-15 15:38] alejandronanez opened #72 "Unify android and ios search bar components"

[2017-07-15 15:49] alejandronanez commented on #70
Thanks for reporting this @FlorianTaut, I'm closing this since it seems like a dupe of #3
Let me know if I'm wrong so I can re open it.

[2017-07-15 15:49] #70 closed

[2017-07-15 16:26] #69 closed

[2017-07-15 16:36] #26 closed

[2017-07-15 17:08] housseindjirdeh commented on #72
For #2 - thanks for opening this @alejandronanez

[2017-07-15 17:44] junedomingo opened #75 "Code-push Integration"
Able to update the app instantly.

[2017-07-15 17:47] junedomingo commented on #75
I will start working on this tomorrow.

[2017-07-15 18:54] housseindjirdeh commented on #75
For anyone who hasn't heard about codepush - [link](https://github.com/Microsoft/react-native-code-push)

Thanks so much @junedomingo, don't hesitate to let us know how things go as you work on it!

[2017-07-15 18:55] sukhbir-singh opened #78 "Readme contains redundant contributor"
Anthoine has been listed twice as contributor in readme.md

[2017-07-15 19:01] housseindjirdeh commented on #78
Cheers - this looks fixed thanks to #77 :smile:

[2017-07-15 19:01] #78 closed

[2017-07-15 19:03] housseindjirdeh commented on #26
Cheers appreciate all the details and everything, I'm so glad you managed to fix it :)

[2017-07-15 19:43] housseindjirdeh commented on #68
This would definitely be nice to have! But unfortunately it doesn't seem that the releases (or repository) API returns the number of releases :O https://developer.github.com/v3/repos/releases/

What we can do however is have a `Releases` list item like so:

<p align="center">
<img src = "https://user-images.githubusercontent.com/12476932/28242172-0e734cf8-6973-11e7-8957-1b1e042e7c60.png" width=250

[2017-07-16 03:47] housseindjirdeh opened #82 "Logging middleware is slow"
So `redux-logger` has already been included in this app and it does slow the simulator down. The introduction of `remote-redux-devtools` is now making things significantly slower.

I tried setting up environment variables using [babel-plugin-transform-inline-environment-variables](https://github.com/babel/babili/tree/master/packages/babel-plugin-transform-inline-environment-variables) and separate

[2017-07-16 04:31] lex111 commented on #82
@housseindjirdeh do you want to separate devtools and logger (`yarn start ios:logger` and `yarn start ios:devtools`), and if you need to have both of them started, like now?

[2017-07-16 05:15] housseindjirdeh commented on #82
Yep that's what I'm thinking - separate commands for each.

Hmm to have them both started I guess what we could do is use two separate env variables and depending on either value, push their appropriate middleware like so:

[code]

But again this is under the impression that setting env variables will work which I wasn't able to unfortunately. To be honest I'm also okay with keeping them as just s

[2017-07-16 06:23] housseindjirdeh commented on #2
@conema cheers thank you - I reviewed the PR and every ActionSheet should be referencing the correct one now :)

[2017-07-16 06:37] housseindjirdeh commented on #2
So thanks to the amazing work by @patw0929 - we're one step closer to having an Android version 🎉

<p align="center">
<img src = "https://user-images.githubusercontent.com/12476932/28245143-efacfdb8-69cd-11e7-99f2-5849a1c69824.png" width=250>
</p>

<p align="center">
<img src = "https://user-images.githubusercontent.com/12476932/28245152-151e88aa-69ce-11e7-992e-4b25505e67de.png" width=250>
</p>

<

[2017-07-16 07:04] lex111 commented on #82
@housseindjirdeh I think it turned out, look, please.

[2017-07-16 09:06] FlorianTaut commented on #68
I think that's better anyway!

[2017-07-16 09:15] patw0929 commented on #82
@lex111 Could you see the DevTools' redux panel when starting with `start:devtools`?
If it works, it should be like:
<img width="1425" alt="2017-07-16 4 54 06" src="https://user-images.githubusercontent.com/3055294/28246319-0b112a12-6a4a-11e7-8cc1-83d0d343f955.png">
(At the right side, we can see redux store structure)

Seems like `babel-plugin-transform-inline-environment-variables` break somethi

[2017-07-16 09:46] lex111 commented on #82
@patw0929 I returned to the `master`, and in DevTools I have a store so displayed, it seems to me it does not work as it should

![image](https://user-images.githubusercontent.com/4408379/28246531-c55227d0-6a24-11e7-8d0a-10979a5a46b3.png)

[2017-07-16 09:54] FlorianTaut opened #84 "Show amount of Issues & PRs"
We could show the amount of Issues and PRs of the Repo.

With bootstrap it can be done by a label.

Just some UI improvement.

Thank you!

[2017-07-16 10:11] patw0929 commented on #82
@lex111 After switching to master branch, did you restart the start script?

Yes, I think the [pr](https://github.com/babel/babili/pull/531) might solve it.

[2017-07-16 10:17] lex111 commented on #82
@patw0929 Yes, I even reinstalled it, but still in store `pin - undefined`

It is a pity that this PR is not accepted for a long time. How do you think can write there? Or what else could be the solution?

[2017-07-16 11:11] patw0929 commented on #82
Quite weird. 😵

Hmm... [`react-native-config`](https://github.com/luggit/react-native-config) might be another solution.
Other thoughts, maybe we should only left one of them (redux-dev-tools / redux-logger). In my own project, I only use redux-dev-tools.

[2017-07-16 11:45] lex111 commented on #82
@patw0929 try to update `babel-preset-react-native`, look, did not solve this problem?

[code]

I would have looked, but I can not make redux-dev-tools  work :disappointed:

[2017-07-16 13:06] FlorianTaut opened #85 "Update font-family in README"
Hey,

We could use a more modern font-family for the readme files. At least the family GitHub is using.

Thank you

[2017-07-16 17:14] housseindjirdeh commented on #82
I can't thank the both of you enough for taking a look into this 🙌

@patw0929 agreed I think having one solution for this application is sufficient. Unfortunately I'm seeing the same error as @lex111 in that it seems to return `pin: undefined` and I'm not sure why (however I did see it work once yesterday so I'm not sure what caused it to break).

I just merged in a commit removing `redux-dev-tool

[2017-07-16 17:28] housseindjirdeh commented on #72
Happy with the decision we have now, we can open a separate ticket to collocate to a single component later

[2017-07-16 17:28] #72 closed

[2017-07-16 17:31] housseindjirdeh commented on #66
@alejandronanez so with a prettier plugin in your editor you should be able to format single files at a time

Thanks again @patw0929 for adding this to project 🙌

[2017-07-16 17:31] #66 closed

[2017-07-16 17:38] housseindjirdeh opened #87 "Apply Android fonts"
So the font we use throughout the app is iOS specific (`AvenirNext`). We'll need to make sure a suitable font is applied for Android.

Instead of checking for `Platform` everywhere in the app - I think this will be a good time to add some global fonts to default `Text` component `fontFamily`. A possible solution is [react-native-global-props](https://github.com/Ajackster/react-native-global-props)

[2017-07-16 18:02] lex111 commented on #82
In the package.json there are:

@housseindjirdeh If you remove `redux-dev-tools` it is no longer needed? Now the error is given, after installation:

[code]

[2017-07-16 18:08] Antoine38660 opened #88 "Can't install dependencies (remotedev-debugger)"
`remotedev-debugger` have to be globally installed?
Not sure but maybe #86 broke it :

[code]

[2017-07-16 18:10] lex111 commented on #88
Yes, it's because of this, need to remove the[ postinstall script](https://github.com/gitpoint/git-point/issues/82#issuecomment-315625930).

[2017-07-16 18:11] Antoine38660 commented on #88
Ok, I'm submitting the PR

[2017-07-16 18:13] housseindjirdeh commented on #82
Woops sorry I should have caught that, cheers thank you so much for spotting it

[2017-07-16 18:13] housseindjirdeh commented on #88
Thank you @Antoine38660, my apologies for missing that line!

[2017-07-16 18:18] #88 closed

[2017-07-16 18:20] #82 closed

[2017-07-16 19:23] #87 closed

[2017-07-16 19:51] Antoine38660 commented on #46
Do you have some preference or idea on how retrieve pinned repositories?

Seems there is no easy way (endpoint) to get a user's pinned repos:

1. With Github API v4, we have this possibility: https://stackoverflow.com/a/43358500
2. Some libs (example: [gh-pinned-repos](https://github.com/johnotander/gh-pinned-repos/blob/master/index.js)) loads the user github page and extract the pinned repo from

[2017-07-16 22:27] housseindjirdeh commented on #46
Ah I was hoping there was an endpoint for it 😞

Ooooh so the GraphQL API has a way to retrieve that info. I definitely agree in that we shouldn't use a scraping tool to simply get the pinned repos. I'm okay with either option:

1. Include GraphQL into our app and add this endpoint to retrieve pinned repositories. I haven't had the chance to use GraphQL but I've heard [it's quite smooth](https://ww

[2017-07-16 23:20] housseindjirdeh commented on #85
Agreed - so in the `README` screen, I simply use `WebView` to render the retreived HTML. I think a possible solution for this may be to just leverage `HTMLView` like I do in `CommentListItem` and apply text styles to it

[2017-07-16 23:35] patw0929 commented on #82
Good job, thank you guys! 💯  @housseindjirdeh @lex111

[2017-07-17 01:22] Antoine38660 opened #92 "Numbered list count bug"
Just found this weird one :

`2.` on numbered list seems to be skipped...

Screenshots:
<img src="https://user-images.githubusercontent.com/9287184/28253035-b7282c0e-6a74-11e7-8a7c-3774af66e447.jpg" alt="Gitpoint" width="300"/>
Original from [Github.com](https://github.com) :
<img width="782" alt="Github" src="https://user-images.githubusercontent.com/9287184/28253036-b72886ae-6a74-11e7-833a-40759

[2017-07-17 04:31] housseindjirdeh commented on #92
Interesting - not sure why this is happening

Good catch however! I do a bunch of conditional checks on the type of DOM element in `CommentListItem` for the comment HTML retrieved, so I may be doing something unnecessary with ordered lists.

[2017-07-17 05:43] zhouxxiaolong opened #94 "build error"
Unable to resolve module `config` from `/Users/github_clone/git-point-master/App.js`: Module does not exist in the module map.
How to steal?

[2017-07-17 05:47] junedomingo commented on #94
Hi @zhouxxiaolong , try to clear the packager cache
`sudo npm start --reset-cache`

[2017-07-17 05:52] patw0929 opened #95 "Not list all items, and about sorting"
In list pages (e.g., search result list, user's repository list...etc), it seems like we don't fetch all the result but only page `1`. Maybe we can add the `per_page` parameter, but it could be a large dataset, so we might think the "fetch more" behavior in action.
Another thing is about sorting, in repo list page, the default order is sorting by full_name. Should it be same as web?

[2017-07-17 05:56] housseindjirdeh commented on #95
Yep this is something I've thought about but decided for simplicity to stick one page for the first release. It definitely makes sense to actually show more and more of the results.

[2017-07-17 05:59] patw0929 commented on #94
If you use yarn, run `yarn start -- --reset-cache`.

duplicate of #52.

[2017-07-17 06:01] housseindjirdeh commented on #95
If I'm not mistaken, 'FlatList' utilizes some sort of scrollLoading to allow loading more content as the user reaches close to the bottom. Definitely something we could try for each FlatList in the app that is rendered with a per-page type endpoint. I also noticed that sorting in the repo list page isn't the same as the web - if it's something to align them I'm definitely all for it. However I wou

[2017-07-17 07:28] zhouxxiaolong commented on #94
Thanks,it’s working.

[2017-07-17 07:29] zhouxxiaolong commented on #94
Thanks,it’s working.

[2017-07-17 07:39] #94 closed

[2017-07-17 08:13] mingrammer opened #96 "I have some organizations, but not appeared"
There are no any organizations on `ORGANIZATIONS` section on my profile page. But I have some orgs.

It seems a bug? right?

[2017-07-17 11:45] patw0929 commented on #96
I can reproduce this issue on my phone.

It seems like that failed in `fetchAuthUserOrgs` action.

Actually, I called the `https://api.github.com/user/orgs` API directly with the Authorization in header, it also responded me the empty array only.

Anyways, thanks for reporting this issue, and I'm still trying to figure out what happened.

[2017-07-17 16:41] housseindjirdeh commented on #96
I just noticed this last night (funnily enough: the app on my device loads all my organizations just fine but when I run the app in the simulator now I don't see the GitPoint org 🤔 )

Thanks for opening this @mingrammer, weirdly enough you're right @patw0929 the API endpoint seems to be returning 2/3 of my organizations when I hit it directly and I'm not sure why either. Could be something on the

[2017-07-17 16:48] housseindjirdeh opened #97 "Upgrade RNE"
Our current React Native Elements dependency is at `0.9.3`, probably a good idea to update it now (current version is `0.14.0`) before their `1.0` release which may introduce some breaking changes.

[2017-07-17 16:53] Antoine38660 commented on #92
**Some more information after another test**
Initial markdown:

<img src="https://user-images.githubusercontent.com/9287184/28279384-b01dcee6-6af6-11e7-8871-f6aded88352f.png" width="300" alt="screenshot" />

The bug exist for each _even number_.

[2017-07-17 17:18] lex111 commented on #96
Guys, I guessed the secret! :satisfied:

1. Go to this page https://github.com/settings/applications
2. Click here:
![image](https://user-images.githubusercontent.com/4408379/28280252-cf654934-6b2b-11e7-9703-11662229e2a2.png)
3. And we see this:
![image](https://user-images.githubusercontent.com/4408379/28280266-dcc45f34-6b2b-11e7-9d15-1c96976bf55f.png)

That's all. So that the ogranization is vis

[2017-07-17 17:29] mingrammer commented on #96
@lex111 You're right. Once I've approved the some organizations I own to, the appears on git-point app. As you said, they should change the method for fetching the all orgs from an user even without any requesting.

[2017-07-17 18:01] housseindjirdeh commented on #96
@lex111 you're a wizard ✨ Thank you so much for finding out what it was so fast. That explains why I was seeing the organization with the `GitPoint` Oauth application in my device but not with `GitPoint-Develop` when booting the simulator :)

I think that would work perfectly - but my only concern is setting the organization visibility to private.

![image](https://user-images.githubusercontent.co

[2017-07-17 18:10] housseindjirdeh commented on #96
Also I notice that some organizations seemed to have automatically synced for me but others haven't and this may be an organization level security measure (maybe some organizations need you to first request access from them before integrating with a third party API?)

[2017-07-17 18:11] lex111 commented on #96
@housseindjirdeh private organizations will not be visible, if you do not set them public visibility (if we get them through `fetchUserOrgs`), do you mean it?

[2017-07-17 18:27] andrewda commented on #96
@housseindjirdeh

I believe what you're looking for is the third-party access setting which can be found at an organization's `Settings > Third-party access`. If access is restricted (I believe it is by default) then members have to request access. Administrators will always be allowed to grant access to any third-party app. If access is unrestricted, third-party access is automatically given to a

[2017-07-17 18:32] housseindjirdeh commented on #96
@lex111 yep exactly - even if I set an organization of mine as private visibility, I would still like to see it in my profile page in the app (although other folks cannot see it, does that make sense?)

@andrewda thanks a million, it's all making sense now

[2017-07-17 18:40] RolfKoenders commented on #40
I started to play with logging out a bit and at the moment i have the following.

<a href="http://ibb.co/mZLdSv"><img src="http://thumb.ibb.co/mZLdSv/Screen_Shot_2017_07_17_at_20_31_15.png" alt="Screen_Shot_2017_07_17_at_20_31_15" border="0"></a> <a href="http://ibb.co/c9fpZa"><img src="http://thumb.ibb.co/c9fpZa/Screen_Shot_2017_07_17_at_20_31_25.png" alt="Screen_Shot_2017_07_17_at_20_31_25" bord

[2017-07-17 18:52] lex111 commented on #96
@housseindjirdeh now I understand, thanks for the clarification. At least I would list all public organizations to solve the current problem. Also, few will allow such a request:
![image](https://user-images.githubusercontent.com/4408379/28284319-3ab895e4-6b39-11e7-826e-806fd97ed96b.png)

We can make two requests (fetchUserOrgs + fetchAuthUserOrgs), and then merge the organizations, then we seem t

[2017-07-17 19:05] housseindjirdeh commented on #40
@RolfKoenders that looks amazing 😍

Yep so I had the idea for another ticket #8 for updating profile details to have a little cog wheel icon to navigate to the screen where the user can update their info. I was thinking of having Log Out there but I actually really what you did there. I think this is great for now and when the user profile details screen is created --> we can decide if we want to

[2017-07-17 19:18] mbijon opened #98 "Request: Published Privacy Policy"
I have a hurdle to adopting Gitpoint for the team I manage.

Namely, you don't have a data-privacy policy. Any chance you could add a privacy policy that details what you do/don't/won't do with your customer's private Github data? Not retaining or inspecting our team data, and also noting you code review to prevent malicious loggers/includes from 3rd-parties seems like the right thing to do (I hop

[2017-07-17 19:49] RolfKoenders commented on #40
As referenced above i created a pr and here are the other answers.
1. Agree, these things give the overall feeling of the app.
2. I thought it would look bad, but it isn't.
3. This is a `octicons` icon.
4. I'm trying :smile:

[2017-07-17 19:57] housseindjirdeh commented on #96
Yeah I was thinking the same thing - the thing is third party is restricted by default so I can see a lot of organizations requiring a request for approval.

Agreed we _could_ make two requests but again that's hoping that organization that requires third party approval is public (otherwise it still won't work).

What I think we can do is have a little message under the organizations section list

[2017-07-17 19:59] SammyIsra commented on #54
@housseindjirdeh is there any way I can help now, or should I wait until the Android version is in the main repo if I only have a Windows machine and an Android phone?

[2017-07-17 20:01] alejandronanez commented on #54
Hey @SammyIsra! Android version is already in the master branch, you can start working in there.

[2017-07-17 20:09] SammyIsra commented on #54
Oh that was quick, thank you! @alejandronanez

[2017-07-17 20:12] housseindjirdeh commented on #54
<3 please feel free to pull it down and anything you notice - log an issue for it!!! Going to put some further information in #2

[2017-07-17 20:19] housseindjirdeh commented on #2
### Update 📢 📢 📢 📢

So I've spent most of yesterday fixing any glaring issues with the Android build + various styling issues. There are probably definitely some more I haven't noticed just yet so I'll appreciate if anyone reading this would like to assist, to pull from latest in `master` and run it in their emulators/devices 🌟 🌟 🌟 🌟

One thing I still haven't gotten to the bottom of is that the a

[2017-07-17 20:33] andrewda commented on #96
There are definitely some organizations that (understandably) don't want to have lots of enabled third-party apps for privacy reasons. So I don't think it's an all-encompassing solution, but it would work for most orgs.

I actually think the best way to go about this, though, is to make two requests (as @lex111 pointed out). The first request (getting all of your public organizations) would be wha

[2017-07-17 21:51] andrewda opened #101 "Add push notifications for watched repos"
It would be awesome to get push notifications for my watched repos. This is something that all other GitHub apps either don't have or are a paid feature.

I could definitely work on at least the iOS push notifications, though Android doesn't seem to be much different.

This might help: https://medium.com/differential/how-to-setup-push-notifications-in-react-native-ios-android-30ea0131355e

[2017-07-17 22:00] housseindjirdeh commented on #101
I think this is an outstanding idea, please feel free to go ahead trying it with iOS. I can (or anybody else with Android) will be happy to help with Android if they happen to be different.

So push notifications for watched repos is a great start. Definitely worth exploring push notifications for other things (such as a user has followed you for example) but I think that's just cherries on top. D

[2017-07-17 22:09] xuezhma opened #102 "Searching user repositories don't show forked repos"
1. Repo list is including all repos I have push access to
2. Search results are not including forks.
~~3. Going back to person A's repo list screen from person B's repo list screen will show person B's repo list screen~~ duplicate #3

[2017-07-17 22:13] housseindjirdeh commented on #98
I'm so glad that even with a bit of a hurdle, you're still looking to use GitPoint with your team ❤️

I definitely think this is something we can (and probably should add) to the application. Is there anywhere specific you'd like to see this? When a user just signs in perhaps? Right now we have a screen that says `Welcome to GitPoint` and an enter button when they do - maybe this is where we can h

[2017-07-17 22:22] mbijon commented on #98
Having a project policy is definitely far more important than where this info goes.

I think it would get us past our hurdle if the info was limited to just a page on your public website (so long as none of your lolicies fell to the deceptive/sneaky side of things). But an optional button or link anywhere in the app itself would be great.

As for the 3 point you make, yes on all counts. Regardless

[2017-07-17 22:53] andrewda opened #103 "Refresh repository and profile by pulling down"
It would be nice to be able to refresh a repository or a profile by pulling down. Would be useful for updating new issues on repos or updating followers on profiles.

![pulldown.gif](https://media.giphy.com/media/14gJ2V9Sh238ZO/giphy.gif)

[2017-07-17 22:58] xuezhma commented on #102
Search function is making a request every time. It seems unnecessary as we already fetched all repos belong to that user, we could simply filter that data.

[2017-07-17 23:15] housseindjirdeh commented on #102
Cheers thanks for logging this 👍

1. Interesting, so the list includes all your repos + other user repos you have push access to? So in the app currently, I'm just getting all the repositories for a public user (which is incorrect and has been [fixed since](https://github.com/gitpoint/git-point/commit/cf898e77ac50ae98fd20dcd0d62f4dc3503cb784#diff-62d84b949fccbdc8190dd54246bc8819L129) so not sure w

[2017-07-17 23:41] xuezhma commented on #102
Thanks for the fast response.
I am running the latest code on an iOS simulator.

1. It works correctly for public users. But for the account I logged in, I am able to see other user repos I have push access to. I'm opening a pr in one sec.

2. Searching in a user's repository list. I guess the filtering part is a duplicate to #95. But the results of current search is still wrong.

[2017-07-18 00:50] Antoine38660 commented on #92
Found this one: https://github.com/jsdf/react-native-htmlview/issues/92

I tried to update `react-native-htmlview` to 0.11.1 but it doesn't seem to be fixed... I'll reopen an issue there.
I also checked the `commentBodyAdjusted` (https://github.com/gitpoint/git-point/blob/master/src/components/comment-list-item.component.js#L283) but there is no problem with this generated DOM.

Seems definitely t

[2017-07-18 01:27] housseindjirdeh commented on #102
Thanks so much for the PR - Just merged it ❤️

And you're right, searching doesn't show forks for user repos! What we'll need to do is just add a [`fork` flag](https://developer.github.com/v3/search/#search-repositories) and set to true for the [search call](https://github.com/gitpoint/git-point/blob/master/src/user/user.action.js#L200)

Just updated this issue title to reflect that. Thanks again

[2017-07-18 01:29] housseindjirdeh commented on #103
Ooh this would definitely be nice to have. There's a `RefreshControl` method we can attach to the scrollview (http://facebook.github.io/react-native/releases/0.46/docs/scrollview.html#refreshcontrol) and when the screen is pulled we can just call the getRepository call again.

[2017-07-18 03:04] housseindjirdeh commented on #92
Ah thanks a million for diving into this, looks like it's definitely something with the package.

Cheers let us know when you create an issue there and we'll link it here - in the meantime we can leave this ticket open until that gets resolved.

[2017-07-18 06:11] lex111 commented on #96
@housseindjirdeh @andrewda I agree with all of you.

But tell me please how to make two requests better? Do `fetchAuthUserOrgs` send a request to get all the public organization, and after in `then` promise merge the organizations with private membership and remove the duplicates?

[2017-07-18 07:47] FlorianTaut commented on #51
Definetily nice to have!!!

[2017-07-18 11:36] vpanjganj opened #106 "Horizontal scroll on `README.md`"
When you open a  markdown file  in the repo, while the content fit nicely on the screen, you get an annoying horizontal scrollbar.

[2017-07-18 11:57] FlorianTaut opened #107 "Show License File"
We could add a new part called " XXX License" where source and readme is placed already.

For example "MIT License"

Onclick should then open the License file

[2017-07-18 12:18] housseindjirdeh commented on #96
Fair enough that approach works with me. @lex111 yep so we have fetchUserOrgs that does what it should do. In fetchAuthUserOrgs, you can try using Promise.all to hit both endpoints, merge the two results removing duplicates (combination of Set and .map maybe?). This way the completion event will only dispatch after both calls are finished.

[2017-07-18 14:41] housseindjirdeh opened #109 "Andriod Deep Linking"
So when a user authenticates, we leverage `SafariView` (react-native-safari-view) [for iOS](https://github.com/gitpoint/git-point/blob/master/src/auth/screens/login.screen.js#L122-L132) so that a user isn't directed into a separate Safari tab and navigated back to the app.

For Android, we're still using `Linking` like we normally would and that takes the user to the default browser before navigat

[2017-07-18 15:13] andrewda opened #110 "Auto complete usernames in @ mentions"
It's difficult to type out long usernames everytime.

[2017-07-18 15:29] #84 closed

[2017-07-18 15:29] Antoine38660 commented on #92
Update: Just submitted a PR https://github.com/jsdf/react-native-htmlview/pull/131 to fix this one :smiley:

[2017-07-18 15:41] housseindjirdeh commented on #110
😂 I was thinking the exact same thing this morning typing comments on my commute 😂

This would be amazing, but not sure how we can this? Open to all kinds of ideas.

[2017-07-18 15:49] housseindjirdeh commented on #98
Thank you so much for this @mbijon. I agree that it's definitely worthwhile to include a mention that even if data ever happens to visible, we will not record or view it whatsoever. And if it happens to be accidentally recorded/saved and it comes to our attention: we'll delete is as fast as we can.

We are currently not collecting mobile analytics or log data of any kind using a library or package

[2017-07-18 15:55] andrewda commented on #110
Yea I kinda butchered your username in one of my comments and figured this would probably help 😆

As for the design, the one GitHub has on web is pretty nice. Maybe above the cursor to make it less intrusive, and display the two most recent names that best fit what the user's typing. This might come in handy: http://fusejs.io/#weighted-search

[2017-07-18 15:58] andrewda commented on #110
https://github.com/yury-dymov/react-autocomplete-input

[2017-07-18 16:35] GianniCarlo opened #111 "Ability to create Issues in the app"
It would be nice to be able to create issues

[2017-07-18 16:37] andrewda commented on #111
Yes 👍 ! There's discussion on this in #58, so take a look there and add any suggestions you have to that issue 😄

[2017-07-18 17:33] andrewda opened #112 "Add more complete test coverage"
Just to make sure we don't break things 👍

[2017-07-18 18:11] housseindjirdeh commented on #110
Haha I know how you feel, I've almost butchered usernames a few times already 😂

As @RolfKoenders was kind enough to suggest: [React Native Mentions](https://github.com/harshq/react-native-mentions) looks like it might work 🎉 Once we get this up and running, definitely worth looking into getting #issues support working as well (can be a separate ticket)

[2017-07-18 18:17] housseindjirdeh commented on #111
Cheers thank you @andrewda :)

And thank you @GianniCarlo! We'll definitely have that before our next update 🎉

[2017-07-18 18:17] #111 closed

[2017-07-18 18:39] jstrobel opened #114 "Some width problems at repository title"
![img_8114](https://user-images.githubusercontent.com/1428396/28333670-edf3eb12-6bf8-11e7-9d59-da816625c9eb.PNG)

As you can see at the screenshot there are some width issues with the repository title.

[2017-07-18 19:02] lex111 commented on #96
@housseindjirdeh thank you, I [did](https://github.com/gitpoint/git-point/pull/115), but it did not work out through Set, although the solution is probably not very good, I'll be glad if you write how it can be improved. There was one additional addiction, is it very bad?

[2017-07-18 20:30] iamtekeste commented on #2
This might be dumb question but where do I download and install the Android version of this app?

[2017-07-18 20:33] anowlcalledjosh commented on #2
@iamtekeste You don't -- that's the point of this issue. The Android version doesn't exist yet.

[2017-07-18 20:34] andrewda commented on #2
As @anowlcalledjosh said it's not published yet. I believe @housseindjirdeh is looking to try and submit it tonight or in the coming days :)

[2017-07-18 20:41] SammyIsra commented on #103
I can try this out if no one else is already on this

[2017-07-18 20:43] andrewda commented on #103
Awesome, thanks @SammyIsra!!

[2017-07-18 20:46] andrewda commented on #114
One option is to move the repo description down near the owner (either above or below). Not sure how that would look.

[2017-07-18 20:55] RolfKoenders commented on #44
@Huang-Libo That api would definitely work for us!
@housseindjirdeh What would be a nice place to show this? Add an star to the tabbar and show a nice view of the trending repo's? There is not really a 'other' menu option. We could maybe replace the profile with a hamburger icon and show a list of other options?

[2017-07-18 21:00] andrewda commented on #44
It might fit well somewhere on the search screen, too.

[2017-07-18 21:02] RolfKoenders commented on #106
Im only experiencing this on some repo's not on all. When there is a horizontal scroll bar it is not visible (only when you scroll) and its because there is code or markdown tables which take up space.
Not sure what a solution would be. Scrolling is fine here i guess?

[2017-07-18 21:03] RolfKoenders commented on #44
@andrewda Yea i was thinking that to. As a option next to Repositories & Users? But are we then searching in trending when the user clicks search?

[2017-07-18 21:19] RolfKoenders opened #116 "Filter events"
Adding a filter on the Events/Feed screen can be helpful to only show what you want to see.
Possible filters:
- Comments
- Stars on repo's
- Pull Request actions
- Issue actions

So you can for example easily see which repos got starred.

[2017-07-18 21:23] jstrobel commented on #114
isn't there a way to set a limit for the width?

[2017-07-18 21:29] RolfKoenders commented on #114
I think the location of the description is good. A solution could be to set a padding of like 10 to 15 pixels on both sides and expand the text view down?

[2017-07-18 21:31] andrewda commented on #114
@RolfKoenders :+1: Yep that'd work nicely! Is there a character limit for repository descriptions?

[2017-07-18 21:36] RolfKoenders commented on #114
@andrewda After trying it with different characters, there is no actual limit on how much you can insert/save. Github is only showing **347** characters before it cuts it of "Loru..."

[2017-07-18 21:36] andrewda commented on #44
Yea, I was thinking that would be a good spot. How about on that tab instead of a search bar we have a drop down with languages?

*note to self: you can use a language parameter on the codehub trending API http://trending.codehub-app.com/v2/trending?language=python*

[2017-07-18 21:37] andrewda commented on #114
Alright, then does it make sense to have the text view expand dynamically?

[2017-07-18 21:38] RolfKoenders commented on #44
@andrewda That sounds like a nice feature!

[2017-07-18 21:39] Monte9 commented on #97
@housseindjirdeh I'd suggest skipping the `v0.14.0` release and directly upgrading to `v1.0` when it's out in mid-September.

There are going to be major breaking changes for the `1.0` release, so I think it might just be double effort to upgrade to `v0.14.0` and then to `v1.0`

Also I'd be more than happy to help out with the `v1.0` release. 😉 (and @binoy14).

[2017-07-18 21:46] RolfKoenders commented on #102
Hmm, im facing a different issue. My profile page shows 29 repositories. It shows 35 repositories in the list view. (Without searching) And all of them are repo's where i have push access to, not my own 'created' repositories, which i would like to see in that screen.

[2017-07-18 21:49] RolfKoenders opened #117 "Localization"
Show the app in the language of the user's phone. Later on this could be changed in an options menu?

[2017-07-18 21:52] RolfKoenders commented on #114
I think we should decide on a limit. 1/3 of my iPhone 6(s) Plus screen is filled with the repository description with 347 characters.. Thats to much i think?

[2017-07-18 21:59] housseindjirdeh commented on #97
Awesome thanks a million @Monte9 @binoy14 - that's definitely a better idea :)

[2017-07-18 22:12] andrewda commented on #114
Yep I agree (though I don't think there are many repos with huge descriptions). Maybe add an ellipsis after the word before the text reaches ~150 characters?

[2017-07-18 22:36] andrewda commented on #75
Is this fully added and ready to use as of #108?

[2017-07-18 22:40] housseindjirdeh commented on #114
So we can definitely add some padding on the sides (and we probably should) but super long descriptions can still look funky.

In the list screen long descriptions look fine in my opinion:

![image](https://user-images.githubusercontent.com/12476932/28342829-409c0752-6be8-11e7-81a9-8bc36609a9d7.png)

But in the repo screen this can be a problem:

![image](https://user-images.githubusercontent.com/

[2017-07-18 22:46] andrewda opened #119 "Display repository language"
The repository's primary programming language string can be found at `repository.language`.

[2017-07-18 22:52] andrewda commented on #107
I like it! This would require using the developer preview for the GitHub API, but I think there are enough things we want to add now that need it (e.g. reactions) that we should add the headers.

[2017-07-18 23:05] Antoine38660 commented on #119
Do you have an idea of where you'd like to show it on a repository page?
I don't think create a new `Section` is a good idea, it takes up too much space

[2017-07-18 23:08] andrewda commented on #119
No idea. I really like how it's displayed on the pinned repositories section on GitHub, so we could use that for reference!

[2017-07-18 23:15] Antoine38660 commented on #119
Hum, something like that ?

<img src="https://user-images.githubusercontent.com/9287184/28343827-accd37c2-6bf5-11e7-84ad-7076760fcf74.png" width="300" />

[2017-07-18 23:23] andrewda commented on #119
Yea that looks great @Antoine38660!

[2017-07-18 23:31] Antoine38660 commented on #119
Ok, I'll try to do this one 😉

Last one, do you have any idea about how to generate/choose the circle color ? (To be consistent with Github web)

[2017-07-18 23:38] andrewda commented on #119
Not sure if they're necessary (though I kinda like them :wink:), but we can use https://github.com/ozh/github-colors/blob/master/colors.json

[2017-07-18 23:46] xuezhma commented on #102
That sounds like what #105 is trying to fix. With it merged, you should only see your own 'created' repositories now.

[2017-07-19 00:03] Antoine38660 commented on #119
Oh nice! There is also this one https://github.com/github/linguist/blob/master/lib/linguist/languages.yml (Officially used by Github)

[2017-07-19 00:08] junedomingo commented on #75
Yes! sorry, I forgot to close.

[2017-07-19 00:08] #75 closed

[2017-07-19 00:32] housseindjirdeh commented on #119
I already take care of language colors in the codebase, theres a langaugeColors object in the colors config file. That's how I display repository language colors in the repository list screen :)

[2017-07-19 00:41] housseindjirdeh commented on #119
Definitely understand not needing another section list for this - but it sure if I like it hooked to the bottom of the top section. Play around with and we can easily move its location at a later point, but I'm thinking along one of the corners maybe?

[2017-07-19 01:13] patw0929 commented on #95
I'll try to implement this, about the "load more" feature.

![](http://g.recordit.co/CeWljWTcx9.gif)

Please let me know if you have any suggestion. :smile:

[2017-07-19 01:17] housseindjirdeh commented on #95
This is great @patw0929, I'm loving this <3

The only thing I can think of is how we can expand this to all the `FlatLists` in the application and I hope it's not too much work which requires refactoring each `FlatList's` actions Redux pattern - but this is an awesome start and happy to have just search as a PR before we move on to other screens

[2017-07-19 02:12] housseindjirdeh commented on #116
Yes this would be nice to have, how are you envisioning we allow filtering? A button group up top just like we have in the `Notifications` screen?

There are [a lot](https://developer.github.com/v3/activity/events/types/) of possible events so I like the list you currently have:

* All (the default)
* Stars
* Comments
* Pull Requests (includes all Pull Request activity including comments)
* Issues

[2017-07-19 02:47] housseindjirdeh commented on #44
@andrewda @RolfKoenders yep on the search screen was exactly what I was thinking, but I don't think it should be a tab besides `repos` and `users` specifically because it'll seem like users have to search for trending. I was thinking showing a list of trending repositories (and a title) as a placeholder on that screen before the user searches for anything (instead of the message `Search for any re

[2017-07-19 02:48] andrewda commented on #44
How ya doing?

[2017-07-19 03:04] housseindjirdeh commented on #2
There's no such thing as a stupid question @iamtekeste :)

As @anowlcalledjosh and @andrewda said, it's not ready yet unfortunately! Once it is it'll be in the App Store (and will make it public so everyone knows 👍 )

If you want to live on the bleeding edge you _can_ pull down the latest master branch and run it on your device. You'll notice some performance hits however unless you build the app

[2017-07-19 03:16] housseindjirdeh commented on #2
### Production Build 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉

Just ran the release variant off the application on a Samsung S8. Things seem as smooth and performant as the iOS version of the app  ⭐️

![android-gitpointdemo](https://user-images.githubusercontent.com/12476932/28348959-f1525b4e-6c0d-11e7-9104-18c97abfc870.gif)

We're excited - we should have the Android app up in the Play Store as soon as we smooth out some

[2017-07-19 03:36] housseindjirdeh opened #120 "Cancelling search bar doesn't seem to clear text (Android)"
Our recent Android search bar implementation doesn't seem to clear text when the cancel button is clicked

[2017-07-19 03:50] housseindjirdeh opened #121 "Menlo font not applied to all code files [Android]"
Although the `Menlo` font comes with default in iOS devices, it doesn't for Android hence why I recently linked it to the app. Noticing something very weird where some files (`yarn.lock` for example - it seems applied but not for others 🤔 )

![image](https://user-images.githubusercontent.com/12476932/28349887-7430e9a4-6c13-11e7-8709-d8aa89b826fc.png)

![image](https://user-images.githubusercontent

[2017-07-19 03:59] housseindjirdeh opened #122 "Repository code files take a long time to load [Android]"
Running production builds on an Android device seems to work smoothly except for when I try loading a Repository Code File screen. Not sure why this takes quite a little time for the screen to load.

Would appreciate it if anyone can get a release variant of the Android app on their device and test this out. If I'm not the only one experiencing this - than this is definitely worth digging into 👍

[2017-07-19 03:59] #96 closed

[2017-07-19 06:38] patw0929 commented on #122
I installed the apk built with master branch codebase, and this is my screen record video:

https://youtu.be/THKqmdTOXr0

Do you mean this screen?
My device is Samsung Note 5 (Android 7.0).

[2017-07-19 06:54] benedyktdryl commented on #2
It's just awesome. If I can help with documentation or any Google Playstore related work, let me know.

[2017-07-19 07:00] jstrobel commented on #114
Looks good for me, and cutting after some kind of characters seems fine.

[2017-07-19 07:09] RolfKoenders commented on #116
Yeah those are the events we want to filter on most likely. We can always add a option later on.
I was actually more thinking like a filter icon/button on the top right of the Events navigation bar. A button group will be coming really cluttered with more then 3 a 4 options.
Will look into more possible options.

[2017-07-19 07:12] RolfKoenders commented on #114
@housseindjirdeh That sounds like a decent solution!

[2017-07-19 08:44] RolfKoenders commented on #44
@housseindjirdeh Showing the trending repositories before searching sounds like a nice idea indeed.
Btw, if i am correct the owner of that api stated in the readme to not use those endpoints since its for their app. We could host/setup our own instance of it, or i could build a similar api maybe with some more options/filters we would like. So we can make the api to our needs.

[2017-07-19 12:57] housseindjirdeh commented on #44
@RolkKoenders thank you for noticing that, I didn't catch that in the README! We definitely can't use those endpoints since that's the case - I would absolutely _love_ if we can set up a similar instance or even one with more options, filters. I hope this won't be too much work however so let's use this and our Gitter channel to chat all the details.

[2017-07-19 13:49] RolfKoenders commented on #44
@housseindjirdeh _You need the auto complete usernames features ;)_
I will document a plan and share it to discuss!

[2017-07-19 14:24] andrewda opened #124 "Issues take a long time to load from the notifications screen"
The transition isn't super smooth. It could just be my slow internet, but it would be nice for the issue screen with the loading indicator to appear immediately after clicking on the issue.

[2017-07-19 14:39] Antoine38660 commented on #119
You can compare location :

| Left aligned | Centered |
|:-:|:-:|
| ![screenshot_1500475002](https://user-images.githubusercontent.com/9287184/28372638-a9b8322c-6c76-11e7-9985-28d5c72ec0dd.png) | ![screenshot_1500475026](https://user-images.githubusercontent.com/9287184/28372639-a9bcef88-6c76-11e7-8818-22c8a9094bff.png) |

Testing on Android today, the rendering is nice :smiley:

[2017-07-19 14:43] Antoine38660 commented on #121
I'll take a look during the afternoon, maybe it's caused by #60

[2017-07-19 16:03] housseindjirdeh commented on #121
Cheers it might be but I wasn't sure - thanks matey 🙌

[2017-07-19 16:27] andrewda commented on #119
They both look good to me, but in the screenshots above I slightly prefer the centered.

[2017-07-19 16:31] #92 closed

[2017-07-19 17:29] lex111 commented on #120
It's strange, it works for me, on the emulator and on the phone.

[2017-07-19 17:30] FlorianTaut commented on #119
What about putting it after "Forks" in the right-center?

[2017-07-19 17:32] FlorianTaut commented on #117
Dont think that's very necessary, most repos are in English anyway also the issues and PRs. So only you're ui would be in your language.

Just my opinion think in English is better somehow...

[2017-07-19 17:42] housseindjirdeh commented on #124
Yep this is definitely something we should fix. This is purely because I [dispatch `getIssueFromUrl` before the navigation actually happens](https://github.com/gitpoint/git-point/blob/master/src/notifications/screens/notifications.screen.js#L194-L201).

The difference here between loading an issue straight from the repository _or_ issue list screens is that in the latter[ we already have the issue

[2017-07-19 17:44] housseindjirdeh commented on #2
Thank you so much @benedyktdryl, we'll let you know without a doubt and I appreciate it 🙏

[2017-07-19 17:53] housseindjirdeh commented on #120
Hmmmm really eh, something I just noticed last night so things may have been weird. Will try again tonight.

Pressing the X clears the text just fine right?

[2017-07-19 17:55] lex111 commented on #4
@housseindjirdeh on Android, a simple change works.

But I do not understand why you need a dark status bar, can by default make it light?

[2017-07-19 18:06] andrewda commented on #4
@lex111 On almost every screen a dark status bar should be used because a light one would be impossible to see. However, on profiles, orgs and repos, a light one should be used.

[2017-07-19 18:08] lex111 commented on #120
@housseindjirdeh yeah, the text is simply cleared. I would slightly increase the clickable area near the icon, but the library does not allow this.

[2017-07-19 18:10] andrewda opened #127 "Render issue markdown correctly"
Currently issue markdown isn't rendered correctly. For example, `### Header` is shown instead of the styled header.

![0](https://user-images.githubusercontent.com/10191084/28382665-d12d856c-6c73-11e7-991c-844796f0b9f0.jpg)
*(sorry for low-quality screenshot, still working out some iOS 11 issues)*

[2017-07-19 18:15] lex111 commented on #4
@andrewda mmm, yeah, thanks, I did not understand at first. But however, a simple property change seems to work.

[2017-07-19 18:21] andrewda opened #128 "Don't show merge button if merge is not possible"
Not sure how much of this data is available from the API, but the green merge button is still shown even if a PR is unable to be merged (due to conflicts or required tests not passing, for example). My suggestion would be to grey-out the merge button with a tooltip explaining why it's not mergeable.

[2017-07-19 18:25] andrewda commented on #102
Closing as #105 should have fixed this :tada:

[2017-07-19 18:25] #102 closed

[2017-07-19 18:29] lex111 opened #129 "Show starred repositories"
It was nice to show them on the profile page after the repositories :star:

![image](https://user-images.githubusercontent.com/4408379/28383148-2c247c00-6cc9-11e7-8b08-9ee9bfbe9d82.png)

[2017-07-19 18:56] mbijon commented on #98
Thanks Houssein, that all sounds great.

Keep in mind that acting securely & privately is the most important thing here. The written policy is just shareable proof that we can have on-record for our customers' security auditors. While none (few?) of us love writing policy-docs, in the long run it tends to reduce the amount of questions & saves time.

[2017-07-19 19:39] housseindjirdeh commented on #129
An extra item to show `Stars` that takes the user to a `RepositoryListScreen` of all their starred repos? I like it, my only concern is maybe 4 items on the user profile might be cluttering things up a bit?? More than happy to see how it looks before anyone starts adding the logic 🙌

[2017-07-19 19:40] housseindjirdeh commented on #128
I think this is a great thing to have and _hopefully_ isn't too complicated using an API endpoint. To start things, we can just have it greyed out/disabled and if the person working on this wants to add a tooltip of sorts we can discuss that after 🙌

[2017-07-19 19:55] housseindjirdeh commented on #119
This is great @Antoine38660, I'm personally a fan with having it either left or right aligned instead of centered. However my bigger concern than location is adding a little padding from the edges.

I'll leave you with the decision to either have it in the center or not :) but I think it might look a little nicer if it's not _touching_ the edges/corner and there's a little margin/padding regardles

[2017-07-19 19:55] andrewda commented on #22
#125 should have fixed this :)

[2017-07-19 19:55] #22 closed

[2017-07-19 20:01] housseindjirdeh commented on #119
Actually - I think a better place to put it would be right up top now that I think about it:

![image](https://user-images.githubusercontent.com/12476932/28387006-6c816340-6c9b-11e7-934d-6e1f0bb0b116.png)

Once the user scrolls down the sticky header would hide it anyway - but I think it can live nicely up there :D

What do you folks think?

[2017-07-19 20:13] andrewda commented on #119
That sounds (and looks) good!

[2017-07-19 20:40] Antoine38660 commented on #119
Yes, the top centered option looks good :)

[2017-07-19 23:46] Antoine38660 commented on #121
Are we sure every custom fonts are rendered in Android ?

From https://github.com/gitpoint/git-point/blob/master/src/config/fonts.js#L11-L17 :
[code]

All `OpenSans` fonts have a weird `s` in the javascript declaration that doesn't exist in fonts name (https://github.com/gitpoint/git-point/tree/master/android/app/src/main/assets/fonts).

[2017-07-20 01:35] Antoine38660 commented on #121
I removed these extra `s`, results are here :

| Before | After |
|:-:|:-:|
| ![screenshot_1500504737](https://user-images.githubusercontent.com/9287184/28396444-d19c3774-6cd1-11e7-8377-800f8de77b54.png) | ![screenshot_1500514090](https://user-images.githubusercontent.com/9287184/28396445-d19d00aa-6cd1-11e7-98a4-453467ff9d5a.png) |

`g` of `gitpoint` (Owner section) is different!

(Menlo is still

[2017-07-20 02:16] #119 closed

[2017-07-20 02:18] housseindjirdeh commented on #121
:disappointed: :disappointed: :disappointed: :disappointed: How did I not catch that extra S :disappointed: :disappointed: :disappointed: :disappointed:

Thanks so much for noticing mate - let me know if you notice anything fishy about the Menlo font as well

[2017-07-20 02:27] Antoine38660 commented on #121
I created a _test view_ for the fonts:

<img width="334" alt="capture d ecran 2017-07-19 a 23 25 15" src="https://user-images.githubusercontent.com/9287184/28397691-91352f80-6cd9-11e7-91bb-add5409b2d41.png">

Menlo seems to be applied, but in a ugly way... Corrupted or incompatible`ttf`?

[2017-07-20 02:43] housseindjirdeh commented on #121
It does look ugly :thinking:

I can try switching it up for another `.ttf` (but feel free to try and find one if you like). I found this one here so I guess that probably wasn't a good idea :joy: https://github.com/hbin/top-programming-fonts

[2017-07-20 04:14] housseindjirdeh commented on #120
Perfect okay I have a feeling it's the Samsung S8 edge I'm testing on that's giving me a hard time clicking things that show on the edge :joy:

Will close this and can reopen if needed. Agreed the clickable area increasing would be nice if possible.

[2017-07-20 04:14] #120 closed

[2017-07-20 04:15] housseindjirdeh commented on #122
Yep that's the exact screen I'm referring to (actual code screen).

Do you feel like it's taking a lot longer than it should to load or was it possible that I was just experiencing a little network lag at the time?

[2017-07-20 04:17] housseindjirdeh commented on #116
Agreed an icon might make more sense actually, cheers thank you :raised_hands:

[2017-07-20 16:57] RolfKoenders commented on #129
It will look like this:

![Star count](http://preview.ibb.co/iL5p4k/Screen_Shot_2017_07_20_at_18_41_52.png)

With more then a thousand we can do something like:

![Star count](http://preview.ibb.co/iDztVQ/Screen_Shot_2017_07_20_at_18_44_31.png)

I think it still looks good and not to cluttered, the clickable areas are still easily touchable.

[2017-07-20 18:35] Antondomashnev commented on #124
I would like to work on it.

[2017-07-21 01:49] RogerAbyss opened #136 "Star count display"
It`s just a small improve.
I think that star count display counld be improve like github do on website.
star:81220 shows 8.1k may look better, just like thist:
![dc8b5680-a6e1-4893-a16a-c0ec75143e18](https://user-images.githubusercontent.com/8122587/28445870-b9542b8a-6df9-11e7-847b-07badea2d50e.png)

[2017-07-21 01:56] housseindjirdeh commented on #129
Nice agreed that does look good 👌🏾

[2017-07-21 01:57] housseindjirdeh commented on #129
If it's not too difficult, let's also add navigation functionality so the user can click it and view what another user has starred as part of this ticket, hopefully the API makes this straightforward 🙌🏾

[2017-07-21 02:04] housseindjirdeh commented on #136
Agreed, it's a small detail but I like it 😊

[2017-07-21 06:32] andrewda opened #140 "Show company on user profile"
Also use the same icon as GitHub uses (not sure what it's called, but it's the one with two people next to each other).

[2017-07-21 16:59] patw0929 commented on #122
Yes, it's really taking longer time to load than other scenes, even if it's only a small LICENSE file. So weird. 🤔

[2017-07-21 17:04] alejandronanez opened #141 "GraphQL"
We should start moving gradually towards GraphQL, it will save us a TON of requests. AFAIK GraphQL doesn't have available the same exact endpoints as Github V3 Rest API so we should have a mix between both.

[2017-07-21 20:04] #124 closed

[2017-07-21 21:34] Antoine38660 commented on #58
I have some time next week to do this one. Can you assign me to this one if it's ok for the roadmap?

As I said, I'll need some help, specially for the API request :)

[2017-07-21 21:43] andrewda commented on #58
Awesome @Antoine38660! I can definitely help out, too, if you need it :)

[2017-07-21 22:18] Antondomashnev commented on #114
Hi there, I've made some changes to the description style in repo screen, mainly according to what @housseindjirdeh suggested. Looking forward to hearing your feedback 😉

[2017-07-22 10:55] adrianhartanto0 commented on #129
Has anyone worked on this? I am more than interested to do so.

[2017-07-22 12:41] lex111 commented on #129
@adrianhartanto0 fine! We will be only happy if you do it :smiley:

[2017-07-22 15:26] RolfKoenders commented on #129
@adrianhartanto0 Would be awesome if you do it 😉
This can probably help you:
https://stackoverflow.com/questions/30636798/get-user-total-starred-count-using-github-api-v3

[2017-07-22 15:31] andrewda commented on #129
Good link @RolfKoenders! Wish GitHub would return explicit counts, though.

[2017-07-22 16:39] adrianhartanto0 commented on #129
Getting an error saying ```
"Provide a valid path to the desired application bundle.
Print: Entry, ":CFBundleIdentifier", Does Not Exist".
[code]

[2017-07-22 16:54] #140 closed

[2017-07-22 17:27] #7 closed

[2017-07-22 18:29] RolfKoenders commented on #129
@andrewda I haven't checked the v4 api yet. Maybe its in there?

[2017-07-22 18:43] RolfKoenders commented on #114
@Antondomashnev I haven't checked it yet, but does your PR fixes this issue? It looks like it, except the 150 character limit.

[2017-07-22 19:44] RolfKoenders commented on #44
I have created a first draft of the approach.
You can read it here. https://github.com/RolfKoenders/gitpoint-api

I'm going to investigate which data we can retrieve by scraping. Since we then have the repository name we could use the API to retrieve more details about that repository and save that in the data store. After we know which data will be stored we can start working on the API calls.

[2017-07-23 09:58] RogerAbyss opened #151 "repository list not showing with > 6 repos"
I find that there is nothing when repositories > 6.
I suggest we give a default sort by stars.Do you think so?
![9b87e44b-390f-49d8-8e14-b10a37da1847](https://user-images.githubusercontent.com/8122587/28498440-1a06ff16-6fd0-11e7-97df-9c67960215c7.png)

[2017-07-23 10:02] RogerAbyss opened #152 "User-profile bug"
click "Followers" in "User" page, and choose a person to click in.
when i click left back button back to “User” page, i find ther is nothing.Page may should be refresh.
![984a99ab-0f39-4b24-bbb1-f37878dfe62a](https://user-images.githubusercontent.com/8122587/28498455-98bd416c-6fd0-11e7-983d-4d6d433173a2.png)

[2017-07-23 10:46] Antondomashnev commented on #114
@RolfKoenders yeah, instead of 150 characters limit I introduces the number of lines limit, I think it's  better, so if we change the font size of something there will be still 5 lines and maybe less than 150 characters.

[2017-07-23 14:58] lex111 commented on #151
Can make a drop-down list with sorting alphabetically, the number of stars, the last update, etc. Similarly as done in GitHub?
![image](https://user-images.githubusercontent.com/4408379/28500406-6f5e5ee6-6fd0-11e7-84e3-d0b08382df46.png)

[2017-07-23 20:51] #136 closed

[2017-07-24 00:57] #121 closed

[2017-07-24 01:02] housseindjirdeh commented on #151
@RogerAbyss cheers thanks for this, are you seeing nothing _at all_ when repositories are > 6?

@lex111 I don't think GitHub allows for that type of sorting for user repositories but I do agree that would be awesome to have in global search. However that doesn't sound extremely trivial to do. What would probably be easier would be to implement a picker that would show when `Sort: Best Match` is cl

[2017-07-24 01:04] housseindjirdeh commented on #152
Thanks for logging this! Unforuntately this isn't a user profile specific bug but something deeper with regards to navigation. Navigating backwards to the same screen will show an incorrect state because state isn't refreshed. Already have an issue open for that #3.

This isn't trivial and is unfortunately something I wish we could find a solution for 🤔

[2017-07-24 01:04] #152 closed

[2017-07-24 01:11] Antoine38660 commented on #40
Can be closed (#131) 😄

[2017-07-24 01:47] #40 closed

[2017-07-24 04:20] housseindjirdeh opened #156 "Issues and Pull Requests count is wrong"
![image](https://user-images.githubusercontent.com/12476932/28508033-a77a90c6-7005-11e7-8dba-6225aafaa64b.png)

The react repository definitely has more than 20 open and closed issues :). If the total number of issues and pull requests aren't easily retrievable from the API - we should probably just remove it.

[2017-07-24 04:39] lex111 commented on #151
@housseindjirdeh agree, let's create a separate issue. And in this issue we will fix bug.

Perhaps this is due to the bug that the repositories of the organization were not displayed.  @RogerAbyss we need more details on how to reproduce this.

P.S. I only one seems strange that in the screenshot the search icon is centered?

[2017-07-24 04:47] #110 closed

[2017-07-24 04:49] housseindjirdeh commented on #122
🤔 🤔 🤔 🤔 🤔 🤔

Could be syntax highlighting but pull request diffs (which should take longer to load) seem to load much faster 🤔

[2017-07-24 05:25] andrewda commented on #156
Looks like this is because we're not taking into account the pagination. To deal with this, let's use the `open_issues` property from the repo API (https://api.github.com/repos/gitpoint/git-point). Note this will mean getting rid of closed issues because GitHub doesn't give us that count.

[2017-07-24 06:20] SammyIsra opened #157 "Have a better 'loading' screen for users when initially loading"
When a user is initially loaded, the Repositories number is shown as `NaN` and the other counters don't even show up. They are later shifted down when the number is fetched.

![Loading User](http://i.imgur.com/GarxGmL.png)

We could probably have a `&nbsp` to avoid the shifting, and finding where the `NaN` is calculated and redoing that operation.

The `NaN` I have not seen anywhere else when load

[2017-07-24 06:24] SammyIsra opened #158 "Have an icon for Fork on the Repo ActionSheet menu"
The repository ActionSheet menu currently has Star/Ustar and Fork. The first option has a Star icon to accompany it, but there isn't one for Fork.

![Fork in ActionSheet](http://i.imgur.com/7ad2sD0.png)

[2017-07-24 06:38] SammyIsra commented on #117
I think the recommendation was not to change the language of the repositories and users (I personally don't think that would be possible or a good idea) but to change the language of the app itself to the the language of the phone. Stuff like Log In, Sign Out, and so on.

[2017-07-24 07:15] SammyIsra commented on #156
That api endpoint has `open_issues_count` and `open_issues`. In our case, the numbers are the same. Is there any case in which they would be different?

[2017-07-24 07:30] SammyIsra commented on #156
Looking at [this](https://developer.github.com/v3/issues/#issues) we could fetch `https://api.github.com/repos/gitpoint/git-point/issues?state=closed&per_page=21` and count them. If the count is 21, we can just show 20+. Otherwise, we can just show the count. (or any other number would do.

I don't think `per_page` has an upper limit, so technically we can use any number, but maybe we don't want t

[2017-07-24 09:22] RolfKoenders commented on #117
@SammyIsra Exactly! the app itself. Like buttons/titles etc. We could use the default language of the phone for this and/or let the user set hes preferred language.

[2017-07-24 13:05] RogerAbyss commented on #151
@lex111 yes.It reproduce easy In my simulator.Just choose a person,respositories has more than a numbers, and it seems like is 6.
<img width="375" alt="192fc398-9990-4e60-a26a-5e4d18744fdd" src="https://user-images.githubusercontent.com/8122587/28524263-527af9f0-70b2-11e7-9a0e-54d5af279f7b.png">

this is @housseindjirdeh `s repositories page, he has 43.
<img width="375" alt="31596254-c2ba-4bb4-a1d

[2017-07-24 16:19] andrewda commented on #156
@SammyIsra Actually here's a fun trick:

Make a request to `https://api.github.com/repos/gitpoint/git-point/issues?state=closed&per_page=1&page=1`. This shows us the most recently closed issue (or opened if `state=open`) from the repository, but that's not what we're interested in. We'll receive a `Link` header that looks something like this:

[code]

Note this part:

[code]

That's the link to th

[2017-07-24 16:44] RolfKoenders commented on #158
I would suggest we go for the 'git-branch' icon since its really similar and there is no octicon for fork :disappointed:
https://octicons.github.com/icon/git-branch/

[2017-07-24 16:47] andrewda commented on #158
@RolfKoenders How about [`repo-forked`](https://octicons.github.com/icon/repo-forked/)?

[2017-07-24 16:52] SammyIsra commented on #158
Is there an example of using octicons in the project? Does anything need to
be imported?

On Jul 24, 2017 12:47 PM, "Andrew Dassonville" <notifications@github.com>
wrote:

[2017-07-24 16:54] andrewda commented on #158
Here's [one place](https://github.com/gitpoint/git-point/blob/9ec41cf73e49c16a5a9035c49c7d7c874610614f/src/components/entity-info.component.js#L76-L80) where we use them. Not sure about getting an octicon into this text area though.

[2017-07-24 16:56] RolfKoenders commented on #158
For some reason i couldn't find it on this page: https://octicons.github.com/ :neutral_face: :sweat_smile:

[2017-07-24 16:58] andrewda commented on #158
@RolfKoenders yea it's not listed with the other ones that looks like it haha

[2017-07-24 17:02] RolfKoenders commented on #158
@andrewda I seriously went 3 times through the list thinking i'm becoming blind :sweat_smile:

[2017-07-24 17:19] RolfKoenders commented on #158
@SammyIsra Appending the icon [here](https://github.com/gitpoint/git-point/blob/master/src/repository/screens/repository.screen.js#L153) would do the Trick.

[2017-07-24 17:30] lex111 commented on #151
@RogerAbyss Hmm, I have correctly displayed repositories in people who have more than 6 repositories. Although I'm looking at the Android emulator, maybe this is a problem for iOS, but unfortunately I can not check it :(

Let's wait for others members who can check it on iOS.

[2017-07-24 17:31] andrewda commented on #151
I can take a peek at this in a bit.

[2017-07-24 18:14] housseindjirdeh commented on #156
You really are a wizard @andrewda, 4 requests is a bit more than I would love but I think that's definitely worth it to get that information. This is great thank you so much.

[2017-07-24 18:16] housseindjirdeh commented on #158
So I simply append a unicode star icon for the Star action and will definitely prefer using `octicons` instead. However I'm okay if that's going to be a little more work (can ActionSheet take in a component?) to just use an appropriate 'fork' or 'branching' unicode icon for now

[2017-07-24 18:17] housseindjirdeh commented on #158
@SammyIsra as @andrewda mentiones its quite simple to use them for `ListItem` components as well as placing `Icon` components in our app (React Native Elements, the UI library we're using, leverages `react-native-vector-icons` to have all these icons available).

But like I mentioned I'm not sure how simple it would be to have it as part of the ActionSheet hence why I think a simpler unicode icon

[2017-07-24 18:20] housseindjirdeh opened #159 "Change green number status for following/starring repos"
Currently if you follow a user _or_ star a repo, the followers/stars count becomes green as an indicator.

Probably not the best design decision :P - I think a simpler approach would be having a little text field underneath that shows (`Following` or `Starred`) as @Antoine38660 suggested. Definitely open to other ideas however so suggestions are welcome 🙌

[2017-07-24 18:36] andrewda commented on #156
For future GraphQL reference, here's how we'd get the first 3 issues on the repository screen, along with the total number of open/closed issues:

[code]

And for pull requests:

[code]

[2017-07-24 18:40] andrewda commented on #156
I love GraphQL now :joy: This simplifies things _a ton_.

[2017-07-24 18:49] andrewda commented on #158
Pretty sure this is the only official `fork` icon currently on unicode: 🍴

Jokes aside, I think it's probably worth the time to find an easy way to include octicons (or other icons) in the ListItem component.

[2017-07-24 19:23] andrewda opened #161 "Navigate to pull request from home screen"
Users may click on issues to navigate to the issue thread, but not on pull requests.

Relevant code:
- [How issue navigation is done](https://github.com/gitpoint/git-point/blob/master/src/auth/screens/events.screen.js#L224-L232)
- [Needs to be added here](https://github.com/gitpoint/git-point/blob/master/src/auth/screens/events.screen.js#L242-L249)

[2017-07-24 19:36] andrewda commented on #141
While it's fresh on my mind, here's how we'd fetch an issue:

[code]

[2017-07-24 19:52] andrewda commented on #141
And fetch a repository:

[code]

[2017-07-24 21:10] housseindjirdeh commented on #158
Haha if that's the only available unicode icon for `fork` then I agree. Will appreciate if anybody can take a look and see if adding octicons (`Icon` component) to action sheet is possible

@andrewda `ListItem` components do accept icons including octicons but you're probably referring to ActionSheet list items :)

[2017-07-24 21:57] andrewda commented on #141
Fetching a user (query score: 1):

[code]

[2017-07-25 06:36] andrewda opened #162 "Crash when accessing user from main screen"
![unnamed](https://user-images.githubusercontent.com/10191084/28558875-c8b1b5ee-70c8-11e7-8dae-2cdea87266cf.jpg)

To replicate:

1. Go to main/home screen.
1. Click on user.

Not sure what the source is, will investigate more tomorrow.

[2017-07-25 07:42] #162 closed

[2017-07-25 07:47] junedomingo commented on #162
Apologies, this was caused by #155 . It should work now :)

[2017-07-25 12:29] FlorianTaut commented on #157
We could just add a big loader in the center screen, put everything else in the background with a grey overlay.

When everything is correctly loaded in the background we can show the user/repo.

What about that? @Sammylsra

[2017-07-25 13:59] andrewda commented on #157
@FlorianTaut that sounds good assuming we do it for other components too in order to maintain consistency. :+1:

[2017-07-25 14:00] andrewda commented on #162
Thanks!

[2017-07-25 14:40] housseindjirdeh commented on #156
Amazing, queries look so nice 😍

I think this (and #46) is a great place to start introducing GraphQL to the app

[2017-07-25 14:54] housseindjirdeh commented on #151
Thanks - this is definitely a really interesting bug. This might sound weird but can you try scrolling the repository list and seeing it pops up? I've experienced `FlatLists` not rendering until the user tries scrolling before and I've had to use [`removeclippedsubviews`](https://facebook.github.io/react-native/docs/flatlist.html#removeclippedsubviews) to render it immediately (don't think this is

[2017-07-25 16:09] andrewda commented on #156
Awesome @housseindjirdeh! I have a `graphql` branch made where we can start working on this and merge it into master when we're satisfied :)

[2017-07-25 16:47] andrewda opened #164 "Console warnings"
On starting up the app, I get this warning several times in my console. Doesn't stop anything from working as it's just a warning, but worth looking into.

[code]

[2017-07-25 17:10] lex111 commented on #164
This occurs [here](https://github.com/gitpoint/git-point/blob/master/src/components/section-list.component.js#L98). It is impossible to apply `color` to View, only to Text, apparently.

Why do you need a condition here, can not we just leave only a View?

[2017-07-25 17:14] andrewda commented on #164
Yup just found that @lex111 :+1: The problem is that we need a `<Text>` element if `title` is a string, because we'll get a nasty crash if we have raw text inside a `<View>`. We should only need the `padding: 15` style there, so I'm in favor of just getting rid of all the styles on that view and keeping only the padding.

[2017-07-25 17:19] andrewda commented on #58
That's great @Antoine38660! I think a new PR would probably be best so we can move discussion there :)

[2017-07-25 18:11] FlorianTaut opened #165 "Enhancement for Repository Language"
Hey,

i just got an idea how we could show the repo language.

I had the idea we do it just like Github does.

We add a small bar at the end of the grey bar at the top.
This bar contains the colors and just looks similar to the one Github uses:
![unbenannt](https://user-images.githubusercontent.com/18403881/28586814-3c6a0656-7175-11e7-8a29-54e43ac93a73.PNG)

When the user clicks on it we make a sm

[2017-07-25 18:26] andrewda commented on #165
That sounds like a really good idea!

[2017-07-25 19:25] FlorianTaut commented on #165
When I think over it..

A problem could or will be the space.

What if we have a repository with f.e. 8 different languages. With the colors it will be no problem but the text would be too long for the screen.

[2017-07-25 19:58] housseindjirdeh commented on #165
I definitely think this could look nice, but how are you envisioning it exactly? In the repository profile screen - a bar that goes at the very top where tapping it on/off shows all the languages? Just trying to think design wise if a bar that goes across the top part of the screen would look like it fit in the black repository profile component 🤔

[2017-07-25 19:59] housseindjirdeh commented on #164
While we have this open, there is another place that a warning pops up and that's in the `PullRequestDiff` screen. Currently there's a warning that keys aren't applied to a list and will appreciate if someone who takes this on can take a look there too 🙏

[2017-07-25 20:24] andrewda commented on #165
I was actually thinking that across the bottom might look better. Just a very thin line with the repository language colors. Maybe we could have a new screen open up when the line is clicked with a ScrollView of the different repository languages?

[2017-07-25 20:38] housseindjirdeh commented on #165
Hmm that's definitely an option, definitely don't want to addd _too_ much stack navigation if its not necessary but I do think it's cool to be able to show all the languages in the repo.

Before anybody embarks on this journey, will love to discuss mocked screenshots of how it might look if possible.

[2017-07-25 20:49] andrewda commented on #165
Yep totally agree. Would love to hear some ideas from others on how this could be improved!

[2017-07-25 21:09] housseindjirdeh opened #167 "Use async/await"
I think using async/await will be nice, should make things easier to digest in `api/index.js` 😊

Shouldn't be too much trouble to refactor everywhere in the app that uses promises to leverage `async/await` instead but will definitely take a bit of time.

[2017-07-25 21:20] #161 closed

[2017-07-25 21:52] FlorianTaut commented on #165
I mean at the end of the grey part. Marked it red in the screen

![Uploading IMG_0371.JPG…]()

[2017-07-25 22:33] andrewda commented on #151
I can't replicate this issue on iOS 10.0 or iOS 11.0 beta 2.

[2017-07-25 22:42] housseindjirdeh commented on #156
@andrewda yes that would be amazing <3

[2017-07-26 00:14] housseindjirdeh commented on #151
Neither can I :thinking:

Closing this for the moment, but please let's keep this discussion open @RogerAbyss - I really want to know if you're still seeing this issue

[2017-07-26 00:14] #151 closed

[2017-07-26 02:20] housseindjirdeh commented on #98
@mbijon I've put up a PR for a Privacy Policy screen in the app https://github.com/gitpoint/git-point/pull/169

Please feel free to take a quick look and let me know if there isn't anything else you think I can add/modify. I'll make sure it's included in the next app update + Android release.

[2017-07-26 02:32] #98 closed

[2017-07-26 02:36] andrewda opened #170 "Automatically publish releases with CodePush"
Whenever Travis builds a release, publish it to CodePush for immediate app usage. We might also want some way to turn this off for specific releases in case it contains native changes that require a real update.

[2017-07-26 02:43] housseindjirdeh commented on #170
Definitely something we should do. Just to clarify - this doesn't mean every time a build is triggered a new release is published correct? Is there a way to specify a specific build as a new release?

[2017-07-26 02:45] andrewda commented on #170
@housseindjirdeh Travis integrates super easily with GitHub releases, so we would just have to create one on the [releases page](https://github.com/gitpoint/git-point/releases), and Travis would run the CodePush script.

Also just realized CodePush makes it super easy for us to roll out updates to only users with a specific binary with the `--targetBinaryVersion "~1.1.0"` argument.

[2017-07-26 02:47] housseindjirdeh commented on #170
Awesome that would be perfect in that case - can't wait to have our next update out and _majority_ of code improvements updated on user's devices thanks to CI + CodePush magic :raised_hands:

[2017-07-26 03:25] housseindjirdeh commented on #51
Current progress

![currentprogress](https://user-images.githubusercontent.com/12476932/28603140-58b2238c-7190-11e7-871b-ee8a74337ecf.gif)

Will have a PR up for it tomorrow (needs a little more color I think :thinking:)

I'm thinking the slides will be in this order:
1. `Welcome`
2. `Notifications`
3. `Repository/User`
4. `Complete issue and pull request control`

Let me know if anyone has any su

[2017-07-26 03:33] andrewda commented on #51
Wow that looks awesome!

[2017-07-26 03:38] lex111 commented on #51
I would also list the main features, add more icons, and maybe make an animation?

[2017-07-26 05:10] housseindjirdeh commented on #51
Cheers thanks mateys @andrewda @lex111, yep plan on showing the main features in each of the slides with an icon for each. How are you envisioning an animation? I'm thinking a slowly bouncing logo might be nice so I'll play around with it :)

[2017-07-26 15:26] housseindjirdeh commented on #117
Agreed this would definitely be really nice to have.  So there's two things I think we should finalize before we start this:

1. Which languages do we want supported?
2. Do we have any volunteers who would be willing to write copy for those languages?

Just for some info, here are the regions of most downloads.

![image](https://user-images.githubusercontent.com/12476932/28629136-901480ae-71f4-11e

[2017-07-26 15:32] lex111 commented on #117
@housseindjirdeh sounds good! I'll do Russian translation :smiley:

[2017-07-26 16:05] RolfKoenders commented on #117
I can do the 'dutch' translation.

[2017-07-26 16:09] andrewda opened #171 "Missing repository in added collaborator event"
What GitHub shows:

![untitled](https://user-images.githubusercontent.com/10191084/28631410-fdad8ce0-71e1-11e7-8506-3bbb56b01e49.png)

What GitPoint shows:

![0](https://user-images.githubusercontent.com/10191084/28631426-09cb2bea-71e2-11e7-9628-2a3cd46d9117.jpg)

[2017-07-26 16:20] RolfKoenders commented on #171
I thought #149 would take care of that? Maybe its a different type of event?

[2017-07-26 16:26] andrewda commented on #171
Forgot about this, whoops. Looks like I was using the released version of the app and not my test version which is synced with master :laughing:

[2017-07-26 16:26] #171 closed

[2017-07-26 17:25] lex111 opened #172 "Checklist after launch Android version"
Based on #2.

The Android version is coming soon :muscle: - this is an important event :boom: after which you can advertise the application (links below). Then more people will know about us, which means there will be more new contributors and even more stars on GitHub :satisfied:

- [x] Update README.md + add new screenshots
- [x] Edit the description of the repository (also add labels: react-nat

[2017-07-26 17:38] housseindjirdeh commented on #117
Love you guys <3

Will have localization set up today or tomorrow hopefully 🙌

[2017-07-26 17:40] mbijon commented on #98
The screen & the text look good @housseindjirdeh. Thanks for jumping on something so dry very quickly.

Since the text of that is in the repo & the organization will hold to it regardless of the app version, our team is going to start using GitPoint ASAP.

Just as FYI, this doesn't need to be embedded in every client app if it becomes a pain or extra-effort to keep updated. Most of the organizatio

[2017-07-26 17:49] andrewda commented on #172
:heart: Thanks for making this checklist! I'm going to open some PR's to the three RN repositories listed here if that works for everyone?

[2017-07-26 18:01] lex111 commented on #172
@andrewda yes, of course, but only after the release of the Android version, because we could write that it already exists. What do you think?

[2017-07-26 18:04] andrewda commented on #172
@lex111 Sure works for me!

[2017-07-26 18:19] lex111 commented on #172
@andrewda I mean, it's not on Google Play yet.

[2017-07-26 18:57] housseindjirdeh commented on #98
Cheers thank you so much @mbijon, I'm the one who should thank you for proposing this _and_ letting me know exactly you would like to see in the policy.

I was seriously considering having it on the website and linking it through the app but I really think this is something important to have and I'm glad you brought up the discussion for it.

So happy your team can start using GitPoint. Please don

[2017-07-26 19:02] housseindjirdeh commented on #172
I was literally about to write a similar checklist on our gitter channel but this is amazing, thank you so much for this @lex111 literally 2 steps ahead <3

So when I launched GitPoint, my [tweet](https://twitter.com/hdjirdeh/status/884843522301603840) received the most attention by far (and the most traffic). But I also received a good amount from Product Hunt and Reddit. Unfortunately it didn't

[2017-07-26 22:05] RolfKoenders commented on #44
I assigned this issue to myself. Follow up message on the message above this one. Im starting on the actual API at this moment, the next phase is the deployment part and then the actual screens in the app. Follow the progress [here](https://github.com/RolfKoenders/gitpoint-api-docs)

[2017-07-27 03:22] #51 closed

[2017-07-27 04:35] #157 closed

[2017-07-27 07:29] FlorianTaut opened #175 "Show projects"
Hey,

It would be cool to show the projects of a repository.
We could at it at the same point where we added the releases.

Im not sure how much the API provides for projects but if it is not to hard to develop it would be very cool!

[2017-07-27 11:41] darecki opened #176 "Status Bar text color on Repository and User Profile Screen"
Status Bar text is black on a dark gray background. It's completely unreadable. We should either make it white or hide it completely if it's not relevant. The same issue is visible on the user profile page.
![repository](https://user-images.githubusercontent.com/3084606/28668606-e617a364-72d0-11e7-95d1-982f02404120.png)

[2017-07-27 13:54] darecki commented on #176
Unfortunately I found out that my implementation changes the status bar color for all the screens. The question is why is it happening that way?

[2017-07-27 14:56] andrewda commented on #176
I think there was some discussion around this in #4.

[2017-07-27 17:17] housseindjirdeh commented on #176
Thanks a million for logging this @darecki and getting some code up for it so fast :)

So I opened a similar issue for this exact thing #4 and the behaviour is weird unfortunately. Although adding the prop to`ViewContainer` should only change it for the current screen since it ties into the `StatusBar` API - it's how we defined navigation in the app that's causing this. The app works with a  [TabN

[2017-07-27 17:17] #176 closed

[2017-07-27 17:17] housseindjirdeh commented on #4
Looping @darecki to the conversation as he similarly tried to simply fix the issue by changing the status bars on the top screens of the stack (see #176)

[2017-07-27 17:33] darecki commented on #4
I noticed that when the Tab Bar is initiated it loads and renders all its' tab views one by one. The final result is the status bar color is the one defined in AuthProfile, as it is the last screen loaded. It seems that rendering a StatusBar component overrides any previously StatusBar rendered. You can even do things like:
[code]
which will render a view with only one status bar styled as "dark-c

[2017-07-27 17:51] andrewda commented on #101
Best way to go about this IMO is to poll each user's notifications feed every ~2 minutes and send any new notifications to OneSignal. Tell me if anyone has any better ideas tho!

[2017-07-27 18:19] andrewda commented on #101
Just contacted GitHub about the possibility of adding webhooks for users as that would make this all _a lot_ easier.

[2017-07-27 18:45] andrewda opened #178 "Use conditional requests for API requests"
https://developer.github.com/v3/#conditional-requests

Allows us to drastically cut down on the number of API requests we've made if there aren't any changes since the last time we accessed the endpoint.

[2017-07-27 22:09] Antoine38660 commented on #5
Can you assign me to this one? I think I'm ready after the `Submit new issue` feature.
I do things gradually 😄

[2017-07-27 22:12] Antoine38660 commented on #117
I can do the French translation 🇫🇷 😄

[2017-07-27 23:18] housseindjirdeh commented on #5
Absolutely 🎉 🎉 This is really needed in the app so thank you :)

[2017-07-28 01:42] patw0929 commented on #172
Just a friendly reminder, privacy policy page also be needed.

And about the analytics, I have some ideas. I used fabric.io & google analytics in my own apps, it also has react-native packages.

If anything I can help please let me know, I can do it at weekend.

[2017-07-28 02:04] housseindjirdeh commented on #172
#169 Privacy Policy is already in :)

Thanks so much @patw0929, I think I'll definitely ask about google analytics integration in the gitter channel over the weekend, appreciate it :pray:

[2017-07-28 04:44] SammyIsra opened #179 "Does not load all PR/Issue comments if there are too many"
When looking at the comments of a PR/Issue, there is a limit on how many comments you can see on the app. To see an example, find PR #132.

There doesn't seem to be a way to load more comments from the app.

[2017-07-28 14:18] andrewda commented on #179
This should be easily done with GraphQL

[2017-07-28 14:40] SammyIsra commented on #117
I can do Spanish!

On Jul 27, 2017 6:12 PM, "Antoine" <notifications@github.com> wrote:

I can do the French translation 🇫🇷 😄

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/gitpoint/git-point/issues/117#issuecomment-318501356>,
or mute the thread
<https://github.com/notifications/unsubscribe-auth/AIjAtBdS0OeGDv2229gDxQ1SXUR

[2017-07-28 14:48] housseindjirdeh commented on #117
🎉 🎉 You guys are awesome, I'm going to have it setup tonight if I have time. I want it out before our next update so we don't need to add native code when we decide to add the newer languages thanks to CodePush :)

[2017-07-28 20:31] andrewda commented on #101
Something else I'm looking into is setting up Firebase Cloud Function on a 2-5 minute cron job. We get 125,000 calls/month for free, which would be 2.89 calls/minute. We also have only 540 seconds to complete the call before it gets forcefully terminated.

Here's my thinking for the flow of how this would work:

1. User enables push notifications in settings.
    1. Username and FCM token are save

[2017-07-28 20:43] housseindjirdeh commented on #101
That sounds amazing @andrewda 🙌  I'm always impressed with how much Firebase provides for free. Even though costs can get steep with priced plans, they always have awesome free starting points. Appreciate you looking into this.

Couple of things I'm curious about:

1.
   1. What's an FCM token? (forgive me if this is a foolish question :P)
   1.  Yep definitely something we need to decide. If the

[2017-07-28 20:45] #58 closed

[2017-07-28 21:04] andrewda commented on #101
- FCM token = Firebase Cloud Messaging token - it identifies the user so we can send that specific user notifications in the future.
- Totally agree about the RSS feed. The only problem with it is that we would have to parse the RSS and decide what notifications to send to the user ourselves, as opposed to just going off of what the user already gets notifications about in their notification feed.

[2017-07-29 01:43] housseindjirdeh commented on #101
Hmm you're right it very well might be easier to leverage the user's access token in that case - let's decide at that point if storing the user token in a secure server is a viable option

[2017-07-29 03:08] andrewda commented on #101
It's also completely up to the user whether their token would be stored, and we would make it clear that the token would be immediately when the user disables push notifications.

[2017-07-29 03:10] andrewda commented on #101
Is there a way that we can get a separate token with only the notification reading scope? I think it would be fine if that only required another sign in from the user.

[2017-07-29 04:43] psicotropicos commented on #175
The projects [API](https://developer.github.com/v3/projects/) is here and is not hard to implement.
I'll would be happy to contribute with this implementation.

[2017-07-29 06:55] SammyIsra commented on #25
Since we are moving to GraphQL, this is worth taking a look at https://developer.github.com/v4/reference/mutation/addreaction/

![image](https://user-images.githubusercontent.com/8962228/28742863-4a371c7e-7409-11e7-8a50-0db479e7d410.png)

Also, getting the reactions seems also somewhat intuitive with GraphQL. Altho the end result seems a bit messy, but I am sure we can work with it!

[2017-07-29 08:00] lex111 opened #181 "Welcome screen change"
After the introduction of onboarding swiper in PR #174, the question arises, do you really need a welcome screen at all? After entering the application, you see this screen:

![image](https://user-images.githubusercontent.com/4408379/28743168-e044cb8e-744b-11e7-87d5-ee33f305eede.png)

But what's the point in it? I understand, so we welcome the user, I'm not against it, but maybe then let's make it

[2017-07-29 08:21] lex111 opened #182 "Strange behavior after logout"
After clicking on "Sign out", a browser opens with a suggestion to exit GitHub, but why? For example, do I just want to exit the application, not from the GitHub account?

![image](https://user-images.githubusercontent.com/4408379/28743281-022b36ea-744f-11e7-908d-42c73be394d6.png)

Just in that case, if I do not leave the account, ie. I just close the browser with a suggestion to sign out, and the

[2017-07-29 10:27] RolfKoenders commented on #25
That looks really nice @housseindjirdeh!

[2017-07-29 10:30] RolfKoenders commented on #175
Hee @psicotropicos welcome! We are open for all contributions, so go ahead! The only thing i'm wondering is: @andrewda Shall we wait till GraphQL is implemented before we start implementing this feature?

[2017-07-29 15:42] andrewda commented on #181
I think at one point we were going to show the privacy policy there, but that didn't get done.

[2017-07-29 15:44] andrewda commented on #182
If you don't sign out from the browser, when you sign in again GitHub will use your caches credentials. That means you wouldn't be able to sign in as a different user. One idea for fixing this is clearing the cache/cookies in the WebView, but I'm not sure how that can be done.

[2017-07-29 15:46] housseindjirdeh commented on #182
I know - it is strange and thanks for logging this as I was hoping to keep the discussion going.

So authentication in the app uses the [OAuth web flow](https://developer.github.com/apps/building-integrations/setting-up-and-registering-oauth-apps/about-authorization-options-for-oauth-apps/). User clicks sign in, is directed to GitHub on the browser where they need to type their user name and passw

[2017-07-29 15:47] andrewda commented on #175
@RolfKoenders If it can be done without GraphQL, go ahead and do it now! There are still some things that I'm working with GitHub on that the GraphQL API is missing, so it might be a while before it's fully implemented.

[2017-07-29 15:48] housseindjirdeh commented on #182
Yep just as @andrewda mentioned, if there's a way to clear cache/cookies that would be perfect. We're using [React Native Safari View](https://github.com/naoufal/react-native-safari-view) which is nicer than having an embedded `WebView` in the app _but_ I really don't know if it's possible to clear cookies/cache from within the app. And similarly - we'll need to find a solution for Android as well

[2017-07-29 15:57] housseindjirdeh commented on #181
Yep I was considering having the privacy policy there but decided that wasn't the best place to put it and felt it belonged more in the auth `user settings` section list of their screen.

So I initially built this screen specifically because I wanted the user `LOGIN.SUCCESS` to fire and complete before they're navigate to the app. For some reason I was running into an issue trying to immediately n

[2017-07-29 16:02] lex111 commented on #182
@andrewda @housseindjirdeh thanks for the detailed explanation! A difficult problem, but we need to look for solutions.

[2017-07-29 16:05] lex111 commented on #181
I would leave it, considering it as a user greeting, but with the user automatically navigates to the main application screen.

[2017-07-29 16:10] housseindjirdeh commented on #25
Thanks @RolfKoenders :)

Nice thank you @SammyIsra - with REST things were _quite_ messy and I really think this can be something we can integrate after we have GraphQL integrated.

[2017-07-29 16:11] housseindjirdeh commented on #25
That being said - looking at the documentation for API v4 I don't see a mention of reactions being in preview mode like it is in the REST docs. @SammyIsra do you know if we need a preview URL or something of that sort to access reactions with GraphQL?

[2017-07-29 16:24] housseindjirdeh commented on #101
I think that's a great idea. We may be able to leverage [Basic Auth](https://developer.github.com/v3/oauth_authorizations/) specifically creating a scope for notification and then clearing it when they disable again. If this happens to require an additional sign in, I'm okay with that as long as we briefly explain to the user why it's necessary (for improved security and so forth)

[2017-07-29 16:30] housseindjirdeh commented on #181
I like that, leave a message at the center of the screen with a loading indicator underneath and the user is automatically navigated when the call is complete :+1:

I'll get to this shortly :)

[2017-07-29 16:35] housseindjirdeh commented on #179
Ah this a good catch :+1:

So like most of the endpoints, it defaults to 30 per page and although with GraphQL this would be easier, we can add a filter it to 100 in the meantime. https://api.github.com/repos/gitpoint/git-point/issues/132/comments. Will put up a PR for this soon.

Note: Pull request comments are still not visible #6 and definitely something we need to integrate in the near future

[2017-07-29 16:50] andrewda commented on #25
@housseindjirdeh No developer preview header is needed for reactions in API v4, it's all implemented and standard 👍

[2017-07-29 16:56] andrewda commented on #107
We can get this from the GraphQL repository object: https://developer.github.com/v4/reference/object/repository/

[2017-07-29 17:15] housseindjirdeh commented on #25
OMG OMG OMG

Time to make the move to GraphQL :)

[2017-07-29 17:17] housseindjirdeh commented on #179
[Extended to 100 issue comments](https://github.com/gitpoint/git-point/commit/82fcd62c281ac61ac09f1975841a85f7d57c9736)

[2017-07-29 21:20] alejandronanez opened #185 "Show if a user is watching a repo or not"
After merging #184 you should be able to tell if you're watching a repo or not, it will be good to add a visual indicator for it.

[2017-07-29 23:39] zcei commented on #158
Sadly, the underlaying [`UIAlertAction`](https://github.com/facebook/react-native/blob/master/Libraries/ActionSheetIOS/RCTActionSheetManager.m#L102) class (for iOS) only supports [custom images via an undocumented property](https://gist.github.com/AppleBetas/6d707e244680e2f071c09e1c9dcf478f). This is what [`react-native-actionsheet`](https://github.com/beefe/react-native-actionsheet) uses internal

[2017-07-30 00:01] housseindjirdeh commented on #158
Thanks a million @zcei :raised_hands: I think that icon should suffice just fine in that case

[2017-07-30 00:21] #181 closed

[2017-07-30 16:19] alejandronanez opened #187 "PoC for Immutable - Reselect"
I'm creating this issue to keep track of the PoC with Immutable + Reselect, will add those to a small part of the app to see what everybody thinks.

[2017-07-30 19:34] housseindjirdeh commented on #187
Looking forward to it matey, any help please don't hesitate to ask :raised_hands:

[2017-07-31 18:23] #103 closed

[2017-07-31 18:26] #56 closed

[2017-07-31 23:59] housseindjirdeh commented on #114
Thanks for your awesome fix @Antondomashnev - this is good to close :)

[2017-07-31 23:59] #114 closed

[2017-08-01 08:49] loretoparisi opened #188 "ERROR Error watching file for changes: EMFILE"
[code]

I solved this

[code]

but I'm not sure that is the right way.

[2017-08-01 09:35] loretoparisi opened #189 "error: bundling failed: "Unable to resolve module `config`"
I can run on simulator via `yarn`, but through **Xcode** on device I get this error:

[code]

A link to known issue https://github.com/facebook/react-native/issues/4968 is provided in the logs.

I have tried `rm -fr $TMPDIR/react-*` but it does not work. The other suggestion was `yarn start:ios -- --reset-cache` but this to run on simulator.

[2017-08-01 10:04] loretoparisi commented on #189
I have cleaned everything, removed the app on the **simulator** and I tried again:

[code]

The **simulator** worked.

**NOTE**. Have an existing app on the device will cause the `red screen` seen in this bug in a fresh install. Cleaning the app from the **simulator** will fix this.

Then I have opened **Xcode** on `git-point/ios/` iOS project and run on the device. The first run it works. From th

[2017-08-01 14:10] housseindjirdeh commented on #188
Hi @loretoparisi 👋

Are you using macOS? IF that's the case you do [need to install watchman](https://facebook.github.io/react-native/docs/getting-started.html#node-watchman) so I think you did the right thing :)

[2017-08-01 14:14] loretoparisi commented on #188
@housseindjirdeh yes thanks closing this then!

[2017-08-01 14:14] #188 closed

[2017-08-01 17:07] lex111 opened #190 "Commit message conventions"
Let's try? What are some thoughts on this subject?

Useful links to explore:
https://conventionalcommits.org/
https://github.com/kazupon/git-commit-message-convention
https://github.com/marionebl/commitlint

[2017-08-01 17:18] andrewda commented on #190
All for it! My personal format is just in a sentence, present-tense, imperative-style. For example, I do `Change this feature` instead of `changed this feature`.

In bigger projects, though, I can definitely see the need for more detailed commits including change type. I really like https://github.com/marionebl/commitlint but I'm not a fan of the other one because of the enforced emojis in commit

[2017-08-01 19:09] lex111 commented on #190
We need to discuss this, including versioning conventions. I suggest also to add a new label - `under discussions`.

[2017-08-01 20:17] RolfKoenders commented on #190
Interesting points indeed. I'm all for a convention on commit messages. We should also consider a issue/pr template file.

[2017-08-02 03:59] housseindjirdeh commented on #189
Thanks for logging this @loretoparisi 🙌

Have you tried running these [steps](https://github.com/gitpoint/git-point/blob/master/CONTRIBUTING.md#troubleshooting) and were you still seeing the issue? And now does the app only work when you build from XCode and not by running normally through the terminal? That's definitely an issue and we'll find out why that's happening if that's the case.

[2017-08-02 04:02] housseindjirdeh commented on #190
_Definitely_ for this.

Okay so I think we're all on board to have:

1. A commit convention. How can we enforce this? Or can we just include it into our contributing guidelines for newer contributors?
2. Versioning conventions is definitely something we need to consider. Again, we'll need to keep in mind CodePush can't take care of native code updates, so maybe we can revolve major updates around

[2017-08-02 04:07] andrewda commented on #190
@housseindjirdeh I've contributed to repos with pre-commit hooks that enforce the commit style. I'd like to see how we could do that.

[2017-08-02 04:22] housseindjirdeh commented on #190
@andrewda awesome :) I was just wondering if that could be done with ore commit hooks - definitely think it would be great to have!

[2017-08-02 14:42] zcei commented on #158
Fixed in https://github.com/gitpoint/git-point/commit/023c7f4ae52694f75a1bc9748b072f6f66687b0a

[2017-08-02 14:52] housseindjirdeh commented on #158
Was just about to tag the commit :) Thanks @zcei appreciate it!

[2017-08-02 14:52] #158 closed

[2017-08-02 15:17] lex111 commented on #190
So we follow the format of the commits messages, [as in Angular](https://github.com/angular/angular.js/blob/master/CONTRIBUTING.md#commit), do I understand correctly? Although I'm not familiar with this, but let's try :+1:

[2017-08-02 15:42] andrewda commented on #190
@lex111 it's the style Google uses on almost all their repos and it works pretty well!

[2017-08-02 17:08] zcei commented on #187
Out of interest: what do you mean "Immutable"? [Immutable.js](https://facebook.github.io/immutable-js/)?

Wondering whether that's really necessary when already utilizing `redux`, which embraces immutable data structures, but with the plain vanilla js data types.

👍 for `reselect`

[2017-08-02 23:25] housseindjirdeh commented on #98
A web based version of the privacy policy is [now available](https://gitpoint.co/privacy-policy/). If we update the content on the policy, we may streamline this to a single location and just link to the website in the app :)

[2017-08-03 11:42] FlorianTaut commented on #175
Is somebody already working on this?

[2017-08-03 11:43] FlorianTaut commented on #175
Is somebody already working on this? I would take a look on it when I come back from my holiday in Italy ☀️

[2017-08-03 11:47] FlorianTaut commented on #107
I would take a look at this to when I come back from my holiday, is that okay @andrewda

[2017-08-03 12:27] psicotropicos commented on #175
@FlorianTaut I will work on this, but I'm a little busy at the moment. So go ahead, we can work together

[2017-08-03 14:33] #190 closed

[2017-08-03 14:36] housseindjirdeh commented on #185
@zollero are you suggesting that we should show a list of the repositories that the user has starred?  There's an open issue to show the number of stars a user has given #129 - getting the star count isn't too trivial so I don't know how easy it would be to show the list of repositories (but definitely open to having an issue for that where we can discuss).

Also are you thinking of functionality

[2017-08-03 18:51] alejandronanez commented on #187
Yes I meant Immutable.js, with it we can have some nice _models_ + will be forced to manage immutability (no risk of mutating the state at all)
Redux needs immutability but there's nothing stopping you from mutating the state.

[2017-08-03 22:07] jstrobel opened #196 "README Font"
When i open a README file (not md) the font doesn't look like the other fonts used in the app.

[2017-08-03 22:08] jstrobel commented on #196
![img_8142](https://user-images.githubusercontent.com/1428396/28945985-0da9ad36-78a9-11e7-9797-48126c3ead1e.PNG)

[2017-08-03 22:13] jstrobel opened #197 "Images in Issues"
A nice feature would be, when i can upload images in issues and when they were shown. Actual images are shown with the word: "image".

[2017-08-04 00:40] housseindjirdeh commented on #197
Thank you, and agreed! I definitely would like to see this before the next update :)

Thanks for logging this mate 🙌

[2017-08-04 01:21] lex111 commented on #182
Oh, the unpleasant thing I have now is: I sign out the application, got out also from the profile in the browser on GitHub, and when I try to go back to the application, it fails :(
At the same time, there was no logout from the application, i.e. the event screen is displayed, not the login screen.

I had to reinstall the application, it's annoying. However, in the emulator, there is no fall, ever

[2017-08-04 01:35] lex111 commented on #190
Now we need to do releases and in fact we have `0 releases`.

[2017-08-04 08:19] zcei commented on #187
Mhm I like the idea of clearly defined models, just never saw the purpose of putting more overhead on top of the plain types. But yeah, it puts more responsibility on the contributors.
(Otherwise one would likely put its own layers on top, like `joi` schema validation.)

Thank you for the clarification!

[2017-08-04 13:07] Antoine38660 commented on #190
I'm working on the issue #5 and I already some commits without this style :innocent:
What's going to happen?

[2017-08-04 13:11] Antoine38660 commented on #196
Hey @jstrobel you're right. This one is already logged here : #85  :smile:

[2017-08-04 13:17] Antoine38660 commented on #122
Is it always very slow even with a `release APK`? I can look around the syntax highlighting module

[2017-08-04 14:25] housseindjirdeh commented on #196
Cheers thank you @jstrobel - we'll definitely find out why styles aren't being rendered here before our next update. Closing this since we have the duplicate :)

[2017-08-04 14:25] #196 closed

[2017-08-04 16:20] andrewda commented on #190
Nothing will happen, probably (unless you need to do some big rebasing). Just use the style in your PR title and everything should work fine.

[2017-08-04 19:38] housseindjirdeh commented on #2
### [The Android version is now available on Google Play](https://gitpoint.co/android-launch/) 🎉 🎉 🎉 🎉

<p align="center">
<img src = "https://user-images.githubusercontent.com/12476932/28984163-957af3d8-792a-11e7-9398-e0b9fda1d04f.png" width=250>
</p>

Try it out, let us know what you folks think! We appreciate the patience and we're beyond happy to have it up and available for everyone to use.

[2017-08-04 19:38] #2 closed

[2017-08-04 20:19] AndonyNS commented on #2
This is awesome! Great work!!

[2017-08-04 22:21] jstrobel commented on #196
Sorry haven't found the other one on my search.

[2017-08-05 10:30] mathieutu opened #199 "Can't sign in with android"
Hi.
Thank you for the android version, I was waiting for it!

Unfortunately, I can't pass the sign in step.
The click on button doesn't do anything.

I'm on Samsung Galaxy s6, android 7, official rom.

If I can help you with some logs, I'll be glad to.

Thanks for your work.
Matt'

[2017-08-05 12:27] introwit commented on #199
@mathieutu cross checked on my android and it works. When you click on the sign in button it opens up the browser rather than using the in app web view (an improvement I will suggest in the coming days). So I guess the browser isn't firing up. Do you have the latest chrome installed on your phone? If yes you can clear Chrome's cache, force-stop it and retry after few minutes. Let me know if that w

[2017-08-05 13:31] introwit opened #200 "Non-aligned text on the home screen"
- It would be great if the text is aligned as shown below in the image.
- The all of a sudden bulging text on the left looks odd & messy creating a bad experience.
- Aligning the text as shown would make it look neat & even.

![gpi](https://user-images.githubusercontent.com/11228182/28995796-451a7242-7a10-11e7-9d2c-104053b74fac.jpg)

PS: Please ignore the editing, did that on my phone :smile:

[2017-08-05 14:02] lex111 commented on #200
It seems to me, so it was conceived, that for the text all available width was taken away. I see it so: the `header` is the avatar and the information about the event and the `body` is the text of the event. I would leave it as it is, because then there will be a lot of free space, whereas now everything looks rather harmonious.

[2017-08-05 14:25] introwit commented on #200
- Some free space is needed to let content breath and make it readable for the user.
- When your text is left aligned, a straight left edge appears. Users can read each line by simply moving their eyes to the left edge each time. This makes your paragraphs faster and easier to read because the user’s eyes don’t have to work as hard to find where the line starts each time.

[2017-08-05 14:35] lex111 commented on #200
Well maybe, possibly I'm just used to how it looks now.

[2017-08-05 14:42] introwit commented on #200
I know, that's why I am bringing the perspective of how fresh eyes would want to look at it to the table :innocent:

[2017-08-05 14:45] AndonyNS commented on #199
Hi! I was able to sign in from my Android device. I would try also with another browser and make it the default to check if it is a browser thing or from the app. It may help if some else has the issue. I'm on Android 7.1

[2017-08-05 16:56] housseindjirdeh commented on #199
Thank you so much @AndonyNS @introwit :)

Thank you @mathieutu - we're so happy to have the Android version finally released as well! I can't reproduce the issue as well however- it's the sign in button on the onboarding swiper screens that doesn't seem to do anything correct? Let us know if changing the default browser on your device works, if it doesn't don't worry we'll figure out what's going

[2017-08-05 16:59] AndonyNS opened #201 "Crash when commenting on issue"
I was commenting on an issue and the app crashed. I then came back and posted the message again and it worked. I don't know if you have something like crashlytics with the app but I couldn't reproduce it to make it clearer

[2017-08-05 17:02] andrewda commented on #201
Yep, I noticed this too. Not sure what the problem is.

[2017-08-05 17:07] housseindjirdeh commented on #201
Ah thanks folks. Would you happen to know which `issue` this error happened - I hope I can reproduce this locally to figure out what's going on (I have a strong feeling [this is culprit](https://github.com/gitpoint/git-point/pull/160#discussion_r129202004)).

[2017-08-05 17:08] housseindjirdeh commented on #196
@jstrobel no worries at all - there are a _bunch_ of issues so no need to apologize, I have a heard time finding issues on search at times :)

[2017-08-05 17:09] rkkautsar opened #202 "Code renders without newline in markdown"
I'm writing this on GitPoint so I can't upload a screenshot, but I got no-newline code when I open keajs/kea readme, for example

[2017-08-05 17:10] housseindjirdeh commented on #200
Thanks for this @introwit, I too actually like the way it is currently as @lex111 mentioned _but_ I definitely see how aligning things might make more sense to keep things consistent.

Would love to get other people's feedback on this - suggestions/opinions are welcome 💬

[2017-08-05 17:49] rkkautsar commented on #202
[keajs/kea](https://github.com/keajs/kea)

![Screenshot](https://lh3.googleusercontent.com/XCD9K-e-IXqhmQvgyj3txlvfSsLgP2chzkLlim3wY5f96R3pzhU8RGzTNlAXqeLTE70905L15QmN_EnzO8FfKMTVy1tgNZGTuA8y3YxwRCWiaWeSjzd1qzkf3MD332pLw4SzPYdKYf0lbihSjDxkyFZkmfhCoecRrYrg2YUWgoTWrV9IFwT_6VH5SL4_Ax0EuiieVR1qqnejJ_AmE2G-Cp89gGSf2hhHrzNuCj1Xbzgm-9XVXccyMVp6wbAPY3NrysqIOiqrk0hJPIVFGmI-GD5SZK5umtE7diEtdkhwe-yM_w97hFwL8

[2017-08-05 20:47] lex111 opened #203 "Error reporting"
Maybe you should consider using logging about errors? It is useful to understand, to be aware of the fall of applications from users who install it. For this, there is Sentry or Bugsnag.

[2017-08-05 20:48] lex111 commented on #182
ping @housseindjirdeh

[2017-08-05 20:57] lex111 opened #204 "Use GitHub releases"
To discuss versioning and releases. How to use it correctly?

Link: https://help.github.com/articles/creating-releases/

[2017-08-05 22:16] IzzySoft commented on #204
A few items coming to my mind:

* whenever doing a release (e.g. for Playstore), create a new tag
* name the tag `v<version>` (e.g. `v1.2.3` for version 1.2.3) and have the version matching the `versionName` in your Manifest – that's the most common way it's dealt with here at Github (and one of the requirements for F-Droid inclusion, if you plan that)
* attach the `.apk` file to the tag, so folks

[2017-08-05 22:24] andrewda commented on #204
Also create a commit bumping the version number and tag that commit as the release.

[2017-08-05 22:36] IzzySoft commented on #204
And do not forget to increase  the `versionCode` with each new release (not Github related, but still important – otherwise Android will not recognize it as new version).

[2017-08-06 02:50] RolfKoenders opened #205 "Repositories on profile page not mine"
I have an issue with the repositories shown on my profile page. It's showing 32 which is correct. When i click on 32 its listing 33 repositories where i have push access to in alphabetic order, but it's not showing the ones I created.. and those are the ones I want to see / expect there. _I created this issue through the app and it's a bit annoying I cannot insert new lines.._

[2017-08-06 04:16] lex111 commented on #204
As an example, I like how this is done in [mattermost](https://github.com/mattermost/mattermost-mobile/releases). As @IzzySoft wrote, there are also links to the download of the application for both platforms (it may not be necessary, but I do not like it). But at them it is automated through [fastlane](https://github.com/fastlane/fastlane) (as I correctly understand). Can we also try this tool?

[2017-08-06 04:18] housseindjirdeh commented on #204
Thanks so much folks. I'm going to have to apologize here, with the rush of trying to get platform releases out to the public I should have taken a step back to make sure releases were being applied here.

Thanks so much @IzzySoft - I agree with everything you suggested. I just created our first release to match the version name of the current Android release (v1.1). Unfortunately because iOS was

[2017-08-06 04:24] housseindjirdeh commented on #204
@lex111 I just added the `.ipa` file thank you 🙌

I actually tried to use `fastlane` for streamlining the build and archive process from the very beginning and for some reason it never seemed to work as I expected it to. Decided to go with the manual path of running builds and archiving and I'm okay with that at the moment. However definitely open to further exploring `fastlane` once more to make

[2017-08-06 04:25] housseindjirdeh opened #206 "Cannot add new lines when writing issue comments"
Feels weird that pressing return immediately posts the issue comment and there seems to be no way to insert new lines 🤔

[2017-08-06 04:28] housseindjirdeh commented on #205
Haha inserting new lines is something I struggled with as well 😂 Thank you for mentioning that here I just opened an issue for that: #206

And thanks for this, we'll find out why this is happening and it's again most likely due to our check for `push` access specifically for the authenticated user's repositories.

[2017-08-06 04:30] lex111 commented on #204
@housseindjirdeh Definitely, we need to look for ways to automate the process of releases, or make a checklist, how to do it. I also like the idea of keeping a list of changes. It was great if in the release description (or in a separate file CHANGELOG.md?) it was written what was changed. This information probably can be displayed in the version notes (what's new) on Google Play and the App Store

[2017-08-06 04:33] housseindjirdeh commented on #182
Hmmmmmmm interesting. I've never noticed this in iOS but I actually haven't tried signing out on Android yet :O

Will give it a shot tomorrow in the emulator and let you know. _Definitely_ something we ned to correct if it's reproducible. Apologies you had to end up uninstalling the app and reinstalling as a workaround 😞

[2017-08-06 04:39] lex111 commented on #182
Just in the emulator there is no such :confused:

It is necessary to check on the real device, maybe this is just me such a problem.

[2017-08-06 08:49] henrikra commented on #101
This feature would be golden! 🥇

[2017-08-06 09:42] IzzySoft commented on #204
Thanks for the kind feedback, @housseindjirdeh ! To further encourage you, I've made your app [available in my F-Droid repo](https://apt.izzysoft.de/fdroid/index/apk/com.gitpoint) (while dependencies on proprietary components, here GMS and Firebase, wouldn't permit its inclusion in the official repo, regulations for mine are a little less strict). Updates will be available there within ~24h of you

[2017-08-06 11:03] lex111 commented on #206
@RolfKoenders how I understand this problem is relevant only for Android? This is similar to the RN bug, see details in [#12717]( https://github.com/facebook/react-native/issues/12717)

In the Android emulator, this problem can not be reproduced, because the standard keyboard is used there, but if it is not used, the addition of new lines does not work, instead a comment is sent.

On iOS, I do not

[2017-08-06 15:34] housseindjirdeh commented on #182
Oh really eh? Okay unfortunately I don't have the Android device I was using earlier today but should have it for testing in a few days. Will run through the sign out flow then but in the meantime - will appreciate if anyone with an Android device can try and reproduce this/

[2017-08-06 15:39] FlorianTaut commented on #200
I think it's better as it is at the moment than the opportunity suggested by @introwit

[2017-08-06 15:41] housseindjirdeh commented on #206
True that issue only seems to reference Android but I was actually experiencing it on my iPhone. Pressing `return` just sends the post instead of adding a new line.

I'm okay with having two separate issues if the problem is platform specific 👍

[2017-08-06 15:43] lex111 commented on #206
@housseindjirdeh on iOS it is possible to change the standard keyboard, as on Android?

[2017-08-06 15:44] tautf opened #212 "Show issue events"
Hey guys,

What about adding the issue events and pr events to gitpoint?

![img_0494](https://user-images.githubusercontent.com/18403881/29004836-ab46b01c-7ace-11e7-9fa6-e25e34f34829.PNG)

So anybody knows who added the labels und requested the views and stuff.

Found this area in the api docs, that should be what is needed: https://developer.github.com/v3/issues/events/

[2017-08-06 15:56] FlorianTaut commented on #24
I have to options how it looks possible and smooth to me:

- What  about enabling this by holding the comment for about 3 seconds then show the opportunities.
- What about show 3 small dots in the right top corner and then show the opportunities.

What do you think @housseindjirdeh

[2017-08-06 16:08] introwit commented on #200
One needs to adapt according to the platform. Rather than writing reasons I would love if you all can spend time in other apps like twitter, YouTube , etc. and can notice the consistency yourself. If you already use such apps you would surely be able to differentiate.

[2017-08-06 16:25] ftaut opened #213 "Milstones instead of Projects/Roadmap"
Disscussion: What do you think about switching to milestones instead of the Project: Roadmap

[2017-08-06 16:25] FlorianTaut opened #214 "Milstones instead of Projects/Roadmap"
Disscussion: What do you think about switching to milestones instead of the Project: Roadmap

[2017-08-06 16:27] FlorianTaut opened #215 "Issue is created twice when having slow internet"
Hey, as you can see at #213 and #214 the issue has been created twice because I'm in Italy and have a slow internet connection.

[2017-08-06 16:38] #214 closed

[2017-08-06 16:39] andrewda commented on #213
I usually use both – milestones for releases and projects for more broad goals, like getting a certain feature to work properly.

[2017-08-06 17:35] FlorianTaut commented on #213
@andrewda that Sound good for me too

[2017-08-06 18:22] RolfKoenders commented on #206
@lex111 Im using iOS. And yeah its possible to change the behavior of the 'return' key, at least native. Probably with react-native as well.

[2017-08-06 18:24] RolfKoenders commented on #182
I can try it maybe on my friends nexus 5x tomorrow to see what happens. Will let you know!

[2017-08-06 18:25] RolfKoenders commented on #215
And you only clicked the submit button once?

[2017-08-06 18:28] FlorianTaut commented on #215
No I clicked twice because I thought it wasn't clicked yet. Maybe we should catch the "Submit"-Signal and than disable it for 30 seconds so only one issue is created. What do you think @RolfKoenders

[2017-08-06 18:28] RolfKoenders commented on #203
I was thinking about that a few days ago but forgot to log it. It would be really helpful because probably more then 50% of the crashes/issues are being logged, if we see a pattern on a crash we can react upon it. And like you said, can gives us some insights in what happened.
:+1:

[2017-08-06 18:30] RolfKoenders commented on #215
Disabling the button when its making a request is something we could definitely add and will probably help with this. It will be enabled again if there was a network timeout. I actually can't remember if there is a loader or spinner shown when the submit button is pressed, that also gives the user the feeling that there is something going on and may prevent the user from clicking again.

[2017-08-06 18:35] RolfKoenders commented on #200
I like the design suggestion from @introwit although we have less characters to display. I agree that it looks much better to the eye also for reading. This is actually a common pattern in other apps like you suggested. I like it! :100:

[2017-08-06 18:36] lex111 commented on #206
@RolfKoenders ie you created the issue #205 through iOS? So, I was wrong, thinking that this is a problem of inserting new lines only on Android. I just have Android, and there's a non-standard keyboard, and I did not insert new lines either, I fixed it in #207, but this only applies to Android.

And my question was not about changing the behavior of `return` key, but changing the _keyboard_, for

[2017-08-06 18:37] RolfKoenders commented on #206
@lex111 Oh sorry, i misunderstood. Yeah its possible to change 'keyboard' i tried with the native 'dutch' & 'english' keyboards and also with the Giphy keyboard :see_no_evil: but i had no luck of new lines :disappointed:

[2017-08-06 18:49] IzzySoft commented on #204
@housseindjirdeh

Yeah – right now. Please check `versionCode` and `versionName` of the latest release :scream: Can you please replace that with the proper `.apk` file? :wink:

[2017-08-06 19:06] lex111 commented on #206
@RolfKoenders but just on a standard keyboard, is there such a bug? It's strange, just on iOS should be all right, because there were problems registered only for Android, I'll look again, but I can not check :confused:

[2017-08-06 19:28] JayBizzle opened #217 "Not displaying all PRs or issues"
Not sure if this has already been mentioned, did a quick search but found nothing, so apologies if this is a dupe....

# Current PRs on laravel/framework...

![screen shot 2017-08-06 at 20 24 28](https://user-images.githubusercontent.com/340752/29006318-57626ec0-7ae5-11e7-81dd-a992458a454f.png)

# App currently only displays the following in the app...

![screenshot_2017-08-06-20-23-09-105_com git

[2017-08-07 04:30] housseindjirdeh commented on #204
Oh I'm sorry, I was sure I uploaded the exact same `.apk` that went up to the play store. What's the issue exactly? That the repo release represents `1.1.0` and you're seeing versionName of `1.0`?

The current apk on the play store is like [this](https://github.com/gitpoint/git-point/commit/3f2e05afeb07c5412ad0a76b02ae32830442dc01#diff-dc46f9f5dfe204e394fb41395ccd03cfR102). Will make sure to use s

[2017-08-07 04:32] housseindjirdeh commented on #200
@introwit thank you but I'm sure everyone here spends a decent amount of time on different platforms. Design isn't black and white - there can be different opinions :)

I happen to prefer the former look of things but we seem to have some mixed opinions :O. @andrewda , @alejandronanez , @patw0929, @Antoine38660  will love to get your quick inputs on this. If majority leans one way we'll go with th

[2017-08-07 05:55] andrewda commented on #200
Not sure how I feel, tbh. I could really go either way. I think making them unaligned emphasizes that the text is the body of the issue and not an extension of the title, but I can also see how aligning them makes it look slightly more clean.

This should be like 2 lines of code changes max, so I'd love to see someone make a PR if possible with screenshots of what this might actually look like. Th

[2017-08-07 06:11] IzzySoft commented on #204
As pointed out: the `.apk` attached to v1.1.0 shows up with versionCode=1 and versionName=1.0, so it cannot be placed next to the real v1.0 in the repo. Also, if I'd remove the previous version so there's no duplicate, it would still show up as v1.0, not v1.1.0, which would be very confusing for users. And more, if anyone already had v1.0 installed, it would not show up as update.

[2017-08-07 07:46] FlorianTaut commented on #215
@RolfKoenders there is nothing shown to the users. Because the click isn't really visible because the onclick "color change" is just in a light grey and not really got recognize

[2017-08-07 12:28] mathieutu commented on #199
Yes this is this button.
I have [Firefox](https://www.mozilla.org/en-US/firefox/android/) last version.
I'll try to change it and re test (but anyway, I shouldn't do that for a normal use).

[2017-08-07 12:48] mathieutu commented on #199
Ok, I've found it.

When I remove Firefox from default browser, the signIn redirected me on another git app I had on my device (fasthub), and its internal browser. I wasn't able to press the github "authorize" button (stay deactivated).

I've uninstalled it, and now when I press signIn, I'm going to firefox, and no problem to signIn.
I've re setted Firefox as the default browser, and no problem.

[2017-08-07 17:58] RolfKoenders commented on #24
Does this include adding labels and or assignees / reviewers? That would be really helpful as well.

[2017-08-07 18:12] housseindjirdeh commented on #24
@FlorianTaut I think both options are amazing. I think having both would be awesome :heart_eyes:

I think we can start with the 3 small dots approach and when tapped - it opens an action sheet with all the options (Edit/Delete comment). We'll need to make sure that people with admin access on a repo can `edit and delete` anybody's comment in a thread but can only edit and delete theirs on reposito

[2017-08-07 18:13] housseindjirdeh commented on #24
@RolfKoenders GitPoint already has that functionality for issues in a repository you have access to :) Little cog icon top right of the issue screen!

[2017-08-07 19:25] RolfKoenders commented on #24
@housseindjirdeh wow, i didn't even notice :sweat_smile: oops.

[2017-08-07 20:15] frodinm opened #219 "GitPoint has stopped"
I found a bug when attempting to understand issue #109 . I was able to make the app crash 3 times using similar sequences of actions.

Video demonstration
https://youtu.be/twoeLb9rhXU

Are we able to force close the webview window one the signout call is done?

[2017-08-07 20:52] frodinm commented on #219
The first time i encountered this bug it was on the development app, which gave me this error screen :
![screenshot_20170807-151855 2](https://user-images.githubusercontent.com/24626633/29045215-ba0cef36-7b90-11e7-8a02-315f5f36d110.jpg)

I dont think the webview is the issue here anymore.

[2017-08-07 21:07] FlorianTaut commented on #24
@housseindjirdeh sounds good for me! I would take a look at it when I come back from my holidays on Wednesday if that's not to late yet

[2017-08-07 21:15] housseindjirdeh commented on #24
@RolfKoenders haha that's a little surprise for you :)

@FlorianTaut Enjoy your vacations and take as _long_ as you need my friend, will never be too late

[2017-08-08 02:10] alejandronanez commented on #187
You're welcome @zcei, we'll see how it goes.
Does Joi enforces Immutability? I have no experience with it.

[2017-08-08 08:19] lex111 commented on #219
https://youtu.be/twoeLb9rhXU

@frodinm thanks for the demo! This bug has already been described in #182.

[2017-08-08 08:25] FlorianTaut commented on #215
@RolfKoenders we could show a loading spinner till the result of the POST is there. What do you think

[2017-08-08 09:15] gsabater opened #220 "Any plans on implementing Wiki?"
Hi, would be very awesome to finally find a github app that lets us edit repo wiki pages with markdown.

Keep with the good job!

[2017-08-08 09:43] zcei commented on #187
The `joi` objects and methods themselves are immutable, but I don't think they enforce it on the objects that are checked. That was more for the "clearly defined model" part.

If you're really scared people would mutate the state, in development one could [freeze the state tree](https://github.com/buunguyen/redux-freeze) (which for performance reason should never be a production middleware 🙂 ).

I

[2017-08-08 11:07] introwit opened #221 "Implement use of the in-app web view on Android"
**Current process:**
- Right now, when a user clicks on the `Sign In` button, the browser is fired up and the user needs to complete the GitHub authentication in the browser window.

**Problem:**
- In the practical sense using this flow, GitPoint is dependent on an another app to let users start using it.
- This creates problems for our app which are out of our own control.
- What if the browser d

[2017-08-08 13:33] frodinm commented on #219
oh prefect :smile:

[2017-08-08 15:10] umarmughal opened #222 "GitLab"
It supports GitLab or not yet?

[2017-08-08 15:16] rkkautsar opened #223 "Handle "[user] made [repository] public""
Currently the event is wrongly shown as "[user] [missing {(payload)} value] issue [repository]"

[2017-08-08 15:36] FlorianTaut commented on #222
@umarmughal at the moment not.

[2017-08-08 15:37] #200 closed

[2017-08-08 16:04] andrewda commented on #220
This is an interesting one. Wiki's are just git repositories that are made up of markdown pages. If we decide to implement this, it would definitely go alongside making commits in regular repositories.

[2017-08-08 16:09] andrewda commented on #222
I don't expect this app to work with GitLab (or BitBucked, etc.) simply because it would require _a ton_ of changes to the API and managing notifications and an events screen between both would be very challenging. This isn't a mobile git client, it's a mobile GitHub client.

That being said, I'm not sure where @housseindjirdeh stands on this. It would be doable to implement GitLab _eventually_, b

[2017-08-08 16:14] andrewda commented on #221
Not sure if this is about what we want: https://github.com/lucasferreira/react-native-webview-android

[2017-08-08 18:36] housseindjirdeh commented on #223
Thank you, this is on the events page correct? Looks like one of the translations is missing a payload parameter :)

[2017-08-08 18:39] housseindjirdeh commented on #222
Thanks for asking @umarmughal :)

@andrewda I couldn't have said it better myself. I agree that it would be _amazing_ to have GitLab and BitBucket support in this app and the ability to switch between accounts but the amount of work required would be tremendous. It's something I thought of when I first built the app but it's not something I think we should think of doing anytime soon, especially s

[2017-08-08 18:42] housseindjirdeh commented on #221
I was looking for something _exactly_ like this. I agree - opening a separate application to allow the user to login is definitely not the smoothest flow :)

Opened a separate issue to address this earlier #109 but will close that one and leave this open. @introwit thank you, and not at all please don't hesitate to leave as many alternatives as you like!! The more we discuss, the more we discover.

[2017-08-08 20:09] andrewda opened #224 "Change ordering of repository actions"
At the moment, the order goes:
- `Star`
- `Fork`
- `Share`
- `Watch`

`Share` is the only one that's different from the others in that it doesn't take any action on the repository itself. It would be good to move `Share` to the bottom, beneath `Watch` to organize them correctly.

Probably best suited for another PR, but maybe take away the emojis from the Repository Actions menu. Until we get a wa

[2017-08-09 12:11] sasongkoadi commented on #159
is this issue still open? @housseindjirdeh

[2017-08-09 13:44] dzulfahmi commented on #212
Hallo, I'm interested with this issue. Can I help you?

[2017-08-09 16:39] lex111 opened #225 "Unexpected reload the app"
Using an application on Android, I encountered one unpleasant thing: with active use, the application suddenly restarts, without displaying any error.

I tried to shoot a video, what actions lead to this, it turned out not a complete video because when the GitPoint reloads (crashed), [application for record video](https://play.google.com/store/apps/details?id=com.mobeyoapps.screenrecorder) cease t

[2017-08-09 16:46] lex111 commented on #224
I agree, good suggestion :+1:

Btw, my `Share` and `Watch` icons are displayed like this:
![image](https://user-images.githubusercontent.com/4408379/29133140-2d514234-7d3b-11e7-87a4-f5870e559f65.png)

[2017-08-09 17:47] housseindjirdeh commented on #159
@sasongkoadi yes it is! Please feel free to work on it if you would like :)

[2017-08-09 17:48] housseindjirdeh commented on #212
Thank you @FlorianTaut this is something we should definitely include :) Yes we would love your help @dzulfahmi!

[2017-08-09 17:49] housseindjirdeh commented on #212
Please don't hesitate to leave screenshots/ideas/suggestions on how you think it should look - definitely open to suggestions if any kind

[2017-08-10 00:07] housseindjirdeh commented on #224
Agreed, let's remove the icons entirely for the moment. They do look kind of funky since the icon formats don't match. I'm okay with having it as part of this PR or a separate one. I also

[2017-08-10 03:13] sasongkoadi commented on #159
oke i handle this :) thank you @housseindjirdeh oh ya if you have any idea about this issue, you can tell me.

[2017-08-10 04:59] lex111 commented on #225
The application reloaded again, but this time I looked through only one user profile and 2 issues. It's unclear why this happens, only I have this one problem?

[2017-08-10 17:19] CameronSamuels opened #226 "Allow :trollface: emoji in descriptions"
Even though it shows the built in emojis, it does not show the “trollface” or other non system emojis.

[2017-08-10 18:02] andrewda commented on #226
We might want to use GitHub's emoji api instead of system emojis anyways: https://api.github.com/emojis

I assume we can just download these images whenever they're needed and cache them for future use?

[2017-08-10 18:09] CameronSamuels commented on #226
That a good idea.

[2017-08-11 02:12] SammyIsra commented on #185
So how about something simple like this?

![Simple watching](http://i.imgur.com/SNfQ5WF.png)

But maybe under the description? Or maybe an icon somewhere else?

[2017-08-11 02:46] alejandronanez commented on #185
I like it!
On Thu, Aug 10, 2017 at 9:12 PM Sammy Israwi <notifications@github.com>
wrote:

[2017-08-11 03:02] SammyIsra commented on #217
Could this be related to #179? If so, It should also be fixed when we finish the GraphQL implementation, right?

[2017-08-11 06:31] housseindjirdeh commented on #226
Ah that's a good point. How are we thinking of rendering those emojis? By typing : trollface : into the comment?

[2017-08-11 06:34] housseindjirdeh commented on #226
Do you think having an smiley icon on the right hand side like this that shows all the GitHub emoji images will make sense (smaller icons than this though)?

![image](https://user-images.githubusercontent.com/12476932/29203217-2e4d105c-7e24-11e7-8ef6-f3b4761d6e45.png)

We can then map each emoji to a GitHub emoji string (selecting :trollface: outputs : trollface : without the spaces to the comment

[2017-08-11 08:22] machour commented on #29
Facing the exact same error message today.

Reproduce case:
[code]
None of the provided troubleshooting options provided in `CONTRIBUTING.md` did the trick for me.

The localhost exception **is** present in `Info.plist`

Environment infos:
[code]

Let me know if I can provide more details

[2017-08-11 13:45] andrewda commented on #226
If it's possible and looks smooth, I think that would be awesome @housseindjirdeh!

[2017-08-11 13:46] andrewda commented on #226
Sadly all the GitHub emojis are PNG's and not vectors, so we're kinda constrained to their size.

[2017-08-11 13:53] machour opened #228 "Don't pre-fill the email subject"
Currently, if I click on the email action in a user profile, my email application opens with a pre-filled subject "Hi !".

I don't think this is a good behavior:
- I might forget to edit the subject, and my mailer won't warn me
- "Hi !" is really not a good email subject, and we shouldn't encourage users to use it

I know, I'm picky 🤓

[2017-08-11 15:17] GMouron commented on #45
Hey, thanks for proposing. Unfortunately, react native is not really my area of expertise :-/

[2017-08-11 19:44] machour commented on #189
Don't know if this might help, but I was having the exact same message on Android.

The only way to go around it was :
[code]

[2017-08-11 19:56] #228 closed

[2017-08-11 20:39] housseindjirdeh commented on #117
With localization functionality in, will close this. I'll open separate issues for each translation :)

[2017-08-11 20:39] #117 closed

[2017-08-11 20:40] housseindjirdeh opened #230 "Add French translations"
:fr:

@Antoine38660: @machour has asked to work on French translations, let us know if that's okay :)

[2017-08-11 20:42] housseindjirdeh opened #231 "Add Russian translations"
🇷🇺

@lex111 tagged this as assigned but please don't worry about working on this until whenever you like. Also please don't hesitate to not do this at all if you don't want to :)

Instructions to add a new language are [here](https://github.com/gitpoint/git-point/issues/233#issuecomment-321917690) 🎉

[2017-08-11 20:44] housseindjirdeh opened #232 "Add Dutch translations"
🇳🇱

@RolfKoenders tagged this as assigned but please don't worry about working on this until whenever you like. Also please don't hesitate to not do this at all if you don't want to :)

Instructions to add a new language are [here](https://github.com/gitpoint/git-point/issues/233#issuecomment-321917690) :)

[2017-08-11 20:45] SammyIsra commented on #232
Quick comment, I don't know Dutch.

[2017-08-11 20:46] housseindjirdeh opened #233 "Add Spanish translations"
🇪🇸

@SammyIsra tagged this as assigned but please don't worry about working on this until whenever you like. Also please don't hesitate to not do this at all if you don't want to :)

[2017-08-11 20:46] housseindjirdeh commented on #232
Haha I'm so sorry I meant to tag @RolfKoenders 😭

I was hoping you didn't get the notification when I tagged you, my apologies :O. Meant to tag you in the Spanish translations ticket

[2017-08-11 20:48] SammyIsra commented on #232
Makes sense lol, no worries!

[2017-08-11 20:50] housseindjirdeh commented on #226
Perfect - I'm okay with giving this a shot and if it works smoothly it could be a nice addition :)

[2017-08-11 20:50] SammyIsra commented on #233
Not sure where to *add* the translation or where to actually translate things, where should I go for that?

[2017-08-11 21:00] housseindjirdeh commented on #233
Yess my apologies for not actually explaining things.

1. In the `locales` directory we'll just need to add a new file for a new language. You can just copy the `en.js` file (to sp.js for example) and swap out all the English text for Spanish.
2. We'll need to export that newly added file as well [here](https://github.com/gitpoint/git-point/blob/master/src/locale/languages/index.js)
3. Then it's j

[2017-08-11 21:02] housseindjirdeh commented on #230
Instructions to add a new language are [here](https://github.com/gitpoint/git-point/issues/233#issuecomment-321917690} 🎉

[2017-08-11 22:20] machour commented on #230
@Antoine38660 I did a first translation in my fork (I might have missed a spot or two, and some contexts).

Could you review it? I'll provide a PR if you're okay with my work on it:
  https://github.com/machour/git-point/tree/230-add-french-translations

Some french translation that you might want to discuss:

Kept the english form for:
  * pull request
  * followers
  * following

Used franglishe

[2017-08-11 22:54] machour commented on #117
@housseindjirdeh while doing the french translation [1], I noticed a few remaining hardcoded english strings.

In my usual translation process, I always include a "xx" language with all strings translated to "xxxx", making it easy to spot missed strings. For example, we can see that issue status & "View all" for PRs are not handled:

![XX](https://machour.idk.tn/uploads/gitpoint-xxx.png)

Here's a

[2017-08-12 00:54] andrewda opened #234 "Refresh on release"
Currently pages refresh when the page is pulled down. This doesn't feel natural — it should refresh on release instead.

[2017-08-12 02:24] housseindjirdeh commented on #234
Are you referring to all pages that use `PullToRefresh` like the events screen/repository screen/org screen?

[2017-08-12 03:08] andrewda commented on #234
Yes, as far as I know this happens on all screens.

[2017-08-12 03:12] andrewda commented on #117
Random thought, but do we want to make the `m`, `h` and `d` after times localized, too? Or is that pretty standard in other countries?

[2017-08-12 03:17] andrewda commented on #117
We should be able to check these keys programmatically pretty easily – just make sure `Object.keys(language_object)` is equal for all of them. I can write up a quick test to make sure they're all in sync, and fail otherwise.

[2017-08-12 03:49] lex111 commented on #233
@housseindjirdeh In fact, it is still better not to translate into other languages, until we close #193.
It is important to do it, and then start translating.

I will try to work on the weekend over it, although now who wants, can start translating what is, but do not send PR, but rather wait until the current localization errors are fixed.

Perhaps it makes sense to put the label `on hold` on the

[2017-08-12 05:36] lex111 commented on #225
@housseindjirdeh @andrewda @alejandronanez what do you think about that? Do you have a similar problem?

[2017-08-12 06:04] lex111 commented on #234
What does "refresh on release" mean?

[2017-08-12 06:47] machour commented on #117
@andrewda yes, `m`, `h` and `d` should definitely be translated as well (`d` is `j` in french for example)

As for comparing the keys, this test wouldn't be enough as the value associated with a key in `en.js` may evolve as well:

- typo fix : no translation update required
- change of meaning : translation update required

[2017-08-12 07:19] FlorianTaut commented on #234
@lex111 i think @andrewda means when you release the screen so put away your finger the refresh action should start, right?

[2017-08-12 07:20] tautf opened #235 "Add German translations"
I would do that! 🙋🏼‍♂️

[2017-08-12 07:21] FlorianTaut opened #236 "Don't allow back after submitting issue"
Hey, it should not be possible to go back to the "new issue" page with the contents after I submitted it.

[2017-08-12 08:54] RolfKoenders commented on #232
Hehe, :) I will take this one!

[2017-08-12 08:55] RolfKoenders commented on #236
You mean, the fields are still filled in and not cleared after you submitted?

[2017-08-12 09:28] RolfKoenders commented on #233
@housseindjirdeh thanks for that explanation. Im currently adding the dutch translations and found the following hardcoded string `effectiveDate: 'Last updated: July 15, 2017',` we have to update this in every language file if we don't make it dynamic.

[2017-08-12 10:26] lex111 commented on #232
I note that there are problems with localization (see #193), and until we fixed them, I would not do the translation (or rather send it to `master`), because later I will have to redo it.

[2017-08-12 10:27] RolfKoenders commented on #232
@lex111 I just pushed my branch. I fixed a untranslated field and im almost done with the dutch translations. Let me know when the issues are fixed so i can merge those changes in.

[2017-08-12 10:30] lex111 commented on #232
@RolfKoenders You can help with this :smiley:

It is also desirable that all untranslated messages in this PR be resolved (I could miss something in my checklist)

[2017-08-12 14:11] Antoine38660 commented on #230
Nice, Good work ! 👍 😄

Could you submit the PR ? It'll be easier to comment line by line.

[2017-08-12 14:15] Antoine38660 commented on #230
I agree with *repository => dépôt* mais **fusionner** pour **merge** ça fait bizarre... Je pense qu'on peux laisser celui-ci en Anglais 😄

[2017-08-12 15:02] machour opened #238 "Display more information for "Commented on commit" event"
At the moment, the event screen only displays "[user] commented on commit. [time ago]" for the `CommitCommentEvent` event.

We need to append the commit link to that, and maybe an excerpt of the commit message.

I'll handle the PR :)

[2017-08-12 16:00] Antoine38660 commented on #238
I'm currently working on displaying commits (#5) ! So you won't be able to link a link atm...

But I like the idea of append an excerpt of the comment !

[2017-08-12 16:06] Antoine38660 commented on #236
@RolfKoenders We are able to go back (top left "back" button) to the `SubmitNewIssue` screen after submitting a new issue (`IssueScreen`).

![simulator screen shot 12 aout 2017 a 18 04 52](https://user-images.githubusercontent.com/9287184/29242201-f1e6fd88-7f88-11e7-867e-27fd16c755fa.png)

[2017-08-12 16:08] Antoine38660 commented on #235
Thanks @FlorianTaut !

Instructions to add a new language are [here](https://github.com/gitpoint/git-point/issues/233#issuecomment-321917690) :)

[2017-08-12 16:22] caudaganesh commented on #167
hello Mr. @housseindjirdeh , i am new to react native and want to try to contribute to this issue, so what i have to do is to convert all promises to async/await in api/index.js is that correct? thanks before

[2017-08-12 16:41] #224 closed

[2017-08-12 16:44] machour commented on #238
It's the way GitHub web does it ;)
Feel free to close this issue along with your work on commits !

[2017-08-12 16:59] andrewda commented on #167
@caudaganesh Welcome! And yep, doing that should make the code a lot easier to read and process. Comment here if you have any difficulties!

[2017-08-12 17:03] housseindjirdeh commented on #167
Thank you @caudaganesh, welcome :)

Yep just like @andrewda mentioned it's just some nice sugar over promise syntax. This ticket is pretty much replacing all the promises in that file with async/await but there are also some parent promises in some component files/action files. Just searching for `.then` should show you all the instances in the app but there are just a few that aren't in the `api/

[2017-08-12 17:05] housseindjirdeh commented on #235
Thanks a million @FlorianTaut <3

[2017-08-12 17:08] andrewda commented on #117
I think _usually_ if the meaning of a sentence is changed, the key would be changed too. We can definitely do both, though.

[2017-08-12 17:12] housseindjirdeh commented on #189
Interesting, you had to `npm install` after running `yarn` 🤔

@loretoparisi please let us know if you're still experiencing this issue. Will close this ticket but happy to reopen it if you're still noticing it!

[2017-08-12 17:13] #189 closed

[2017-08-12 17:21] housseindjirdeh commented on #117
Thanks a million folks, definitely agree with @andrewda and the easiest way would most probably be a test that compares the object keys for each translation. I'll add the test run step to `travis.yml` so it's part of the CI

[2017-08-12 17:26] machour commented on #117
Ok for the key comparison, but again, this may not _always_ be enough.
Think of an update to privacyPolicy.userData2 (where the key is not really meaningful).

Anyways, let's roll 😄

[2017-08-12 17:28] Antoine38660 commented on #117
So, with this key comparaison, if I add a new translation (key/value) in the `en.js` file, the TravisCI test will fail because I didn't provide a French, Spanish and Russian equivalent ?

[2017-08-12 17:34] andrewda commented on #234
Yea. Almost all apps I know of refresh when you let go, not when you pull up. Example:

![example](https://im.ezgif.com/tmp/ezgif-1-82a76aadc1.gif)

[2017-08-12 17:35] andrewda commented on #117
@Antoine38660 that's the hope!

[2017-08-12 17:39] machour commented on #117
Doesn't seem like a good feature at all, as it will probably result in the developer copy/pasting english text in translations files, or worse, trying to translate using Google Translate or whatever if he doesn't speak natively the X languages.

Better have this comparison feature as a yarn utility, not a test blocking work on the application features.

[2017-08-12 17:49] lex111 commented on #234
@andrewda thanks, now I understand what you, although it's unusual for me, or I'm just used to the fact that now :smile:

[2017-08-12 17:52] housseindjirdeh commented on #117
Oh that's a good point @machour  🤔

@Antoine38660 So when we add that test as @andrewda suggested, having a different number of keys will automatically fail. But @machour makes a good point in that it probably would make more sense to also be able to solidify if the actual translation values are up to date for each language.

I think writing up the simple test is a good starting point since it'll

[2017-08-12 18:12] housseindjirdeh commented on #234
So all pull to refresh functionality uses the [`RefreshControl`](https://facebook.github.io/react-native/docs/refreshcontrol.html) (either directly or through `FlatList` as a `onRefresh` prop). So on iOS - it works lovely in my opinion

![pulltorefresh](https://user-images.githubusercontent.com/12476932/29243211-ce42ffc4-7f4e-11e7-87b0-9f799a1c3285.gif)

However if I'm not mistaken, the last time

[2017-08-12 19:06] Antoine38660 commented on #206
Found it 😄

According to the [doc](https://facebook.github.io/react-native/releases/0.47/docs/textinput.html#bluronsubmit), the `blurOnSubmit` prop disable the ability to add a newline in TextInput ([comment-input.component.js#L116](https://github.com/gitpoint/git-point/blob/master/src/components/comment-input.component.js#L116)).

I'll submit a PR

[2017-08-13 01:46] andrewda commented on #234
Wait @housseindjirdeh try on a profile or repository. That's where it acts strangely for me (on iOS).

[2017-08-13 07:52] wlisrausr opened #245 "Remove Repository Actions Emoji"
As mentioned at #224 before, we need to remove the repo actions emoji for a while until we find another best way to include the icons. I would love to make a PR for this one. Is it okay guys? @andrewda @housseindjirdeh @Antoine38660 @lex111

[2017-08-13 07:54] andrewda commented on #245
Yes please!

[2017-08-13 08:13] wlisrausr commented on #245
Got it. Done @andrewda

[2017-08-13 08:49] FlorianTaut commented on #234
Yeah when you pull down and don't leave you finger it refreshes the content and acts a bit strange

[2017-08-13 10:45] wlisrausr commented on #202
Is this issue happened in android? Because in iOS, the codes in README looks good @rkkautsar

[2017-08-13 14:21] wlisrausr opened #247 "Navigate to AuthProfileScreen for the Current User"
**Current process**

- I could find my own profile via Search menu navigation (for Users) and try to follow myself via triple dots menu "..." (at top right corner of the screen).
![screen shot 2017-08-13 at 8 53 46 pm](https://user-images.githubusercontent.com/4316908/29250429-7fc02006-806c-11e7-914e-3436f172af73.png)

**Suggestion**

- How about we remove that menu if the profile that we searched

[2017-08-13 14:25] andrewda commented on #247
I think there's another issue for redirecting you to our AuthProfile if you're on your own user profile.

[2017-08-13 15:49] wlisrausr commented on #247
Wait, I still don't get it. So, we just need to redirect to profile page if we click on our own user profile in the search list? Is that exactly what we need to do? @andrewda

[2017-08-14 00:10] andrewda commented on #247
Any time the user clicks on their own profile from anywhere, it should send them to the `AuthUser` page (the page that shows up when you click the profile icon in the bottom right).

[2017-08-14 00:42] #245 closed

[2017-08-14 00:45] housseindjirdeh commented on #247
Yep thanks for this @wlisrausr.

So there are two screens, `AuthProfileScreen` and `UserProfileScreen`. The `AuthProfileScreen` shows additional information and a settings cog na instead of the three dots. We just need to conditionally make sure anytime the user tries to navigate to their own profile it takes them to `AuthProfileScreen` and not the other one.

Can't seem to find the other issue @a

[2017-08-14 01:22] andrewda commented on #247
Ok @housseindjirdeh, thinking back now I think it was a comment on an issue or PR a while back.

[2017-08-14 03:02] wlisrausr commented on #247
Ok. I'll work on it. Thanks a lot for your complete explanation @housseindjirdeh.

[2017-08-14 04:55] lex111 commented on #247
@wlisrausr I did similar in PR #211, but apparently missed the search results, you can see this PR and fix it.

[2017-08-14 05:03] wlisrausr commented on #247
Great! That's exactly what I need. Thanks @lex111. I'll fix it

[2017-08-14 05:09] andrewda commented on #247
Haha guess that's where I saw it @lex111 🙃

[2017-08-14 06:40] kevinkong91 commented on #165
new to open-source, and would love to take a crack at this one!

[2017-08-14 08:22] machour commented on #223
Can be closed, handled in PR #193

[2017-08-14 08:25] machour opened #248 "Can't display PR/Issues anymore"
Seems like #193 broke PR/Issues display.

If you click on a PR in the list of PRs of a Repo, you'll get a red screen with :
`undefined is not an object (evaluating '_this.props.language')` in `issue-list-item-components.js:51:29`

[2017-08-14 09:00] #223 closed

[2017-08-14 09:05] lex111 commented on #248
@machour thanks, my mistake, fixed in [the commit](https://github.com/gitpoint/git-point/commit/59c9ccbfd0812833953d3fbc8b36d6b49ab4f90b).

[2017-08-14 09:51] machour opened #249 "Share and Watch actions are inverted"
This is a bug introduced in #239 which took care of swapping the strings, but not the associated actions.

[2017-08-14 09:57] machour opened #251 "Wrong PR status reported"
GitPoint displays PR #242 as merged, but it's not merged yet

![Wrong PR status](https://machour.idk.tn/uploads/gitpoint-wrong-pr-status.png)

[2017-08-14 10:02] machour opened #252 "Repository search: show user/organisation prefix"
Currently, if I search for a repository, the displayed repository name doesn't show the user/repo prefix, making it really hard to guess what repository is the one I'm searching for :

![Better search results](https://machour.idk.tn/uploads/gitpoint-better-search-results.png)

[2017-08-14 13:34] sasongkoadi commented on #159
is it okay, if i'm using something like toast to solve this issue? we can use toast component from [native base](https://docs.nativebase.io/Components.html#Toast)

[2017-08-14 14:29] rkkautsar commented on #202
Yes it happened in android

[2017-08-14 15:01] caudaganesh commented on #167
@housseindjirdeh @andrewda
Thank you sirs, I will start working on this :)
definitely will need some advice but i will try to work on it first. cheers

[2017-08-14 15:28] #248 closed

[2017-08-14 16:06] housseindjirdeh commented on #199
Thank you @mathieutu, apologies for the struggle needed to solve this problem :(

Going to prioritize that ticket and make sure we have that implemented soon. If no one picks it up sooner, it'll be the next thing I work on.

Will close this ticket as we have that one to reference the problem. Thanks again for logging this mate 🙌

[2017-08-14 16:06] #199 closed

[2017-08-14 16:08] housseindjirdeh commented on #221
If no one picks it up sooner, this will be the next thing I work on. Hopefully will have it implemented within the next few days 🙌

[2017-08-14 16:11] housseindjirdeh commented on #187
I also feel the same with introducing a library like `Immutable.js` hence why I was hesitant at first as well. However definitely open to giving it a shot if everyone feels like the benefits of including it outweigh any potential concerns.

[2017-08-14 16:21] housseindjirdeh commented on #217
@JayBizzle thanks for logging this mate 👍

I'm noticing the same thing on the same repository where it only shows a few of the top open issues. Could you try searching for any other issue that's not in the list? I'm pretty sure you'll see it pop up :)

So I'm pretty sure it's because of how I fetch repository information. When fetching issues, I filter for [a 100](https://github.com/gitpoint/git-p

[2017-08-14 16:22] housseindjirdeh commented on #179
Closing this since I've extended to 100 comments. _However_, that doesn't help if issues contain more than 100 comments so definitely open to discuss how we can solve that 🤔

Similar issue #217 open for managing how many issues/PRs show for repositories.

[2017-08-14 16:22] #179 closed

[2017-08-14 16:30] machour commented on #230
The translation looks pretty good to me, and is in sync with last work conducted on #193
Maybe it's time to merge the first translation ? 😄

[2017-08-14 16:30] lex111 commented on #251
I can not reproduce this, I updated the `master` branch, I look at the Android simulator.

@machour give please more details (and check again).

![image](https://user-images.githubusercontent.com/4408379/29281235-ddb1306e-8126-11e7-84b1-cb961520594a.png)

[2017-08-14 16:38] andrewda commented on #251
My guess is that the status was unsuccessfully fetched and did not update from a previous PR. Very strange.

[2017-08-14 16:41] lex111 commented on #251
Yes, perhaps we need to figure out how to step-by-step reproduce this bug.

[2017-08-14 16:42] housseindjirdeh commented on #233
Thanks a million @lex111 for #193, glad that's merged in now :)

@RolfKoenders Hmmmm so are you noticing it's only the events screen not updating with a new language? And that's a good catch, happy to have an issue open to fix that copy line

[2017-08-14 16:44] housseindjirdeh commented on #251
Yeah I think @andrewda is right, it's probably persisted data from the previous PR you just visited in the app @machour which was merged. Will try to reproduce this myself as well