[2017-12-05 02:52] andrewda commented on #201
Yes, this still needs to be fixed and should be done as soon as possible.

[2017-12-05 02:53] SirWindfield commented on #201
Anything I can do to help you identify the probem? Maybe run a debug version of the app somehow?

[2017-12-05 10:47] #604 closed

[2017-12-05 12:57] chinesedfan commented on #581
Fixed by #648.

[2017-12-05 12:57] #581 closed

[2017-12-06 18:32] machour opened #655 "Crash in notifications feed after install & login"
| Question         | Response    |
| ---------------- | ----------- |
| Version?         | master      |
| Devices tested?  | Android Nexus 5 |

---

## What Currently Happens?

After a fresh install and login, if you directly click an issue title in the notifications feed, before visiting the repository, the application will crash:

<img width="400" alt="screen shot 2017-11-25 at 2 49 35 pm" src=

[2017-12-06 18:52] machour commented on #201
@SirWindfield can you tell us the exact comment that you were posting? There might be something in the text that is not well handled.

You can run a debug version by cloning this repo & compiling the app on your phone. That would be really helpful!
The [setup](https://github.com/gitpoint/git-point/blob/master/CONTRIBUTING.md#setup) section of our contributing guide should get you started, and we w

[2017-12-06 18:53] machour commented on #450
I think this is a duplicate of #201

[2017-12-06 19:01] machour commented on #450
Closing this issue as the PR for it have been merged.

[2017-12-06 19:01] #450 closed

[2017-12-06 20:02] SirWindfield commented on #201
It crashed on every single comment that I posted over there. Going to clone and install it on my phone, give me a sec.

[2017-12-09 11:08] machour commented on #624
Finally fixed in #656 and #657 💃

[2017-12-09 11:24] machour commented on #201
I'm able to reproduce this on master, with the following flow:

1. Start the app
1. Go to notifications and pick an issue
1. Comment it

Crash message:
<img width="363" alt="screen shot 2017-12-09 at 12 22 09 pm" src="https://user-images.githubusercontent.com/304450/33795151-d061b314-dcdb-11e7-8fe2-95c1d5088deb.png">

[2017-12-10 02:42] SirWindfield commented on #201
After some fiddeling, I am getting exactly the same error message.

[2017-12-10 08:05] chinesedfan commented on #201
@machour @SirWindfield I hope it has been fixed in #658. Check it!

[2017-12-10 10:08] machour commented on #201
@chinesedfan working for me on Android and iOS, a big thank you mate!
@SirWindfield if you want to test this PR, do the following:
[code]
then compile the app like you did to reproduce the error.

[2017-12-10 10:14] machour opened #660 "UI adjustments after commenting on issue"
| Question         | Response    |
| ---------------- | ----------- |
| Version?         | master      |
| Devices tested?  | iPhone 7, Android Nexus 5 |

---

## What Currently Happens?

While testing #658, I noticed to little glitches happening after a successful comment on an issue:

* The screen scrolls down, but just above the newly posted comment. I still have to manually scroll to display i

[2017-12-10 10:29] machour commented on #660
curious if any of you can reproduce the timeago issue, or if it's my simulator being out of sync with my laptop

[2017-12-10 10:59] chinesedfan commented on #660
@machour I have some guessed explanations about it.
- Scrolling
  - Note that `this.props.postIssueComment` is an async operation. [scrollToEnd()](https://github.com/gitpoint/git-point/blob/master/src/issue/screens/issue.screen.js#L255) should be called after the api was returned.
- Time
  - The app time, as well as the device time, may be not matched with Github server time. Unless Github provide

[2017-12-10 11:01] machour commented on #660
@chinesedfan makes perfect sense, thank you!

For time, we could at least detect that we're about to display a future date and display "now" instead, or something like that.

[2017-12-10 11:02] machour commented on #660
GitHub uses: `just now`

<img width="433" alt="screen shot 2017-12-10 at 12 01 40 pm" src="https://user-images.githubusercontent.com/304450/33804283-eeb9439c-dda1-11e7-8b1c-306d80313257.png">

[2017-12-10 13:26] machour opened #663 "chore: Replace moment.js by date-fns"
As mentionned in #523, we are currently using `moment/min/moment-with-locales.min` which weights 289.5K (63.8K) only to output the time ago information.

Even "worse", we don't even use the locales from the library for the translations, instead, we override them with our own wordings.

@ocarreterom proposed we switch to `date-fns` which is kind of a `lodash` for date handling, and will have a wayy

[2017-12-10 16:53] #655 closed

[2017-12-10 17:02] housseindjirdeh commented on #528
@ArvinH thank you <3

Any questions about anything - don't hesitate to ask 🙌

[2017-12-10 17:11] ocarreterom commented on #663
@machour there is a problem. date-fns doesn't provide format translations for all the languages git-point supports.
[distanceInWords](https://date-fns.org/v1.29.0/docs/distanceInWords), [distanceInWordsStrict](https://date-fns.org/v1.29.0/docs/distanceInWordsStrict) and [distanceInWordsToNow](https://date-fns.org/v1.29.0/docs/distanceInWordsToNow) always returns de units in words. I can't format a

[2017-12-10 17:31] machour commented on #663
yes, we definitely need those.
if you check our translations, we have a [common.relative](https://github.com/gitpoint/git-point/blob/master/src/locale/languages/en.js#L326) object with all the strings we currently display.

Looking at `date-fns`, it seems possible to adapt it our way:

[code]

Seems to me like we just need to mimic the `eoLocale` object and override its `formatDistance` property w

[2017-12-10 18:59] ocarreterom commented on #663
OK.
This works, but we need to change the translations of relativeTime.
[code]

[2017-12-11 05:03] SirWindfield commented on #201
Nice, patch is working :smile:

[2017-12-11 09:20] #201 closed

[2017-12-11 09:20] #624 closed

[2017-12-12 03:58] housseindjirdeh commented on #569
PR #665 open to cover a few styling updates

[2017-12-12 04:00] housseindjirdeh commented on #569
There are a few things I'm noticing I would like to get to by tomorrow before releasing:

I'm noticing a weird flash when I navigate to the profile page:

![flash](https://user-images.githubusercontent.com/12476932/33866830-e32ad5ec-dec6-11e7-8463-17a864900fc1.gif)

I also think issues seem to load/unload/load a bit much - should be able to simplify to show one loading indicator until screen is fu

[2017-12-12 15:46] machour commented on #569
Yes, issue screen is getting really heavy (7 requests for a PR I think).
I do however like to see comments right away when they are available (I'm on a poor connection and it sometimes can take up to 5 seconds to fully load).

This needs GraphQL sooo bad :)

[2017-12-12 16:08] jouderianjr commented on #569
Totally agreed, GraphQL should be top priority for us 💃

[2017-12-15 01:44] housseindjirdeh commented on #569
We really do :O

I am going to HAVE to dedicate sometime in the next few months implementing graphql where applicable. Fingers crossed 🙏

With that being said - just deployed v1.4 so going to close this.

[2017-12-15 09:28] machour commented on #569
:tada: :tada:

[2017-12-15 10:01] rancidfrog commented on #569
1 small inconvenience:
![](https://i.imgur.com/ktOIqhf.png)
But, in preference it displays incorrectly:
![](https://i.imgur.com/StZa7OI.png)

[2017-12-15 10:05] machour commented on #569
Thank you for noticing it @rancidfrog !
@housseindjirdeh could you update the composer.json file and release 1.4.1? (or else it will be nightmarish to understand the current version when the user reports a bug :D)

[2017-12-15 10:09] ocarreterom commented on #569
package.json version is `1.3.0` in master :/

[2017-12-15 10:11] machour commented on #569
yes, we need a step by step release guide to make sure we don't make this mistake again 😆

[2017-12-15 10:58] rancidfrog commented on #569
Quick question,
Is the [apk  in release section](https://github.com/gitpoint/git-point/releases/tag/1.4.0) debug apk or release?
Because, there is considerable lag which can be seen in video attached.
Lag results in clicks being registered multiple times, for example near the end of video you see me clicking back 6 or more times from options only to have another options appearing repeatedly due to

[2017-12-19 00:18] housseindjirdeh commented on #376
Amazing thank you @gejose - I knew we might have needed a workaround but nevertheless I still think we should do that 🙌

Definitely will _love_ this to be in v1.5.0 :dancer

[2017-12-19 02:13] housseindjirdeh commented on #25
If it's okay with everyone - I'll like to take this on and tackle it over Christmas break and start my first stab at using GraphQL :)

[2017-12-19 02:21] andrewda commented on #25
👏

[2017-12-19 02:32] housseindjirdeh commented on #569
@machour @rancidfrog apologies for missing that step during the release 😞 I just pushed out v.1.4.1 fixing that

@rancidfrog interesting - that should be the release apk 🤔. Thank you for logging this. I just put out 1.4.1 and this is how it renders on my simulator:

![android](https://user-images.githubusercontent.com/12476932/34137824-bac48dd6-e43a-11e7-8ab2-bbdd5cfda3d1.gif)

If it's not too muc

[2017-12-19 02:32] housseindjirdeh commented on #569
Will close this for the meantime, let's address anything in newer tickets if we need to (but we can continue the discussion here :))

[2017-12-19 02:32] #569 closed

[2017-12-19 08:45] ocarreterom opened #667 "Crash touching notification release tag"
| Question         | Response    |
| ---------------- | ----------- |
| Version?         | v1.4.0      |
| Devices tested?  | iPhone 7 iOS 11.2.1 |

---

## What Currently Happens?

App crashes when touching the notification release tag in notifications view.

## My Reproduction Steps

1. Go to notifications screen
2. Touch a notification release tag

![captura de pantalla 2017-12-19 a las 9 35 20

[2017-12-19 09:12] rancidfrog opened #668 "[1.4.1] App crash when click on view source if disconnected"
When you click on, for example git-point repository, "View Code" and you are not connected app crashes:
[code]

[2017-12-19 09:22] rancidfrog opened #669 "[1.5.0] Clicks recorded multiple times invoking multiple duplicate actions"
Clicking on "Options" or an "Issue" in feed quick enough, or when app lag maybe due to slow/bad connection, app opens up multiple requests to particular issue/options. Clicking back takes you to the same page you clicked on, in same cases three or four times.
[code]
Also, in log above, there is error regarding bluetooth? Why request for bluetooth?

[2017-12-19 09:35] rancidfrog opened #670 "[1.4.1] Lag on getting/refreshing content"
App lags when refreshing content, displaying issues, ...
It is quick when displaying already cached items, but as soon as it tries to get new content there is horrible lag.
Also, instagram seems to work fine and is much more of a resource hog than git-point, I noticed as I though it might be due to bad/slow connection.
For example, clicked on issue and app lags on ~
![](https://s31.postimg.org/x0h

[2017-12-19 09:39] rancidfrog opened #671 "[1.4.1] Large blank space after editing issue comment"
I.E.
![](https://s31.postimg.org/lbd4u9jgr/Screenshot_20171219-121607_01.png)

Also, clicking back after submitting issue takes you back to editing/creating issue, instead of back/up a level

[2017-12-20 10:29] machour commented on #651
Seems like react-native-navigation latest version allow disabling the swipe gesture for a particular screen.
Could that be an acceptable fix for markdown enabled screen on Android @housseindjirdeh ?
https://github.com/react-community/react-navigation/pull/2906

[2017-12-20 10:44] machour commented on #671
@rancidfrog I can't seem to reproduce your issue on Android. Is the issue you were editing available somewhere so I can try to reproduce the conditions?

Also, I think that your last remark is covered in #432, can you confirm that this is the same problem?

[2017-12-20 10:50] machour commented on #670
@rancidfrog could you give us some metrics here? How much seconds does it take to display this one for example: #432.

On my end, on a LTE connection, it takes 1.5 second (approx) which is quiet decent knowing that the issue screen is one of the heaviest in the app (up to 7 REST calls if I remember). This will be fixed by using GraphQL for this page.

[2017-12-20 11:00] machour commented on #669
@rancidfrog about the BLUETOOTH mention, we do not request the permission in the app, but maybe react-native tries it as a way to obtain an internet connection? 🤔

[2017-12-20 12:36] rancidfrog commented on #671
@machour
The issue I was editing was #668, one of the recent ones I opened with long logcat.
I just tried again and same problem.
There seems to be an issue with displaying the editable ontent, as half screen is only used to display edit text area:
top,
![](https://i.imgur.com/SqGWGIp.png)
middle,
![](https://i.imgur.com/8TlFB3F.png)
bottom,
![](https://i.imgur.com/cckqZpt.png)

[2017-12-20 12:38] rancidfrog commented on #671
Yes, 432 covers it.

[2017-12-20 12:42] rancidfrog commented on #670
Opening this issue took ~9 seconds before it got the content.
Now reopening takes around 2~3seconds
432, did not time it but again now with content available it takes around 2~3seconds

[2017-12-20 15:05] ZahraTee commented on #518
If this effort is still ongoing, I can take **NotificationIcon** and **RepositorySectionTitle**. :)

[2017-12-20 15:10] machour commented on #518
@ZahraTee oh yes it is! We're at ~40% coverage for now, which is better than nothing, but still low.
Assigned both tests to you, let us know if you need any help at all with your PR!
Thank you 🙏

[2017-12-20 17:14] pallavbakshi opened #674 "Github's Authorize Button Disabled in Android WebView"
| Question         | Response    |
| ---------------- | ----------- |
| Version?         | v1.4.1    |
| Devices tested?  | Xiaomi Mi 4 - Android 5.0|

---

## What Currently Happens?
Upon logging in, the inbuilt browser showcases a Github auth page with the green button (Authorize) disabled.

This problem is encountered only when the sign-in flow is interrupted due to some user circumstances. For

[2017-12-20 20:55] machour opened #676 "Translations: add basque language"
Issue opened to keep track of this feature.
Implemented in #675 by @jcarral 🎉 🎉

[2017-12-21 15:36] pallavbakshi opened #678 "LOGIN.FAILURE not defined"
| Question         | Response    |
| ---------------- | ----------- |
| Version?         | v1.4.2      |
| Devices tested?  | Xiaomi mi 4 - Android 5.2 |

---

## What Currently Happens?
Inside file auth.reducer.js in auth folder you are using LOGIN.FAILURE and LOGOUT.FAILURE. However, if you look at in the types you will find that you have defined LOGIN.ERROR/ LOGOUT.ERROR not LOGIN.FAILURE. This

[2017-12-23 09:24] chinesedfan commented on #678
@pallavbakshi Nice catch! It's a good chance for creating your first PR if you like.

[2017-12-23 14:41] pallavbakshi commented on #678
@chinesedfan Sure! Will do so :D

[2017-12-25 15:25] lXSPandora opened #679 "Font size small on iPhone SE"
The fonts are a little bit small on the SE

[2017-12-25 16:20] machour commented on #679
Hi and thank you for reporting this issue.
Could you please add some screenshots of the application with the iPhone SE? That would help us a lot!

[2017-12-27 00:20] housseindjirdeh commented on #679
Agreed - definitely think a screenshot would be super useful. Thank you for logging this @lXSPandora 🙌

With that being said - maybe we can consider allowing the user to change between _regular_ and _large_ font sizes on the settings screen 🤔  @machour

[2017-12-27 00:33] HaLeiVi opened #680 "Stuck on authorization screen"
I'm using a Samsung Galaxy S3 running Android 4.4.2. I am able to enter login info. Then I'm taken to the authorizing screen, but it stays there. The authorize button and even 'cancel' is unresponsive.

[2017-12-27 01:34] housseindjirdeh commented on #680
Thanks for logging this @HaLeiVi.

Someone just recently showed me this problem on their Android device as well, will look into it soon and find out what's going on.

[2017-12-27 13:03] machour commented on #679
Good idea!

[2017-12-27 13:22] machour commented on #680
Javascript wasn't enabled on this Webview, and the GitHub authorization screen [seems to need it](https://stackoverflow.com/questions/44425233/why-is-the-github-authorization-button-in-the-oauth-flow-grayed-out). Opened #681 to fix it.

However, weirdly enough the auth process always worked on my OnePlus 3T device, without enabling JS. 🤔

[2017-12-28 12:14] ZahraTee commented on #532
I can grab the Organization screen.

[2017-12-28 12:21] machour commented on #532
@ZahraTee assigned to you, thanks!

[2017-12-28 23:17] andrewda commented on #472
This should definitely be included in v1.5.0 if we can get it working well. It's currently the only thing preventing me from using _only_ GitPoint instead of switching between it and a browser. I can probably start doing some basic design on this if nobody else is currently working on it?

[2017-12-29 20:33] ZahraTee commented on #532
I can also take the Notifications and User repository list screens while I'm at it :)

It appears Houssein already did the user profile screen and the other user screens don't use Stylesheets.

[2018-01-03 00:35] housseindjirdeh commented on #680
Thanks a million @machour

@HaLeiVi if you don't mind, I'll generate an APK for you to test on your device if that's okay? You'll get the app working for you sooner that way and we can confirm that this indeed fixes it (especially since I can't reproduce this on any android device)

[2018-01-03 14:41] HaLeiVi commented on #680
Sounds great!

On Jan 2, 2018 7:35 PM, "Houssein Djirdeh" <notifications@github.com> wrote:

[2018-01-05 14:16] #676 closed

[2018-01-05 17:28] remarks commented on #532
I’d like to claim the Issue screen

[2018-01-05 17:30] andrewda commented on #532
@remarks Thanks! Added you!

[2018-01-05 22:59] ZahraTee commented on #521
Can I pick this up? :)

[2018-01-05 23:07] ZahraTee commented on #532
I'm looking at the Events screen (not listed) for another PR so I can pick that up while I'm there.

Also, all of the User screens that needed migration are done (#665 and #683) so that can be ticked off. \o/

[2018-01-06 03:59] chinesedfan commented on #521
@ZahraTee Of course! Glad to hear that.

[2018-01-06 04:42] chinesedfan commented on #532
@ZahraTee Updated! The #683 was mismarked as Repository screens.

[2018-01-06 11:01] chinesedfan commented on #278
Let's add translations in #439. If someone pick the same language, we can reopen it.

[2018-01-06 11:01] #278 closed

[2018-01-06 11:05] chinesedfan commented on #264
Close first and please feel free to reopen it in #439.

[2018-01-06 11:05] #264 closed

[2018-01-06 15:48] chinesedfan commented on #668
@rancidfrog What do you mean about "disconnected"? Networks? I try to enter the repository screen, turn off networks, and click "View Code". Just a white blank screen is there without crash.

But the above log really shows the error code line. It seems that "this.props.repository.contents_url.replace" will become undefined in some circumstances. We need figure out the stable reproduce steps.

[2018-01-06 15:54] chinesedfan commented on #669
Is there any throttle mechanism on button clicks? This is an interesting question.

[2018-01-06 16:02] chinesedfan commented on #670
@rancidfrog Yes, our issue screen sends too many requests, unless GraphQL is introduced.

And comparing with instagram can't eliminate networks reasons. Maybe Github APIs perform slower than instagram. :)

[2018-01-06 17:14] rancidfrog commented on #668
When not connected to internet.
Steps to reproduce:
Switch off data and wifi, click on link on feed to repository, then click on view code.
Just tested again and app crashes

[2018-01-07 04:41] chinesedfan commented on #668
@rancidfrog Oh, I see. It is due to the repository can not be loaded. Maybe we need a network disconnected screen, or at least hide the view source item.

[2018-01-07 07:04] rancidfrog commented on #668
The great thing about gitpoint is that you are able to navigate through everything that has been cached. Hiding stuff just complicates things in coding.
However, there should be a mechanism where if it not cached a toast should appear stating "Not connected" or something of that sort.

[2018-01-07 13:02] ZahraTee opened #688 "Remove styledFonts and use fonts everywhere"
Recently, styledFonts was introduced for use in the styled-components migration for slightly nicer syntax. However, in discussion on numerous subsequent PRs it seems there is some desire to remove it and stick to using fonts only to prevent things getting out of sync.

[2018-01-12 16:27] housseindjirdeh commented on #688
Agreed, thank you for logging this @ZahraTee 🙌

[2018-01-13 09:45] machour commented on #688
I'm up for this today (and this will allow me to finish #533 :D )

[2018-01-13 21:34] jstrobel opened #690 "Wrong info when i click on forked to"
When some forked you get the info like „USER forked REPO to REPO2“
When i click REPO2 in only get a view which looks like a repo but without title etc

[2018-01-13 21:47] machour commented on #690
Hi @jstrobel and thank you for logging this! I just ran a quick test, and I was able to reproduce what you describe only with a **deleted** fork.

Could you check on github web and confirm if the fork you were trying to access was deleted too?

My reproduce case was with this event:
<img width="671" alt="screen shot 2018-01-13 at 10 44 54 pm" src="https://user-images.githubusercontent.com/304450/3

[2018-01-13 21:58] jstrobel commented on #690
@machour You are right, i verified it. Deleted i my case too

[2018-01-15 22:28] machour opened #694 "Repositories list is cropped"
| Question         | Response    |
| ---------------- | ----------- |
| Version?         | dev-master     |
| Devices tested?  | iPhone 7 |

---

## What Currently Happens?

Repositories list is cropped at bottom:

![simulator screen shot - iphone 6 - 2018-01-15 at 23 15 32](https://user-images.githubusercontent.com/304450/34963987-8ae10bfe-fa4b-11e7-9ec1-f388ae592a04.png)

## Explanation

Problem

[2018-01-15 23:07] machour commented on #470
Let's ship this one in 1.5 🎉

[2018-01-16 02:57] housseindjirdeh commented on #688
Thank you @machour for tackling this <3

[2018-01-16 02:57] #688 closed

[2018-01-16 02:58] housseindjirdeh commented on #694
Thanks a million for getting to this so fast @machour

[2018-01-16 02:58] #694 closed

[2018-01-16 10:00] machour commented on #674
I think this is the same as #680
Leaving this open for the wonderful details, thank you @pallavbakshi !

[2018-01-16 10:50] pallavbakshi commented on #674
Ha ha! I came first though (Mine issue is 674). Fun aside, I will test it and close the issue if it is fixed. However, it will take me some time to test it. Thanks :D

[2018-01-16 10:54] machour commented on #674
hahahaha, you just reminded me when I told my grandpa older brother: "oh you look like grandpa" and he shouted at me "no, HE looks like ME" 🤣

I think @housseindjirdeh will be providing a test APK shortly for #680, I'll make sure to notify you so that you can test as well. Thank you soo much!

[2018-01-16 11:52] #521 closed

[2018-01-16 13:40] TheCodeTalker commented on #620
hey @machour  sorry for the delay i update as soon as possible.

[2018-01-16 13:52] machour commented on #620
No worries mate, just checking on you :)

[2018-01-16 14:53] machour opened #700 "dependencies vs dev-dependencies"
Hey team,

I was going through our yarn dependencies and I'm puzzled by something.
Shouldn't these be included in `devDepencies` instead of `dependencies` ?

- enzyme
- enzyme-adapter-react-16
- opencollective
- react-native-code-push
- react-native-mock
- redux-devtools-extension
- redux-logger

🤔

[2018-01-16 15:21] machour commented on #642
Reached out to GitHub, I don't think this will be available soon:

<img width="568" alt="screen shot 2018-01-16 at 4 18 46 pm" src="https://user-images.githubusercontent.com/304450/34996198-26c6b1ee-fad9-11e7-9be2-f3d7db7edf51.png">

Closing this issue as the FR is already logged in #8

[2018-01-16 15:21] #642 closed

[2018-01-16 20:13] machour commented on #678
Seems like this was addressed in #685 🎉

[2018-01-16 20:13] #678 closed

[2018-01-16 20:43] pallavbakshi commented on #678
Great work! Sorry I wasn't able to get it done in time. Something personal came up which needed my attention. By the way, I found three more :bug: . This time I will find a fix first and then report the bug. Awesome work guys :D

[2018-01-16 21:00] machour commented on #678
No worries, there are always plenty things to do around here :) Feel free to join us on gitter at anytime!

[2018-01-16 21:56] machour commented on #660
@chinesedfan fixing the scroll was trickier than expected 😮 see the PR.
And it appears that the future-time-ago was fixed by switching to date-fns :)

[2018-01-17 06:21] chinesedfan commented on #678
@pallavbakshi No problem. You can also report the bug without pull request. Unless you want to hide and fix by yourself. 😆

[2018-01-18 15:10] housseindjirdeh commented on #680
So sorry for the delay @HaLeiVi, but here's the apk with the fix: https://github.com/gitpoint/git-point/releases/tag/hotfix

Give it a shot whenever and please let me know if all is well! We should have a release with this fix in about a week.

[2018-01-18 15:11] housseindjirdeh commented on #674
@pallavbakshi here's the APK with the fix: https://github.com/gitpoint/git-point/releases/tag/hotfix

Please take as long as you need to give it a shot, there's definitely no rush :)

[2018-01-18 15:14] housseindjirdeh commented on #700
Had this same discussion with my team at work on a Create React App.

So in short, unless it's server-side - I don't think it matters at all. For a CRA app, Webpack takes care of what and how dependencies are included based on `import` since everything is outputted as static builds. See: https://stackoverflow.com/questions/44868453/create-react-app-install-devdepencies-in-dependencies-section/4487

[2018-01-18 15:25] pallavbakshi commented on #674
@housseindjirdeh Thanks! I will check it soon, hopefully.

[2018-01-19 09:51] machour commented on #700
Thanks for the pointers. I'll definitely take a deeper look at this for date-fns tree-shake

[2018-01-19 23:24] ZahraTee commented on #532
I can take the rest of the Auth screens.

[2018-01-23 16:29] ZahraTee commented on #649
The v3 release of styled-components includes a styled.SafeAreaView as well :)

[2018-01-29 06:57] #660 closed

[2018-01-29 21:23] t-laird commented on #165
Hi! I’m a first-time contributor and was hoping to help out with this issue. I noticed that there hasn't been much activity on this issue since October but understand that there may be a solution in progress already and would be happy to help elsewhere if so. Thanks!

[2018-01-29 22:01] kechik96 opened #708 "subjet"

[2018-01-29 22:25] #708 closed

[2018-01-30 10:45] linrz commented on #680
![screenshot_2018-01-30-18-42-41-989_com gitpoint](https://user-images.githubusercontent.com/33575974/35562149-1b9188d6-0578-11e8-8d36-eae5ec420fef.png)
I download the latest apk.It seems still can not work.

[2018-01-30 10:49] machour commented on #680
@linrz hey, did you download the APK from the provided link to debug this issue?
    https://github.com/gitpoint/git-point/releases/tag/hotfix

[2018-01-30 11:04] daggala commented on #165
Hello @t-laird and welcome! I am working currently on this issue, slowly getting there and learning as I move on like a snail. If you sign in to the chat channel you could ask around which tasks might suit a first-time contirbutor :)

[2018-01-30 11:06] #620 closed

[2018-01-30 14:24] linrz commented on #680
@machour Yes, I download this pre-release APK  which released 12days ago. My android's version is 6.0.1. It seems this webview use IE caused it.
![wechatimg116](https://user-images.githubusercontent.com/33575974/35571164-4a490f16-060c-11e8-9b6f-4d7a8abec435.jpeg)

[2018-01-30 14:43] HaLeiVi commented on #680
I got the same results. I was able to enter password, and verify it. But
couldn't go past that screen.

On Jan 30, 2018 9:24 AM, "linrz" <notifications@github.com> wrote:

[2018-01-30 15:08] machour commented on #680
Ok Houston, we definitely have a problem 😄
I think we have to get rid of the webview and use something like [react-native-oauth]( https://github.com/fullstackreact/react-native-oauth) to handle signins

[2018-01-30 17:54] machour commented on #680
Got in touch with GitHub to confirm:

[code]

[2018-01-30 17:59] HaLeiVi commented on #680
IIRC, you have to explicitly allow JavaScript for the webview.

On Jan 30, 2018 12:54 PM, "Mehdi Achour" <notifications@github.com> wrote:

[2018-01-30 18:03] machour commented on #680
@HaLeiVi this was the case in the hotfix you tested: https://github.com/gitpoint/git-point/blob/hotfix/src/auth/screens/login.screen.js#L363

[2018-01-31 21:09] t-laird commented on #640
Hi! I previously commented on a different issue but it looked like the person who had claimed it was still in the process of working through a solution. I would love to take a crack at this one, though!

[2018-01-31 21:58] housseindjirdeh commented on #640
Thanks @t-laird! Please feel free to take this on <3

With that being said - definitely interested in chatting about the functionality a bit. Is the idea that when we press the location field - it navigates to a separate screen that shows "Other users in the same location"?

[2018-01-31 21:59] housseindjirdeh commented on #680
Are we still seeing the issue with `javaScriptEnabled` flag, or did I happen to boot up the APK before you updated it @machour?

[2018-01-31 22:22] t-laird commented on #640
Great! My sense of the solution in mind was that clicking the location would navigate to the search screen where there would be an auto populated query with the location as listed under profile info for the user page. That's what I gathered from the previous conversation with @andrewda's suggestion. Here's a screenshot of how it might look, what do you think?
![simulator screen shot - iphone 6 - 2

[2018-02-01 06:51] Arjun-sna commented on #532
Refactored Seach screen #710

[2018-02-01 10:04] Arjun-sna commented on #313
Is this still open for anyone to take?

[2018-02-03 13:54] brettdh opened #713 "Crash on viewing pull request"

[2018-02-03 13:56] brettdh commented on #713
Gah, web UI ate my description. Let’s try that again.

[2018-02-03 13:56] #713 closed

[2018-02-03 13:56] machour commented on #713
Hi @brettdh, thank you for logging this.
Could you give a link to the pull request that causes the crash?

[2018-02-03 13:57] machour commented on #713
Please use the issues template while you're at it ;)

[2018-02-03 13:58] brettdh opened #714 "Crash on viewing pull request"
| Question         | Response    |
| ---------------- | ----------- |
| Version?         | v1.4.1      |
| Devices tested?  | iPhone 6s |

---

## What Currently Happens?

GitPoint crashes when I view this PR:

https://github.com/theliturgists/app/pull/45

## What Do You Expect To Happen?

No crash. The PR should appear.

[2018-02-03 13:58] brettdh commented on #713
#713

[2018-02-03 13:58] brettdh commented on #713
Agggh. #714

[2018-02-03 16:10] alejandronanez commented on #646
Hey @machour I can take this one. Is this still happening?

Thanks!

[2018-02-03 16:21] machour commented on #646
Hey! my ISP problem was fixed so I can't tell for sure, but I just wiped clean the app on my android device, shut down the connection and launched the app, and I'm left with a big empty gray screen with the cancel button when I try to login.

We definitely need to gracefully handle network issues (wether it's really slow or simply turned off)

[2018-02-03 16:39] alejandronanez commented on #646
I'll take it then :)

[2018-02-05 15:41] MozyOk commented on #439
Hi, Thank you for a wonderful application!
I'd like to add Japanese translation.

[2018-02-06 16:29] housseindjirdeh commented on #640
@t-laird I think thats an absolutely great idea :) Definitely nicer than creating a new screen entirely 🙌

[2018-02-06 16:32] machour commented on #439
Hi @msarsha, sorry we missed your comment 😞

I never was able to gather enough courage to try an Arabic translation for the app, so I'm not sure.. would you like to start a new PR to implement Hebrew? We'll figure how things go from there!

[2018-02-06 16:34] machour commented on #439
Hey @MozyOk ! Thank you 🎉
We would LOVE if you could add Japanese to GitPoint!

[2018-02-11 08:36] jarvisluong opened #716 "Gitpoint does not navigate to StarredRepositoryList screen"
| Question         | Response    |
| ---------------- | ----------- |
| Version?         | v1.4.1      |
| Devices tested?  | iPhone X |

---

## What Currently Happens?

When I go to profile view, tap to starred repositories list but the app doesn't navigate me to that StarredRepositoryList screen.

Screen record demo: https://www.youtube.com/watch?v=xGzXJhZFPNM

## What Do You Expect To Happen?

[2018-02-11 09:14] chinesedfan commented on #716
Hi @jarvisluong, this feature is introduced by #341 and will be included in the next release.

[2018-02-11 09:14] #716 closed

[2018-02-11 09:51] machour commented on #270
Hi there! We're still waiting on #258 to make it to master before working on commits.
Come say hi on gitter, we'll figure out a nice issue for you to work on!

[2018-02-11 10:43] jarvisluong commented on #514
I would like to take this issue 😄

[2018-02-11 10:52] machour commented on #514
Great!

Just to avoid confusion giving the prior conversation, the idea is to give the ability to the end-user to subscribe/unsubscribe from an issue thread.

[2018-02-11 11:17] jarvisluong commented on #514
I was wandering around github v3 api docs but couldn't find where to get subscription status and then update the status... 😢

[2018-02-11 11:41] machour commented on #514
As far as I understand, here are the involved endpoints:

- Check subscription status: https://developer.github.com/v3/activity/notifications/#get-a-thread-subscription
- Change subscription status: https://developer.github.com/v3/activity/notifications/#set-a-thread-subscription
- The thread ID would be the `id` property returned in the Issue object (for example, this very issue thread id is [266

[2018-02-11 11:46] jarvisluong commented on #514
This is what I tried using those API. The response is kinda weird.
Btw this is the link to that Issue: https://github.com/facebook/react-native/issues/17935
![error](https://i.imgur.com/OSMMXsQ.jpg)

[2018-02-11 11:49] machour commented on #514
Are you authenticated?

[2018-02-11 11:52] jarvisluong commented on #514
Yes, here are my headers
I even changed the thread id to this particular issue but the response is still the same

![picture](https://i.imgur.com/IMGHlxT.png)

[2018-02-12 03:35] MrZhang123 opened #720 "error: Module does not exist in the module map"
### environment

macOS 10.13.3
android 7.1.0
node 6.11.2
react-native-cli 2.0.1

### describe
I run `react-native run-android` in terminal , but get `red screen`, message is `error: bundling failed: Error: Unable to resolve module `config` from `/Users/imac/Documents/file/my_fe/github/git-point/App.js`: Module does not exist in the module map`

I use [Troubleshooting](https://github.com/gitpoint/g

[2018-02-12 03:37] chinesedfan commented on #514
@machour I am afraid that the thread id is different with the issue id. Because I got the same response with you. The Github document says,

So for example, even for the same issue, different threads will be generated for different users. That's why Github always complains about no admin rights.

I found a usable thread id, 268248680, in my notifications. But it should not work for you guys. 😄

[2018-02-12 03:46] chinesedfan commented on #720
Hmm, I have met this problem several times. But usually, `yarn start -- --reset-cache` is enough for me.

Please go to our [Gitter channel](https://gitter.im/git-point) to seek more help. Glad to see a new friend.

[2018-02-12 04:05] jarvisluong opened #721 "issues and pull request does not seem to handle paging"
| Question         | Response    |
| ---------------- | ----------- |
| Version?         | v1.4.1      |
| Devices tested?  | iPhone X |

---

## What Currently Happens?

When seeing issues open/closed as well as pull requests, the app only shows the first 40 entries

## What Do You Expect To Happen?

We should implement paging when fetching issues and pull requests, something like scrolling to th

[2018-02-12 10:33] machour commented on #514
Interesting.. so how would someone get a working thread id? 🤔

[2018-02-12 10:37] machour commented on #721
Hi @jarvisluong. We already have an issue to track that. I worked on it and was really close to something great, but the PR got dusty. I'll try to resurrect it soon!

[2018-02-12 14:15] #720 closed

[2018-02-13 09:13] ShalokShalom commented on #674
This is still for me the case, while I use the default BlackBerry 10 Browser.

[2018-02-13 09:26] ShalokShalom commented on #674
This is still the case for me, while I use the default browser in BlackBerry OS 10.

[2018-02-13 09:34] machour commented on #674
Thank you for the feedback. We need to get rid of that WebView and use something like [react-native-oauth](https://github.com/fullstackreact/react-native-oauth)..

[2018-02-13 12:55] ShalokShalom commented on #674
Thanks

Tokens are also another solution, one such open source Github client uses them also.

[2018-02-13 12:59] ShalokShalom commented on #674
I can open another issue, for the integration of react-native-oauth and the evaluationof alternatives?

What is most easy to integrate?

[2018-02-13 13:10] ShalokShalom commented on #674
Thanks a lot :D

I can open another issue, for the integration of react-native-oauth or the evaluation of alternatives?

What is most easy to integrate?

Fast Hub uses Tokens too:
https://github.com/k0shk0sh/FastHub#features

[2018-02-13 13:52] machour commented on #674
Please do! If you want to give it a shot, we'll gladly accept a PR too 😅

[2018-02-14 03:26] chinesedfan opened #725 "Shall we delete `repository-section-title` completely"
This component is useless. Deleting it can avoid confusions.

[2018-02-14 05:55] #649 closed

[2018-02-14 05:56] #470 closed

[2018-02-14 09:38] #714 closed

[2018-02-14 10:04] machour opened #728 "Odd vertical spaces in markdown comments"
| Question         | Response    |
| ---------------- | ----------- |
| Version?         | v1.4.1      |
| Devices tested?  | iPhone 7 |

---

## What Currently Happens?

Markdown comments contains weird vertical spacings:

![simulator screen shot - iphone 6 - 2018-02-14 at 10 55 53](https://user-images.githubusercontent.com/304450/36198347-a28ab3bc-1176-11e8-856a-b6d03c2410ce.png)

## What Do You

[2018-02-14 12:33] machour commented on #725
Yes we can!

<img width="765" alt="screen shot 2018-02-14 at 1 33 17 pm" src="https://user-images.githubusercontent.com/304450/36204465-aa7ee344-118b-11e8-8268-038d66161daf.png">

[2018-02-14 14:29] chinesedfan commented on #725
@machour Thank you! It's on Gitter! That's why I didn't find anything in issues and PRs. 😆

[2018-02-15 00:59] ShalokShalom opened #732 "new auth mothods"
See this whole thread and especially that linked convo:

https://github.com/gitpoint/git-point/issues/674#issuecomment-365206090

[2018-02-16 03:00] #725 closed

[2018-02-16 03:09] housseindjirdeh commented on #732
Thanks so much for logging this :)

Quite a few folks are experiencing this - definitely something we need to prioritize for our next release

[2018-02-16 03:10] housseindjirdeh commented on #728
Just got merged in :)

THANK YOU FAM

[2018-02-16 03:10] #728 closed

[2018-02-16 04:49] chinesedfan commented on #213
Confirmed in #626, we will only use projects.

[2018-02-16 04:49] #213 closed

[2018-02-16 08:31] ShalokShalom commented on #732
And it happens in all the Github clients I tried yet.
So all which are available for 4.3
Here is another discussion ongoing:
https://github.com/slapperwan/gh4a/issues/818
Thanks a lot for addressing this as high priority. :)

[2018-02-18 19:25] ShalokShalom commented on #732
Ok, same news: Its in the auth app itself.

This issue happens to me on all different implementations.
And the auth on pages who offer both, Twitter and Github, works for Twitter and not for Github.

[2018-02-18 19:25] ShalokShalom commented on #674
Ok, same news: Its in the auth app itself.

This issue happens to me on all different implementations.
And the auth on pages who offer both, Twitter and Github works for Twitter and not for Github.

[2018-02-19 13:46] jamesg1 commented on #532
Will be finishing off SectionList shortly

[2018-02-20 17:47] timonus opened #733 "Add URL scheme support"
## What Currently Happens?

## What Would You Like To Happen?

[2018-02-22 13:43] jamesg1 commented on #700
Wouldn't more libraries within our yarn dependencies increase our package size with deployments or is this more relevant to web apps over iOS/Android build.

[2018-02-23 08:21] machour opened #734 "Add support for emoji in issues labels"
GitHub now supports [emojis in labels](https://github.com/blog/2505-label-improvements-emoji-descriptions-and-more). We need to implement parsing in labels:

<img width="521" alt="screen shot 2018-02-23 at 9 19 41 am" src="https://user-images.githubusercontent.com/304450/36584637-c982d264-187a-11e8-877c-f98f41479a14.png">

[2018-02-23 08:35] machour commented on #734
This needs to be taken care of everywhere:

<img width="323" alt="screen shot 2018-02-23 at 9 33 37 am" src="https://user-images.githubusercontent.com/304450/36585092-b69b84e6-187c-11e8-8130-9eaf5f6c629d.png">

<img width="318" alt="screen shot 2018-02-23 at 9 33 19 am" src="https://user-images.githubusercontent.com/304450/36585117-cfa7bacc-187c-11e8-9ddb-3926ae6275b7.png">

[2018-02-23 10:01] chinesedfan commented on #321
@housseindjirdeh I want to play with it. If you see a request from me/greenkeeper, please approve.

[2018-02-23 19:45] KOLANICH opened #735 "Add into F-Droid"
Could you add your app into F-droid?

[2018-02-24 06:57] jamesg1 commented on #734
Hey I would like to do this one :)

[2018-02-24 07:55] jamesg1 commented on #532
I can do Repository screen 👍

[2018-02-24 09:19] machour commented on #734
Please do :)

[2018-02-25 11:34] #734 closed

[2018-02-26 01:22] alejandronanez commented on #735
Hey @KOLANICH!

Sorry, but how can we do that? I'd be happy to help!

[2018-02-26 06:17] KOLANICH commented on #735
You need to create a PR with [metadata](https://f-droid.org/en/docs/Build_Metadata_Reference/) into https://gitlab.com/fdroid/fdroiddata/
[More info](https://f-droid.org/en/docs/Inclusion_How-To/#proposal-by-metadata-merge-request)

[2018-02-26 10:39] TejasQ opened #738 "Support iPhone X"
## What Currently Happens?
The app does not use the iPhone X's entire screen

## What Would You Like to Happen?
I'd like the app to look beautiful on the iPhone X.

[2018-02-26 10:41] TejasQ commented on #738
Just saw #707

[2018-02-26 10:49] machour commented on #738
😄
Can you confirm that version 1.5.0 is looking good on your iPhone X? The support was developed using a simulator only, we may have missed a few things. Thank you!

[2018-02-26 10:51] TejasQ commented on #738
Actually, it doesn't work at all on the iPhone X.

![img_56b4645b75bd-1](https://user-images.githubusercontent.com/9947422/36666597-6ee282f0-1aeb-11e8-9f29-723023367aa6.jpeg)

[2018-02-26 10:53] TejasQ commented on #738
I can also confirm that this _is, in fact_ version 1.5.0.

[2018-02-26 11:03] machour commented on #738
@TejasQ thank you so much for verifying! Weird, this should look like this:
<img width="418" alt="screen shot 2018-02-26 at 11 56 12 am" src="https://user-images.githubusercontent.com/304450/36666827-25985d08-1aec-11e8-8da7-f1377d293e1b.png">

@housseindjirdeh was 1.5 published with the iPhoneX PR? Any chance we missed a needed additional step when releasing? 🤔

I see that in XCode, we still targe

[2018-02-26 12:45] alejandronanez commented on #735
I’ll do it this week then.
Thanks @kolanich!

[2018-02-26 19:43] marcus-sa opened #740 "Authorization failed"
Phone: Samsung Galaxy S8+
OS: Latest Android available

Nothing happened at first when I clicked "Authorize Gitpoint" after logging in from the Github window opened on the app.
Then I restarted the app and tried again, then after a few seconds of trying to authorize Gitpoint, it redirects to "gitpoint://welcome" which shows a 405 Not Allowed Nginx error page.

Then after restarting it again, click

[2018-02-26 19:48] marcus-sa opened #741 "Browser redirect inside app"
When I click on a different Github link from an issue comment, isn't it supposed to redirect me to the actual issue inside the repository instead of opening my default browser and redirecting to the url from there?

I think a solution to this would be if you detected whether or not a comment includes a Github link, then add an onClick property to the link and prevent the default action, so that in

[2018-02-26 19:51] machour commented on #740
Hi @marcus-sa, maybe GitHub had a little outage and couldn't process the oAuth when you tried it, and displayed an error page (using the Nginx webserver).

We're using a WebView for authentication atm, so that would be the explanation.

[2018-02-26 19:53] machour commented on #741
This is how it's supposed to be. Could you point me to the issue comment you were browsing when this happened?

[2018-02-28 18:22] SammyIsra commented on #733
Would [Deep Linking](https://medium.com/react-native-training/deep-linking-your-react-native-app-d87c39a1ad5e) be what we are looking for?

[2018-02-28 23:27] timonus commented on #733
Yeah, that would probably be sufficient. I need to be able to fire a URL with an app-specific scheme like `gitpoint://` that can open particular GitHub entities.

[2018-03-01 02:58] #690 closed

[2018-03-01 03:10] housseindjirdeh commented on #738
Hmmmm I think you're right @machour - that must be it. I really thought I updated that to 11 before deploying 🤔

Will update in the next few days and redeploy 1.5.1 with that set to the correct target

Apologies @TejasQ - we'll have this resolved as soon as possible

[2018-03-01 03:11] housseindjirdeh commented on #735
Thanks @alejandronanez <3

And thank you @KOLANICH - if you think it will be useful to have in F-droid, we'll definitely get a PR up 🙌

[2018-03-01 05:33] #646 closed

[2018-03-03 20:32] ShalokShalom commented on #732
Octodroid added password/username login back: https://github.com/slapperwan/gh4a/commit/270e952c968be1b2daf5e526b3e15110b4a2f8a9

[2018-03-06 08:47] ShalokShalom commented on #732
Is this also a solution for this project?

[2018-03-11 14:00] linrz commented on #740
I meet the same problem. It seems that I need an IOS device to complete the first required authorization operation.

[2018-03-16 12:05] jcgerhard commented on #101
Hallo @housseindjirdeh and @andrewda , I am using GitPoint for a few weeks now and it's a pleasure to work with this app! Is there any update on this push notification feature? Have to agree with @henrikra: it would be golden! =:-)

[2018-03-19 04:27] ShalokShalom commented on #732
Is there any news on this high priority issue? :slightly_smiling_face:

[2018-03-19 04:33] ShalokShalom commented on #740
There are a couple of similar issues: https://github.com/gitpoint/git-point/issues/674#issuecomment-365206090

They currently consider to add alternative login methods.
OAuth seems to struggle with different issues since a couple of time on Githubs side.

[2018-03-19 20:47] djavalord opened #744 "Markdown rendering issue"
#### Expected behavior
Launch the app, search a github repository and then read issues and there comments

#### Actual behavior
launched the app, searched a github repository, selected all issues, clicked on the issue with 25 comments (title of the issue is " Timeline doesn't restore its stat..." tag number #389) then the app tried to load, then closed.

#### How to reproduce
download the app from

[2018-03-19 21:00] soytjan commented on #406
Hi there! I'm new to open source and really like testing! I've had some experience testing API calls with Jest and Enzyme and would love to take on some of these. Let me know if there's anything I should know before moving forward!

[2018-03-19 22:39] timonus commented on #733
Excellent, thanks!

[2018-03-21 09:05] machour commented on #744
Hi @djavalord and thank you for reporting this issue.

Testing in development mode, here's the error message:
<img width="376" alt="screen shot 2018-03-21 at 9 54 00 am" src="https://user-images.githubusercontent.com/304450/37701424-4601e054-2cef-11e8-8c49-30ec21cafff4.png">

It seems to be a markdown rendering issue of one of the comments, but I can't exactly pin point it with the debugger. I'll

[2018-03-21 09:07] machour commented on #732
Hi @ShalokShalom, unfortunately all maintainers have been quiet busy lately.
Do you feel like tackling this one?

[2018-03-21 09:08] djavalord commented on #744
Okey that will be great

[2018-03-21 09:18] machour commented on #406
Hi @soytjan and welcome! 🎉

Nothing special to know before diving in I think. Make sure you're able to initially set up the project and run the tests successfully. Our [contributing](https://github.com/gitpoint/git-point/blob/master/CONTRIBUTING.md) guide should get you started, and we're available on gitter if any problem arise.

[2018-03-21 10:00] ShalokShalom commented on #732
I am currently unable to do any JavaScript

[2018-03-21 19:53] machour opened #745 "Use componentDidCatch in markdown renderer"
This would prevent crashes in the app like the one in #744, and would allow us to show a nice error message inviting the user to fill a bug report in git-point, prefilling the issue with the markdown that causes the crash :ok:

I almost got it working with RN 0.44 but it still crashes on Android. Issue tracked at https://github.com/facebook/react-native/issues/18491

[2018-03-22 15:02] machour commented on #740
This issue was related to a temporary problem with GitHub that have been resolved. Closing this as the oAuth problem is already tracked in 3 other issues.

[2018-03-22 15:02] #740 closed

[2018-03-22 15:46] machour commented on #732
@ShalokShalom could you remove the app and install https://idk.tn/gitpoint-test.apk ?

After clicking "Sign in" you should see a really ugly "Can't sign in" button that will open the GitHub oAuth URL in your browser. Tell me if that works for you 🙏

[2018-03-22 15:47] machour commented on #680
@HaLeiVi could you remove the app and install https://idk.tn/gitpoint-test.apk ?

After clicking "Sign in" you should see a really ugly "Can't sign in?" button that will open the GitHub oAuth URL in your browser. Tell me if that works for you 🙏

[2018-03-22 15:47] machour commented on #674
@pallavbakshi could you remove the app and install https://idk.tn/gitpoint-test.apk ?

After clicking "Sign in" you should see a really ugly "Can't sign in?" button that will open the GitHub oAuth URL in your browser. Tell me if that works for you 🙏

[2018-03-22 17:00] ShalokShalom commented on #732
Nope. Same out-greyed button.

[2018-03-22 17:05] machour commented on #732
In your Android browser this time? :/

[2018-03-22 17:32] ShalokShalom commented on #732
In my Blackberry browser, which is pretty outdated.
It works in Firefox :D

[2018-03-22 18:35] ShalokShalom commented on #732
Sure sure

Thanks for dealing with me :smiley:

[2018-03-23 01:43] pallavbakshi commented on #674
Hey hey!! @machour ... Sure I'll do so over this weekend. Thanks for your patience and hard work.

[2018-03-26 11:36] machour opened #751 "Rest: Migrate paginated calls to the new API"
This issue is here to help keeping track of the first step of our big redux refactoring: migrating paginated calls.

- [x] Events: list (#736)
- [ ] Issue: comments
- [ ] Organization: members
- [ ] Organization: repositories
- [ ] Repository: issues list
- [ ] Repository: pull requests list
- [ ] Repository: collaborators
- [ ] Search: repositories
- [ ] Search: users
- [ ] User: following list
-

[2018-03-26 23:08] Mouvedia commented on #674
It's immediately disabled on iOS 9: it's unusable.

[2018-03-26 23:09] machour commented on #674
Hi @Mouvedia, this issue happens only on Android to my knowledge. Can you provide us with some more information about your device?

[2018-03-26 23:13] Mouvedia commented on #674
@machour iOS 9.3.5 iPhone 4S

[2018-03-27 00:40] machour commented on #674
@Mouvedia If the button is not clickable, it means that GitHub doesn't support your browser (we're using a WebView). But this seems odd.

Are you able to click the button on this link using Safari (Private Navigation): https://github.com/login/oauth/authorize?response_type=token&client_id=87c7f05700c052937cfb&redirect_uri=gitpoint://welcome&scope=user%20repo&state=foobar

[2018-03-27 00:44] machour commented on #3
This will soon be totally fixed by the new redux middleware  🎉

Can already be verified by opening starred repositories for different users in all 4 tabs

[2018-03-27 00:46] Mouvedia commented on #674
@machour I cannot on my iPhone.

[2018-03-27 00:46] machour commented on #674
Can you provide a screenshot?

[2018-03-27 00:48] Mouvedia commented on #674
If you don't believe me that's fine by me. Ill just use the URL you have provided to authorise myself.
You should provide it in the README.

[2018-03-27 00:55] machour commented on #674
Wow wow wow, you totally misunderstood my request pal :)

I asked if you were able to click the button directly in Safari, because Safari is used in our application in a webview, and I wanted to verify if our integration was faulty or not.

You said that you were unable to.

I asked for a screenshot of the page on Safari to see if I could spot any error that would help me understand the problem, a

[2018-03-27 01:05] Mouvedia commented on #674
There's nothing to see, just a disabled button. Obviously it's probably the same problem: you gotta enable javascript explicitly.

[2018-03-27 01:06] machour commented on #674
Should be enabled in Safari..

[2018-03-27 01:08] Mouvedia commented on #674
Indeed. Well in the meantime could you share the url as a workaround ?

[2018-03-27 01:16] machour commented on #674
I don't understand how you're gonna use it as you're reporting it doesn't work in Safari, but there you go: https://github.com/login/oauth/authorize?response_type=token&client_id=5f4e87fae2ea9d3d27c4&redirect_uri=gitpoint://welcome&scope=user%20repo&state=foobar

[2018-03-27 01:22] Mouvedia commented on #674
Well actually I managed to do it., here's the workaround for safari:

0. authorize yourself using the link in [this comment](https://github.com/gitpoint/git-point/issues/674#issuecomment-376363298)
1. click on this link from within safari on your iPhone and get redirected to the installed app
2. end up on a frozen welcome page
3. close the app
4. reopen

[2018-03-28 09:24] machour commented on #45
I think there was a little confusion, as we are using oAuth, not login/password authentication.
The username/password combo are requested in the GitHub oAuth screen, not on our side.

Closing this for now, feel free to re-open if the confusion is on my side :)

[2018-03-28 09:24] #45 closed

[2018-03-28 21:10] ShalokShalom opened #754 "Save button ( Comment editing)"
How is this supposed to work out?
https://pictshare.net/5gig2v2zug.png

[2018-03-28 21:12] machour commented on #754
Test

[2018-03-28 21:42] ShalokShalom commented on #754
Ah yeah.

Is there a way to make it more obvious?

The scrolling also doesnt work well, its kinda tricky to get down.
:slightly_smiling_face:

[2018-03-28 21:51] machour commented on #754
This screen needs a lot of love indeed, updating this issue title to remember that.

[2018-03-29 20:16] #584 closed

[2018-03-30 10:44] ShalokShalom commented on #754
When I edit a long comment: https://pictshare.net/p3x47c8g31.png

[2018-03-30 10:49] machour commented on #754
😅

Started looking at solutions for this issue yesterday. My Plan is to integrate a nice Markdown editor while revamping the screen. Came across https://github.com/wix/react-native-zss-rich-text-editor which seems really nice (but not actively maintained).

What do you think about this? Any suggestions for this screen ?

[2018-03-30 11:01] ShalokShalom commented on #754
There is this, maintained by Facebook: https://draftjs.org/

[2018-03-30 11:11] machour commented on #754
Looks slick, but it's meant for React, not React Native.
Maybe https://github.com/globocom/react-native-draftjs-render could help

[2018-03-30 11:13] ShalokShalom commented on #754
Oh I see. I was too hurry xD

Yes, this looks nice ^-^

[2018-03-30 22:22] housseindjirdeh commented on #321
Just approved ✅

So sorry for not doing it sooner, completely missed the email 😞

[2018-03-31 00:50] housseindjirdeh commented on #754
Thanks so much @ShalokShalom, echoing @machour - this screen definitely needs a ton of love. 😅

A markdown editor for this would be _amazing_ - but poses a few questions. Should we allow the user to do that when they also create a new comment? How would that work from a UX perspective, I guess we can have navigation to a separate screen but that adds an extra layer to the stack for posting a new c

[2018-03-31 06:42] ShalokShalom commented on #754
I always hate it, when Facebook gives me ten different editors with different features in the different clients and modes.

Its confusing and inconsistent, so I vote for a unified editor, yes also for creating issues of course.

Otherwise do you have to initially write something and edit then in order to get into the markdown editor.

What is that for a workflow? :D

I would embed the editor, an e

[2018-03-31 08:25] LeeteqXV commented on #754
The best Markdown example I have seen so far, is how thevAndroid app
"Markor" handles the combination of markdown syntax, live
highlighting/coloring and final output.

Even if this might not be a suitable code base for this platform, it is
well worth a look just for the impression.

Attaching 2 screenshots with an example edit moment.

(Notice that it automatically formats and colors the text as y

[2018-03-31 08:31] ShalokShalom commented on #754
So we can also use it for syntax highlighting?
I see no screenshots and you can delete the quotes in your answer, in order to prevent clutter, thanks. :slightly_smiling_face:

[2018-03-31 08:41] LeeteqXV commented on #754
Oh, and unlike many (most?) others, it automatically inserts the next
number or bullet point for you when pressing Enter in a list.

The toolbar buttons inserts markdown WITH these live visual formatting
effects in normal "source code" edit view.

Unlike the normal situation with integration into a WYSIYG editor, you do
not have to struggle with the HTML code going back and forth between
markdown

[2018-03-31 09:07] LeeteqXV commented on #754
(Attached missing files to my original comment above here. Sorry for the noise.)

[2018-03-31 10:47] machour commented on #754
Agreeing with @housseindjirdeh, for now this revamping could be as simple as putting the submit button on the top right corner. @meetmangukiya reached out on gitter to start helping with GitPoint, I think this could be a first nice task for starters.

We'll dive into in-place markdown editing after that. I think react-native 0.55+ will make this even easier: https://twitter.com/brunolemos/status/9

[2018-03-31 10:57] machour commented on #321
Assigned @chinesedfan as he wants to tinker around with Greenkeeper.
Really curious to see what will come up from this!

[2018-03-31 12:11] machour opened #760 "UX: RepositoryListItem should truncate description"
| Question         | Response    |
| ---------------- | ----------- |
| Version?         | v1.4.1      |
| Devices tested?  | iPhone 7 |

---

## What Currently Happens?

If you search for the user "vhicxs", and check his repositories list, you will notice a weird 3 blank pages scrolling in the "vhcixs/repository"

<img width="393" alt="screen shot 2018-03-31 at 1 03 26 pm" src="https://user-image

[2018-03-31 14:17] machour opened #761 "Redux refactoring steps"
Sharing here what I have in mind for the big Redux refactoring.

### Step 1 : Pagination

Migrate all the lists fetched from the API to use pagination
This is the currently ongoing step and is tracked in #751

### Step 2 : Single entity retrieval

Migrate all the single entities retrieval to the new API.
This have been done for organizations in #752 for example, and will be tracked once #751 is cl

[2018-03-31 14:38] machour commented on #520
Closing this issue as we started a massive refactoring of our Redux store.
More details in #761

[2018-03-31 14:38] #520 closed

[2018-03-31 14:40] machour commented on #744
Renamed the issue as the problem wasn't the number of comments.
We're able to display 100 comments here: https://github.com/npm/registry/issues/255

[2018-03-31 14:43] machour commented on #674
@pallavbakshi sorry to bug you, but could you possibly confirm that https://idk.tn/gitpoint-test.apk works for you?

I'd love to ship the fix in a release soon 😄

[2018-03-31 15:36] chinesedfan commented on #321
Thanks @housseindjirdeh. I am afraid that only you can [install Greenkeeper](https://github.com/apps/greenkeeper) because you are the owner.

I already tested it in my forked git-point repository. Greenkeeper has created [the initial PR](https://github.com/chinesedfan/git-point/pull/2) to update all dependencies to the latest.

Of course, the CI is failed, so we need to determinate dependencies th

[2018-03-31 17:34] machour commented on #321
Not sure why the initial PR failed, it seems that babel totally missbihaved there.

It also seems that Greenkeeper updated packages with BC breaking releases (https://github.com/chinesedfan/git-point/pull/2/files#diff-b9cfc7f2cdf78a7f4b91a753d10865a2L97)
Is there a way to prevent that?

I think that without having a decent coverage, and detox tests, it will be hard to really rely on Greenkeper..

[2018-03-31 19:27] machour commented on #12
Should be doable right after #758 is merged

[2018-03-31 19:28] machour commented on #291
@housseindjirdeh curious about your opinion on this one.

[2018-04-01 03:54] chinesedfan commented on #321
I think Greenkeeper always tries to update dependencies to the latest, even for BC releases. If don't like it, we can close its PR then nothing happens. If felt bothered too much, we can add some dependencies to Greenkeeper ignore list.

Right. We can not rely on Greenkeeper completely. But It can remind us for new releases.

[2018-04-01 10:07] #700 closed

[2018-04-01 10:16] jamesg1 commented on #760
Hi I'd like to help out with this one!

[2018-04-01 10:20] machour commented on #760
Yay @jamesg1, go ahead!

[2018-04-02 00:48] housseindjirdeh opened #764 "Shared FlatList in search screen causes incorrect scrolling behaviour"
Thanks @machour for catching this.

[2018-04-02 00:49] housseindjirdeh commented on #12
@machour whewwheww I'm excited :) Benefits of making things more granular from the API level is already so easily noticeable

[2018-04-02 00:54] housseindjirdeh commented on #761
This is SO SO SO great.

![toronto raptors applause gif-downsized_large](https://user-images.githubusercontent.com/12476932/38179215-88ddc53e-35ee-11e8-98af-2f42456ef81e.gif)

It's funny, because I was having a discussion earlier with someone discussing the possibility to include GitLab/BitBucket functionality and although it's something down the line - with this thoughtful refactoring it's beyond

[2018-04-03 01:46] pallavbakshi commented on #674
Fixed.

[2018-04-03 09:46] machour commented on #674
Thank you so much @pallavbakshi  🎉 🎉

[2018-04-03 09:46] #674 closed

[2018-04-03 09:47] machour commented on #680
Fixed in #749

[2018-04-03 09:47] #680 closed

[2018-04-04 07:29] mojtabamarashee opened #767 "How to add new issue?"

[2018-04-04 07:32] #767 closed

[2018-04-09 02:05] ShalokShalom opened #768 "Specific issue page leads to crash"
| Question         | Response    |
| ---------------- | ----------- |
| Version?         | current testing  |
| Devices tested?  | Passport |

---

## What Currently Happens?

GitPoint crash

## What Do You Expect To Happen?

Marry me.

## My Reproduction Steps

1. https://github.com/dotnet/corefx/issues/9855#issuecomment-379604828

Hint: Your template gives 1. 1. 1. 1 here instead of 1. 2. 3. 4.

[2018-04-09 02:11] ShalokShalom opened #769 "Untrue statement on homepage"
This is simply not true.

Octodroid is free and open source. It offers more features, like the release pages.

Plus, just because something is build with React Native, makes it feature rich. There are about 6 different other clients out there, who are all complete open source and private projects. How do you compare to these, which features are absent there, which you provide?

Such statements ren

[2018-04-09 08:51] ShalokShalom commented on #769
Sure

[2018-04-09 09:42] ShalokShalom commented on #769
Sure sure

Thanks for the kind reply :)

Great job

[2018-04-09 09:59] machour commented on #769
@ShalokShalom thank you for reporting this, hopefully this statement will be true one day and will be reinstated :)

@chinesedfan this is also present in the app, when opening for the first time: https://github.com/gitpoint/git-point/blob/master/src/locale/languages/en.js#L12

[2018-04-09 10:00] machour commented on #768
@ShalokShalom about your Hint: it's the same thing in markdown for ordered lists ;)

[2018-04-09 10:10] ShalokShalom commented on #768
Can you explain that?

[2018-04-09 10:10] ShalokShalom commented on #769
I agree :D

[2018-04-09 10:30] ShalokShalom commented on #768
Oh, fine

Thanks for the explanation ^-^

[2018-04-09 13:49] chinesedfan commented on #769
@machour I updated the English version in [4b32a92](https://github.com/gitpoint/git-point/commit/4b32a92b03be406777da2a6183dd5514fc65c99c). For other translations, leave them for native speakers in the future.

[2018-04-12 13:38] machour opened #772 "Switch from flow to typescript"
As we were going through #770 with @housseindjirdeh, we both emitted the desire of ditching flow in favor of typescript.

I personally struggled with flow while trying to enforce types, using VS Code. Validation sometimes takes a few seconds, and the whole thing seems a bit sketchy to me.

Of course, this is up for debate :)

[2018-04-16 17:34] row49382 opened #774 "Support For Switching Branches in Repository"
## What Currently Happens?
I try to change my branch using gitpoint for iOS and can't find a way to do so. Path is as follows: load app >> click on profile >> select repo >> verify list of repos load >> click on repo >> verify repo loads. In here I am able to view my code, but can't find a way to switch branches (opens default as master).

On the github site, you can select which branch you want t

[2018-04-17 08:44] machour commented on #774
Hi @row49382 and thank you for logging this.
Definitely something we'll be doing soon!

[2018-04-17 14:44] machour commented on #67
I believe the idea was to list all Issues & Pull Requests opened or assigned to the current user, like GitHub does:

![screen shot 2018-04-17 at 3 43 55 pm](https://user-images.githubusercontent.com/304450/38877265-36849ec4-4256-11e8-9e08-48ea497be656.png)

[2018-04-17 21:28] housseindjirdeh commented on #774
Thanks for this @row49382 and echoing @machour - I agree that this is something we would love to have before our next release :)

[2018-04-17 21:29] housseindjirdeh commented on #774
Happy to open the floor to discussion to how we can handle this (UI and component-wise) 💬 💬 💬

[2018-04-17 21:30] housseindjirdeh commented on #772
I also have a preference for TS for a few reasons (one being a smoother editor experience). Thanks for logging this mate - and happy to hear anybody else's opinions on this as well 💬

[2018-04-17 21:32] housseindjirdeh commented on #754
I'll make sure this gets resolved before our next release 🙏

Consolidating our discussion to *just fixing a submit button to the bottom right of the screen*. Should be a relatively simple fix 🚀 🚀

[2018-04-17 21:38] ShalokShalom opened #776 "Impossible to reach the current comment in issue"
| Question         | Response    |
| ---------------- | ----------- |
| Version?         | current testing |
| Devices tested?  | BlackBerry Passport |

---

## What Currently Happens?

Infinite scrolling in that issue:
https://github.com/golang/go/issues/21161

## What Do You Expect To Happen?

To reach the bottom. So, the most fresh post.

## My Reproduction Steps

Went into that issue, try to s

[2018-04-18 15:14] machour commented on #776
Hi @ShalokShalom !

Your issue description is a bit cryptic.. is the issue that you can only see the first comments? (last visible one being from `opennota` 9 months ago)

If that's it, then this will be fixed soon as we're currently in the process of migrating to GraphQL, where will be able to show all the comments & events on the issue, even when there are tons of them.

I'm not really found of

[2018-04-18 15:39] ShalokShalom commented on #776
To be honest, I think this approach from Github can get easily skipped.

If you do that, then much more visible.

And yes, you guessed my issue correct:
9 months back is all what I can see.

[2018-04-18 15:42] machour commented on #776
I totally see what you mean, as I didn't see it twice while looking for it to take the screenshot 😆
We'll make sure it's way more visible.

Keeping this issue opened as the problem isn't solved yet.

[2018-04-18 18:07] ShalokShalom commented on #776
Ah, I thought this is tracked anywhere else

[2018-04-20 10:51] sjtuliwei opened #778 "How to debug the project?"
Can somebody share the procedure to debug this project?

Thanks.

[2018-04-20 10:59] machour commented on #778
Hi @sjtuliwei! It totally depends on what you're looking into. Are you running through problems starting the app, or are you looking into a particular issue?

Did you check the CONTRIBUTING.md file?

[2018-04-20 12:49] sjtuliwei commented on #778
I can run it on simulator following the steps in the documentation. I want to know whether I can set breakpoint and run the code step by step.

Thanks for the help.

[2018-04-20 12:50] machour commented on #778
You will need to enable remote debugging (in the dev menu in the app) and then either use chrome, or React Native debugger

[2018-04-20 12:50] machour commented on #778
https://github.com/jhen0409/react-native-debugger

[2018-04-20 14:48] sjtuliwei commented on #778
Got it. Thanks.

[2018-04-20 14:48] #778 closed

[2018-04-20 18:10] Lionirdeadman commented on #735
Any news on this?

[2018-04-20 19:34] machour commented on #735
Hi @Lionirdeadman, from what I understand in the [include policy](https://f-droid.org/en/docs/Inclusion_Policy/) we are not eligible because we're using `react-native-device-info` which includes `google-play-services` :-/

[2018-04-20 19:51] Lionirdeadman commented on #735
Ah.. I see.. are there any plans to change this or should we expect Gitpoint to never be in F-droid?

If we shouldn't expect it to be in F-droid in the future, I think we can close this issue for now.

[2018-04-20 22:25] Lionirdeadman commented on #735
MicroG is system-level software, it doesn't change how the application is built so no.

The application would (probably) work fine with MicroG but that is completely irrelevant to F-droid inclusion.

[2018-04-21 07:45] KOLANICH commented on #735
As I understand, an app using GSF is forbidden to inclusion into f-droid because GSF a proprietary near-monopoly and the project maintainers wanna discourage using that monopoly.

MicroG is free software, it is included into f-droid and in fact f-droid encourages replacing gsf with it, and in the policy it is written

[2018-04-21 16:29] Lionirdeadman commented on #735
I didn't know there was a way to replace Google libraries in apps using microG. My understanding was that they simply responded to those proprietary libraries. I guess I was wrong though.

Then maybe it's possible to replace them.

[2018-04-22 10:55] chinesedfan opened #780 "Revert the commit about ip.txt"
@machour I am sorry it seems that we need to revert #705. The existed `ip.txt` makes `RCTBundleURLProvider.m:guessPackagerHost` returns empty string as the packager host.

And adding `ip.txt` to `.gitignore` can not prevent git from reminding about local changes. Maybe because it is already recorded by git.

Don't know why the following error is not found previously. Not sure whether related to th

[2018-04-22 10:57] machour commented on #780
Well, it was worth those past sweet days I had with this on. 😆
 I'm fine with reverting!

[2018-04-23 07:14] #780 closed

[2018-04-23 09:13] machour opened #783 "Get rid of react-native-i18n"
Once #777 is merged, react-native-i18n will become almost unused.

The only two things it's used for will be:

* Retrieve the current locale (functionality provided by react-native-device-info)
* Lookup translations strings (easily doable in `t()`

Getting rid of it would mean having 100% control about how our translations are handled in our code.

Opinions?

[2018-04-24 07:04] ShalokShalom opened #786 "Support nicknames in issue search querys"
Hi there :)

I was today tempted to find my issue reports in a specific repo by simply typing my nick into the search bar and get no issue found.

[2018-04-24 07:08] machour commented on #786
Hey you :)

This is currently supported in the app, just like you would do it on github.com. Try searching for `author:ShalokShalom`

Not sure if we want to provide a specific UI for this, or if we stick to GitHub keywords

[2018-04-24 07:16] ShalokShalom commented on #786
Well, this is completely hidden now

I suggest a blend-in suggestion text, like:

author: in a greyish color and without being really in the search field, just to show whats possible, or provide a link/popup with all the available querys.

[2018-04-25 15:27] #667 closed

[2018-04-25 17:02] housseindjirdeh opened #793 "Icons mismatch"
Some minor regressions (due to #781 I think 🤔 )

A few icons are displaying incorrectly:

<img width="415" alt="screen shot 2018-04-25 at 12 55 59 pm" src="https://user-images.githubusercontent.com/12476932/39260904-ce08e740-4888-11e8-86b5-0d0ac58affa5.png">

<img width="466" alt="screen shot 2018-04-25 at 12 55 29 pm" src="https://user-images.githubusercontent.com/12476932/39260905-ce175686-4888-

[2018-04-25 17:04] machour commented on #793
😂 😂 😂

could you try rm -rf node_modules & recompile the app? I think there's something wrong with your react-native-vectore-icons local copy

[2018-04-25 17:08] housseindjirdeh commented on #793
😅

I did clear my node modules and `yarned` things again 🤔 But it very well could be the native bindings on my end that's behind?

Will clear it again

[2018-04-25 18:23] housseindjirdeh opened #794 "Double loading indicator"
Noticed this some time ago but I don't think we have an issue open.

On the issue screen, we have a loading state that shows twice can probably grouped into just one.

![two loading indicators in issue screen](https://user-images.githubusercontent.com/12476932/39264209-526ecb04-4892-11e8-9c47-33aa79e9a244.gif)

[2018-04-26 08:59] machour commented on #793
Just tried on a clean fork, icons are okay:

| | |
| - | - |
|![simulator screen shot - iphone 6 - 2018-04-26 at 09 58 21](https://user-images.githubusercontent.com/304450/39296294-72aefca8-4938-11e8-9a06-86893bcfa14e.png)|![simulator screen shot - iphone 6 - 2018-04-26 at 09 58 15](https://user-images.githubusercontent.com/304450/39296295-72d2b008-4938-11e8-8dc6-a1900b6f7f1f.png)|

[2018-04-26 09:59] machour opened #795 "Refactor and internationalize `IssueEventListItem`"
This component could benefit from a refactoring similar to `EventsScreen`, where every event type would be handled by a dedicated method.

Instead of the big switch/case in render(), we could have something like this:

[code]

and implement `handleReviewRequested()`, `handleLabeled()`, etc.

We would then wrap strings with `utils.t()` to internationalize this component.

[2018-04-26 12:05] machour opened #796 "Moving internal docs to Wiki"
Something I had in mind for quiet some time: Could we move our internal documentation to the GitPoint Wiki?

This would help us having a better development guide, maintained outside the repository, and we would have a real life wiki example when we start working on #220.

Edited a first version of the doc here: https://github.com/machour2/test/wiki

* Scavenged bits from `CONTRIBUTING.md` and `TES

[2018-04-26 21:50] housseindjirdeh commented on #796
All for it 🚀 🚀

Thank you, this can clean things up nicely for our docs

[2018-04-27 07:13] vonovak commented on #783
I'm also migrating from `react-native-i18n` to `js-lingui`. So far so good, albeit I use the `i18n.t` more than `<Trans>` components and it took me a while to set everything up (https://github.com/lingui/js-lingui/issues/176). Good luck.

[2018-04-27 10:06] machour commented on #795
I actually have to do this while migrating the Issue Screen to GraphQL

[2018-04-27 11:32] machour commented on #783
@vonovak Good choice, it's an awesome lib! Actually there was a first PR to migrate to js-lingui as well (#747), but since it was too much to handle, we went for an intermediary home-made version to ease up the final migration :)

[2018-04-27 20:54] housseindjirdeh commented on #793
Sweet, will close this. Will try to completely clear everything and see if I'm still experiencing things 👍

[2018-04-27 20:54] #793 closed

[2018-04-29 13:41] machour commented on #796
Done

[2018-04-29 13:41] #796 closed

[2018-05-03 04:53] cjavad opened #798 "Infinite loading error"
Version: 1.5.0
Device: iPhone se

## what happends?
GitPoint loads forever an it’s impossible to do anything

## what where you expecting?
For it to load

Steps to reproduce:
  - install and login
  - change github username
  - open app

Workaround:
Reinstall the app

[2018-05-03 17:26] machour commented on #798
Hi @cjavad and thank you for logging this issue. Did you by any chance deauthorize git-point from your github account setting?

[2018-05-07 13:09] manzu commented on #220
A huge step would be just to display the wikis, to my knowledge there's no (iOS) github app that displays the wikis, not even the mobile website of github.com shows them.
Editing could come later.

[2018-05-07 13:12] manzu commented on #175
Hey, any news on this?

[2018-05-07 13:28] gsabater commented on #220
@manzu fasthub for Android displays public wiki pages, but you can't edit them

[2018-05-07 21:48] skenne21 commented on #640
Hi there! I’m a first-time contributor and was hoping to help out with this issue. I noticed nobody was assigned to it for a while, but if there’s already a solution in progress I’m happy to try helping out elsewhere. Thanks!

[2018-05-09 21:41] jstrobel opened #799 "Keyboard overlaps Inputfield"
When i am entering a issue the keyboard overlaps on long comments the comment field. i haven‘t find a way to  prevent this on a iphone SE.
After row 4 on entering it is a problem.

[2018-05-09 21:43] jstrobel commented on #799
![837d3048-cfa3-44a3-bc79-b978ab84199d](https://user-images.githubusercontent.com/1428396/39841345-b91edbf4-53e2-11e8-8845-8896eb344bd0.png)

[2018-05-10 08:32] darrenwu opened #800 "cannot set breakpoint in vs code"
## What Currently Happens?

i try to debug in vscode(v1.19), and set breakpoint there.
after i start to debug, the breakpoint become "breakpoint set but not yet bound", and not hit in vscode.
if i insert "debugger;" in the code,  then can break in the line.

## What Do You Expect To Happen?
application stop in breakpoint.

## My Reproduction Steps
1. get latest code
2.open in vscode
3.set breakpoi

[2018-05-11 16:44] chinesedfan commented on #799
Hope can be solved with #289 together.

[2018-05-11 16:47] chinesedfan commented on #798
Hi @cjavad, does `change github username` mean changing your logined account name in other places?

[2018-05-11 16:59] chinesedfan commented on #735
Accidentally, I found it has been added(https://apt.izzysoft.de/fdroid/index/apk/com.gitpoint), which was mentioned in [#204](https://github.com/gitpoint/git-point/issues/204#issuecomment-320496433). Is it the same thing?

[2018-05-11 22:55] cjavad commented on #798
I changed my username from javadsm to cjavad via github when this occured

[2018-05-12 02:48] Lionirdeadman commented on #735
No, it's not.

Izzy's repository only takes APKs from Github releases. He doesn't do anything to them.

The official F-droid repository requires all non-free code to be removed (can be done through a flavour) and they build the apk from source.

[2018-05-12 10:40] coderste commented on #738
The iPhone X still doesn’t have full screen support - any chance we can get 1.5.1 published to fix this bug?

[2018-05-13 06:42] chinesedfan commented on #794
It is due to issue events are fetched separately. We can fix temporarily or wait refactoring the issue screen with new Redux store/GraphQL.

[code]

[2018-05-17 18:32] yusuf-gunaydin commented on #680
I see the same issue on freshly installed iOS version. I have tried with iPhone 6s iOS 10.2.1 and iPad Mini iOS 9.3.5.

[2018-05-29 14:58] jstrobel opened #804 "Emojis on Issue-Comments"
I would be nice if i can see the emojis on a comment and set them.

![github-issue-emoji](https://user-images.githubusercontent.com/1428396/40667055-7d4a90bc-6361-11e8-8bef-64ae98fbcf09.png)

[2018-05-30 05:15] chinesedfan commented on #804
Yes, but duplicated of #25. Hope someone can pick up and implement it.

[2018-05-30 05:15] #804 closed

[2018-05-30 06:52] jstrobel commented on #804
Sorry hadn't found it. Thanks.

[2018-05-30 15:05] TJProgrammer opened #805 "Error when try to login"
| Question         | Response    |
| ---------------- | ----------- |
| Version?         | v1.5.0   |
| Devices tested?  | Samsung Android 4.2 |

---

## What Currently Happens?

After install the app, a message from web appears when I try to login.

## What Do You Expect To Happen?

Open the login page.

## My Reproduction Steps

1. Install the app.
1. Open the app.
1. Click in login button.
1. W

[2018-05-30 21:55] TJProgrammer commented on #805
Yes, the situation maintains.
I can open and navigate in GitHub website, but I can't login in gitpoint.

[2018-06-01 08:38] chinesedfan commented on #805
@TJProgrammer Hmm, did you forget to grant GitPoint permissions to access web?

[2018-06-01 14:26] TJProgrammer commented on #805
I have reinstall the app and the problems persists.
The app doesn't require me any grants and in the app details the permissions are granted.

[2018-06-07 13:53] FlonTaut opened #807 "Missing translation strings"
| Question         | Response    |
| ---------------- | ----------- |
| Version?         | v1.4.1      |
| Devices tested?  | iPhone 7 |

---

## What Currently Happens?
![image-1](https://user-images.githubusercontent.com/18403881/41103933-9ba7fce2-6a6a-11e8-8940-f456f16991bf.jpg)

## What Do You Expect To Happen?
Strings should be translated to german.
But as discussed in #806 they aren't extrac

[2018-06-07 14:04] chinesedfan commented on #807
@FlonTaut `script/extract-i18n.js`, which was introduced by #777, is used to extract the new style `t` into several locale files. But it can not discover any missing strings.

I think you can,
- apply `t` with those missing words, i.e. in `src/components/issue-event-list-item.component.js`.
- then run `npm run i18n:extract` to update locale files.
- try to translate new founds words or just leave

[2018-06-07 15:45] FlonTaut commented on #807
@chinesedfan thank you very much you can assign this issue to, i will take a look today or latest tomorrow! thank you!

[2018-06-09 05:42] arashcoder commented on #795
Is this issue unassigned? If so, I'd like to work on it.

[2018-06-09 09:37] machour commented on #795
Hi @arashcoder! This work have already been done in a PR I'm working on.

[2018-06-09 09:38] machour commented on #807
Hi guys. This is a duplicate of #795. I've already worked on it, I just need some time to finish it.
Closing this issue for now.

[2018-06-09 09:38] #807 closed

[2018-08-14 17:53] jeeejay commented on #101
Me too! Initially, I thought I had missed out on some setting but only later realized that push notifications are not a feature of the app yet. Any updates? It would be awesome!

[2018-08-14 22:00] andrewda commented on #101
Unfortunately I've been busy lately and have been away from the project for a while, but I'm looking to get back into GitPoint soon and will continue looking into a way to make notifications work!

[2018-09-07 03:17] housseindjirdeh commented on #101
Same here, I've been a bit occupied this past while unfortunately and most of the maintainers have :(

But I'm also looking to get back into the swing of things in the coming weeks. If this is a priority, I can work on this first as well :)

[2018-09-10 07:54] FlonTaut commented on #807
@machour How are you doing with the work? Do you need any help to finish this?

[2018-09-21 20:03] brandly commented on #679
here's a shot of this issue:
![issue-gitpoint](https://user-images.githubusercontent.com/820696/45903439-ba79a800-bdb7-11e8-8326-988c171da6bb.png)

and here's what it looks like on github:
![issue-github](https://user-images.githubusercontent.com/820696/45903438-ba79a800-bdb7-11e8-8c63-a196b4a765c8.png)

[2018-10-01 15:20] vadimkorr opened #812 "Paths relative to src are not resolved"
| Question         | Response    |
| ---------------- | ----------- |
| Version?         | v1.4.1      |
| Devices tested?  | Android 6.0.0 (API 23) Google Nexus 6 emulator |

---

## What Currently Happens?

Cannot run app, caused by paths relative to 'src' folder

## What Do You Expect To Happen?

Launched succesfully

## My Reproduction Steps

1. react-native run-android
2. Build 100%, on launc

[2018-10-02 08:04] chinesedfan commented on #812
@vadimkorr This is usually due to your local development environment. Please try steps mentioned in your log, i.e.

[code]

[2018-10-02 08:46] lex111 opened #813 "Hacktoberfest 2018 is on"
Hacktoberfest 2018 is on, GitPoint welcomes all new contributors! :open_hands:

Some of our issues that you can take it! Perfect for the first start!

- #439 Translation for other languages :fire:
- #523 Migration to styled-components  :fire:
- #518 Add more tests! :fire:
- #738 Support iPhone X :fire:

More complex, but lower priority:

- #528 Markdown: Add support for `<details>`
- #165 Enhancem

[2018-10-02 09:12] whitedogg13 commented on #813
Cool, pretty interested in taking some of that.

About #523 Migration to styled-components , does this task have any limited scope? or it's open for us to refactor any old style components and fire a PR?

Thanks!

[2018-10-02 09:14] lex111 commented on #813
Basically it is for beginners, but not more than one styled component in single PR, please.

[2018-10-02 09:32] mbelsky commented on #518
I'd like to write tests for `utils/migration-helper.js`

[2018-10-02 09:47] MarioArnt commented on #518
I'd like to test the following:
* Method Helpers
* LabelListItem

[2018-10-02 09:50] SpaceLenore commented on #439
I'd like to help with a Swedish translation!
The Swedish language is interesting, we don't really translate GitHub terms such as repositories, merge, push, commits, etc. It usually becomes more confusing and some times used as a joke i.e. "git knuffa"

[2018-10-02 10:07] lex111 commented on #439
@SpaceLenore fine! Based on the file from [the English version](https://github.com/gitpoint/git-point/blob/master/src/locale/languages/en.js) and change only the values (the keys remain intact).

[2018-10-02 10:54] lex111 commented on #439
@geeofree :hand: cool, we expect PR!

[2018-10-02 11:48] vadimkorr commented on #812
@chinesedfan, thanks for reply
Solved the problem by the following way:
1. Opened PowerShell as admin, run `npm start -- --reset-cache`
2. Opened another PowerShell, run `react-native run-android`

[2018-10-02 12:55] 94151 commented on #439
@housseindjirdeh i want to translate it in hindi. can you guide me more how can i start working on it?

[2018-10-02 16:04] #812 closed

[2018-10-02 22:56] lukakerr opened #821 "Large number of stars showing"
| Question         | Response    |
| ---------------- | ----------- |
| Version?         | v1.6.0      |
| Devices tested?  | iPhone X |

---

## What Currently Happens?

On all accounts the number of stars is largely inflated. For example my account:

![](https://i.imgur.com/pdrdSqX.jpg)

And some other users account:

![](https://i.imgur.com/fDQ7mTG.jpg)

## What Do You Expect To Happen?

The pr

[2018-10-03 06:11] RolfKoenders commented on #738
@coderste Im using it on my iPhone X and its using the fullscreen. The version currently in the App Store is version: 1.6.0.

[2018-10-03 09:14] TejasQ commented on #738
Yup. Fixed.

[2018-10-03 09:14] #738 closed

[2018-10-03 14:36] RolfKoenders commented on #821
Interesting issue. For me the number showing on my profile page in the app is exactly the same as the number on my Github profile on web. When i go to your profile in the app i also see the correct amount of starred repo's. @lukakerr Are you using the latest version?

[2018-10-03 21:33] lukakerr commented on #821
I am using the latest version. But the issue seems to have fixed itself.. Not sure what was going on earlier

[2018-10-03 21:33] #821 closed

[2018-10-04 11:26] SpaceLenore opened #823 "Languages not in order in settings"
## What Currently Happens?

The languages in settings are in a seemingly unordered list and it makes it more difficult to find the language you're looking for.

## What Would You Like To Happen?

The languages should be sorted alphabetically based on their ISO 639-1 code.

## Resolving this issue
I'd like to fix this, I'll be submitting a Pull Request shortly

[2018-10-04 20:39] SpaceLenore commented on #823
Merged

[2018-10-04 20:39] #823 closed

[2018-10-06 03:29] garywill opened #826 "Some organization page not displayed correctly"
| Question         | Response    |
| ---------------- | ----------- |
| Version?         | v1.6.0      |
| Devices tested?  | iPhone SE... |

---

## What Currently Happens?

Some problems opening some organization page, like [this page](https://github.com/SimpleNexus), on gitpoint.
1. Opening this page from home screen cause white blank freeze.
1. Opening this page from search won't display repo

[2018-10-06 16:47] chinesedfan commented on #826
This problem is due to the schema id of orgs is converted to lower case, see `api/shcemas/orgs.js`. I am not sure whether there is something similar existed. Because other entities, like repos/users, are also converted to lower case. A simple fix of this case may like,

[code]

BTW, we need to set `noMembersMessage` of `MemberList` in `organization-profile.screen.js` as well as `repository.screen.

[2018-10-08 14:43] ooHAoo commented on #439
Hi, don't see one for Thai (TH) yet so I would like to add one, if possible. Thanks!

[2018-10-08 17:30] rudsberg commented on #532
Hey I'm down contributing to you guys! I can do the LoadingRepositoryProfile and IssueSettings

[2018-10-08 18:34] rudsberg commented on #439
I could help out with some swedish stuff if you guys interested

[2018-10-08 18:42] lex111 commented on #439
Hey @rudsberg

There is already a translation in Swedish, but you can check its correctness, for example.

[2018-10-08 20:25] lex111 commented on #532
@rudsberg we will be happy about this 🤗

[2018-10-10 17:58] EdZava commented on #439
@lex111  pull request some bug fixes of the portuguese translation.

[2018-10-11 04:59] TFarla commented on #518
I would like to pick up tests for the reducers:

- Issue
- Organization
- Repository
- User

[2018-10-15 20:41] ooHAoo commented on #439
Hi, I need some help. Not sure if I should be creating an issue or just post here. Please let me know.
So I have done the translation and everything and now I'm trying to up the app to run on my android but everytime I run this command it gives me an error that BUILD FAILED:

yarn start:android

[2018-10-16 12:08] jglover commented on #532
@lex111 back with renewed motivation for Hacktoberfest again. I'm happy to take a couple of those issues to convert issue screens to styled components 👍

[2018-10-16 18:49] lex111 commented on #439
@ooHAoo hello, please give more information? What system do you have, better send a screenshot?

[2018-10-16 18:53] lex111 commented on #532
@jglover hi, look forward to your PRs!

[2018-10-17 18:58] olegkorol commented on #650
Hi!
Is this issue still actual?
I can open PDFs from my Xiaomi Mi A1:

![android_xiaomi](https://user-images.githubusercontent.com/13587499/47109618-043a9e80-d24f-11e8-8477-6667f2a83c49.jpg)

[2018-10-17 22:56] reebr commented on #650
@olegkorol yes, It still crashing.
Are you opening directly through the app? Did not associate any standard applications to open PDF files?

I've created a repository for tests, check it and try to open the file on tree:
https://github.com/reebr/gitpoint-pdf-issue

Error:

![](https://i.imgur.com/tSIyBtc.png)

[2018-10-18 09:42] olegkorol commented on #650
Oh ok, now I understood the issue and could reproduce it. Thanks @reebr 👍

So basically if you click on a link in a README file that points to a .pdf file it works.
On the other hand, when trying to open a .pdf file that is part of the source code it crashes.

Do you guys mind if I try to fix the bug?

[2018-10-18 09:48] olegkorol commented on #439
I could provide a translation for Catalan. Should I?

[2018-10-18 09:50] lex111 commented on #439
@olegkorol it would be cool! :+1:

[2018-10-19 12:29] lex111 commented on #650
Hey @olegkorol

We will be very happy if you fix this bug :open_hands:

[2018-10-19 17:09] jatempa commented on #439
I want to translate for spanish

[2018-10-19 17:19] alejandronanez commented on #439
Hola @jatempa,

We already have spanish translations, but you can take a look, maybe we missed something!

Please, add me as a reviewer since I’m also a native spanish speaker!

Thanks!

[2018-10-21 11:58] lucaslago commented on #518
Hi, I'd like to test the ViewContainer component

[2018-10-21 12:05] lex111 commented on #518
@lucaslago fine, good luck!

[2018-10-22 07:19] jstrobel opened #835 "[unknown placeholder]"
Hi,
if i am right the [unknown placeholder] comes from a missing translation or variable. I couldn't find the place so i am making this report (language is "de").

![october 22 2018 at 09 13am](https://user-images.githubusercontent.com/1428396/47281467-8f16f280-d5db-11e8-975f-830bae6cd4b0.png)

[2018-10-23 12:21] Chandrasekar-G commented on #532
Hi, I'ld like to work on LoadingRepositoryProfile :)

[2018-10-24 02:40] housseindjirdeh commented on #679
Thanks for the screenshot @brandly 🙌🏾

Definitely not a high priority, but I think a settings option to change between "Regular" and "Large" would be nice to have

[2018-10-24 02:49] housseindjirdeh commented on #650
Thanks a million @olegkorol, we would _love_ a fix for this :)

[2018-10-24 02:58] housseindjirdeh commented on #518
Thank you @lucaslago, appreciate it 🙏🏾

[2018-10-25 04:00] mmendesas commented on #518
Hi, I'd like to test the IssueDescription component

[2018-10-27 02:08] chinesedfan commented on #636
#819 fixed this.

[2018-10-27 02:09] #636 closed

[2018-10-27 09:56] lex111 commented on #439
@chinesedfan oops, accidentally closed this issue, thanks for opening again!

[2018-10-29 05:14] Chandrasekar-G commented on #794
Can I take this up or is this already done?

[2018-10-30 03:34] chinesedfan commented on #826
@machour Did you remember why those entities idAttribute were converted to lower cases?

[2018-10-30 15:37] machour commented on #826
@chinesedfan here's the origin of this piece of code: https://github.com/reduxjs/redux/blob/master/examples/real-world/src/middleware/api.js#L52

[2018-10-30 15:40] machour commented on #826
Ideally the navigation parameter would already be in lowercase (it would be the key of the org entity in our store).

[2018-10-31 05:13] chinesedfan commented on #826
@machour Thanks for your link. I found Github API accepts case-insensitive arguments and returns case-sensitive logins. For example, following 3 calls will receive the same login `SimpleNexus`.

- https://api.github.com/orgs/SimpleNexus
- https://api.github.com/orgs/simpleNexus
- https://api.github.com/orgs/simplenexus

So as long as we make sure our store ids are case-sensitive, there will be no

[2018-10-31 20:32] coderste opened #847 "NotFoundError: Cannot find entry file index.ios.js in any of the roots"
| Question         | Response    |
| ---------------- | ----------- |
| Version?         | v1.4.1      |
| Devices tested?  | iPhone 6 |

---

## What Currently Happens?

Running `yarn start:ios` opens up the app inside the iPhone 6 simulator but returns the error:

`error: bundling failed: NotFoundError: Cannot find entry file index.ios.js in any of the roots:`

## What Do You Expect To Happen?

[2018-11-02 09:38] coderste commented on #847
Tried that but still seem to be getting the same errors :/

[2018-11-03 10:15] #826 closed

[2018-11-05 06:22] lukakerr opened #849 "Issues aren't loading properly"
| Question         | Response    |
| ---------------- | ----------- |
| Version?         | v1.6.0      |
| Devices tested?  | iPhone X |

---

## What Currently Happens?

No issues load when viewing via profile/repo

## What Do You Expect To Happen?

Issues should load

## My Reproduction Steps

1. Go to a repository via search/feed repo etc
2. Click on the issue 'View All' button
3. Click on an i

[2018-11-05 06:40] chinesedfan commented on #849
Thanks for reporting. It has been fixed in #846.

[2018-11-05 06:40] #849 closed

[2018-11-11 09:11] tooomm opened #850 "Menu/category buttons at the bottom are not shown"
| Question         | Response    |
| ---------------- | ----------- |
| Version?         | v1.6.0      |
| Devices tested?  | iPad Mini 2 |

---

## What Currently Happens?

The menu/category buttons at the bottom of the screen to switch between notification, profile etc. are not shown at any time.

[2018-11-11 19:00] anaskhan96 commented on #270
Since #258 wasn't merged, is there still work being done for this issue? Commented on commit events still don't have a link to the commit from the user activity feed.

[2018-11-27 04:25] garywill opened #853 "Annoying bugs when star project and enter some project"
| Question         | Response    |
| ---------------- | ----------- |
| Version?         | v1.6.0      |
| Devices tested?  | iPhone SE |

---

## What Currently Happens?
1. Everytime I star a project, API error happens. Staring is successful.
![file_1](https://user-images.githubusercontent.com/32130780/49058483-1ddee680-f1fc-11e8-9ade-9676772799ef.png)

1. When enter [this project](https://github

[2018-11-29 17:21] chinesedfan commented on #853
@garywill Sorry for the inconvenience.

1. I have prepared a branch [fix_853](https://github.com/gitpoint/git-point/tree/fix_853) trying to fix it.
2. It's due to Github's API inconsistence. Check https://github.community/t5/GitHub-API-Development-and/Keep-deleted-issue-author-as-ghost/m-p/15456. And if no feedbacks from Github, we will consider to be compatible with it.

[2018-11-30 16:35] chinesedfan commented on #768
Tested after #848 merged as it was an issue with long conversation, but not sure which PR fixed it. The latest markdown related is #819.

[2018-11-30 16:35] #768 closed

[2018-11-30 17:20] #528 closed

[2018-11-30 17:29] chinesedfan commented on #744
Paste link here for easy testing, https://github.com/andstatus/andstatus/issues/389.

[2018-11-30 17:32] #744 closed

[2018-11-30 17:36] chinesedfan commented on #751
Just remind: if not migrating `Repository: issues list`, it will crash when no result is found.

[2018-11-30 19:25] mjohnsey opened #854 "Android notch handling"
| Question         | Response    |
| ---------------- | ----------- |
| Version?         | v1.5    |
| Devices tested?  | Google Pixel 3 XL |

---

## What Currently Happens?

On the repo overview screen, the screen expands into the notch area so the top part of the page is unusable. This is the Android version of #707 .

## My Reproduction Steps

1. Open any repo

[2018-12-01 10:47] #5 closed

[2018-12-01 10:56] chinesedfan commented on #794
Done by #848.

[2018-12-01 10:56] #794 closed

[2018-12-01 11:03] chinesedfan commented on #741
Now we simply depends on Github has marked the link with class `issue-link`. More intelligent will be better.

[2018-12-01 13:54] chinesedfan commented on #668
Now we have `API Error` alert. Enjoy.

[2018-12-01 13:54] #668 closed

[2018-12-02 22:35] IzzySoft commented on #204
Ugh, the last release has no APK :scream: Can you please add it to the corresponding tag? Thanks in advance!

[2018-12-03 00:45] chinesedfan commented on #204
@IzzySoft Sorry, 1.7.0 was a mistaken release by @housseindjirdeh. We are not intend to release yet. I have updated the release notes with explanation.

[2018-12-03 06:57] IzzySoft commented on #204
Ah, I see. Thanks for your quick reaction! Maybe you rather wish to [remove the tag](https://stackoverflow.com/q/5480258/2533433) then?

[2018-12-03 07:45] chinesedfan commented on #204
@IzzySoft Never mind. We will use 1.7.1 or 1.8.0 as the next tag. Technically, removing the tag is easy. But if someone has pulled the tag, he/she needs to remove locally, too.

[2018-12-03 17:51] IzzySoft commented on #204
@chinesedfan OK, was just a suggestion. Looking forward to 1.7.1/1.8.0 then :wink: Thanks again!

[2018-12-09 10:17] cedric05 commented on #798
can i take this up?

[2018-12-09 13:13] chinesedfan commented on #798
@cedric05 Sure. Please go ahead.

[2018-12-20 14:21] cedric05 commented on #798
i tried building and couldn't in my mac. someone else please take up

[2018-12-21 12:01] #853 closed

[2018-12-27 02:47] chinesedfan commented on #795
@machour Not a push. Just ping to check your PR status.

[2018-12-27 06:41] Arjun-sna opened #859 "Upgrade React"
Current version of `react` used is `16.3.0-alpha.1` which can be upgraede to latest version.
Safe upgrade can be to `16.4.0`.

[2018-12-27 08:50] machour commented on #795
Hi,

The PR that included this won't be finished as comments pagination have been done separately.

Here's the event screen with my modifications: https://github.com/machour/git-point/blob/refactor/issues-and-pulls/src/auth/screens/events.screen.js

I'd have zero problems if someone copied into his own PR and submitted, I'll probably won't have the time any soon.

[2018-12-28 15:33] Shock9616 opened #860 "Tabs in the tab bar do not show up on iPad"
| Question         | Response    |
| ---------------- | ----------- |
| Version?         | v1.6.0      |
| Devices tested?  | iPad 6 |

---

## What Currently Happens?

When I open the app, the tab bar shows up in the bottom of the screen but none of the tabs show up in the tab bar. I can still click them but I can’t see which one I’m clicking

## What Do You Expect To Happen?

I expected to be ab

[2018-12-28 15:50] chinesedfan commented on #860
Duplicate of #850. Thanks for your detailed description all the same. We really didn't test much in iPad. Let's keep tracking there.

[2018-12-28 15:50] #860 closed

[2018-12-31 13:00] Jacalz opened #861 "Imploment a recent activity menu"
## What Currently Happens?
Currently when you go to a user, a repository or any organization it only shows the basic info.

## What Would You Like To Happen?

I would like to be able to press a button to have a list with the recent activity from that user, in that repository or in that organization. This is implemented really nicely in iOctocat:

Example:
![image](https://user-images.githubusercon

[2019-01-05 14:44] #480 closed

[2019-01-05 14:46] chinesedfan commented on #798
Same as #477.

[2019-01-05 14:46] #798 closed

[2019-01-05 14:48] chinesedfan commented on #406
Let's track in #518.

[2019-01-05 14:48] #406 closed

[2019-01-10 16:24] IzzySoft opened #863 "v1.7.0 lacks APK"
Could you please attach the APK to the release of v1.7.0 – for those outside of Playstore? Thanks!

[2019-01-11 02:12] chinesedfan commented on #863
@housseindjirdeh Can you attach the file when you have time? And btw, I suggest to make a real release to AppStore/Playstore.

[2019-01-11 20:42] IzzySoft commented on #863
@chinesedfan don't forget F-Droid, if possible :wink:

As due to the use of GMS and Firebase the app is not acceptable for the official repo, your app currently [is available in mine](https://apt.izzysoft.de/fdroid/index/apk/com.gitpoint) (but stuck at v1.5.0 due to the missing APKs here). If you can provide a flavor that comes without those, I gladly assist you to bring Git-Point to the official

[2019-01-14 14:34] wrongsyntax opened #864 "Some repos load while others don't"
| Question         | Response    |
| ---------------- | ----------- |
| Version?         | v1.6.0     |
| Devices tested?  | iPhone 6 |

---

## What Currently Happens?

When I attempt to view two of my repositories, they just keep loading forever. This does not happen with all of my repos.

## What Do You Expect To Happen?

I expected the repo to load.

## My Reproduction Steps

1. Go to my profi

[2019-01-14 15:09] chinesedfan commented on #864
It is a known issue, #826, and has been fixed in #846. Sorry for the inconvenience and hope we can release a new version soon. (cc @housseindjirdeh)

[2019-01-14 15:09] #864 closed

[2019-01-17 17:28] gilesbowkett opened #865 "couldn’t navigate anywhere"
| Question         | Response    |
| ---------------- | ----------- |
| Version?         | v1.6.0    |
| Devices tested?  | small iPad Pro mid-2018 |

---

## What Currently Happens?

After logging in, I tapped Notifications and got a list of notifications. The notifications list displayed no navigation elements of any kind, except for tapping individual notifications. There was no way to exit Not

[2019-01-17 17:48] wrongsyntax commented on #865
Did you try restarting the app?

[2019-01-17 17:55] gilesbowkett commented on #865
no, I just deleted it. I'm only here because I thought telling you in an App Store review would be rude. I tried it for ten seconds, and then I deleted it because it didn't work.

[2019-01-17 17:57] wrongsyntax opened #866 "Trying to search for an issue results in blank white screen"
| Question         | Response    |
| ---------------- | ----------- |
| Version?         | v1.6.0      |
| Devices tested?  | iPhone 6 |

---

## What Currently Happens?

Searching for an issue on any repository causes the app to show only a white screen, with no buttons or anything.

## What Do You Expect To Happen?

I expected issues that relate to the search to appear, and the rest of the app t

[2019-01-17 18:00] wrongsyntax opened #867 "Trying to submit issue causes a crash"
| Question         | Response    |
| ---------------- | ----------- |
| Version?         | v1.6.0     |
| Devices tested?  | iPhone 6|

---

## What Currently Happens?

When I attempt to submit a new issue, the app crashes.

## What Do You Expect To Happen?

I expected the issue to be submitted and the to not crash.

## My Reproduction Steps

1. Go to any repo
2. View all issues
3. Click the plus

[2019-01-17 20:15] wrongsyntax commented on #865
This seems like a known issue, as seen here: #850 and #860

[2019-01-17 21:29] #865 closed, assigned to nobody

[2019-01-18 05:14] chinesedfan commented on #866
Refer to https://github.com/gitpoint/git-point/issues/751#issuecomment-443280057. It should be fixed by #856. And if everything goes well, there will be a new release next week.

[2019-01-18 05:14] #866 closed

[2019-01-21 21:49] Aberman12 commented on #760
has this issue been fixed already? if not id like to take it on!

[2019-01-22 02:58] jamesg1 commented on #760
Go for it @Aberman12 I forgot about this one sorry.

[2019-01-23 13:56] chinesedfan opened #868 "Icons and the sort of issue events"
- Not every icon is in the center.
  - We need test function `marginLeftForIconName` in `issue-event-list-item.component.js` for every icons and update.
- The sort doesn't always obey created time. Maybe caused by #848.
  - Some items have invalid `created_at` value.

[2019-01-24 12:07] dpffxhad opened #869 "Use App without Logging in"
## What Currently Happens?

## What Would You Like To Happen?
Browse without having to log in

[2019-01-24 15:41] chinesedfan commented on #869
Hi, do you concern about the security? We have made the above announcement and will always obey it. And without logging in, this app can keep very limited functionalities.

[2019-01-24 15:41] #869 closed

[2019-01-30 17:18] IzzySoft commented on #735
@chinesedfan so what is the status here? [Appbrain's library scanner](https://www.appbrain.com/app/com.gitpoint) reports Firebase and GCM – both are show-stoppers for F-Droid. Is there a build flavor that comes without those?

[2019-01-31 14:47] chinesedfan commented on #735
@IzzySoft Sorry not. I contacted with @housseindjirdeh to learn how to publish new release, but he was busy these days. Once there were some progresses, I will update here. And at the same time, would you please send a PR to remove Firebase and GCM? It may not be merged to master, but at least I can use it to build F-Droid specified version.

[2019-01-31 18:54] KOLANICH commented on #735
IMHO - tracking iss unacceptable even in completely proprietary apps.

[2019-02-01 02:57] Arjun-sna commented on #859
@AndrewJGregory there is a PR already open for this issue. #862

[2019-02-04 08:26] jstrobel opened #870 "Layout needs padding on iPhoneXS"
As you can see on the screenshot (at the top) there needs to be some padding added to the top. Issue here is that on your profile you cannot (or very diffucult) reach you preferences.
Eventually this blog post helps https://webkit.org/blog/7929/designing-websites-for-iphone-x/

![foto 04 02 19 09 24 01](https://user-images.githubusercontent.com/1428396/52197176-df4e5380-285e-11e9-8716-22edc3ee052a

[2019-02-18 00:49] IzzySoft commented on #863
@chinesedfan @housseindjirdeh any news? The APK is still missing.

[2019-02-18 14:44] JordanTranchina commented on #754
Hey y'all! I'm a UX Designer. I can help with the redesign here. What are the requirements for the edit? Read through the above thread but confused as to what needs to be done. Is it just adding a submit button before the page fold?

If so, is there an svg of a submit button somewhere in the github files?

[2019-02-23 02:50] chinesedfan commented on #754
@JordanTranchina Thanks for your help. But seems @housseindjirdeh has made the final decision.

[2019-03-01 10:45] ShalokShalom commented on #754
When I look at the date, is help surely welcome :dagger:

[2019-03-02 14:51] IzzySoft commented on #863
@chinesedfan @housseindjirdeh still nothing?

[2019-03-10 14:54] kam-r opened #871 "Only message „One of the most feature-rich GitHub clients that się 100% free” displayed"
| Question         | Response    |
| ---------------- | ----------- |
| Version?         | Current (2019.03.10)      |
| Devices tested?  | iPad Pro 10.5 |

---

## What Currently Happens?

After I successfully log in to GitHub the applikaction displays only a message: „One of the most feature-rich GitHub clients that się 100% free”. Beside that app się unresponsive.

## What Do You Expect To Happ

[2019-03-15 06:06] chinesedfan commented on #871
@kam-r We never tested this app in iPad, and one of known issues is #850. I am afraid you should switch to install on phone before someone figures out the reason.

[2019-03-17 22:21] IzzySoft commented on #863
Ugh, any chance – or must we give up on the app?

[2019-03-18 03:31] chinesedfan commented on #863
@IzzySoft Be patient or forget this app temporarily. I have been ready to build a new release for several months. But without @housseindjirdeh's help/account/permissions, nothing can be done.

[2019-03-18 06:34] IzzySoft commented on #863
Sad, but what can we do? @housseindjirdeh please don't delay this for too long!

[2019-04-15 15:36] andrewda commented on #101
I just read this article, and I wonder if we could do something similar to send push notifications?

https://towardsdatascience.com/using-gitlabs-ci-for-periodic-data-mining-b3cc314ecd85

[2019-04-23 02:13] YesThatAllen opened #872 "The support URL in the app store isn't very useful"
## What Currently Happens?

when i click on the support link in the iOS App Store I'm sent to an old URL

https://github.com/housseindjirdeh/git-point/pulls

## What Do You Expect To Happen?

I would expect to be sent to this repo

https://github.com/gitpoint/git-point/issues

## My Reproduction Steps

- find git point in the app store
- click get support

[2019-04-28 00:44] BaksiLi opened #873 "Cannot click on the bottons on iPhone X"
| Question         | Response    |
| ---------------- | ----------- |
| Version?         | v1.6.0      |
| Devices tested?  | iPhone Xs |

---

## What Currently Happens?

Showing issue on full screen iPhone.

Because the setting bottom overlapped with iOS status bar (see Screenshot).

![IMG_1717](https://user-images.githubusercontent.com/26314680/56856644-dbf6cf80-6956-11e9-83e6-5ef203165742.PNG)

[2019-05-04 22:26] G2Jose commented on #772
Would love to see this as well! Lmk if we're cool with me creating an initial PR for this.

[2019-05-05 13:35] jstrobel commented on #870
Is there any update on this? Its hard to e.g. star something. Thanks a lot.

[2019-05-05 21:22] alejandronanez commented on #772
Whew, this is quite an old issue 😅.

My 2 cents about this, what specific problems would typescript

[2019-05-06 03:17] chinesedfan commented on #772
Agreed with @alejandronanez. The main difference between them is that flow supports to be used progressively and it is already there. If created a new project, I will choose Typescript. And I don't think we can gain much benefits and have enough time to do that.

[2019-05-13 06:01] thivatm opened #876 "Can't star a repository from iOS device"
| Question         | Response    |
| ---------------- | ----------- |
| Version?         | v1.6.0      |
| Devices tested?  | iPhone 7 |

---

## What Currently Happens?
If you navigate to a repository and try to Star the repository you will get an error lie below.
![photo6253258146168547563](https://user-images.githubusercontent.com/25591638/57598671-c649f280-7571-11e9-963c-2d8334f2a2fc.jpg)

##

[2019-05-13 08:26] chinesedfan commented on #876
Fixed by #855 but not release.

[2019-05-15 02:03] dustturtle opened #877 "Failed on iOS, xcode 10"
Would you please upgrade the react-native version to support xcode10?

| Question         | Response    |
| ---------------- | ----------- |
| Version?         | v1.4.1      |
| Devices tested?  | iPhone 7... |

---

## What Currently Happens?

## What Do You Expect To Happen?

## My Reproduction Steps

1. XXX
1. XXX
1. XXX
1. XXX

[2019-05-20 08:25] thivatm commented on #876
Closing the issue since the solution has been found already

[2019-05-20 08:25] #876 closed

[2019-05-21 14:35] chinesedfan commented on #863
@IzzySoft Finally. I built a new release, [v1.7.1](https://github.com/gitpoint/git-point/releases/tag/1.7.1).

[2019-05-21 15:09] chinesedfan commented on #877
@dustturtle Can you give detailed error messages when running on Xcode 10?

[2019-05-22 03:24] dustturtle commented on #877
I don't think anybody use this repo can run on xcode 10.2 without any change.

[2019-05-22 04:06] chinesedfan commented on #877
So, can you paste the error screenshot?

[2019-05-22 10:49] cloudy9101 commented on #877
Don't know if the issue you got is as same as mine. Here is my screenshot when I run "yarn start:ios".  My OSX version is 10.14.5 and Xcode version is 10.2.1
![image](https://user-images.githubusercontent.com/5436425/58167633-7c36de80-7ce0-11e9-93a5-d0990d2e5295.png)

I find a solution.
First, follow [this](https://github.com/facebook/react-native/issues/23282#issuecomment-476439080).
Then open th

[2019-05-22 18:56] IzzySoft commented on #863
Thanks! But you forgot to increase `versionCode` (which is still set to `7` as was v1.5.0 already). Could you please fix and replace, @chinesedfan? Let me know when it's done, as this time I need to fetch the update manually (as the APK with the wrong `versionCode` is "in the way").

[2019-05-23 02:27] chinesedfan commented on #863
@IzzySoft Because git only contains 6(1.4.1), I increased it to be 7(1.7.1). Do you know how to determine the right next versionCode?

[2019-05-23 07:01] IzzySoft commented on #863
@chinesedfan it must simply be bigger than any one you've used before. You can use it as "release counter", or simply use the current timestamp (I'd not really recommend the latter – but it's just to give you an idea). And it must be integer.

To find out which you've used before, you can run `aapt d badging` on the other APKs, and grep for `versionCode`. this is the result for 1.5.0 and 1.7.1:

[2019-05-23 16:03] chinesedfan commented on #863
@IzzySoft Updated versionCode to 10. I guessed by the following way. :P

- 7, 1.5.0
- 8, 1.6.0
- 9, 1.7.0
- 10, 1.7.1

[2019-05-23 16:04] housseindjirdeh commented on #863
Apologies @IzzySoft, I've been hands off this project for the past few months so I'm sorry about that. @chinesedfan has been leading the project thus far so now I'm making sure he has complete permissions/control over releases and not just me.

@chinesedfan thank you,I wish I kept note of the last versionCode but as long as it's large that's fine. Okay to start and move from 10 onwards :D

[2019-05-23 23:32] IzzySoft commented on #863
Thanks @chinesedfan and @housseindjirdeh! I've just grabbed the APK manually and checked, it looks fine! Triggered a manual update in my repo, so it should show up in a few minutes.

Guess this issue can be closed then. Please keep up attaching the APKs to the tags, and of course increasing `versionCode` with each new release :smile:

[2019-05-25 04:20] chinesedfan opened #878 "Make next Android release provide 64-bit versions"
Created this issue as a reminder. What we should do, see https://developer.android.com/distribute/best-practices/develop/64-bit#building_with_android_studio_or_gradle

[2019-05-29 11:17] garywill opened #879 "please update ios app store"

[2019-06-13 11:41] dustturtle commented on #877
cd node_modules/react-native/third-party/glog-0.3.4
../../scripts/ios-configure-glog.sh
This finally solved the problem "config.h not found".
And many thanks to @cloudy9101 , you really help a lot

[2019-06-13 11:41] #877 closed

[2019-06-13 22:54] AntoineWtrnd opened #880 "Create ticket on iOS 12.3.1 crash when submit."
| Question         | Response    |
| ---------------- | ----------- |
| Version?         | v1.4.1      |
| Devices tested?  | iPhone 7... |

---

## What Currently Happens?

## What Do You Expect To Happen?

## My Reproduction Steps

1. XXX
1. XXX
1. XXX
1. XXX

[2019-06-14 02:05] chinesedfan commented on #880
I guess `ticket` means `issue`. Then it is the same with #867.

The latest master should have fixed this problem. But we are blocked to release a new iOS release due to @housseindjirdeh is busy.

[2019-06-29 15:50] #863 closed

[2019-07-03 17:23] brandly commented on #879
cc @housseindjirdeh

[2019-07-05 04:10] chinesedfan opened #885 "Upgrade to styled-components@4"
Keep it as a reminder.

[2019-07-25 14:08] lucalves opened #886 "Tool used in the main readme prototype"
Good morning!

I have a little question about the repository main README.

Which tool was made the prototype screenshots of the application?

For example, the tool I'm asking was used in this image [here](https://camo.githubusercontent.com/23000a0148c8b81e8afda51cef7b2c62ac4f2bac/687474703a2f2f692e696d6775722e636f6d2f486f774636614d2e706e67) in the main README.

Awaiting, thanks!

[2019-07-26 02:17] chinesedfan commented on #886
I am not sure how @housseindjirdeh made those pictures. If they are real screenshots, you can run the app in Xcode simulators with Window->Show Device Bezels selected. Hope it can help you.

[2019-07-26 17:45] lucalves commented on #886
Thanks @chinesedfan. If anyone knows the specific tool used, it would be very good.

[2019-07-28 17:05] Rexogamer commented on #14
I support this idea. Most apps either don’t let you edit or block pushing to Github behind a paywall

[2019-08-03 00:44] #886 closed

[2019-08-21 08:29] Rexogamer commented on #879
If confused, he means “please update the App Store version with the various changes since the last release”

[2019-08-27 12:40] chinesedfan opened #887 "Replace deprecated React lifecycle methods"
As suggested in https://github.com/gitpoint/git-point/pull/862#issuecomment-524167180, and more potential problems can be discovered by [StrictMode](https://reactjs.org/docs/strict-mode.html).

- componentWillMount
    - [ ] user/screens/starred-repository-list.screen.js
- componentWillReceiveProps
    - [ ] auth/screens/events.screen.js
    - [ ] auth/screens/language-setting.screen.js
    - [ ]

[2019-09-16 15:43] sustainablelab opened #888 "Icons missing on iPad"
| Question         | Response    |
| ---------------- | ----------- |
| Version?         | v1.6.0      |
| Devices tested?  | iPad Air (3rd gen) v12.4.1 |

---

## What Currently Happens?

  Icons are **not visible** at bottom of screen. My workaround is to *guess* the icon location: I click the region where the icons *should* be to switch between GitPoint's four views (home/notifications/search/p

[2019-09-26 18:14] Rexogamer opened #889 "Use Git Data API for files"
This would allow us to get files up to 100mb in size.

[2019-09-26 20:05] Rexogamer opened #890 "Multitasking"
## What Currently Happens?
GitPoint doesn’t support [multitasking](https://developer.apple.com/design/human-interface-guidelines/ios/system-capabilities/multitasking/).

## What Would You Like To Happen?
Add support for multitasking.

[2019-09-27 02:49] chinesedfan commented on #889
Thanks for your suggestion. But how do users view such large files? It is hard to navigate to certain lines or do anything else.

[2019-09-27 06:06] Rexogamer commented on #889
....what? I don’t really see what that has to do with this...

[2019-09-27 08:10] chinesedfan commented on #889
I mean files that are larger than 1mb must contain thousands or more lines of codes. So even if we load them, users can't read them.

Can you provide a large file example? Like the file path in a repository. And what do you expect for which screen? The file list or the file detail?

[2019-09-27 15:02] Rexogamer commented on #889
This is simply an API change. No UI changes were requested in this issue, if that was what you were asking.

[When I try to load this file,](https://github.com/DJScias/Discord-Datamining/blob/master/current.js), I get the following error:
![794A202B-D2B8-47AD-9B18-81BC13E479F0](https://user-images.githubusercontent.com/42586271/65779675-1fd94500-e140-11e9-9373-f4b352b76b1a.png)

[2019-09-27 15:03] Rexogamer commented on #889
When you say “users can’t read them”, are you suggesting the client would be laggy, or about screen size, or something else?

[2019-09-27 17:51] Rexogamer commented on #879
Any news?

[2019-09-28 04:48] chinesedfan commented on #889
Yes. I admit that the current behavior is not the best one. If we updated the API without UI enhancements to handle large files, users may face new problems.

[2019-09-28 04:53] chinesedfan commented on #879
Sorry, @housseindjirdeh has been kidnapped by aliens for months. Please call FBI to rescue him.

🙈Joke by nearly the fact.

[2019-09-28 08:17] Rexogamer commented on #889
We don’t and won’t know what those issues are until we try the API change.

[2019-10-01 11:03] kimuradev commented on #532
I guess this list is not up-to-date. I'm searching for those pending components and all of them are styled. Is possible to update this list? :)

[2019-10-04 14:23] chinesedfan commented on #532
@kimuradev Updated. Pick as you wish.

[2019-10-07 21:06] giovannipessiva commented on #439
Seems like Italian is missing, I'll work on it

[2019-10-15 10:56] nersoh commented on #518
Can I take `IssueListItem`?

[2019-10-16 19:01] SpaceLenore commented on #439
Hello again, I noticed that there are some new words and phrases added that does not have any Swedish translations yet. I'll submit a PR with them shortly.

[2019-10-31 02:48] chinesedfan commented on #888
@adrianhartanto0 Thanks for your interest. It seems to have been fixed by RN upgrading(#883), but I am not sure. If it was still there in our master codes, please go ahead.

[2019-10-31 11:29] rakeshlanjewarwork commented on #439
I am working on marathi ( India ).

code = mr

[2019-11-09 06:07] chinesedfan opened #913 "Login problem since RN 0.59"
### Backgrounds

The current designed login process,

1. In login screen, visit Github's login url with a callback schema by WebView and listen to `onNavigationStateChange`
    - Before #323, use `Linking` in Android and `react-native-safari-view` in iOS, then listen on Linking in both platforms
    - Why still listening on Linking in Android? Because in Android, we have a `can't login` button
2.

[2019-11-11 04:12] brandly commented on #879
@chinesedfan does anyone else have app store publishing rights?

[2019-11-11 06:42] chinesedfan commented on #879
@brandly I am afraid NOBODY else. If you really want to experience the latest app, clone the repository, build and install to your device locally. Sorry I don't know how to distribute an iOS app without app store.

[2019-11-15 13:39] brandly commented on #879
RIP https://github.com/mobile

[2020-01-29 08:59] Tarektouati commented on #885
@chinesedfan  can I work on this?

[2020-03-19 06:40] #873 closed

[2020-04-30 13:53] bobbylemm commented on #795
@machour has this task been done now?

[2020-04-30 13:55] bobbylemm commented on #760
@Aberman12 has this issue been fixed? I can fix it if it hasn't

[2020-06-17 16:03] UltraBlackLinux opened #916 "git point crashes user UI (I think) - locks my phone"
| Question         | Response    |
| ---------------- | ----------- |
| Version?         | v1.4.1      |
| Devices tested?  | cheryl - Razer Phone - Lineageos 17.1... |

---

## What Currently Happens?
If I open the app and wait for the News page to load I get logged out - propably an Android UI crash
Getting this wierd Log:
[logcat_06-17-2020_17-54-00.txt](https://github.com/gitpoint/git-point/fi

[2020-09-25 00:16] raihan71 commented on #439
I can translate it to Indonesia

[2020-09-25 00:33] Jpfonseca commented on #439
I will be looking into the Portuguese translation as soon as I can.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Raihan Nismara <notifications@github.com>
Sent: Friday, September 25, 2020 1:16:21 AM
To: gitpoint/git-point <git-point@noreply.github.com>
Cc: João Fonseca <jpedrofonseca_94@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [gitp

[2020-11-25 08:49] SenzoNgele commented on #674
Lool after I struggled for years.. I have found a Solution to This
The course is. First I use my google chrome which I saved my Github account with.
So my VS was taking me to Microsoft Edge and get the button disabled.

All you have to do is to change you Default browser on your machine to the one u have signed is with on github

[2020-12-21 07:56] koontah opened #924 "Fix all errors on phone"
| Question         | Response    |
| ---------------- | ----------- |
| Version?         | v1.4.1      |
| Devices tested?  | iPhone 7... |

---

## What Currently Happens?

## What Do You Expect To Happen?

## My Reproduction Steps

1. XXX
1. XXX
1. XXX
1. XXX

[2020-12-21 07:57] koontah commented on #924
Help needed
Enable Java script

[2020-12-21 07:58] koontah opened #925 "Fix issues"
## What Currently Happens?

## What Would You Like To Happen?

[2020-12-21 07:59] koontah commented on #925
Enable Java script fix issues

[2021-01-08 20:47] IzzySoft commented on #735
We had a [request open at F-Droid](https://gitlab.com/fdroid/rfp/-/issues/292) which I'll now have to close, unfortunately, as the dependencies are still there. Going by the permissions, it's caused by using FCM and most likely dragged in via

[code]

So should you one day have a foss build flavor, be welcome to reach out to us to either revive that RFP or open a new one.

PS, to clarify again abo

[2021-03-16 08:54] #650 closed

[2021-06-07 20:12] #916 closed

[2022-06-10 16:59] #342 closed

[2022-07-09 18:46] #59 closed