[2017-08-14 16:45] lex111 commented on #233
@housseindjirdeh I checked it, it was updated. It's possible more in detail?

[2017-08-14 16:54] housseindjirdeh commented on #238
I like this 🎉 Definitely okay with having a static message until the commit linking functionality is in place (or we can wait until we can link to a commit: I'm okay either way :))

[2017-08-14 17:19] Antoine38660 commented on #251
I reproduced this one earlier today! And luckily, I was using reactotron :

<img width="648" alt="capture d ecran 2017-08-14 a 13 29 09" src="https://user-images.githubusercontent.com/9287184/29282924-efecb156-8124-11e7-965c-d6f82e456d94.png">

Step:
- Last repository I opened was Antoine38660/100pompes (private one, without any PR).
- I relauched the app (shift+c and `yarn start:ios`)
- I looked

[2017-08-14 17:23] machour commented on #251
There's definitely issues with the cache. For example, if you browse to a Repository informations, then to another one, contributors & owner from the previous repository are displayed while the new informations are being loaded.

[2017-08-14 17:26] Antoine38660 commented on #251
But, as you can see in the screenshot, some other API endpoint are not affected (`GET /repos/gitpoint/git-point/issues/250/comments`).

In the `.actions.js` files, repo information aren't getted in the same way

[2017-08-14 18:00] andrewda commented on #251
Huh, very strange. Another place I've noticed is repository contributors.

[2017-08-14 18:03] #249 closed

[2017-08-15 13:19] FlorianTaut commented on #68
@housseindjirdeh could you assign me to this issue? will take a look at it this week!

[2017-08-15 15:47] lex111 commented on #68
@FlorianTaut I assigned, I hope @housseindjirdeh  will not mind :smile:

[2017-08-15 20:41] Antoine38660 opened #256 "Issues section is visible in a forked repo"
Everything is said in the title!

<img width="300" alt="simulator screen shot 15 aout 2017 a 22 34 50" src="https://user-images.githubusercontent.com/9287184/29335243-50cc5c8e-820a-11e7-8c83-d1d21bc15f58.png"/>

Out of curiosity, I tried to add a new issue (POST to the forked repo). Of course the Github response was

I'll handle the PR ! 😃

[2017-08-16 00:01] reyhansofian commented on #141
you can also use `viewer` nodes for current logged in user

[code]

[2017-08-16 02:57] #206 closed

[2017-08-16 03:02] #185 closed

[2017-08-16 03:22] #252 closed

[2017-08-16 03:25] #256 closed

[2017-08-16 03:45] housseindjirdeh commented on #247
So it's the `userListItem`component where we'll probably want to update this instead of specifically SearchScreen (right [here])https://github.com/gitpoint/git-point/blob/master/src/components/user-list-item.component.js#L114-L116) and [here](https://github.com/gitpoint/git-point/blob/master/src/components/user-list-item.component.js#L107-L109)). This is because screens like `FollowersListScreen`

[2017-08-16 03:48] andrewda commented on #141
Just waiting for GitHub to get back to me now on why the Organization queries are lacking some fundamental information (description, website and email at least). Then I can continue work on this.

[2017-08-16 03:53] wlisrausr commented on #247
Yes, that's exactly what I thought. I'm working on it and thanks to make it more clearly @housseindjirdeh

[2017-08-16 04:06] reyhansofian commented on #141
Also, there's no user events on Graphql nodes. I've asked Github regarding this issue, still no answer

[2017-08-16 06:14] reyhansofian commented on #159
@housseindjirdeh I've created a PR for this issue. please take a look

[2017-08-16 08:14] sasongkoadi commented on #159
![screenshot from 2017-08-16 15-05-58](https://user-images.githubusercontent.com/23546252/29353666-31e63c64-8295-11e7-9fe5-68c17bd6c882.png)

How about this? @housseindjirdeh @lex111 @andrewda
Can you give me some suggest? :smile: I'll try my best

[2017-08-16 09:00] machour opened #261 "Wrong wording for "commented on pull request""
Currently, it's displayed as "User created on pull request" :

![wrong wording](https://machour.idk.tn/uploads/gitpoint-commented-on-pr.png)

it should be "commented on"

[2017-08-16 14:59] alejandronanez commented on #187
I'm sure we at least use something of my work on this haha ;)

[2017-08-16 15:01] Antoine38660 commented on #261
Same bug here

<img width=300 alt="simulator screen shot 16 aout 2017 a 16 59 30" src="https://user-images.githubusercontent.com/9287184/29369959-5aad6fb4-82a4-11e7-9d53-f3f97bed9669.png"> <img width=300 alt="simulator screen shot 16 aout 2017 a 16 59 16" src="https://user-images.githubusercontent.com/9287184/29369960-5af6e61c-82a4-11e7-998e-cd515b5cf085.png">

[2017-08-16 15:29] sasongkoadi opened #264 "Add Indonesian translations"
I Will Take care of this :smile:

[2017-08-16 16:04] lex111 commented on #261
This is because GitHub gives the `created` status in case a comment has been added, so it should be `commented`.

[2017-08-16 16:18] machour opened #265 "Current user avatar never updates"
I changed my GitHub avatar some days ago, but GitPoint keeps on showing me the old one (bearded me).

I even tried to sign out & sign in again, but the old avatar stays.

[2017-08-16 19:34] lex111 commented on #265
This is bug [RN](https://github.com/facebook/react-native/issues/12606).

URL is the same, so it is not updated. As a solution (not very good), append a random number (or timestamp) into a URL, i.e. there will be something like avatars2.githubusercontent.com/u/4408379?v=4&**c=666** instead of avatars2.githubusercontent.com/u/4408379?v=4

Although in the documentation for [Image](https://facebook.g

[2017-08-16 19:49] machour commented on #265
We could also append the profile update time which is provided by GitHub ;)

On Aug 16, 2017 20:34, "Alexey Pyltsyn" <notifications@github.com> wrote:

[2017-08-16 19:50] andrewda commented on #265
@machour That's a good idea - would prevent unnecessary refetches of the same image.

[2017-08-16 20:28] #230 closed

[2017-08-16 21:04] #261 closed

[2017-08-16 21:05] #247 closed

[2017-08-16 21:06] housseindjirdeh commented on #264
Thank you so much matey ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️

[2017-08-16 21:11] housseindjirdeh commented on #265
I think that's a great idea @machour if GH provides us that in the response :)

[2017-08-16 21:47] machour commented on #265
It does. I'll handle the PR tomorrow !

On Aug 16, 2017 22:11, "Houssein Djirdeh" <notifications@github.com> wrote:

[2017-08-16 22:54] andrewda commented on #141
:clap: https://platform.github.community/t/accessing-description-of-an-organization/2713/5

[2017-08-17 01:24] lex111 commented on #265
@machour did not know this, then I'm fine. Although still changing the URL itself is not a good decision for me, but considering that there are no other solutions, it's better that way. Although try to use the property cache of the Image component, okay?

[2017-08-17 12:24] machour commented on #265
Sadly, the `updated_at` property isn't affected if the user only changes his profile image.

However, the headers in the image response (especially `Last-Modified`) are correctly updated.

@lex111  : The `cache` property seems to be iOS only, and to be doing everything except what is needed for our case: https://facebook.github.io/react-native/docs/images.html#cache-control-ios-only

So, unfortuna

[2017-08-17 15:57] andrewda commented on #265
Maybe we could also suggest that GitHub update the `updated_at` value when a user changes their profile image. Would make sense to me.

[2017-08-17 15:58] andrewda commented on #265
Also, I think your change is better than nothing. At the very least we can tell people to update their profile for their image change to take effect.

[2017-08-17 16:02] machour commented on #265
Good idea to ask GH. Do you know on what repository the issue must be filled ?
Ok for the PR, does the provided diff looks ok to you or should I not rely on the current URL format and check for the "?" in url and act accordingly ?

[2017-08-17 16:08] andrewda commented on #265
Best place to ask would probably be here: https://platform.github.community/

For the PR, I'd say it looks fine as-is. Might want to use template tags though so ESLint doesn't get mad:
[code]

[2017-08-17 22:16] machour commented on #265
There you go @andrewda

I also got in touch with GitHub support which opened an internal issue for the API and will keep me posted 🤞

[2017-08-19 10:19] lex111 opened #267 "Responsive font sizes"
Now the font size is specified in pixels, which means that on large screens (even on a 7-inch tablet) the text looks shallow, although it can be done to increase it proportionally?

That's what I found such a [solution](Https://stackoverflow.com/questions/33628677/react-native-responsive-font-size). Any other thoughts?

[2017-08-19 14:27] RolfKoenders commented on #9
We actually already have this if i'm correct :) #173

[2017-08-19 14:27] #9 closed

[2017-08-20 00:05] #215 closed

[2017-08-20 00:05] #236 closed

[2017-08-20 15:01] alejandronanez commented on #187
We have a PR for this in #269

[2017-08-20 16:40] #265 closed

[2017-08-20 16:43] #232 closed

[2017-08-21 05:01] pfinkbeiner commented on #201
Same here… At least on my iPhone I can reproduce it.
At the beginning everything works like expected. But when I try to open an issue in a repository which is private, I don't get any feedback after submitting and the app freezes.

The strange part is: after this freeze happend I'm not able to open any other issues on public projects. The app quits immediately.

[2017-08-22 01:51] andrewda opened #270 "Commented on commit event does not contain link to commit"
After #258 is merged, the `commented on commit` message should be changes to something like:

[code]

where the short commit id links to the view page for that commit.

[2017-08-22 02:25] housseindjirdeh commented on #270
Agreed :+1:

[2017-08-22 02:33] housseindjirdeh commented on #267
So I am taking advantage of `PixelRatio` by using a file that care of normalizing text: https://github.com/gitpoint/git-point/blob/master/src/config/normalize-text.js

You may have noticed that everywhere in the app where `fontSize` is being used: I always specify normalize in order to make sure it shows decently in different screen sizes.

However are you still seeing things weird on a 7 inch tab

[2017-08-22 02:34] housseindjirdeh commented on #238
Whoever takes this on: please take a look at #270 as well as they sort of tie together :)

[2017-08-22 11:00] FlorianTaut opened #272 "Use organisation Display name instead of organization name"
Hey guys,

it would look a bit better if we Display the Displayname of an Organization insted of their "username"

f.e. at Adobe:
`adobe`
but:
`Adobe Systems Incorporated`
Is their Display Name.

Looks better doenst it?

I would take care of this if you guys want this to be improved too.

[2017-08-22 12:51] machour opened #273 "Bringing translations to the next level."
Dears,

As mentionned in a previous issue, and on gitter, **I** think that the current system used for handling translations is flawed.

Here are the major problems I've seen/I predict:

  * keywords doesn't often make a lot of sense (had to check the source code to guess the context/meaning of some of them)
  * contributing becomes "harder". I'm introducing a new feature with some sentences, I ha

[2017-08-22 13:13] machour commented on #272
What about :
[code]

[2017-08-22 13:53] andrewda commented on #272
If doing both, we have to worry a bit about space. It might cut off the login for long names, and I feel like that should be avoided.

[2017-08-23 05:13] andrewda opened #274 "Use fuzzysort for username suggestions"
It's got a nicer API than whatever I spent 3 minutes searching for before.

[code]

Something like that should work 😄

[2017-08-23 13:34] JacobDB opened #275 "Add support for Android O's Adaptive Icons"
I'd love it if you could add Adaptive Icon support to this app; it's very easy to implement, [here's the documentation](https://developer.android.com/guide/practices/ui_guidelines/icon_design_adaptive.html). I could try submitting a pull request with this change, but I'm a web developer, and I've never worked with Android, so I can't guarantee quality.

[2017-08-24 02:22] gythialy opened #276 "Issue markdown render is incorrect"
Android 7.1.1, download from Google Play Store, and GitPoint version is v1.1

Expect like this
![snapshot_expect_li](https://user-images.githubusercontent.com/773400/29646346-78fd4004-88b5-11e7-87d9-7db9d47adb94.jpg)

but GitPoint render like this.
![snapshot_gitpoint_li](https://user-images.githubusercontent.com/773400/29646417-f35dc4d6-88b5-11e7-89c4-feec6fc1f861.jpg)

[2017-08-24 03:28] housseindjirdeh commented on #273
This is fascinating :O. I'm so surprised I haven't heard of Yii before!

Some thoughts:
1. After pulling down your POC repo (thanks for setting that up btw), it looks like the _English copy is the key here_ for the translations files correct? I actually really like that. It makes being able to digest translated strings in components so much easier without having to check the specific translation f

[2017-08-24 03:31] housseindjirdeh commented on #274
All for a cleaner API :) Thank you @andrewda

[2017-08-24 03:45] housseindjirdeh commented on #275
Didn't even know what adaptive icons were until you submitted this issue, so thank you :)

I think this will be awesome to have, it really doesn't look too complicated at all so definitely something I think we can have!!

https://developer.android.com/guide/practices/ui_guidelines/icon_design_adaptive.html#creating_adaptive_icons_in_xml

[2017-08-24 03:46] housseindjirdeh commented on #276
Cheers thanks for logging this :raised_hands: Definitely worth taking a look and we may have to selectively take care of handling checkbox outputs but it's something we should do

[2017-08-24 08:41] machour commented on #273
So thrilled you liked the idea 🙌 🙌 🙌

1. Exactly, the English (source) sentence is the key in this system. If you do change an English sentence, translators will have to catch up. Until that, the translated app will display the english sentence, as the translations are outdated.

In fact, I consider this a **good** feature, as the update you made changes the *meaning* of the sentence, and translat

[2017-08-25 00:30] housseindjirdeh commented on #267
Cheers okay definitely worth investigating on larger screen sizes and making sure text is rendered nicely.

[2017-08-25 00:39] housseindjirdeh commented on #273
Oh my god. _This is a game changer_. I can't even explain how much of an improvement this can be over the majority of existing translation libraries. I can almost guarantee that the number of people who would flock to use a library like this would be insane. Framework agnostic (in my opinion) would be something that would make this probably the best JavaScript translation library out there.

😍 😍 😍

[2017-08-25 00:40] housseindjirdeh commented on #273
@RolfKoenders @andrewda @alejandronanez @lex111 etc... don't hesitate to drop some tips/suggestions/concerns if you have any at all as well!

[2017-08-25 00:50] andrewda commented on #273
Oh my gosh this is awesome. I'd love to contribute!!

[2017-08-25 00:53] alejandronanez commented on #273
Damn this is sweeet. Will check tomorrow morning 😍

[2017-08-25 09:47] machour commented on #265
This should be completely fixed now 😃

"Hey Mehdi,

Just wanted to let you know that the team deployed some changes so that the updated_at for a user is updated after a new avatar is uploaded.

Hope this helps.

Cheers,
Ivan"

[2017-08-25 14:36] #129 closed

[2017-08-25 14:44] housseindjirdeh commented on #273
Echoing @andrewda, will be happy to contribute so let us know if you need help with anything! @machour

[2017-08-25 14:46] Antoine38660 commented on #273
I'm happy to know that you think the idea is cool and can be used for Gitpoint and other projects!

Our major problem was to separate each part of our code / repository to create a lib "distributable"

[2017-08-25 15:32] machour commented on #273
😊 😊 😊 , thank you all for the positive feedback !

As for the release date, I don't have any in mind, but I think that we could come really fast with a first solid beta.

@Antoine38660 and I seems to lack the technical background in JS on how to implement this in the best manner, so I can't really come with a first version for us to work on. Thus I'd really need your help to be set on the right tr

[2017-08-25 15:32] #273 closed

[2017-08-25 15:34] alejandronanez commented on #273
@machour Just for reference, did you check this repo already? Maybe you can do something like them.
https://github.com/i18next/react-i18next

[2017-08-25 15:48] machour commented on #273
@alejandronanez oh, nice catch! i18next seems to be a great library and we sure may inspire stuff from them.

[2017-08-25 17:14] lex111 commented on #273
Ooooh, as usual, I missed an interesting discussion :disappointed: . So many details, I'll just write that I like the idea! :+1:  I propose to consider the existing solutions:
https://github.com/yahoo/react-intl
https://github.com/joshswan/react-native-globalize

Will they help us?

[2017-08-25 18:05] Jacalz opened #278 "Add Swedish translations"
Would be awesome with Swedish as a language

[2017-08-25 18:07] Jacalz commented on #278
I have translated Brave browser to Swedish, I would love to help you guys translate this to Swedish 👍🇸🇪

[2017-08-25 18:49] RolfKoenders commented on #273
I only read halve of the discussion but already wanted to share that this is amazing!

[2017-08-25 19:49] RolfKoenders commented on #278
Hee @Jacalz! You are more then welcome to translate the app to Swedish! I followed these instructions on how to add a new language: https://github.com/gitpoint/git-point/issues/233#issuecomment-321917690

Would like to ask @housseindjirdehor @lex111 if that is still the way to go. If so, maybe we could write a Wiki page for it on how to add a new language.

[2017-08-26 06:18] lex111 commented on #278
The instruction is already [written](https://github.com/gitpoint/git-point/blob/master/CONTRIBUTING.md#translations), so welcome!

[2017-08-26 16:42] housseindjirdeh commented on #278
We would _love_ to have you help us add Swedish to GitPoint @Jacalz, that would be amazing :)

[2017-08-27 14:45] arthurdenner opened #280 "Add brazilian portuguese translations"
Hi, guys! I would love to contribute adding brazilian portuguese as a language option.

[2017-08-27 15:55] lex111 commented on #280
Hi, that's great, instructions for adding a translation [here](https://github.com/gitpoint/git-point/blob/master/CONTRIBUTING.md#translations).

[2017-08-31 08:49] FlorianTaut commented on #272
i think its better to use `Adobe Systems Incorporated` on the users Screen.

And on the organization Screen itself we could use both as @machour suggested.

What do you think @andrewda

[2017-08-31 12:00] machour commented on #273
Finally had the time to clean this up and craft a package: https://github.com/s-i18n/s-i18n-react
A demo app is available to quick test it. Please feel free to open tickets / propose PRs !

Looking forward to have it powering GitPoint <3

[2017-09-01 03:16] housseindjirdeh commented on #280
We would love that @arthurdenner 😍 Thank you so much.

[2017-09-01 12:53] alejandronanez commented on #233
I'm a native spanish speaker, if you need help reviewing this ping me directly! :)

[2017-09-02 08:08] SammyIsra commented on #233
Hey! Sorry I haven't been able to work on this. You are welcome to take it over if you want, or we can probably work in parts too.

[2017-09-02 14:47] alejandronanez commented on #233
Sounds good to me @SammyIsra, hopefully, I'll create a PR this weekend 👍

[2017-09-04 12:18] randy3k opened #285 "Open in browser feature"
It would to nice to have a button to open safari to perform anythings gitpoint is not (yet) able to perform, e.g. editing comment and look at commit history.

[2017-09-04 13:47] RolfKoenders commented on #285
Good point! Yesterday i had exactly the same thought. It would be nice to have a 'open in browser' button on the readme page for example.

[2017-09-05 00:20] CameronSamuels opened #286 "Order repos by date updated"
This is what github.con does, and will be good to do instead of alphabetical order.

[2017-09-05 00:23] CameronSamuels opened #287 "Allow line breaks for issue comments"
Allow line breaks (return) for issue comments (and pr comments if that too). This will be good to do.

[2017-09-05 00:25] CameronSamuels opened #288 "Update issue list when done creating an issue"
When I add issues using GitPoint, I have to exit to the repo landing page and then click on “view all issues” again. It should auto update the list once one is created because for convenience and because someone might think it didn’t accept the issue.

[2017-09-05 00:29] CameronSamuels opened #289 "Make the issue page height be the size of the visible view"
When I open the keyboard to type an issue title/comment, I can’t scroll to submit (I have to click off). But this is mainly needed to be changed because when the “issue comment” is too much text, you can’t see what you are typing. This should also be fixed because some people might not know they need to click to hide it.

[2017-09-05 00:32] CameronSamuels opened #290 "Make a repo short list on a organization or user page"
This can be just like how the issues and pr short list is (with the “view all” button). This will be better because when I first downloaded GitPoint, I didn’t know that the repo number is a button to show the repos (it made me really confused).

[2017-09-05 00:36] CameronSamuels opened #291 "Show labels in the issue/pr list"
It will be better to have the labels shown in the list of issues and pull requests.

[2017-09-05 00:38] CameronSamuels opened #292 "Move “check for update” into the settings"
This doesn’t belong on the profile page.<br>I hope this issue and all my other issues I submitted just now weren’t already created (sorry to waste your time if they were).

[2017-09-05 00:39] CameronSamuels opened #293 "Back button after creating and issue should not go back to “create issue”"
This should not go back to “create issue” page when clicking the back button after creating an issue. It should go to the issue list.

[2017-09-05 00:42] CameronSamuels commented on #285
I have used another GitHub client, and I love that/this feature. This should be added.

[2017-09-05 01:01] andrewda commented on #286
Date updated, that is. Yes I totally agree that they should be ordered this way rather than alphabetically (by default, at least).

[2017-09-05 01:03] CameronSamuels commented on #286
@andrewda, I like how you said "by default". Maybe there could be an option in settings to change this.

[2017-09-05 03:56] CameronSamuels opened #294 "Change bg color of full screen profile picture view"
The background color being white will be better because when it is black, black parts of the picture are not visible. If it’s white, that will be better because on GitHub, if a profile picture is all white, you won’t see it, so no one has all white pictures.

[2017-09-05 03:57] CameronSamuels opened #295 "Show line breaks in issue and pr comments"
These line breaks are not visible in pr and issue comments.

[2017-09-05 04:02] CameronSamuels opened #296 "Don’t show issues when issues are disabled for the repo"
Some repos don’t have issues enabled but GitPoint shows an “new issue” button. This should be hidden when issues are disabled for the repo.

[2017-09-05 04:07] CameronSamuels opened #297 "Round the corners of the android app icon"
I use GitPoint on an Android device (but mainly iOS). I don’t like how the icon is squared (meaning not transparent anywhere). Most people prefer non-squared icons as well. So rounding the icon will make it look nicer.

[2017-09-05 04:09] CameronSamuels opened #298 "Display issue/pr number in list"

[2017-09-05 05:19] andrewda commented on #294
Found one: https://github.com/kuyan 😉

I agree, though, I'd like to see what a white background looks like.

[2017-09-05 05:20] andrewda commented on #286
That's what I was thinking. Though I'm not sure how useful it'd be.

[2017-09-05 09:46] housseindjirdeh commented on #285
I agree, this is something we should definitely have and shouldn't be too complicated. Here's where I'm thinking:

- Issues screen: an `Open in browser` ListItem in the settings screen.
- Repository Screen: an `Open in browser` action in the action list
- User Profile Screen: an `Open in browser` action in the action list
- Organization Screen: an `Open in browser` action in an action list. Will n

[2017-09-05 09:50] housseindjirdeh commented on #286
Agreed, let's start with just sorting it by date updated. If whoever takes this on wants to go ahead and add an option to toggle between the two in the `user settings screen` that would be awesome, but something we can do at at a later point :)

[2017-09-05 10:29] chinesedfan opened #299 "Is the latest version 1.2?"
I saw GitPoint is version 1.2 in AppStore. But codes(i.e. package.json) are 1.1.

Is it a mistake or did I miss something?

[2017-09-05 10:42] jouderianjr commented on #24
Hey, has someone working on this issue? If not, I would like to work in it :)

[2017-09-05 11:11] housseindjirdeh commented on #24
Not at the moment!! Will love it if you can take it on :) :) @FlorianTaut please let us know if you're still interested in taking it however

[2017-09-05 18:16] andrewda commented on #299
Good question. cc @housseindjirdeh

[2017-09-05 18:37] FlorianTaut commented on #291
That would probably bring us into some spacing problems. I think it’s better how it is realized now.

[2017-09-05 22:04] housseindjirdeh commented on #299
That's a very good question, and this is due to the fact that iOS was first released before Android (hence is one build step ahead). You'll notice both Android and package.json reflect 1.1.

Will streamline this so the next release will show 1.3 on all platforms. Thanks for logging this @chinesedfan :)

[2017-09-06 02:09] chinesedfan commented on #299
Thanks for reply! Do all platforms keep this same when >= 1.3?

[2017-09-06 06:53] chinesedfan commented on #286
I just submitted my first PR, [#300](https://github.com/gitpoint/git-point/pull/300), to this project by changing the sort method, but without a new option in `user settings screen`. Hope it can help. :)

[2017-09-06 07:50] chinesedfan opened #302 "Shall we always use API constants?"
Two constants, `root` and `USER_ENDPOINT`, are defined in `src/api/index.js`.

But there are also some hard codes like `https://api.github.com/users/${owner}/starred?per_page=1` in the same file.

[2017-09-06 08:04] chinesedfan commented on #159
Hi @housseindjirdeh, I know you may be very busy everyday. But can you close those solved issues?

[2017-09-06 09:34] housseindjirdeh commented on #299
Yep that's the plan, on the next release will try and _jump_ the Android + package.json versions so they can all be 1.3

[2017-09-06 09:37] housseindjirdeh commented on #23
Sorry for keeping this open for so long @nikolaevigor :disappointed:

So I think we resolved this as a `RawText ''` error was popping up in numerous screens. Clicking more than a few pull requests and it seems to work fine now. Please let me know if you happen to see it crashing at any screen

[2017-09-06 09:37] #23 closed

[2017-09-06 09:40] housseindjirdeh commented on #29
@machour are you still having trouble with iOS and have only been able to test on Android? Please let me know and we'll reopen this. Apologies if we didn't get to the bottom of this in our gitter chat but I can't recall if we have :thinking:

[2017-09-06 09:40] #29 closed

[2017-09-06 09:40] #299 closed

[2017-09-06 11:01] #286 closed

[2017-09-06 12:29] Antoine38660 commented on #287
I think #207 fix it. You tried with the latest _master_ version?

[2017-09-06 12:31] Antoine38660 commented on #293
Fixed by #243 :)

[2017-09-06 12:31] #293 closed

[2017-09-06 14:13] jouderianjr commented on #24
Cool, I started yesterday, I will create a pull request in a couple days. :D

[2017-09-06 15:27] machour commented on #29
Just did a fresh checkout and hit the same issue again: "No bundle URL is present".
This is the case when running "yarn start:ios" or "yarn start -- --reset-cache" and then yarn run ios in a another terminal window

[code]

[2017-09-06 16:07] machour commented on #294
For consistency, I'd keep the same gray background that's on the profile page.
What do you guys think about it?

![profile](https://machour.idk.tn/uploads/gitpoint-user-profile.png)
![profile image](https://machour.idk.tn/uploads/gitpoint-user-profile-zoom.png)

[2017-09-06 16:45] machour opened #308 "Error with the "follows you" state"
Currently, no matter what user profile I visit in GitPoint, I see the "Follows you" badge, even for people not following me.

Example with @CameronSamuels :

API url: https://api.github.com/users/CameronSamuels/following

![profile](https://machour.idk.tn/uploads/gitpoint-user-profile.png)

Already spotted a typo in https://github.com/gitpoint/git-point/blob/master/src/user/screens/profile.screen.

[2017-09-06 17:22] CameronSamuels commented on #287
No, I don't do react developing (-:

[2017-09-06 17:25] CameronSamuels commented on #294
I have found one user (can't locate now) that has a transparent image with gray as part of the image. When you examine the profile picture, you can only see the other colors (so just a diagonal line).

[2017-09-06 22:57] CameronSamuels opened #309 "Hide readme button if no readme"

[2017-09-06 22:59] CameronSamuels opened #310 "Freeze and crash when clicking on an issue"
I had to delete the app and redone load it fix this problem. It froze and crashed every time when I clicked on an issue recently.

[2017-09-07 14:32] blakegong commented on #205
Just saw this issue (why didn't I see this before making the PR 😂)

I had the same issue where the number on profile page does not match the number of repos in the list, and also in the list some are just repos I have push access to but not mine.

Thus #281 was made and it should have solved your issue as well (it's not released to App Store yet). Could you help to verify using latest `master` if

[2017-09-07 16:34] jouderianjr commented on #24
Hey @housseindjirdeh, Do you have ideas for how we should do this edit flow? Should we open a new screen? Or maybe show a prompt with a text field?

I already did the delete action in this [branch](https://github.com/jouderianjr/git-point/tree/issue_comment_actions_%2324), then as soon we I finish the edit option I will open a pull request 😄

[2017-09-07 17:44] jouderianjr opened #312 "Error in profile screen stars number"
<img width="400" alt="app" src="https://user-images.githubusercontent.com/1559013/30176840-24a2150e-93da-11e7-8d89-28fe16361e2b.png">

This happens when the fetchStarCount request fails. Looks like the app tries to get the stars using the display name (In my case is: Jouderian Nobre Junior) instead of user account login (In my case: jouderianjr)

<img width="600" alt="screen shot 2017-09-07 at 14

[2017-09-07 18:34] jouderianjr commented on #312
Nevermind guys, that was already fixed in 1cba55f868458dfea2005050e75b825ac35287fb. I think this issue could be closed.

[2017-09-07 18:35] andrewda commented on #312
No problem, thanks for submitting!

[2017-09-07 18:35] #312 closed

[2017-09-07 18:51] jouderianjr opened #313 "Create repository screen filter"
Hey everyone, reading the issue #286 I was wondering that maybe we could create a filter feature for repository field.

I was thinking about 2 options.

1 - Add tabs ( Similar that one has in search tab) containing `All, Public, Private and Forks`.

2 - Add a filter button in the header bar in order to open a modal with many options as order by date and alphabetical. And some checkboxes to filter

[2017-09-08 07:51] chinesedfan opened #315 "Wrong issue/pr permissions when visit from notifications tab"
I can always reappear this bug on my iPhone, with GitPoint 1.2 installed. But it is hard to debug, because there is no notifications on my simulator.

The operation path is:

   1. visit any repository that you own admin/push permissions from home tab
   2. switch to notifications tab
   3. click any issue/pr that you DO NOT own admin/push
   4. the issue detail page is shown with 'Merge Pull Requ

[2017-09-08 08:03] chinesedfan opened #316 "How about `bindActionCreators`"
`bindActionCreators` is a useful method exported by `redux`. With it, we can simplify codes like following:

[code]

Just personal suggestion, waiting for your reply.

[2017-09-08 09:45] housseindjirdeh commented on #167
I think we can close this thanks to your awesome work @caudaganesh :)

[2017-09-08 09:45] #167 closed

[2017-09-08 09:46] housseindjirdeh commented on #68
Let us know if you made some movement on this @FlorianTaut, if you haven't don't worry! I can try tackling it soon when I get the chance :)

[2017-09-08 09:47] housseindjirdeh commented on #201
Hmmm @pfinkbeiner that is kinda concerning. we'll dive in and I'll try to reproduce this issue locally with a private repo as well. Will keep you folks posted

[2017-09-08 12:19] machour commented on #29
I did some further digging, starting with a fresh repo and XCode, here's what I've noticed:

- when running `yarn start:ios`, the `ios/GitPoint/main.jsbundle` file doesn't get generated. Is that normal ?
- I'm able to generate that file using `react-native bundle --entry-file='index.ios.js' --bundle-output='./ios/GitPoint/main.jsbundle' --dev=false --platform='ios' --assets-dest='./ios'`, but I'm

[2017-09-09 03:07] SammyIsra commented on #24
What would the prompt with a text field look like?

[2017-09-09 13:11] jouderianjr commented on #24
Hey, I just realize that React Native doesn't expose Alert/Dialogs with text input :/ So I did as a normal screen:

<image width="500" src="https://user-images.githubusercontent.com/1559013/30240455-155f8ea0-9547-11e7-942c-b39f0e3cd939.png">

[2017-09-09 13:27] chinesedfan commented on #298
Do you mean the id number? I want to do that, as well as comments count.

[2017-09-09 14:20] CameronSamuels commented on #298
I meant pull request `#51` and issue `#52` for example. This issue has number 298. Maybe that’s the id number?

[2017-09-09 15:41] chinesedfan commented on #298
@CameronSamuels OK, we share the same target.

[2017-09-09 15:50] chinesedfan opened #318 "Incorrect contributors when trying to @ in issues"
Because `issue.screen.js` uses `state.repository`, if visit issues from home or notifications tabs, incorrect contributors are shown.

[2017-09-09 17:34] nersoh commented on #298
@CameronSamuels it would be something like this?

<img width="375" alt="screen shot 2017-09-09 at 2 25 51 pm" src="https://user-images.githubusercontent.com/1930729/30242390-f255dafc-956b-11e7-9c8c-6c0e5c78f0ba.png">

[2017-09-09 17:39] CameronSamuels commented on #298
Perfect. That’s exactly what I was talking about.

[2017-09-09 20:04] Kamilius commented on #42
Any updates on progress of this one?

[2017-09-11 00:02] housseindjirdeh opened #321 "Add Greenkeeper"
As @andrewda mentioned, might be worthwhile to explore managing dependency updates with [Greenkeeper](https://github.com/apps/greenkeeper)

[2017-09-11 00:17] #308 closed

[2017-09-11 00:21] #298 closed

[2017-09-11 01:35] housseindjirdeh commented on #309
Agreed this should be relatively simple as well :+1:

[2017-09-11 01:37] housseindjirdeh commented on #316
Yep absolutely :handshake: @alejandronanez was kind enough to start implementing it as part of a refactor step to include cleaner binds, reselect, etc... https://github.com/gitpoint/git-point/pull/269/files

Most definitely think we can leverage this in each component that we dispatch actions.

[2017-09-11 01:38] housseindjirdeh commented on #318
Hmm doesn't a call fire to update `state.repository` when navigating through home or notifications though? :thinking:

[2017-09-11 01:39] housseindjirdeh commented on #313
I think having tabs like in the `SearchScreen` in `RepositoryListScreen` is an absolutely great idea :) Having 4 categories for `All, Public, Private and Forks` should be solid :raised_hands:

[2017-09-11 01:40] housseindjirdeh commented on #310
This should be hopefully fixed in #320 :) However please reopen this if you're still experiencing it!

[2017-09-11 01:40] #310 closed

[2017-09-11 01:41] housseindjirdeh commented on #296
Oh this is a great point and surprised I didn't even know we can disable adding issues for repos. Definitely something we'll need to have :raised_hands:

[2017-09-11 02:11] alejandronanez commented on #316
@chinesedfan go for it!!!

[2017-09-11 11:20] jouderianjr commented on #313
Awesome, I could get this one when I finish the edit/delete comment feature, but if someone would like to get first, would be great also.

[2017-09-11 11:57] lex111 opened #322 "Crash: oneLineText is not a function"
After merging #284, the following error occurs:

![screenshot_1505130524](https://user-images.githubusercontent.com/4408379/30273281-0539cd68-9701-11e7-9cf4-7c68e68a0503.png)

[2017-09-11 11:58] machour commented on #322
same here

[2017-09-11 13:33] machour commented on #122
Just a thought here: If it seems to be slow only on the first page (navigating from repo screen), maybe the problem is that the API call doesn't contain `?ref=master` (and all subsequent calls do).

[2017-09-11 13:46] arthurdenner commented on #322
That's a very strange behaviour , because the function is exported from the `utils` module.

If you try to import another function from the `text-helper` file, like abbreviateNumber, it says is `undefined` as well. I imported the whole `utils` module (`import * as utils`) and logged on the console, but only got two functions:

![utils-module](https://user-images.githubusercontent.com/13774309/3027

[2017-09-11 15:45] housseindjirdeh commented on #322
@arthurdenner yeah it's unusual, but I think I found out why.

The only reason you're seeing results from `action-helper` and `loading-animation` when loading from `utils` is that the other files all reference `import I18n from 'locale';
` and that seems to cause them to fail. Digging in a little deeper, it looks like `locale/index.js` is importing `I18n`, updating it and just exporting it like so

[2017-09-11 16:03] arthurdenner commented on #322
@housseindjirdeh. since the function is not really necessary (I just used it to avoid long vertically scrolling), we could just remove it and it will works. I've made the branch already, should I make the PR?

[2017-09-11 18:13] housseindjirdeh commented on #322
Yeah I'm okay with that for now :) Really weird how we're only noticing it when this specific function is added however 🤔 Looks like `I18n` is causing a circular dependency issue I guess.

Happy to merge a fix for this in that just removes the function 👍

[2017-09-12 10:51] lex111 commented on #322
Closing as fixed in #325.

[2017-09-12 10:51] #322 closed

[2017-09-13 02:57] #296 closed

[2017-09-13 13:16] machour commented on #288
AFAIK this was already fixed in #236

After submitting a new issue, you **have** to go back to the repo landing page, the issue list can't be displayed before that.

[2017-09-13 20:30] machour commented on #127
Implemented in #326

[2017-09-13 20:45] machour commented on #159
Closed by #260

[2017-09-13 20:45] #159 closed

[2017-09-13 21:06] machour commented on #53
Handled in #326

[2017-09-13 21:10] machour commented on #85
Handled in #326

[2017-09-13 21:21] machour commented on #182
Assigning this to me if no one objects. I think that #323 could help a lot here :)

[2017-09-13 21:26] machour commented on #205
@RolfKoenders can you confirm this is working since #281 was merged? Thanks!

[2017-09-13 21:30] machour commented on #219
Closing in favor of #182

[2017-09-13 21:30] #219 closed

[2017-09-13 21:32] machour commented on #222
Closing this to get a clearer issue list.
Don't hesitate to continue the conversation here though 😉

[2017-09-13 21:32] #222 closed

[2017-09-13 21:41] machour commented on #238
Closed in favor of #270

[2017-09-13 21:41] #238 closed

[2017-09-13 21:44] machour commented on #287
Fixed by #207

[2017-09-13 21:44] #287 closed

[2017-09-13 21:48] machour commented on #294
@CameronSamuels in that case, we will always have a problem with a transparent image using the same color as our background, isn't ?

[2017-09-13 21:49] machour commented on #295
Handled in #326

[2017-09-13 22:11] machour commented on #302
Yes we definitely should, thank you for logging this!

[2017-09-14 02:39] #302 closed

[2017-09-14 12:17] machour commented on #292
Fixed in master

[2017-09-14 12:17] #292 closed

[2017-09-15 07:10] RolfKoenders commented on #205
@machour Yes, i will check it tonight and let you know!

[2017-09-16 00:59] chinesedfan commented on #251
I guess it is something like #315, and I try to solve it in #332. Please check.

[2017-09-16 03:51] chinesedfan commented on #309
Because no existing field in `repository` object, we should move `getReadMeByDispatch` from `read-me.screen` to `repository.screen`.

- If blocking loading, `repository.screen` may become slower.
- If hiding readme button after the request is returned, users may find ui changed suddenly.

I prefer the second, how about you?

[2017-09-16 04:23] chinesedfan commented on #225
@lex111 I notice that you visited issue#8054 of some repository at the last part of the video, which has no issue description. Maybe #320 helps.

[2017-09-16 05:59] chinesedfan commented on #201
@pfinkbeiner @housseindjirdeh  I guess it is related to #320. The key point is visiting some empty issues.

@AndonyNS @andrewda You mentioned "commenting", which means the issue screen is opened correctly. Then it will be another problem.

[2017-09-16 14:04] machour commented on #309
@chinesedfan I prefer the second option too, but starting with a hidden README button. If there's a readme, we update the UI to show it (like we do for the "Merge" button).

[2017-09-16 14:17] machour commented on #141
Here's how to get the README.md file for a repo. If it doesn't exist, `readme` will be `null`:

[code]

[2017-09-17 07:43] chinesedfan commented on #128
The official PR API provides `mergeable` field. And now, GitPoint often treats PRs as issues.

I can fit this case based on current design, but a better way is to refactor and distinguish PRs with issues completely.

[2017-09-17 12:32] mathiaswagner commented on #31
@housseindjirdeh What is preventing you from changing this? Is this still on track for 1.3?

[2017-09-17 18:53] #276 closed

[2017-09-18 11:04] machour commented on #202
Thanks a lot for your report.
This have been fixed in #236, it will be live in the next release.

[2017-09-18 11:04] #202 closed

[2017-09-18 11:04] machour commented on #127
Fixed in #326 !

[2017-09-18 11:04] #127 closed

[2017-09-18 11:04] machour commented on #106
Thanks a lot for your report.
This have been fixed in #236, it will be live in the next release.

[2017-09-18 11:04] #106 closed

[2017-09-18 11:05] machour commented on #85
Fixed in #326

[2017-09-18 11:05] #85 closed

[2017-09-18 11:05] machour commented on #295
Thanks a lot for your report.
This have been fixed in #236, it will be live in the next release.

[2017-09-18 11:05] #295 closed

[2017-09-18 20:52] CameronSamuels opened #337 "Auto fill in pull request merge commit title and description"
This is a good think to do because I like to keep the default pr merge title and description because I can easily tell it’s a merge commit. I don’t have that memorized and it would be easier to keep it automatically filled in.

[2017-09-18 23:33] andrewda commented on #337
Can't autofill the title. PR description is done by adding a `.github/PULL-REQUEST-TEMPLATE.md` file.

[2017-09-18 23:34] andrewda commented on #337
Wait maybe that's not what this issue is about – if not could you clarify?

[2017-09-18 23:34] CameronSamuels commented on #337
@andrewda, I am talking about the merge commit, not the pull request itself.

[2017-09-19 00:25] andrewda commented on #337
Usually it should just be `action(scope): description (#<PR_number>)`, and the description should be the list of significant commits (i.e. only commits that add features or fix bugs, not styling changes, unless that's the point of the PR).

[2017-09-19 00:32] CameronSamuels commented on #337
I am talking about this:
![merge commit example](https://user-images.githubusercontent.com/25394678/30570617-e37b9722-9ca7-11e7-9763-73afb8cf8318.png)

That should be the name of the commit which is the default GitHub merge commit title (`Merge pull request #id from username/branch`.

[2017-09-19 01:04] andrewda commented on #337
Merge commits are gross 😆  We disabled those in favor of squash and merge. Pull requests should be for only one feature or bug fix, meaning that one commit makes sense. Merging in all the changes makes a _really_ messy commit history.

Sorry for the rant, haha, I just really value clean commit histories. I'll close this for now but mark it as a discussion.

[2017-09-19 01:04] #337 closed

[2017-09-19 01:15] CameronSamuels commented on #337
Ok, sounds good. I might even try squashing instead. I have just always done a merge commit for everything. Thanks for the suggestion!

[2017-09-19 19:16] machour opened #342 "Hide contributors section if it only contains the owner"
Currently a repo where the owner is the only contributor looks like this:

<img width="316" alt="screen shot 2017-09-19 at 8 12 32 pm" src="https://user-images.githubusercontent.com/304450/30610693-eabe1148-9d76-11e7-97e5-8a69ff03d368.png">

The screen seems kind of empty and uninformative. Hiding the contributors part would make the code section visible right away.

What do you think about this?

[2017-09-19 19:57] machour opened #343 "Zoomed image isn't displayed the second time"
Found this while testing the app on iPhone X simulator, it seems that ios fails the second time you tap a ZoomedImage (from a PR or a profile screen).
I was also able reproduced it on iPhone 7 and 8 simulators.

Can someone with a real device confirm this?

Error logged the second time:
[code]

[2017-09-19 20:43] machour commented on #343
Found this freshly opened PR that fixes the bug in react-native-photo-view repo : https://github.com/alwx/react-native-photo-view/pull/103

[2017-09-20 14:13] machour opened #345 "Code in markdown is HTML escaped"
![screen shot 2017-09-20 at 2 30 27 pm](https://user-images.githubusercontent.com/304450/30648514-84d5a9c4-9e1e-11e7-8c5d-ed7b3a5b2f74.png)

[2017-09-20 15:02] lex111 commented on #343
I did this component, then I did not have the opportunity to check on iOS, although it worked, but probably no one checked if the image opens the second time, but it's good that there is a PR that fixes it, only the author of this library does not actively take PR's, so we'll have to wait, or we can make a fork of this library..

[2017-09-20 15:06] lex111 commented on #342
A controversial moment, I would perhaps have left everything as well as now.

[2017-09-21 10:34] #231 closed

[2017-09-21 10:38] #172 closed

[2017-09-22 14:57] machour opened #348 "Maintain and use a node-github fork?"
I was playing around with redux & normalizr and came across this project:
   https://github.com/mikedeboer/node-github

It's a very complete & highly maintained client for GitHub Rest API v3
Here's a link to its API documentation: https://mikedeboer.github.io/node-github/

Maybe we could benefit from using it in the app instead of our own crafted client (node-github already handles everything we w

[2017-09-22 18:04] machour commented on #343
Merged \o/ https://github.com/alwx/react-native-photo-view/commit/3d36136ca2cd4c39270541ffa7e951a8eed92008

Fix should be present in 1.5.1

[2017-09-22 19:21] #309 closed

[2017-09-22 19:56] lex111 commented on #343
Oh, this is very cool, then we just need to update the version of this dependency.

[2017-09-23 15:04] #297 closed

[2017-09-23 15:22] machour commented on #275
Closed in #340, thanks a lot for the suggestion!

[2017-09-23 15:22] #275 closed

[2017-09-23 15:23] #53 closed

[2017-09-23 17:00] #316 closed

[2017-09-23 17:20] #345 closed

[2017-09-23 22:00] #109 closed

[2017-09-23 22:13] #343 closed

[2017-09-23 22:35] machour commented on #182
This is fixed by #323

[2017-09-23 22:35] #182 closed

[2017-09-23 22:36] machour commented on #221
Fixed in #323

[2017-09-23 22:36] #221 closed

[2017-09-24 11:35] RolfKoenders commented on #205
@machour Correct! It shows the correct list of repositories.

[2017-09-24 11:35] #205 closed

[2017-09-24 11:36] machour commented on #205
Perfect, thanks!

[2017-09-24 19:42] ahmetzeybek opened #353 "Execution failed for task ':app:prepareGitPointReactNativeConfigUnspecifiedLibrary'"
I am getting this error while build process
[code]
apk file looks installed in emulator but not starting...

[2017-09-25 13:01] machour commented on #353
Hi @ahmetzeybek and thanks for reporting this issue.

Can you try the following steps ?
[code]

Also, did you run `yarn run links` after initially running `yarn` ?

[2017-09-25 13:03] ahmetzeybek commented on #353
I will try thanks :)

[2017-09-25 13:03] machour opened #354 "Authentication problem on old devices"
Logging this issue reported on gitter by @MrZhang123:

I use genymotion to run git-point , but when i hope authorise github to login , it give me "no longer supports your web browser , please upgrade chrome or firefox "( i install chrome in simulator ), how to solve this problem and Continue to develop ？

![____-2017-09-25-__2 49 01](https://user-images.githubusercontent.com/304450/30809630-a8b67a

[2017-09-25 13:04] machour commented on #354
Hey @MrZhang123, can you try adding userAgent="Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/61.0.3163.91 Safari/537.36" in login.screen.js line 259 ?

Let me know if it works 🙏

[2017-09-25 15:16] machour commented on #353
@ahmetzeybek for future users facing the same issue, could you tell us how did you fix it?

[2017-09-25 15:19] ahmetzeybek commented on #353
Built with [buddybuild](https://buddybuild.com), i couldn't build on my computer, but tried to build release version then succeeded

[2017-09-25 15:19] #353 closed

[2017-09-25 19:13] housseindjirdeh opened #359 "Move contributors to CONTRIBUTING.md"
@andrewda made a good suggestion to move the contributors images in the README to CONTRIBUTING.md since it's getting quite long 🗒

[2017-09-26 02:11] MrZhang123 commented on #354
@machour Thanks for your help , add this code
[code]
can fixed the `not support in your browser`, but not use in button disabled
I guess my Genymotion run slow cause this problem , when i run client in android device for develop , the button can touch and login . github authorise just once and then can develop , so I can give authorise and then login the Genymotion to fixed this problem.

[2017-09-26 09:47] FlorianTaut commented on #354
@MrZhang123 i had this problem and tried a lot of things.
The only solution i found was installing chrome and fix it that way.

[2017-09-26 09:48] machour commented on #354
@FlorianTaut was that on a real device or an emulator? I'm a bit worried by the problem :/

[2017-09-26 10:21] machour commented on #359
@andrewda was suggesting a new file called `CONTRIBUTORS.md`. It makes sense to me to keep `CONTRIBUTING.md` for contribution/build instructions, and the new file only for contributors.

[2017-09-26 10:40] vitalkanev commented on #359
Also let's add an instructions how to add a contributor (I actually did `npm install -g all-contributors-cli`, then `all-contributors` and followed instructions)

[2017-09-26 10:44] machour commented on #359
@vitalkanev these instructions are currently in the Setup section of the CONTRIBUTING.md file.

[2017-09-26 12:30] machour opened #363 "Markdown rendering issues"
Spotted by @Antoine38660 <3

When viewing #360 in the app, it crashes with the following error : Views nested within a <Text> must have a width and height.
This is due to the use of images in a table.

We also discovered a weird markdown in this case caused by https://github.com/gitpoint/git-point/blob/master/src/components/markdown-htmlview.component.js#L142

Also, the table headers content shoul

[2017-09-26 13:22] MrZhang123 commented on #354
@FlorianTaut I installing chrome x86 , but not fix it , I have to use real device.

[2017-09-26 14:23] andrewda commented on #359
Maybe adding those instructions to a Pull Request Template wouldn't be a bad idea, either!

[2017-09-26 14:51] housseindjirdeh commented on #359
Perfectly okay with having a separate file, `CONTRIBUTORS.md`.

Also might be worth to have a pull request template as well! Happy to defer that to a separate ticket however

[2017-09-26 14:52] housseindjirdeh commented on #363
Cheers thanks so much for logging this @machour. Definitely something we'll address before our next update

[2017-09-26 16:40] andrewda opened #368 "Add PR and issue templates"
Would help walk people through adding themselves to the contributors list (for a PR) and also help with titling.

[2017-09-26 16:42] andrewda commented on #359
#368 👍

[2017-09-26 18:59] machour commented on #363
Fixed in #370 !

![screen shot 2017-09-26 at 7 58 10 pm](https://user-images.githubusercontent.com/304450/30878617-75d7fcae-a2fd-11e7-9d0c-213b176a319f.png)
![screen shot 2017-09-26 at 7 57 44 pm](https://user-images.githubusercontent.com/304450/30878618-75dd3aca-a2fd-11e7-97dd-e3d2a7245a6d.png)

[2017-09-28 01:54] #24 closed

[2017-09-28 07:55] deadcoder0904 opened #376 "Deep Linking doesn't work in Android"
If user visits [https://github.com/](https://github.com) in the browser, user must redirected to the App opening the same url

[2017-09-28 13:37] housseindjirdeh commented on #274
Just to add some clarity for those new to the repo, we're currently using `fuzzy-search` to show other users that can be tagged when typing an issue comment (auto-completion):

![mentions-area](https://user-images.githubusercontent.com/12476932/28508524-8c4a3f6e-7009-11e7-8d23-be9d8d2f44b0.gif)

Will be nice if we can swap the library we're using to use `fuzzysort` since it seems to have a cleaner

[2017-09-28 13:38] housseindjirdeh commented on #164
I think we have these warnings resolved now 💃

[2017-09-28 13:38] #164 closed

[2017-09-28 13:42] housseindjirdeh commented on #165
Still think this is something that might be worthy to take a crack at :)

Like @andrewda mentioned: A bar that shows the different repository colours and when tapped can take the user to a separate screen that shows the different language colours is an option. We can make use of a modal screen for iOS here.

Happy to defer how it actually looks design wise to whoever picks up the ticket. But pleas

[2017-09-28 13:43] housseindjirdeh commented on #212
Still think this issue is up for grabs :) Definitely something that would be awesome to have!

[2017-09-28 14:46] housseindjirdeh commented on #376
Cheers thanks for logging this @deadcoder0904 :)

Yeah it's the same for iPhone as well. The only deep linking we've included is to send the user back to the app once they authenticate. Right now, the route `gitpoint://` will take you to the app and nothing more.

This is a bit tricky because we'll have to set up logic so that every specific route will take the user to the specific route on the ap

[2017-09-28 15:08] housseindjirdeh opened #381 "v1.3.0 Prep"
## Next release: v1.3.0 - Monday October 2nd

_Note: iPhone is currently in v1.2.0 and Android is currently in v.1.1.0. Going to bump version number to 1.3.0 so that they both match_

- Today (September 28) - Plan is to close and merge all open PRs that are safe to merge

- The next few days, we should focus on fixing any bugs and applying UI fixes to anywhere that needs it. Please tag this issue

[2017-09-28 15:17] housseindjirdeh commented on #381
After our release, we'll spend some significant amount of time improving a number of things in the app:

- Streamlining release flow and CI using Fastlane and Buddybuild or bitrise
- Rearchitecting our state to leverage normalizer (progress began here #350)
- Moving over to GraphQL incrementally (progress began here #347)
- Lay out a more concrete UI guideline flow (similar to how buttons are bein

[2017-09-28 15:17] deadcoder0904 commented on #376
I think this decision must be given to the users of the app. It can be put it in the settings as a boolean. If `true` then every url starting with `https://github.com` must open in GitPoint else via Browser.

[2017-09-28 15:22] machour commented on #381
* Implement a solid and verbose `v3` client implementing all high level api calls (v3.user.getOrgs(), etc.) and use only the high level api in `*.actions.js`. No more direct calls to v3.get() and other low level methods.

[2017-09-28 15:25] machour commented on #376
I think a

- [ ] open github.com urls in GitPoint (when possible)

option could be great. In addition #285 could come very handy to address this concern

[2017-09-28 18:07] andrewda commented on #381
Super excited for this!!

Side note, can we be sure to use the semver terms for releases (`v1.3.0`) just in case we have to release a patch?

[2017-09-28 18:11] housseindjirdeh commented on #381
Yep that's a good point, will make sure to use semver from now on 🙌

[2017-09-29 12:02] machour opened #385 "Make notifications list takes all screen height"
Currently, it doesn't, so the notifications to the bottom gets hidden when we pull to refresh

![](http://g.recordit.co/brQLoVZZ4n.gif)

[2017-09-29 12:08] machour commented on #354
@MrZhang123 should I go ahead and close this issue?
You got me a bit worried about old (real) devices.. is there a way you can test on a physical device with an old OS ?

[2017-09-29 14:49] #315 closed

[2017-09-29 15:02] chinesedfan commented on #318
Closed by #332.

[2017-09-29 15:02] #318 closed

[2017-09-29 16:41] jsroyal commented on #368
Hi! Can I send PR for contributor list?

[2017-09-29 19:13] lex111 commented on #385
@machour oh no, I noticed this, and fixed it in #371.

[2017-09-29 19:58] machour commented on #385
Perfect <3

[2017-09-29 20:00] lex111 commented on #385
I think this PR will go into the 1.3 release, because everything is ready there.

[2017-09-29 20:07] housseindjirdeh commented on #381
@lex111 Just noticed two minor things:

- [ ] The 99+ icon doesn't show perfectly for iPhone:

![image](https://user-images.githubusercontent.com/12476932/31033935-fc666524-a52f-11e7-84a6-30483fa51256.png)

- [ ] When Mark all Notifications is tapped, it doesn't refresh the pending and all notifications screens:

![notifications-update-needed](https://user-images.githubusercontent.com/12476932/310

[2017-09-29 20:12] lex111 commented on #381
This I fixed in #371, but need to check so.

Ooops, I'll fix it, admit I did not look at iOS :(

By the way, will we change the fonts so that they have the same everywhere?

[2017-09-29 20:23] housseindjirdeh commented on #381
Seems to be what's happening on #371 unfortunately. No worries it isn't anything major breaking. I'll merge it in and we'll triage it in `master`.

Yep exactly so that's why I don't want you to stress over it, I'm going to be applying UI updates with the font change anyway

Yep was thinking the same thing :)

[2017-09-29 20:26] lex111 commented on #381
@housseindjirdeh Ok, for the weekend I think we'll do it, but the font you can do?

[2017-09-29 20:28] housseindjirdeh commented on #381
@lex111 Yep I can take care of that :) If not today then tomorrow!

[2017-09-30 14:12] jouderianjr commented on #285
Hey everyone, I'm almost finishing this issue, probably today I will open a pull request, but I think this should go after the 1.3 version 💃

[2017-09-30 14:38] machour commented on #381
⚠️ we need to merge https://github.com/gitpoint/git-point-site/pull/10 and change the host in `MarkdownWebView` before the release.

[2017-09-30 15:00] jouderianjr commented on #381
hey everyone, I was talking with @machour on gitter about #327 as he said, some user normally keeps his finger on the screen while scrolls the app. In issue screen, we added the long press event and for these users, this long press event could be very annoying.

Personally, I have this exact problem when I use facebook app :/

What do you think about to remove it?

[2017-09-30 18:01] Antoine38660 commented on #381
I can't reproduce it too 🤔 Descriptions (grey parts) doesn't look bold at all

I can try to add Nunito instead of AvenirNext and OpenSans and give you some screenshots !

Excited by this new release 😍 🎉

[2017-09-30 19:17] #385 closed

[2017-09-30 19:18] #251 closed

[2017-09-30 19:21] #225 closed

[2017-09-30 20:01] housseindjirdeh commented on #381
@machour Noted!

@jouderianjr yep personally very okay with removing the long press entirely :)

@Antoine38660 Interesting i have no idea why it's just me lol 🤔 Would love it if you can help out adding Nunito :) Please let me know as soon as you can how it goes!

[2017-09-30 20:02] housseindjirdeh commented on #381
🐛 Noticing the `private` box gets squeezed with long repo titles:

[2017-09-30 20:07] lex111 commented on #381
@housseindjirdeh I'll try to fix it.

[2017-09-30 22:18] machour commented on #112
We really need tests for 1.4 development, the app is getting bigger and harder to test by hand

[2017-09-30 22:34] andrewda commented on #112
@machour Here's the blocker: https://github.com/RealOrangeOne/react-native-mock/issues/141

[2017-09-30 23:06] machour commented on #112
Tried to add jest tests for GithubHtmlView earlier but got that exact same problem :(

[2017-09-30 23:23] andrewda opened #395 "Find alternative to react-native-app-intro"
It's very outdated and I'd be very surprised if it continues to work with future versions of React-Native, considering they're still using `PropTypes` from React.

[2017-09-30 23:23] andrewda commented on #395
It's one of the few things that's blocking tests at the moment.

[2017-09-30 23:31] andrewda opened #396 "Checklist for tests"
- [x] #395
- [x] https://github.com/Gil2015/react-native-table-component/pull/13
- [ ] https://github.com/jaysoo/react-native-parallax-scroll-view/pull/82
- [ ] https://github.com/umhan35/react-native-search-bar/pull/125
- [ ] https://github.com/umhan35/react-native-search-bar/pull/126

[2017-09-30 23:53] Antoine38660 commented on #381
Here's the new Nanuto font :

* **iOS**
<img width=200 alt="simulator screen shot - iphone 6 - 2017-10-01 at 01 06 51" src="https://user-images.githubusercontent.com/9287184/31050235-fde64a02-a644-11e7-95cd-58032c735208.png">  <img width=200 alt="simulator screen shot - iphone 6 - 2017-10-01 at 01 10 43" src="https://user-images.githubusercontent.com/9287184/31050254-7cdee396-a645-11e7-82de-16ed1a

[2017-10-01 02:39] housseindjirdeh commented on #381
@Antoine38660 It looks soooo good, running it on my simulator and its sweet :clap:

[2017-10-01 02:40] housseindjirdeh commented on #381
:warning: The events screen doesn't immediately update with a language change :thinking:

![translation-bug](https://user-images.githubusercontent.com/12476932/31051215-490f9020-a630-11e7-8b6c-cbfd20fce976.gif)

[2017-10-01 02:41] housseindjirdeh commented on #381
:warning: We'll need to fix any remaining translations (shouldn't be too many)

[2017-10-01 15:27] lex111 commented on #381
I can not fix it :confused: . I thought to put this Text in another Text component, and then everything is fine, but padding and border do not work.

[2017-10-01 16:23] housseindjirdeh commented on #395
@Ernoff was kind enough to create his forked package for this :dancer:

[2017-10-01 16:23] #395 closed

[2017-10-01 16:27] housseindjirdeh commented on #285
@jouderianjr :raised_hands:

Happy to have this in the 1.4 release :tada:

[2017-10-01 16:28] housseindjirdeh commented on #376
Think this will be absolutely great to have come to think of it. Won't be going out next week unfortunately but will love to see this in combination with #285 in the one after.

[2017-10-01 16:54] lex111 commented on #381
@chinesedfan maybe you can help? How did you [put the icon at the end of the title](https://github.com/gitpoint/git-point/pull/387#issuecomment-333318911)? At us now a [problem with that it is incorrectly displayed an notice "Private"](https://github.com/gitpoint/git-point/issues/381#issuecomment-333332578), it too is in the end.

[2017-10-01 17:05] housseindjirdeh commented on #381
Here's the [gist](https://gist.github.com/housseindjirdeh/6953891ef108f2f284c2cecd2e372f05) I linked to @chinesedfan showing how to flex position something to the right. Unfortunately this is going to be a little trickier since there's already an icon positioned to the far right. We'll have to flex position both the icon and private box as a `column` view within the whole flexed `row`.

I can help

[2017-10-01 17:08] machour opened #402 "Hand pick fonts from react-native-vector-icons"
We are currently bundling all fonts from react-native-vector-icons (1020K) where we could be bundling only FontAwesome & Octicons (192K).

Apparently, if we avoid linking this package using `react-native link`, and instead configure `build.gradle` and iOS plist, we can achieve that.

Do we want to save 800K here or is it not worth bothering?

[2017-10-01 17:12] machour commented on #402
I've tried to blacklist with no luck with this call:
`react-native link --config=../../../../rn-cli.config.js`

with git-point/rn-cli.config.js containing :

[code]

running the command only display `nobody listens` but not `I'M CALLED`..

[2017-10-01 17:29] housseindjirdeh commented on #381
![image](https://user-images.githubusercontent.com/12476932/31056991-368ca0fe-a6a9-11e7-882a-ac929dd69e65.png)

`IssueListItem` subtitle looks too bold and title doesn't look bold enough. Should look more like this (in terms of boldness):

![image](https://user-images.githubusercontent.com/12476932/31057052-3681c17e-a6aa-11e7-9f97-d90fb1f47fd2.png)

[2017-10-01 17:45] housseindjirdeh commented on #381
![image](https://user-images.githubusercontent.com/12476932/31057285-3d5d40aa-a6ae-11e7-8a5d-936533be3f3a.png)

Issue parent comment isn't padded with the border bottom properly. We could add functionality to only _edit_ the parent comment if the user is the current user but if we're in a rush we can leave that to a future release and just add the bottom padding

[2017-10-01 18:53] andrewda commented on #112
@machour I got it working using a fork of `react-native-mock` in #148.

[2017-10-01 22:55] housseindjirdeh commented on #381
Editing issue comment doesn't show the comment by default.

![editissue](https://user-images.githubusercontent.com/12476932/31060059-13ae75ae-a6da-11e7-8827-7b9edb2f698a.gif)

Exploring now :mag:

[2017-10-01 22:58] machour commented on #381
@housseindjirdeh might be related to api changes

[2017-10-02 00:06] andrewda opened #406 "Write action/API tests"
I'd like to keep this separate from #148 – ideally we'd get that merged in first. Afterwards, we can work on testing actions and GitHub API interactions. Obviously we won't want to use the production GitHub API as we'd get rate limited very quickly, so we might want to run our own mock GitHub API, similar to https://github.com/mzabriskie/mock-github-api.

[2017-10-02 00:25] machour commented on #280
Implemented in #284

[2017-10-02 00:25] #280 closed

[2017-10-02 04:14] chinesedfan commented on #381
@housseindjirdeh @lex111 Does the private box problem fixed? The screenshot shows wrong height.  I agree that pending it at the end of the repository name is better than the current left-right structure. But it will meet the same space problem as I mentioned in #387.

[2017-10-02 04:48] lex111 commented on #381
@chinesedfan in general, [yes](https://github.com/gitpoint/git-point/pull/409), but she decided that the name of the repository was reduced, i.e. not really a solution to the problem. It's strange that there is no way to place something at the end of Text component, given that it can be multi-line.

[2017-10-02 06:33] chinesedfan commented on #381
@lex111 You can add View as a child of Text, then it will flow to the end of the text. For example:
[code]
The result is:
[code]

[2017-10-02 06:35] lex111 commented on #381
Now I understand why I had a mistake. And it turns out to dynamically determine the real dimensions through `onLayout`?

[2017-10-02 06:45] chinesedfan commented on #381
I don't know the inner logic, but network articles say it only works with the size is set. I like this layout except for the following problem:

[code]
[code]

[2017-10-02 06:46] lex111 commented on #381
And it starts with a new line?

[2017-10-02 06:56] chinesedfan commented on #381
I mean the text and the view flow in multiple lines. If the length of the text happens to be the length of one line, then after wrapped, the second line will start with the view. But the padding is still there, like the 3rd item in the next screenshot.

<img width="375" alt="2017-10-01 12 16 11" src="https://user-images.githubusercontent.com/1736154/31047460-cb8e0316-a5d0-11e7-99f6-9bba17477d99.pn

[2017-10-02 14:41] machour commented on #396
react-native-table-component merged your PR 🕺

[2017-10-02 15:38] machour commented on #402
Instead of tweaking `react-native link` and blacklist react-native-vector-icons, we could change `yarn run link` to name the libraries to link and omit react-native-vector-icons.
Then we could include only the needed fonts by tweaking app.gradle & info.plist

[2017-10-02 18:13] jouderianjr opened #416 "Add"

[2017-10-02 18:14] jouderianjr opened #417 "Add analytics"
Hey everyone, I just noted that we don't have any analytics in this project, so there is no way to get information about how the user is handling with our app.

What do you think about add analytics in order to get more data about our user? 💃

That could be added for v1.4

[2017-10-03 10:20] siderio2 opened #421 "Add Galician translation"
I would like to see a [Galician](https://en.wikipedia.org/wiki/Galician_language) (my native language) version of the app.

[2017-10-03 10:23] siderio2 commented on #421
I would love to contribute with this translation, please.

[2017-10-03 10:32] siderio2 opened #422 "Add Spanish translation"
I've noticed that theres no spanish translation yet, and I think is a basic one.

[2017-10-03 10:33] siderio2 commented on #422
I would like to go ahead with this too.

[2017-10-03 10:59] machour commented on #422
Hi @siderio2 and thanks for reaching out!

There's an ongoing PR for Spanish translations: https://github.com/gitpoint/git-point/pull/282, maybe you can finish on it?

[2017-10-03 11:01] machour commented on #421
Hey, thanks you so much @siderio2.
Here's how translations are added in the app: https://github.com/gitpoint/git-point/blob/master/CONTRIBUTING.md#translations

And don't forget to add yourself as a contributor! 🙌

[2017-10-03 11:19] siderio2 commented on #421
Yes, I already watched at it and will also go to gitter in case I found any problem. Thanks.

[2017-10-03 11:20] siderio2 commented on #422
I think so, will look how is ti going.

[2017-10-03 11:40] machour commented on #406
Just came across [jest-fetch-mock](https://www.npmjs.com/package/jest-fetch-mock) which may come really handy too

[2017-10-03 18:11] andrewda commented on #422
Thanks for this @siderio2! We've already got a ticket for this: #233 - you can move discussions to there if you'd like!

[2017-10-03 18:11] #422 closed

[2017-10-03 18:25] housseindjirdeh commented on #421
We would love to have Galician support, thank you so much @siderio2 <3

[2017-10-03 21:02] lex111 commented on #381
@housseindjirdeh when is the release?

[2017-10-04 03:26] housseindjirdeh commented on #381
@lex111 Literally put it up for iOS app review:

![image](https://user-images.githubusercontent.com/12476932/31158771-34965aa2-a892-11e7-8f99-a6402a2a2d95.png)

Hopefully by tomorrow it'll be approved and rolled out 🙏

[2017-10-04 03:28] housseindjirdeh commented on #381
@lex111 Running a production build for a final run through for Android and I'm noticing icon issues 😞

![image](https://user-images.githubusercontent.com/12476932/31158808-7cf4b92e-a892-11e7-9d97-97742701fa3e.png)

Did you mention running `link` solved the problem?

[2017-10-04 03:46] housseindjirdeh commented on #381
^ Nvm, running yarn and `link` again fixed things :o

Next release rolled out for Android!
![image](https://user-images.githubusercontent.com/12476932/31159150-03256e10-a895-11e7-9213-3234442a3c2c.png)

[2017-10-04 03:47] housseindjirdeh opened #423 "Edit Comment TextInput not rendering with fixed height on Android"
On Android:

![image](https://user-images.githubusercontent.com/12476932/31159169-27861fb6-a895-11e7-9221-8b27fed9107d.png)

Not a huge deal and didn't want it to block release of course. CC @jouderianjr, I can look into this in the next few days :)

[2017-10-04 15:12] siderio2 commented on #421
I'm almost done with the translation, but looking at the other files I must change, I have found that we are using  emojicode flags, but there's no emojicode for [Galicia...](https://en.wikipedia.org/wiki/Galicia_(Spain))

[2017-10-04 15:13] #423 closed

[2017-10-04 17:29] jouderianjr opened #429 "Crash in Comment list"
The app crashes when the user goes into this [issue](https://github.com/jouderianjr/awengular-generator/issues/1)

I've talked with @machour and the problem is related with markdown rendering

[2017-10-04 19:18] #381 closed

[2017-10-04 19:24] lex111 opened #430 "Show API errors in toast"
At the moment, if we have an error when requesting something from the API, for example when searching, this is not handled in any way and the error is not shown. There is a suggestion to show an error in [toast](https://github.com/magicismight/react-native-root-toast). Or does anyone have any other thoughts on this matter?

[2017-10-04 20:22] lex111 commented on #421
@siderio2 how well will it be if we use the Spanish flag (for it there is emoji)? Or can we take the Galician flag and stylize it under the emoji flag so that they look similar like emoji flags?

cc @housseindjirdeh

[2017-10-04 20:38] housseindjirdeh commented on #421
@siderio2 THANK YOU so much mate 🎉 🎉

It's unfortunate that autonomous regions don't have their own emojis 😞

I'm perfectly fine with just using the Spanish flag if that's okay? @siderio2. If not, more than happy to rewrite our logic slightly and show circular flag images on the left hand side like this :)

![image](https://rlv.zcache.com/galicia_spain_flag_classic_round_sticker-r79c390697ded48dd8

[2017-10-04 20:55] lex111 commented on #421
@housseindjirdeh Why circular flag? Then we will have different flags in style, you can make the same, by analogy with emoji, right?

[2017-10-04 21:58] nersoh commented on #430
I think that would be good. The more feedback users have, the better.

[2017-10-04 22:23] siderio2 commented on #421
@housseindjirdeh, I don't think the Spanish flag is a good option: there are four official languages in Spain, same in  much more countries, so once we have all the translations it would be very confusing, in terms of UX.  I really don't know if it is a very big challenge, but the more we wait, the more flags we will need to change. A small image (shape doesn't mind) would be better. I've never wo

[2017-10-04 22:37] bhaveshc789 commented on #267
You can use "calc(0.75em + 1vmin)". I've been using it on my website and it works perfectly well.

[2017-10-05 00:08] alejandronanez commented on #274
I'll take this one!

[2017-10-05 06:32] FlorianTaut commented on #354
@MrZhang123 @machour i had this issue on Android emulator. Searched the hole internet and even asked github for support.

They told me the same as the browser. Its not supported and i should use chrome instead.
Downloaded the apk and installed it with drag and drop to the emulator.

Then set the default browser in settings and it should work.

[2017-10-05 06:48] brandly commented on #212
@housseindjirdeh [i started working on this](https://github.com/gitpoint/git-point/compare/master...brandly:patch-1?expand=1). does the general approach look okay?

at this point, the plumbing is in place, but the styles need some work:

![screen shot 2017-10-05 at 2 44 29 am](https://user-images.githubusercontent.com/820696/31213980-23a0fe10-a977-11e7-9126-38395c5d0738.png)

also, i have some unc

[2017-10-05 07:00] andrewda commented on #212
Looks great @brandly! One thing I'd suggest is moving the text further to the left, removing the space for the image (unless we want an image there?). Also, the "2mo" is cut off on the third event, but it shouldn't be too hard to wrap those lines!

[2017-10-05 12:58] twist295 commented on #178
I can take a look at this. Do you think we should be caching the resource last modified values within a session or between multiple sessions?

[2017-10-05 14:36] nma commented on #313
Hi I am getting into React Native from React, and would love to have an open source project with existing infrastructure to work on top of.

Can I take a look at this task?

[2017-10-05 18:02] Antoine38660 commented on #290
I love this feature! I'll send PR for it 😉

[2017-10-05 18:19] Antoine38660 commented on #290
Pretty similar to #46

[2017-10-05 19:52] jouderianjr commented on #313
@nma Sure! would be awesome 😄

[2017-10-05 20:13] Krizzu commented on #4
Hey,
What about setting status bar color imperatively [using setBarStyle](https://facebook.github.io/react-native/docs/statusbar.html#setbarstyle)?
You'd not need to pass props anymore, as this setting will be just in one place.

Also, exposing a option in app settings to change status bar color would be great :)

[2017-10-05 20:20] jouderianjr opened #432 "new issue screen not closing after submit"
This issue is related with new issue feature. After submit a new issue, the form screen is still in navigation stack, I believe new issue screen should be removed.

![newissueerrorreal](https://user-images.githubusercontent.com/1559013/31250414-1a4aea04-a9f1-11e7-9c23-c3264edfe5f3.gif)

[2017-10-05 20:47] D40661195 commented on #421
hey @siderio2, what do you think about from now use 🏳️  then we could start to work in another PR this custom flag feature 😄

[2017-10-05 20:47] jouderianjr commented on #421
hey @siderio2, what do you think about from now use 🏳️ then we could start to work in another PR this custom flag feature 😄

[2017-10-05 21:19] siderio2 commented on #421
It's ok. I'm pretty busy this days, but tomorrow evening or maybe Saturday I'll send the PR.

[2017-10-06 01:29] SammyIsra opened #433 "Header is cut off on Android"
![image](https://user-images.githubusercontent.com/8962228/31259330-ed4b585e-aa13-11e7-9a4b-3c7f2ad4bd3c.png)
As per image, the title on the front page is cut off early.
Can tell for sure if it's also on iOS, I only have an Android to test on.

[2017-10-06 01:40] SammyIsra opened #434 "Auth user's page doesn't show all of the organizations the user is a member of"
![image](https://user-images.githubusercontent.com/8962228/31259511-39536a92-aa15-11e7-98ef-dbb5c1877cd9.png)
Using myself as an example, I am a member of two organizations (ACMatUCF and gitpoint) but the profile page only shows gitpoint.
When looking at other users, it appears to show all organizations the other user is a member of.

[2017-10-06 01:59] chinesedfan commented on #434
@SammyIsra Hmm, do you have some special privacy settings? I see no organizations in your Github profile from Chrome, even GitPoint is not there.

[2017-10-06 02:15] SammyIsra commented on #434
@chinesedfan I didn't even know hiding your organizations was a thing! Ok, my organizations are now displayed. They should now be seen on my profile.

However, both organizations were set to private, and in my logged in profile I could only see the one.

[2017-10-06 06:34] brandly commented on #212
what do you think of this design approach? i've still got implementation details to sort out, but i like this direction.

![screen shot 2017-10-06 at 2 33 02 am](https://user-images.githubusercontent.com/820696/31265825-c7f29240-aa3e-11e7-97fa-26b6e9643330.png)

[2017-10-06 07:29] lex111 commented on #212
@brandly Good! Why in the screenshot there is no title change event? And @andrewda  add three labels at a time, so this should be one event with three labels?

![image](https://user-images.githubusercontent.com/4408379/31267456-e06fdad4-aa80-11e7-9ad6-fb29b20c3ebc.png)

[2017-10-06 07:31] lex111 commented on #434
@SammyIsra if you do a profile refresh (pull to refresh), will it be the same?

[2017-10-06 07:31] Antoine38660 commented on #432
😱 this one was referenced here #236 and I fixed it in #243 !

I'll take a look ASAP dude :)

[2017-10-06 07:33] lex111 commented on #433
Strange, I do not have such a problem. Is it the same in the simulator? Which version of Android?

[2017-10-06 07:47] Antoine38660 commented on #432
How were you able to go back? The top left arrow isn't displayed (in my case) and the swipe left-to-back option is also disabled

<img width="559" alt="capture d ecran 2017-10-06 a 09 45 13" src="https://user-images.githubusercontent.com/9287184/31268094-1869df44-aa7b-11e7-8589-264ce9894adc.png">

[2017-10-06 07:48] lex111 commented on #432
@Antoine38660 On Android there is a button back, apparently through probably.

[2017-10-06 08:02] brandly commented on #212
it hasn't been built yet! i just wanted to confirm the approach before i did too much more.

the api treats them as separate events. we could combine them if we'd like.

[2017-10-06 08:09] lex111 commented on #212
@brandly sorry, I just wanted to see what a multi-line event line would look like.

It is better to combine, of course, if several labels have been added at one time.

[2017-10-06 08:17] brandly commented on #212
no worries! current styles aren't handling multi-line events well at all. i'll fix that before i send screenshots. i'll figure out how to combine the label events too.

now that i've got some UI pieces in place, it shouldn't take long to build out the other event components. i'm taking a break tho ✌️

[2017-10-06 08:19] lex111 commented on #212
@brandly ok, then this issue will be assigned to you.

[2017-10-06 10:03] FlorianTaut commented on #68
@housseindjirdeh i already did some work but i moved to my new apartment this week and have no internet yet and my mobile data are already gone... If this has a bit more time i will finish it but currently im not able to 😢

[2017-10-06 11:07] jouderianjr commented on #432
@Antoine38660 yeah, Android has the back button, still, maybe remove the button is not the best approach because we are locking the whole stack, for example, the user is not able to back to issue list :/

[2017-10-06 12:29] lex111 commented on #421
@housseindjirdeh let's then discard the emoji flags and use icons? Only we need to find such a icons package where there is a flag of Galicia. I want the style of the flags to be the same.

[2017-10-06 13:10] chinesedfan opened #436 "Crash if the device language is Chinese"
Bad news! After updated to 1.3, I can't open GitPoint any more on my iPhone. It's my mistake that only testing in simulator.

The following [function](https://github.com/gitpoint/git-point/blob/master/src/locale/index.js#L24) is the culprit. In my iPhone, `I18n.locale` returns `zh-Hans-CN`, but `zh` is not a valid locale for `moment`.
[code]

Then it causes a crash.

![11507295307_ pic](https://us

[2017-10-06 14:52] chinesedfan opened #437 "Descriptions of some issues are missing"
For example, #433, #434.

<img width="374" alt="2017-10-06 10 53 30" src="https://user-images.githubusercontent.com/1736154/31283802-43663bba-aa7c-11e7-8e59-3a15c89f2748.png">

@machour I am afraid that it is related with markdown rendering. I got the familiar error when visiting these 2 issues in simulator.

<img width="373" alt="2017-10-06 10 54 29" src="https://user-images.githubusercontent.com

[2017-10-06 15:51] lex111 commented on #436
Thanks for the report. I think we can not trim the locale, it does not solve the problem, so we need to create a `map` or `switch`, like this:

[code]

And rename `language` to `locale`, so it will be more correct. What do you think?

[2017-10-06 20:36] SammyIsra commented on #433
Haven't tested yet on emulator, will report back later when I do!
Android version is 7.1.1. The phone is a One Plus 3T. The app version is the latest available on the Play Store.

[2017-10-06 20:38] lex111 commented on #433
@SammyIsra On the Android device I have a 7.0 version, such version and on the emulator. I'll look at older versions, a strange bug.

[2017-10-06 21:51] samuelrey commented on #270
I can pick up this issue!

[2017-10-06 21:53] lex111 opened #439 "Translation for other languages"
Hello everyone!

We need new translations, **the instruction to add is [here](https://github.com/gitpoint/git-point/wiki/I18N#adding-a-new-language)**.

At the moment **existing** translations:
- English
- French
- Dutch
- Turkish
- Brazilian Portuguese
- Russian
- Galician (thanks to @siderio2!)
- Spanish
- Portuguese (thanks to @Jpfonseca!)
- Portuguese Brazilian
- German (thanks to @tautf!)
- P

[2017-10-06 22:03] khvilaboa commented on #439
Spanish coming soon... :)

[2017-10-06 22:32] lex111 commented on #439
@khvilaboa it is very good! However, we already have PR #282 for translating into Spanish, but it is not finished, and you can take it as a basis and create your own PR with already ready translation, I hope, @alejandronanez  will not mind, right? @alejandronanez  will then check the accuracy of the translation in that case.

[2017-10-06 22:38] stephenpfaff commented on #439
So you need **_any_** language which does not already exist then or specific ones?

[2017-10-06 22:40] lex111 commented on #439
@stephenpfaff we will be glad to **any** language for which there is no translation yet.

[2017-10-06 23:05] tminussi commented on #439
I would be happy to help with pr-br

[2017-10-07 00:45] housseindjirdeh commented on #270
Thanks a million @samuelrey 🙌, once #258 is merged in you should be able to add work on this (which should be soon!)

[2017-10-07 01:47] housseindjirdeh commented on #421
@siderio2 thank you, and you're 100% right. Definitely makes sense to not have to use the same flag throughout.

This is what I was envisioning about circular images:

![image](https://user-images.githubusercontent.com/12476932/31303682-d75f00a0-aadf-11e7-9f9e-61eb822b655f.png)

Shouldn't be too complicated and seems pretty okay in my opinion :). Let me know what you folks think.

[2017-10-07 01:47] housseindjirdeh commented on #439
Thank you all so much, _any language_ not present will be AMAZING

[2017-10-07 02:59] brandly commented on #363
i think i found another issue like this! viewing [this comment](https://github.com/gitpoint/git-point/pull/438#issuecomment-334860883) shows the `Views nested within a <Text> must have a width and height` error. the embedded image within a checklist seems to be the source of the error.

[2017-10-07 03:20] SammyIsra commented on #429
It seems to be that it crashes on every issue. I tried opening issues on my notifications and from the Issues page and I got the same result.

Example here:

![Gif of app crashing](https://i.imgur.com/oFtWHhC.gif)

[2017-10-07 03:29] machour commented on #363
Thanks for logging this @brandly, I'll tackle it tomorrow!

[2017-10-07 03:33] machour commented on #429
@SammyIsra the problem is supposedly only with some edge cases when using images in a comment.
Are you unable to open any issue *at all* ? If some, you may have a problem with your working copy.

[2017-10-07 03:34] machour commented on #437
Thank you for reporting it, will be fixed soon hopefully

[2017-10-07 03:42] machour commented on #354
Closing this for now, as it seems to only affect the emulator

[2017-10-07 03:42] #354 closed

[2017-10-07 03:45] SammyIsra commented on #429
You're right - it crashes when the issue has images. I tried opening this issue and I had no problem. Gif was not playing, but I don't see why that would be related.

[2017-10-07 03:52] machour commented on #429
Oh correct, GIFs doesn't seem to be animated on Android.
Opening a separate issue for that!

[2017-10-07 03:59] machour opened #443 "Animated gifs are still images on android"
![tenor 1](https://user-images.githubusercontent.com/304450/31304572-1a5ba702-ab24-11e7-846b-aec5db0e3068.gif)

Maybe related to https://github.com/facebook/react-native/issues/7760#issuecomment-225227927

[2017-10-07 05:22] lex111 commented on #421
@housseindjirdeh icons for other languages will also be replaced?

[2017-10-07 05:39] Rishabh04-02 commented on #439
I'd like to help adding **de** - German.

[2017-10-07 05:50] andrewda commented on #439
@Rishabh04-02 Awesome! Thanks a lot!

[2017-10-07 07:35] FlorianTaut commented on #439
@Rishabh04-02 I'm already working on german Translation, but you can make this your Job if you want to. Thank you :+1:

[2017-10-07 08:08] Rishabh04-02 commented on #439
@FlorianTaut actually I've started to work on this. But so far have done only 10% of the job. So, if your work has progressed more than mine then you can work on it, I'll work on something else. But please let me know, if you're working on this.

[2017-10-07 08:31] viettrung9012 commented on #439
I can help with translation to Vietnamese

[2017-10-07 12:10] phillip055 commented on #439
Thai!

[2017-10-07 16:28] chinesedfan commented on #436
@lex111 Sure. But the problem is that we don't know all possible `I18n.locale`.

[2017-10-07 16:33] lex111 commented on #436
@chinesedfan This is yes, in part, therefore, you need to log errors in the application, such as Sentry (cc @housseindjirdeh ). But this should not be a frequent problem.

And we can check if the support for this locale is in `moment`, and if not, then use English. Then there will be no such cases.

[2017-10-07 19:11] peterblazejewicz commented on #439
Hi, I'll add Polish (pl-Pl). Thanks!

[2017-10-07 20:13] acurat commented on #359
I think this can be closed.

[2017-10-07 20:27] machour commented on #359
Yes, thanks @acurat

[2017-10-07 20:27] #359 closed

[2017-10-07 21:48] nma commented on #313
So here is a sample work plan I'm drafting out after looking through the code, let me know if anything feels off!

- [ ] Core code changes will be done on the User subfolder https://github.com/gitpoint/git-point/tree/master/src/user on the `RepositoryListScreen`
- [ ] I will reference the implementation of tabs from the search screen on adding tabs https://github.com/gitpoint/git-point/blob/master

[2017-10-07 23:04] #233 closed

[2017-10-08 04:20] #437 closed

[2017-10-08 04:21] #443 closed

[2017-10-08 04:27] #128 closed

[2017-10-08 04:33] #285 closed

[2017-10-08 06:06] lex111 commented on #439
@peterblazejewicz what for an error occurs? We will help you to solve this, you can also write to our chat on [Gitter](http://gitter.im/git-point/Lobby)

[2017-10-08 08:05] tautf opened #450 "App crashes on PR comment"
Hey,

I tried to comment at #445

I wanted to write the following:
Hey, i can review this, my native language is German @lex11 @houssaindjirdeh

Sorry I don’t know you exact names atm😂

But when I submitted it the app crashed.

When i only added @lex11 i was able to submit the comment.

[2017-10-08 09:36] Eliottiosdevs commented on #439
#451 updated Dutch phrases

[2017-10-08 09:52] lex111 commented on #433
@SammyIsra I looked at the emulator with Android 7.1.1 and a screen of 5.5 inches (like One Plus 3T), but there is no such problem. Is this a new version of the application?

[2017-10-08 09:58] SammyIsra commented on #433
It's the latest one as of today. This is oddly specific.. I don't know
anyone else with the same phone as mine, so I'm not sure how to proceed
here.

On Oct 8, 2017 5:52 AM, "Alexey Pyltsyn" <notifications@github.com> wrote:

[2017-10-08 10:01] lex111 commented on #433
@SammyIsra can you fix it?

[2017-10-08 11:42] machour commented on #429
@jouderianjr your issue should be fixed now.
@SammyIsra GIF support was added in a different PR !

[2017-10-08 11:42] #429 closed

[2017-10-08 11:43] machour commented on #363
Fixed!

[2017-10-08 11:43] #363 closed

[2017-10-08 13:25] machour opened #453 "Prettier usage"
Hey all,

Since I started working on git-point, I've always been bugged by prettier, leaving me with staged modified files **after** I commit & push:

[code]

After some digging into that issue with the precious help of @chinesedfan, it seems to be caused by the fact that I have other modified files (that I **don't** want to commit) and that I don't use `git add` in my workflow.

Instead, working

[2017-10-08 14:41] chinesedfan commented on #453
@machour I made a mistake in #448 reviews. The reason why those tail commas are removed by Prettier is that they belong to function arguments. It is not a kind of inconsistency between ESLint and Prettier.

Our `.eslintrc` sets `comma-dangle` to `always-multiline`, which means ignoring [function arguments](https://eslint.org/docs/rules/comma-dangle#options). But in precommit script, prettier uses

[2017-10-08 14:50] machour commented on #453
@chinesedfan no worries, there still was a problem with my commit ;)

Personally, I prefer not to have trailing comas in functions arguments, as this kind of make *visually* no sense to me. If a function takes 4 args, I should have 3 comas.

Here's the configuration I used for prettier in my commit:
(I included settings that are defaults to have an explicit config across configs)

[code]

[2017-10-08 16:21] housseindjirdeh commented on #421
@lex111 yep that's the idea, just use circular avatars for each flag :)

[2017-10-08 16:40] idealadarsh commented on #439
Hello, I'd like to add Hindi language.

[2017-10-08 17:09] lex111 commented on #421
@housseindjirdeh ok, let's do it, but where can I find them for all languages?

[2017-10-08 17:27] housseindjirdeh commented on #421
@lex111 sweet. So we can find flags for mostly all major countries [here](http://flagpedia.net/) for example. I _hope_ rounding off each flag should look okay?

For autonomous regions (like Galicia or Catalonia for example), we'll have to search for images of them separately. Their [wiki pages](https://en.wikipedia.org/wiki/Flag_of_Galicia) should have them however.

[2017-10-08 17:48] housseindjirdeh commented on #439
![gif](https://media.giphy.com/media/RrVzUOXldFe8M/giphy.gif)

You're all awesome :tada: :tada: THE NEXT RELEASE IS GOING TO :fire: with all these languages

[2017-10-08 17:48] housseindjirdeh commented on #439
Yep just as @lex111 mentioned, we'll be more than happy to help any issues you're having @peterblazejewicz!

[2017-10-08 17:50] tminussi commented on #439
Awesome!

[2017-10-08 18:31] cheshire137 opened #454 "Question about seeing changes while developing"
Hi! I've got the app running locally via `yarn start:ios:logger` but I'm wondering what's the fastest way to see changes I make in the app. When I've generated a React Native app via the [create-react-native-app script](https://github.com/react-community/create-react-native-app), as soon as I save a source file, the app rebuilds and I see the changes in the Simulator. Is Ctrl-C'ing in the terminal

[2017-10-08 18:33] Harkindey commented on #430
Can i work on this?

[2017-10-08 18:44] alejandronanez commented on #439
Yesssssss

El dom., 8 de oct. de 2017 a la(s) 12:50, Thales Sousa <
notifications@github.com> escribió:

[2017-10-08 19:02] peterblazejewicz commented on #439
@lex111 @housseindjirdeh It appears to be iOS cache problem in sim. The local build works after I cleaned it up.
So I'll do 'pl-Pl' (pl.js). I'll ask question on the gitter to not add more noise here.
Thanks!

[2017-10-08 19:55] cheshire137 commented on #454
Follow-up question: what's the best way to log data or debug the app while developing it?

[2017-10-08 20:03] cheshire137 commented on #454
Cmd-D was the trick! See https://stackoverflow.com/a/29365378/38743.

[2017-10-08 20:03] #454 closed

[2017-10-08 20:40] cheshire137 commented on #141
I'd like to work on this!

[2017-10-08 21:20] housseindjirdeh commented on #141
Absolutely @cheshire137! Thank you :)

@lex111 started integrating endpoints with organization requests at #347. Please feel free to put up PRs for certain portions incrementally if you prefer.

CC @andrewda (in case you've looked into adding any GraphQL endpoints) and @machour (who's working on normalizing our data store at the moment)

[2017-10-08 21:31] housseindjirdeh commented on #430
Think this would be great to have. We can begin with thinking implementing `error` messages using toasts and then moving on to other types of notifications if we see fit (show a toast if request successful for example?)

Would be great if we can use a higher order component or something similar to simply have this toast _in every screen_ if an error is triggered :thinking: Don't know if this would

[2017-10-08 22:35] housseindjirdeh commented on #454
Yep Cmd+D will be your friend :)

Enabling `Live Reload` will have the app rebuild as soon as you save any changes. If you prefer, you can have it disabled and use Cmd+R to reload the application to see you newer changes. `Hot Reload` is supposed to actually render your application _without_ a reload which is awesome, but haven't noticed it working too well with our navigation stack :raised_hands:

[2017-10-09 08:31] FlorianTaut commented on #107
I will finish this at the end of October hopefully.
At 27th im getting my internet and then i will start coding until my fingers burn 🎉

[2017-10-09 11:34] machour commented on #396
@andrewda i'm all for using these forks until something changes in the original repos.
Do you think we can move forward with tests implementation and have that merged in master?

[2017-10-09 13:44] machour commented on #434
@sammyIsra you may have to authorize these organizations for the GitPoint application. This can be done on GitHub web, in your settings.

[2017-10-09 16:22] chinesedfan commented on #434
I find GitPoint requires `Full control of private repositories`. So all organizations, no matter they are private or public, should be listed in the 4th tab.

@lex111 I only have one organization. Can you test by setting any 2 of your organizations to private?

[2017-10-09 16:30] machour commented on #434
@chinesedfan You still have to manually grant access on GitHub for all your organization to be available in the API.

See attached screenshot where I didn't grant `s-i18n`. You shouldn't be able to see it in the app.
![screen shot 2017-10-09 at 5 28 42 pm](https://user-images.githubusercontent.com/304450/31348405-dd1a4c06-ad1f-11e7-87c3-93d5d395c276.png)

[2017-10-09 18:17] andrewda commented on #396
Yep - I think if these changes aren't merged in, there probably won't be any other significant updates to the package, either. Until they are, I'm fine with just using the forks (though I think I'd prefer if we forked them as the gitpoint organization and used that instead so we can have full control over our dependencies).

[2017-10-09 18:18] andrewda commented on #396
^ CC @housseindjirdeh, I think you're the only one with create repo/fork perms

[2017-10-09 18:18] machour commented on #450
@FlorianTaut was that on android or ios?

[2017-10-09 18:29] machour commented on #396
I was trying rn 0.49 to check out the componentDidCatch for markdown rendering, and stumbled upon the fact that one of rn-app-intro still uses React.PropTypes

Logged an issue for it on its repo.

[2017-10-09 18:31] machour commented on #348
Abandoned in #457

*walks out whistling*

[2017-10-09 18:31] #348 closed

[2017-10-09 18:40] FlorianTaut commented on #450
@machour it was iOS 11.0.2 on a real device. I only had it once yet.

[2017-10-10 00:52] jouderianjr commented on #429
@machour Nice job mate :D I'll test it right now 💃

[2017-10-10 01:31] jouderianjr commented on #313
@nma The search bar in this screen is filtering locally or is calling the API? I believe the bar needs to have similar behavior. :)

[2017-10-10 02:14] chinesedfan commented on #434
@machour I mixed repositories with organizations. 🤦‍♂️

By the way, how to disable access if already granted? I have GitPoint organization, but it is granted automatically.

[2017-10-10 10:17] machour commented on #434
@chinesedfan :D

You need to go here: https://github.com/settings/applications, pick `GitPoint` and click on the green check mark for the organization you want to de-authorize

@SammyIsra Could you go to the link as well, authorize the application and see if it appears in GitPoint after a refresh?

[2017-10-10 12:08] FlorianTaut opened #462 "Crash on issue comments"
Hey guys,

i tried to open a notification with gitpoint.
The app crashed immeditely.

I tried it with 2 different notifications.

Somebody can reproduce this crash?

Have iOS 11.0.2 on an iPhone 7 running latest GitPoint version

[2017-10-10 12:09] FlorianTaut commented on #368
I think we should add a question about the OS-Type and real device or emulator to the Issue template.
Because not all bugs happen on every device and os.

What do you think @andrewda, can i send a pr for this?

[2017-10-10 12:27] FlorianTaut commented on #462
Update: I reinstalled gitpoint because everything crashed from this point on.
Everything is working smooth now and i can open one notification of the two i recieved.

Number 1, which broke gitpoint, is a notification about a comment in https://github.com/octokit/discussions/issues/7 when i try to open this notification gitpoint crashes and everything is "broken" from this point. I cant open issues

[2017-10-10 12:27] BeaData commented on #439
I'll be doing the Italian (it-It) translation :)

[2017-10-10 12:31] FlorianTaut commented on #439
@BeaData Thank you very much! [Here](https://github.com/gitpoint/git-point/blob/master/CONTRIBUTING.md#translations) you can find how you can get started!

[2017-10-10 12:33] FlorianTaut commented on #462
Probably we could test this if somebody else subscribes to this issue and waits to recieve a notification.
If gitpoint crashes then we know where the issue comes from.

[2017-10-10 12:36] machour commented on #462
Seems to be caused by this exact comment: https://github.com/octokit/discussions/issues/7#issuecomment-327616339

[2017-10-10 12:43] machour commented on #462
Here's the error screenshot:
<img width="360" alt="screen shot 2017-10-10 at 1 42 25 pm" src="https://user-images.githubusercontent.com/304450/31387056-4e7d1bae-adc9-11e7-8bd2-3bdfaeb43443.png">

Seems to be related to this issue in RN: https://github.com/facebook/react-native/issues/10635

[2017-10-10 13:04] FlorianTaut commented on #462
Do you want to take a look at this?

[2017-10-10 13:09] FlorianTaut commented on #462
@machour probably I should change the issue title, because this is not related to notifications. It will happen also if I open the issue directly.

[2017-10-10 13:46] chinesedfan commented on #434
@machour Thanks. But it doesn't work. When I clicked the green check mark, it will jump to a [help page](https://help.github.com/articles/about-third-party-application-restrictions/).

I also created a organization for testing. In the default settings page,

<img width="740" alt="2017-10-10 9 44 01" src="https://user-images.githubusercontent.com/1736154/31389627-38c21cc4-ad97-11e7-91d0-04ca116a145

[2017-10-10 15:26] dixi3 commented on #439
Hi, i would like to work on the romanian translation

[2017-10-10 16:25] rancidfrog commented on #417
According to about privacy policy you are misinformed.
![](https://i.imgur.com/29iAAgO.png)

[2017-10-10 16:29] rancidfrog commented on #59
Dark theme and transparent theme would be great.
Twidere - https://github.com/TwidereProject/Twidere-Android
is a twitter client with transparent theme.

[2017-10-10 16:37] rancidfrog opened #464 "Markdown toolbar support for comments/issues/posts with preview"
Currently there is only support for plain text.
I would suggest to take a look at fasthub -  https://github.com/k0shk0sh/FastHub
It has support for markdown, including adding links and images. For images it also has in-built support to add images directly using imgur api
It also has preview which renders like how it should in web (github.com)

[2017-10-10 17:12] machour commented on #464
Hi @rancidfrog, we introduced markdown parsing in the last release.
Make sur you are currently using 1.3.0 by navigation to the options screens of your profile.

[2017-10-10 18:12] andrewda commented on #417
@rancidfrog I _believe_ this is referring to the store analytics on iTunes and Google Play Store, which can be fairly limited. This issue relates to more specific information, such as device model, location, etc. that isn't reported by iTunes or Google Play Store Analytics.

[2017-10-11 02:46] #462 closed

[2017-10-11 05:02] nma commented on #313
@jouderianjr  Search Bar is doing a separate API request, I'll go for that workflow then.

[2017-10-11 08:10] chinesedfan commented on #464
@machour I am afraid that @rancidfrog means "submitting", instead of "rendering".

[2017-10-11 08:18] rancidfrog commented on #464
Actually more like toolbar ui support with preview:
![](https://s1.postimg.org/1g0671t1v3/Screenshot_20171011-111000_01.png)

Example: https://github.com/k0shk0sh/FastHub/commit/3618211389f518a232c81f96b61b53534bc18b82

[2017-10-11 08:38] rancidfrog commented on #417
That is not what is written.
Read it.

It would be thoughtful for an opt-out settings.
Especially if you plan on going full on creep mode and collect all data possible.

[2017-10-11 09:22] FlorianTaut commented on #201
@chinesedfan i think its not fixed with #320 unfortunately, i have crashes when posting a comment some times. I believe it only crashes when tagging someone with @.

But im not sure this causes the problem to a 100%

[2017-10-11 11:01] machour commented on #464
Oh, my bad!

[2017-10-11 11:25] machour opened #467 "markdown: Add support for quoted text"
When replying from an email, the notification content is embedded in the reply.

On github.com, it's displayed as a foldable section, folded by default:
<img width="796" alt="screen shot 2017-10-11 at 12 22 21 pm" src="https://user-images.githubusercontent.com/304450/31437968-78c3e762-ae87-11e7-9b4c-5c9e40cd6386.png">

Currently the app doesn't take care of it:
<img width="358" alt="screen shot 20

[2017-10-11 11:29] caudaganesh commented on #67
is this still available sir ? @andrewda

[2017-10-11 13:21] jouderianjr commented on #417
@rancidfrog The idea here is understand what features are more used by our user. I'm no intent to get user data, only tracks navigation, clicks and etc... 😄

[2017-10-11 13:49] #421 closed

[2017-10-11 13:51] lex111 commented on #278
@Jacalz hi! write please if you are ready to translate.

[2017-10-11 13:52] #288 closed

[2017-10-11 13:54] lex111 commented on #264
@sasongkoadi hi! write please if you are ready to translate.

[2017-10-11 13:58] lex111 commented on #67
@caudaganesh Of course, but I do not understand what I wanted @FlorianTaut

[2017-10-11 14:02] housseindjirdeh commented on #67
Yes definitely still available @caudaganesh :)

But before we dive in, I agree with @lex111. What exactly are we attempting to solve with this issue?

[2017-10-11 14:03] lex111 commented on #31
cc @housseindjirdeh

[2017-10-11 14:03] lex111 commented on #44
@RolfKoenders I will take it?

[2017-10-11 14:57] RolfKoenders commented on #44
I have the API ready you can use that! :D I was working on implementing it but takes me longer then expected to do it properly with the redux system. If you need help let me know.

[2017-10-11 15:47] rancidfrog commented on #417
I understand.
But, would it be better to use only one analytics library; I.E. crashlytics or another.
Instead of using google, iTunes, and whatever allows for good feedback?

[2017-10-11 16:09] lex111 commented on #44
@RolfKoenders Thanks, it's cool, I'll see what can be done.

[2017-10-12 08:46] Jacalz commented on #278
I have a LOT to do with school 😒 Will nit have any time to translator it any time soon 😞 Sorry guys 😅

[2017-10-12 10:58] Roshanjossey commented on #368
This is the issue template I use in my project
https://github.com/Roshanjossey/first-contributions/blob/master/ISSUE_TEMPLATE.md

We could tweak this to suit git-point

Here's a sample issue
Roshanjossey/first-contributions#802

🐞 Problem

🎯 Goal

💡 Possible solutions

📋 Steps to solve the problem

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a

[2017-10-12 12:36] FlorianTaut commented on #278
@lex111 If @Jacalz is not able to translate it at the moment unforunately we should probably not add it to the next milestone because it then could block the release of 1.4.

What do you think?

[2017-10-12 12:45] FlorianTaut commented on #464
I dont really prefer that.

GitPoint is known for its simple and clean UI. Something like this would fill up everything and make it very confusing and unclear.

[2017-10-12 12:54] rancidfrog commented on #464
It can always be collapsible, or a switch setting to enable or disable.
Adding half a cm for a toolbar is still simple.
Besides, github web design is very simple and hardly confusing. And it has a toolbar for comments, etc, for markdown.
I think it is helpful, especially as a shortcut for links, imgs, and all.

[2017-10-12 15:29] andrewda commented on #368
We can now use multiple PR templates, too! Maybe one for feature requests and one for bug reports or something like that.

[2017-10-12 16:21] Jacalz commented on #278
That is ok for me

[2017-10-12 17:13] machour commented on #368
For issues, we should be requiring :
  * OS
  * Phone model
  * GitPoint version

[2017-10-12 19:40] ftaut opened #470 "Show repository topics"
Hey,

It would be very smooth if we could show the topics a repository uses.

Not sure where we could add this part but I think this is something we should add for 1.5 or 1.6.

[2017-10-12 20:20] FlorianTaut commented on #439
@dixi3 Go for it! We love every new language which is added to gitpoint!

[2017-10-13 03:39] andrewda commented on #467
Maybe we could solve this with some regex-fu.

[code]

Not sure if that's an ellipsis character (`…`) or three periods (`...`), so just choose the appropriate one for the first group.

[2017-10-13 14:08] chinesedfan commented on #274
@alejandronanez How about your progress? I want to also take a look.

[2017-10-13 15:44] alejandronanez commented on #274
Hey @chinesedfan I'm working on it.

[2017-10-13 17:11] ericadamski commented on #6
I would love to contribute to the implementation of this once the design has be scoped!

[2017-10-13 17:21] ericadamski opened #472 "Allow adding reviews to PRs"
This app is great! Only thing missing for me is the ability to leave comments on specific lines of a PR and to allow adding a review (approved/request changes).

I would be willing to do the work for this assuming this is useful functionality that others would like.

[2017-10-13 21:46] #187 closed

[2017-10-14 05:34] chinesedfan commented on #274
Closed by #473.

[2017-10-14 05:34] #274 closed

[2017-10-14 09:28] rancidfrog commented on #5
Also, to view a repository commit history would be nice

[2017-10-14 10:19] FlorianTaut commented on #432
Probably we should not remove the back button but set the link to the issue list insted to new issue Screen.

[2017-10-14 16:57] tautf opened #477 "White screen on start"
Hey guys,

i have a Crazy issue since today.
When I open gitpoint, I see the cached news feed.
When gitpoint tries to update the news feed I only see a white screen and I can’t click anything anymore.

Somehow I think my device is broken, have so many issues 😳

[2017-10-14 23:46] #235 closed

[2017-10-14 23:55] housseindjirdeh commented on #472
Thank you so much @ericadamski

Yes this is something we _really_ need. Currently we don't show any pull request comments whatsoever (PR open #6) and it's kinda misleading. Moreover being able to add reviews to PRs would be huge :)

We would love your help on this, I'll close the previous ticket since they're somewhat related.

[2017-10-14 23:55] housseindjirdeh commented on #6
Thanks a million @ericadamski, going to close this ticket so we can use #472 to discuss about the designs :dancer:

[2017-10-14 23:55] #6 closed

[2017-10-15 00:06] housseindjirdeh commented on #472
So here's what I'm thinking, maybe we can start with showing all the PR review comments first before we tackle allowing the user to add review comments? First thing that comes to mind is in the `PullDiffScreen` that shows the code changes for a pull request, show the actual comments inline similar to GitHub currently:

![image](https://user-images.githubusercontent.com/12476932/31580344-9b73b8a6-b

[2017-10-15 00:07] housseindjirdeh commented on #470
Agreed don't think it would hurt to have. Open to suggestions as well!

[2017-10-15 00:10] ericadamski commented on #472
This all sounds great! My only suggestion would be that if we were to add the code diff in the comments that we maybe just put a link to the location of the comment in the actual diff screen rather than crowd the conversation log with code snippets.

[2017-10-15 00:21] housseindjirdeh commented on #417
Appreciate the discussion on this folks, and thank you for opening this @jouderianjr.

So the Google Play Console and iTunes Connect do provide analytics out of the box and as limited as they are, they actually provide more than I thought they would:

### iTunes Connect

![image](https://user-images.githubusercontent.com/12476932/31580389-8da34762-b11c-11e7-88e6-d7c72fb499dc.png)

We're also seein

[2017-10-15 00:25] housseindjirdeh commented on #417
Overall the analytics provided isn't extensive (clicks, navigation, etc...). I would definitely be interested in exploring a separate library to get more insightful data without violating our anonymity protocol as mentioned in pur privacy policy.

Moreover I think it's important that we find a way that people in the organization here have complete access to view analytics and it's not just me :swe

[2017-10-15 12:35] tautf commented on #477
This issue is caused by a username change.
Because I changed my username yesterday gitpoint stopped working.

Not sure if we can catch this event somehow and then ask the user to login again.

[2017-10-15 13:22] tautf commented on #477
Probably we could store the username on the device.

In every start and reload event of gitpoint we could check if the stored username exists, if not the user hast du login again, what do you guys think?

[2017-10-15 14:19] vitalkanev commented on #470
So, here is what I found: We can *only* use v3 API, and the `topics` [is currently in ***preview stage***](https://developer.github.com/v3/repos/#list-all-topics-for-a-repository) and requires this header to be set:

| `Accept`
| ----------
| `application/vnd.github.mercy-preview+json`

`EXAMPLE`:
[code]

[2017-10-15 16:05] alejandronanez opened #480 "Add styled components - Let's talk"
Add styled components - PoC

## Update
Let's talk about what is "wrong" / "right" about our current implementation for styling, and what styled-components will bring to the table. If we're not going to see any _real_ benefit I think we should hold this off.

## Update 2
There's a list here https://github.com/gitpoint/git-point/issues/532 with all the components that need styling, feel free to grab

[2017-10-15 19:27] lex111 commented on #480
Honestly, I do not understand how this will help? Can you explain the pros and cons?

[2017-10-15 20:19] alejandronanez commented on #480
@lex111 well this is what this issue is for. We talked about this briefly on Gitter so I wanted to move this here so everybody can share its opinion.

[2017-10-15 22:40] andrewda commented on #480
_Disclaimer: I've barely used `styled-components`, and most of what I know is from the documentation._

## Current Styling

### Pros

#### 1. Concise
All of our styles are already in their respective component file meaning we don't have any extra styling-only files.

#### 2. Explicitly showing styles
The current implementation is easy to follow because we provide every component that needs a style

[2017-10-16 12:42] ericadamski opened #483 "Bug/Crash possibility in src/components/code-line.component.js"
Looking through the code came across this line:

https://github.com/gitpoint/git-point/blob/e81f301eb5a6574b9c7f6bafe15c40d81ad34a87/src/components/code-line.component.js#L79

if `filename` is `undefined` or `null` this would cause a crash. Wondering if this should be:

[code]

[2017-10-16 12:49] D40661195 commented on #483
Yeah, I just saw this issue testing flow in our project, do you want open a pull request to fix it? 😄

[2017-10-16 12:50] ericadamski commented on #483
@D40661195 can do

[2017-10-16 13:12] jouderianjr commented on #483
Sorry, I've posted with a wrong user hahah that's my personal account

[2017-10-16 13:27] housseindjirdeh commented on #217
@machour's work in progress on adding a pagination layer in our redux store #457 should help us solve this (and any list in the app) to load more as the user scrolls down the list

[2017-10-16 13:28] #483 closed

[2017-10-16 13:49] ericadamski commented on #480
This video is a little long (it is actually a workshop) but the talk is given by https://github.com/mxstbr the co-creator of styled-components. Really useful in comparing the different types of styling solutions in react (not focused on react-native but IMO still applies here). The questions at the end are also very good in bring some reasons why CSS styling is good, but how styled-components eith

[2017-10-16 14:38] housseindjirdeh opened #485 "Remove unused fonts for Android"
Similar to #475, we'll need to do the same in Android (RNE has react-native-vector-icons as a dependency and linking the library includes _all_ which we aren't using)

[2017-10-16 14:42] housseindjirdeh commented on #464
Thanks for this @rancidfrog. Definitely see the use case for this without a doubt. I think it would be outstanding to allow the user to:

- write in markdown
- include links
- maybe allow images from imgur api?
- allow upload of images from device camera roll

However I'm also concerned with what @tautf mentioned. Definitely will need to flush this out design wise (with mockups) in etc in detail w

[2017-10-16 16:27] machour commented on #480
I don't know if we should be using `styled-components` or not (I didn't try them yet to see real-life benefits), but I know something for sure: we need to rethink how our global design is laid out.

Currently, every component/screen define its own styles, and it can sometimes leads to inconsistencies (different margins/paddings/sizes). Button were re-designed from scratch everywhere they were used

[2017-10-16 22:40] machour commented on #406
@andrewda Could we integrate tests for now without upgrading to React 16?

From what I understand, enzyme is the show stopper here, and we have to wait for all our dependencies to be R16 compatible being able to use it.

Jest snapshots could be a quiet solid alternative while waiting for packages to be upgraded by their maintainers. The only thing that we won't be able to test for now, as far as I

[2017-10-17 00:16] alejandronanez commented on #480
Thanks for your feedback guys!

I think `styled-components` will be a good upgrade to our current stack if we think about the future, what @machour mentioned about #59 will be quite complicated to achieve using what we have right now.

Also, I think that by using `styled-components` we will make our codebase a little more _easy_ to understand to newcomers or people with only css knowledge.
Since m

[2017-10-17 01:27] andrewda commented on #480
@alejandronanez Sounds good! I totally agree with a slow approach on this, not one huge PR.

[2017-10-17 02:13] andrewda commented on #406
@machour Actually, #407 should be almost ready to go. Only thing that's missing there is more tests, but we can add those as we go. There should be enough there for people to get started writing more tests.

[2017-10-17 11:37] machour commented on #480
@alejandronanez sounds good to me too.

I'm just wondering if we will be separating styles from components (i.e have a `styles/` directory with all styles and requiring the needed ones from components)

[2017-10-17 11:45] machour commented on #406
@andrewda when I pull the `tests` branch and run it on the simulator, I get this error

![screen shot 2017-10-17 at 12 43 31 pm](https://user-images.githubusercontent.com/304450/31663141-49ba6c34-b341-11e7-912b-512b9c2f9cf2.png)

rn-app-intro uses a really old fork & unmaintained fork of react-swiper. Is that the problem?

[2017-10-17 14:02] dyesseyumba commented on #485
Hello! I want to work on this.

[2017-10-17 15:55] chinesedfan opened #492 "Better way to indicate members list can be scrolled"
Now it only depends on the last avatar is not shown completely, and is not guaranteed in different screen widths of devices.

[2017-10-17 16:44] housseindjirdeh commented on #480
So I've always for some reason thought that because React Native _already_ uses JS for locally scoped component styles as opposed to React for the web, `styled-components` wouldn't really be beneficial.

Reading this [article](https://mxstbr.blog/2016/11/styled-components-magic-explained/) and the video you linked @ericadamski - I think I'm sold 👍

@alejandronanez the plan you laid out sounds perf

[2017-10-17 16:45] housseindjirdeh commented on #480
@machour that's a good point. I'm in favour with keeping it within the same file personally to keep the _small-components_ and _locally-styled_ mentality.

[2017-10-17 17:25] ericadamski commented on #480
@housseindjirdeh another solution we employ is to keep small locally-styled components in a file called `<main-component>.styled.js` to show the relation to the __main component__ but keep the bulk of boilerplate and non-logic code outside the main `jsx` file. Just a potential solution 😄

[2017-10-17 18:19] andrewda commented on #406
:thinking: Yea looks like that's caused by something in `rn-app-intro`. It looks like there's a new version out (`0.0.5`), so could you try upgrading to that?

[2017-10-17 18:45] machour commented on #406
That new version is completely broken: https://github.com/Ernoff/rn-app-intro/issues/1

[2017-10-17 18:53] andrewda commented on #406
:frowning: Alright, hopefully that can be fixed soon! As for snapshot tests which you mentioned earlier, I'm not a huge fan primarily because it requires redoing the tests after every minor change to a component. This could be fine to prevent unwanted changes, but eventually people will get into a habit of automatically re-snapshotting without testing first. It's better than nothing, I guess, but

[2017-10-17 20:13] kennethvandenberghe commented on #433
Have a OnePlus 3T running Android 7.1.1 and Gitpoint 1.3.1. I don't see this happening, for me the title is just fine.

[2017-10-17 21:02] housseindjirdeh commented on #480
@ericadamsk Thank you, I literally just finished having a chat with someone in work about how to structure things.

I'm sorry, I spoke too soon there without being more clear. Keeping things within the same file seems easier _for now_ because that's how I've sort of built each of the components/screen. I agree you're on to something better @ericadamski. Ideally I think having a folder structure fo

[2017-10-18 02:05] alejandronanez commented on #480
Hey @gitpoint/maintainers I'm glad you like the idea of using `styled-components` let me add a PR with the dependency and create an initial PR for a random component, then we can start creating more issues for beginners.

About the implementation details, it looks a little weird **to me** to have the style separated from the main component file (since we're not reusing those styles I think we don'

[2017-10-18 02:38] chinesedfan commented on #480
@alejandronanez I think it is a tradeoff. If styles are not reusable not very long, then we can keep it in the same file. Otherwise, we need separate it out.

[2017-10-18 02:38] alejandronanez commented on #480
There you go. First styled components PR https://github.com/gitpoint/git-point/pull/495

[2017-10-18 02:45] alejandronanez opened #496 "Fix build due to linter errors"
We have some errors in our build due to Esperanto language file. This is a good issue for beginners!
You can find the file in `src/locale/languages/eo.js`

[2017-10-18 02:53] andrewda commented on #496
What are the issues?

[2017-10-18 03:05] alejandronanez commented on #496
That's weird, https://travis-ci.org/gitpoint/git-point/builds/289317716

[2017-10-18 03:19] andrewda commented on #496
I think that tests was run on old code. This should have been fixed in 3ab5a5b5f270321e59a46f0ab2ba8e92f021843e and all current tests are passing 👍

[2017-10-18 03:19] #496 closed

[2017-10-18 04:07] andrewda commented on #19
Believe this was fixed somewhere along the way, works for me now.

[2017-10-18 04:07] #19 closed

[2017-10-18 05:58] tautf commented on #450
Update on this, i have crashes at nearly every issue & pr comment.
OS: iOS 11.0.2 iPhone 7
GitPoint: of course latest 😄

[2017-10-18 06:25] andrewda commented on #450
Me too @tautf

[2017-10-18 07:42] lucasbento commented on #376
Would love this feature as well, I hate to open GitHub links on mobile browser whilst having an amazing app for it.

[2017-10-18 08:55] machour commented on #450
Hopefully this will be fixed in 1.3.1 🤞
I suspect #429 which was also affecting iOS in some cases

[2017-10-18 10:43] machour commented on #492
Done in #499, what do you think about it?

[2017-10-18 11:27] andrelas1 opened #500 "See contributions and open PR’s on profile/homepage"
First of all, this app is great! Congrats to all the contributors.
I think that it would be really nice to check my open PR’s and contributions on github and also the contributions of a user on his profile page.

[2017-10-18 11:45] ericadamski commented on #480
@housseindjirdeh I think that is a great idea! Scoping components and their associated parts (styled, actions, reducers, selectors) helps (IMO) large projects scale.

@alejandronanez awesome PR! 🦄

[2017-10-18 13:20] ericadamski commented on #472
@housseindjirdeh just going through and adding PR review comments on PR's and noticing that I am attempting to _shove_ my code in to the current state of the app.

I am wondering how you all feel about the format of the store and if you are ok with me re-writing the state a little. Reason being since the `issue` key in the store gets __reused__ when switching between two different issue number (th

[2017-10-18 13:25] machour commented on #467
@andrewda FYI, Github HTML is already pre-processed like this:

[code]

[2017-10-18 13:35] machour commented on #472
@ericadamski I've been working on a complete rewrite of the state that will solve the issue you're currently facing. (ETA to master in early November)

I'm personally not sure it's worth worrying about this for now, but let's see what the team have to say :)

[2017-10-18 13:41] nersoh commented on #470
I'll try this one.

[2017-10-18 13:53] machour commented on #291
Seconding @tautf, I don't think that this is suited for mobile display

[2017-10-18 14:15] SammyIsra commented on #433
@lex111 I can tackle it, but from what I'm seeing this seems to be a *me only* issue... Very strange, I'll report back with any findings!

[2017-10-18 14:26] ericadamski commented on #472
@machour the problem is that if I add the functionality to do review comments I will be modifying the store in an odd way, it would be a more sustainable approach to reorganize the parts of the store that I am touching. Is it possible to get a _sneak_ peak at how you are rebuilding so I can mimic that and still complete the review comment functionality?

[2017-10-18 14:53] lex111 opened #503 "Convert to styled-components"
After discuss in the issue #480, we begin the gradual migration of the codebase to `styled-components`. This is a good and easy task for those who want to participate in Hacktoberfest or just start contributing to the project. The only rule is: **one** component or screen converted to `styled-components` in your PR.

You can see the example of migration in PR #495.

[2017-10-18 15:40] machour opened #505 "Proposal - Maintaining a ChangeLog"
I wrote an initial ChangeLog in #504 to help us follow through the tons of changes between versions.

I went through the closed PR since GitPoint was published on github, and I curated the list.
(@housseindjirdeh I'm not sure what was in 1.2 and what was in 1.3 though).

The idea would be to update this file every time a PR is merged carrying a _significant_ change to GitPoint. (and RN versions up

[2017-10-18 15:51] lex111 commented on #505
@machour great suggestion, but will this be an automated process?

[2017-10-18 15:52] machour commented on #472
@ericadamski here's the initial PR I opened: #457. You can go through its description to grasp the introduced changes, and if needed hit me on gitter for more information.

Please don't hesitate to implement what you envisioned for now, I'd hate for the refactoring to be a blocker.

[2017-10-18 15:56] yeskunall commented on #505
How about using something like [conventional-changelog](https://github.com/conventional-changelog/conventional-changelog)? Seems along the lines as suggested by @machour.

[2017-10-18 15:57] machour commented on #505
@lex111 the way I see it, it would be handled manually. (not all PRs should be reflected, and not all PR titles are meaningful)

[2017-10-18 16:30] dyesseyumba commented on #485
When I try to commit, I've got this error.
[code]
Can somebody help me?

I'm using Windows 10, node 8.7 and yarn 1.2.1

[2017-10-18 16:37] lex111 commented on #505
@machour and what about this [tool](https://github.com/skywinder/github-changelog-generator)? I think it's worth considering automation of the process.

If we finally use releases, then this is not a problem.

It is sometimes necessary to edit manually, @andrewda does so now, but it is not the biggest problem either.

[2017-10-18 16:41] machour commented on #505
@lex111 looks promising!

[2017-10-18 17:10] machour commented on #485
@dyesseyumba I'm not on windows, but you can add `--no-verify` to your commit to bypass commitlint

[2017-10-18 20:38] agatac commented on #503
Hi, I'm a new contributor. I can start with Badge Component.

[2017-10-18 20:46] lex111 commented on #503
@agatac fine, we will wait for PR, if there are problems, please contact to chat on Gitter.

[2017-10-18 23:52] andrewda commented on #500
Agree! This would be awesome!

[2017-10-19 00:13] #467 closed

[2017-10-19 00:47] #212 closed

[2017-10-19 01:05] housseindjirdeh opened #506 "Modify directory structure"
Our folder structure has changed as things have progressed and I'm thinking of another pattern we can start moving towards. I think having a folder structure for every component might be something we need to move towards. For example, our low level components in `components/`

[code]

And our container components (our "screens")

[code]

With this pattern each of our components will be purely JSX

[2017-10-19 01:06] housseindjirdeh commented on #480
Nice thank you folks <3

Okay, let's keep things in the same file for the meantime as that's how things currently are. Opened a separate issue to really start exploring a modular folder structure #506 🕺

[2017-10-19 01:08] housseindjirdeh commented on #503
Agreed @lex111, I love the one component rule for now 🙌

Welcome @agatac! The `badge` component is a great place to start :)

As per our discussion in #480, we can keep those styles in the same file for now. We can definitely look into moving them into separate files at a later point if need be. Any questions you have at any time, please don't hesitate to ask 🙏

[2017-10-19 01:10] housseindjirdeh commented on #485
Thank you so much @dyesseyumba 🙌 And WELCOME to the family.

Yeah we have a git commit hook that has errored for a few individuals time to time 😞  In the meantime if your commit follows the convention manually, you can use `--no-verify` as @machour suggested until we can figure out why you're seeing that error.

[2017-10-19 01:16] housseindjirdeh commented on #472
Thank you @ericadamski, and yep I already agree with you. We definitely need to have a more normalized data structure.

As @machour mentioned, he's currently modifying things to match that format in the store piece by piece. I think the best approach here would be for you to go right ahead and modify the store in a more sustainable manner (I agree it's kinda funky now!). I hope it doesn't cause to

[2017-10-19 01:17] housseindjirdeh commented on #376
Thanks @lucasbento and I agree. I'm going to try and spend some time this week on this as so many folks have asked :)

[2017-10-19 01:47] andrewda commented on #506
I like it! As just a minor phrasing thing, I think it might be better to use `button.style.js` instead of `button.styled.js` (obviously very minor and unimportant).

[2017-10-19 01:50] housseindjirdeh commented on #506
^ Nope that's definitely important, and I agree :)

[2017-10-19 02:00] SammyIsra commented on #480
Quick question about styled components. From what I've seen, you declare Components with its own, encapsulated style. This seems fantastic, but how would we deal with styles and themes across the app?

For example, if we want all titles and headers to have the same font and color and nothing else, we could have an easy CSS rule for, say, `className="titleStyle"`. And add it to those titles and hea

[2017-10-19 02:24] nimadera commented on #503
I'd like to help with this. Should I choose a component or is there a recommended component to tackle next?

[2017-10-19 04:08] lex111 commented on #503
@nimadera no, you can choose any component you like, just write it here so that others know about it.

[2017-10-19 05:58] pdong commented on #503
I took a shot at the view container, label-list-item, and notification icon styles.  I went through some other ones but got stuck at some spots or wasn't sure where the components were used.  I'm not sure if there is an easy way to reload certain views either as I'm pretty new to react native.

A couple of notes:
For fonts, the project is currently bringing them in as a spread operator in the Styl

[2017-10-19 09:46] machour commented on #506
I like this a lot!

Just to avoid confusions as the notifications section currently only contain one screen, how would `src/user` and the 4 screens it contain be adapted? Would it be one root folder per screen?

[code]

[2017-10-19 12:01] ericadamski commented on #480
@SammyIsra the idea behind component architecture and therefore styled components is that creating many small isolated chunks of a system (in the case of styled a frontend UI) and reusing the small isolated chunks allows consistency and simplicity when building large applications.

Your suggestion for a CSS rule like `className="titleStyle"` is actually a component style architecture on its own, i

[2017-10-19 14:09] mittalyashu opened #514 "Add the subscribe/unsubscribe issue button"
Can you add the option the show notification of the issue?

[2017-10-19 14:29] chinesedfan commented on #514
Hi @mittalyashu, can you explain a bit more? Do you mean the red message dot on app icon?

[2017-10-19 14:46] agatac commented on #503
Unfortunately I'm unable to configure my dev environment. It took too much time so far and I have no experience with React Native so I'm giving up, sorry guys! :/

[2017-10-19 15:02] josenaranjo commented on #503
Hello, I'm a new contributor and I'm working in the `code-line.component.js`.

@pdong for the fonts I created a new file called `styledfonts.js` under the config folder and this properties file has only the names of the fonts. I think it would be better if we start with a fresh font file while we migrate all the components, later we can deprecate/delete `fonts.js`

Also, I've noticed that some com

[2017-10-19 15:05] alejandronanez commented on #503
Hey @josenaranjo, welcome to the project and thanks for working on this. I agree with your idea of starting fresh with our fonts.
Do you mind creating an issue or a WIP PR that we can start looking at your progress?

[2017-10-19 15:09] josenaranjo opened #515 "Migrating code-line.component.js styles to styled-component."
Based on issue #503 I want to translate the old styles in this component to the new styled-components way.

[2017-10-19 15:20] alejandronanez commented on #515
@josenaranjo Let us know if you have any question about this!

Thanks!

[2017-10-19 15:31] housseindjirdeh commented on #506
<3

Yep @machour that's exactly what I was thinking . Right now we have a number of screens within `user` currently and they could all be in their own separate directories like this:

[code]

With this structure, it will mean we'll have to split `user.action.js` to 4 different unique action files (and the same with `user.reducer` and `user.type`). It's going to be more work but I think the granula

[2017-10-19 18:01] mittalyashu commented on #514
Sure.

For example, we have created a new issue or subscribed to the issue which is already created.
![image](https://user-images.githubusercontent.com/29014463/31786267-8bffebec-b525-11e7-8054-dc6ca1a43fba.png)

Basically github sends us an email for each new cooments of the issue (the issues you have subscribed). Isn't it would be great, if we could get the notifications on the mobile applicatio

[2017-10-19 22:19] daggala commented on #165
But what about displaying the languages in a accordion list, dropdown. So when the bar is being pressed, the list would be displayed and disappear when it's pressed again. Maybe only containing max fx. 8 languges so that it will always fit on the smallest screens.The rest of the languages could be named "Other" and beside we could display the remaining percentage of remaining languages. What do yo

[2017-10-20 00:15] andrewda commented on #505
@lex111 haha yea I guess I'm a bit OCD when it comes to PR titles 🙃

That definitely looks like a useful tool, and could be made even better if we come up with a consistent (but tentative) release schedule.

[2017-10-20 01:10] #112 closed

[2017-10-20 01:26] housseindjirdeh commented on #503
No worries @agatac, set up always is a hassle :disappointed: Please let us know anytime if you ever feel like trying to get it up and running and we'll always be here to help

@pdong I personally prefer if `props` can be passed in just like you suggested :) Seems like a cleaner way to do things!

@josenaranjo Interesting, will like to see your approach as well. If having a separate fonts file make

[2017-10-20 01:27] andrewda commented on #514
Possibly a duplicate of #101? Correct me if I'm wrong and I'll reopen!

[2017-10-20 01:34] andrewda commented on #396
🎉

[2017-10-20 01:34] #396 closed

[2017-10-20 01:44] andrewda opened #518 "Add more tests!"
We can use this issue to divide up some work. I'll add a checklist below with what needs to be done and who it's assigned to. Please comment (or edit yourself in) if you'd like to take on a test!

### Components

- [x] Badge (@andrewda – #407 )
- [x] Button (@andrewda – #407)
- [x] CodeLine (@andrewda – #407)
- [ ] CommentInput (unclaimed)
- [ ] CommentListItem (unclaimed)
- [ ] DiffBlocks (unclai

[2017-10-20 01:57] jouderianjr commented on #518
I'll start slow :) Could you give me ImageZoom and CommentListItem? 💃

[2017-10-20 02:32] chinesedfan commented on #514
@andrewda I think it is not. This issue just wants to add the subscribe/unsubscribe button. I reopen with the issue title updated.

[2017-10-20 02:56] alejandronanez commented on #518
I can grab userProfile and RepositoryProfile.

[2017-10-20 03:06] alejandronanez opened #520 "Discussion - Move to Redux Actions + Reselect"
Hey all!
I'd like to get your feedback about start migrating our actions/reducers to `redux-actions` and `reselect`. Here's a PR I created a while back to the organizations actions/reducers.
I think this is a good move, we will reduce our boilerplate greatly and will let us organize our application in a **more elegant** and **legible way**.

If we decide that this is a good move, I can update the

[2017-10-20 05:22] chinesedfan opened #521 "Different font for create event"
Just a little curious. Is it set on purpose?

![createevent](https://user-images.githubusercontent.com/1736154/31806327-8efb3c50-b52c-11e7-930b-7271f611783f.png)

[2017-10-20 06:13] andrewda commented on #521
GitHub displays branches in the `code format` in the event list, so this replicates that.

[2017-10-20 06:40] chinesedfan commented on #521
OK. The branch styles in Github are much better, while ours is, em, a little wired. 😆

Hope someone can improve it. (cc @housseindjirdeh)

<img width="695" alt="2017-10-20 14 36 59" src="https://user-images.githubusercontent.com/1736154/31808073-4100a4d0-b537-11e7-9b80-27134d457337.png">

[2017-10-20 09:45] wangzongxu opened #522 "Do not work on IOS 11.1.2"

[2017-10-20 10:10] tautf commented on #522
Hi @wangzongxu, could you please provide some more information.

Correct me if im wrong but iOS 11.1.2 isn't even out yet.
Are you using beta software?

[2017-10-20 10:15] wangzongxu commented on #522
I'm so sorry, my iphone system version is 11.1(15b5086a),
but git-point does't work when I open it.

[2017-10-20 10:20] chinesedfan commented on #522
I guess you are a Chinese like me, please check #436. The bug has fixed, but have not released yet.

[2017-10-20 10:26] #436 closed

[2017-10-20 10:28] wangzongxu commented on #522
thank you at first, but I had a flashback problem,I can't open it.

[2017-10-20 10:32] WittBulter commented on #522
@chinesedfan same error.

[2017-10-20 10:37] chinesedfan commented on #522
@wangzongxu I know. Can you try the workaround described in #436?

[2017-10-20 10:49] wangzongxu commented on #522
@chinesedfan that's great! thank you very much , I tried this method and It opened successful!

[2017-10-20 11:12] machour commented on #520
I don't think it makes sense to change the way we access the store, while the store itself is broken by design. We'll be just changing the paint on a cracked wall.

I've been pulling a lot of thinking into this ( #457 ) and would appreciate to have the chance to continue in this direction, as it would lead us to no boilerplate **at all**, while fixing the store design and enabling us to add new AP

[2017-10-20 11:17] machour commented on #522
@chinesedfan was this addressed by @lex111 recent work on locales?

[2017-10-20 11:23] davidsonsns commented on #503
Hi, I'm new here too, I believe that implementing the styled components would be a good way to get in.

Since there are several components, I think it's okay if I help. To avoid problems, can I open another issue with the name of the component or just say here?

[2017-10-20 11:27] machour commented on #520
@alejandronanez it would completely modify all the store architecture.

Whenever you have 30mn~1hour, I'll be glad to do a 1 on 1 with you to walk you through the changes, I'm sure you'll like what you see ;)

[2017-10-20 11:50] chinesedfan commented on #522
@machour Yes, already fixed by #479.

[2017-10-20 11:50] #522 closed

[2017-10-20 14:42] mittalyashu commented on #514
No @chinesedfan , you got me wrong. I am not talking about notifications of the repo we are watching.
I am talking about the notifications of the issues, we create on GitHub.

Can you join [this chat](https://git-point.flock.com), so that we can discuss it properly?

[2017-10-20 14:49] machour opened #528 "Markdown: Add support for <details>"
It would be nice to add support for `<details>` tag in GithubHtmlView:

## Title
<details>
  <summary>
    The following subheadings are hidden by default.
    Click to expand them.
  </summary>

### Sub header 1

Hello there.
</details>

[2017-10-20 14:49] chinesedfan commented on #514
@mittalyashu Can we chat on [Gitter](https://gitter.im/git-point/Lobby?source=orgpage)? Sorry, in China, it is hard to visit flock.com due to network issues.

[2017-10-20 15:26] alejandronanez commented on #520
Oh I'm glad you decided to close that huge PR and split it into small pieces, that will make things easier 👍 !
FWIW I think `redux-actions` can integrate with what you have in mind and the same goes for `reselect`.
* `redux-actions` will reduce the boilerplate when you want to dispatch something and will help us reduce some code from the reducers.
* `reselect` is a better way to query the store.

[2017-10-20 15:31] machour commented on #520
I'll try `reselect` and see how to ease objects retrieval with it, looks nice!

`redux-actions` on the other hand isn't really needed as reducers are already really simple and all the dispatching is done in a single point for all actions (the proxy).

I'll open the new simplified PR shortly to move forward with this

[2017-10-20 15:32] alejandronanez commented on #520
Sounds good! Thanks!
On Fri, Oct 20, 2017 at 10:31 AM Mehdi Achour <notifications@github.com>
wrote:

[2017-10-20 15:45] chinesedfan commented on #503
@lex111 @housseindjirdeh I found the latest master will crash due to above [styled components restriction](https://www.styled-components.com/docs/basics#react-native). Please pay attentions to this.

[2017-10-20 16:20] machour commented on #518
I'd like to implement tests for `<GithubHtmlView />` but I'm not sure how to implement them with Enzyme. (I'm fairly new to testing :relaxed:)

This component does two things:
 1. Transform a given HTML to a new HTML with some modifications
 2. Hands out this new HTML to `<HTMLView />`

Should I stick to only testing the first part, or should the output result of <HTMLView /> be tested too?
What w

[2017-10-20 18:19] andrewda commented on #518
Yea, I'd stick to the first part (we should really only be testing one component per test, and involving `<HTMLView />` in any way gets a little iffy). For testing the transformations, how about adding a couple data files to a `__tests__/data/html` directory along with their corresponding expected result. Feed the input HTML from the data files into `<GithubHtmlView />` and compare the output with

[2017-10-20 23:46] alejandronanez commented on #480
Since we all decided that this is the way to go, I'm going to lock down this issue. If you think it's still worth discussing anything else, feel free to unlock it.

[2017-10-20 23:55] alejandronanez opened #532 "Migration to styled-components"
Here's a list based off @andrewda's list for adding unit tests to the app (https://github.com/gitpoint/git-point/issues/518), feel free to add/remove components if you think it's necessary.

**For newcomers:**
1. Choose the component you want to style
1. Comment here which component you'd like to work on
1. We'll update this list with your name
1. Make sure to include "before" and "after" screensh

[2017-10-21 02:02] dillansimmons opened #534 "Updating user profile component to styled component"
Migration to styled-components #532  : I'll update the user profile to a styled component.

[2017-10-21 02:06] machour commented on #534
Thank you @dillansimmons! Let us know if you need anything.

[2017-10-21 02:48] machour commented on #492
Closed in #529 🎉

[2017-10-21 02:48] #492 closed

[2017-10-21 04:22] yannbf opened #536 "Input being chopped on issue page"
I just installed gitpoint on my Moto G5 Plus, android 7, and noticed that when entering an issue, the comment input gets  chopped(you can easily notice by the placeholder on the bottom). Here's a link to the video showing it: https://drive.google.com/file/d/0B1YWQtOX-9n_dXdUQzFONUcwQ00/view?usp=drivesdk

[2017-10-21 06:18] ruskakimov opened #537 "state-badge.component - Migration to styled-components"
Claiming the state-badge component.
Issue #532

[2017-10-21 06:30] chinesedfan commented on #537
@ruskakimov I am afraid that #535 has done the same thing. Can you pick another component?

[2017-10-21 07:25] ruskakimov commented on #537
@chinesedfan sure thing

[2017-10-21 07:45] dyesseyumba opened #538 "Add unit test to CommentInput component"
Referring to #532, I want to add units tests for the component **CommentInput**.

[2017-10-21 09:41] chinesedfan commented on #453
@andrewda #482 added the prettier config file, but if I ran `yarn run prettier`, lots of files will be modified.

[2017-10-21 10:41] machour commented on #453
@chinesedfan I had the same issue before I realized that I wasn't using the good  prettier version. Make sure you run the one from node_modules

[2017-10-21 10:49] machour commented on #538
I'm sure you mean #518, added you there! :tada:

[2017-10-21 11:05] lex111 commented on #503
@chinesedfan where does the crash happen? I do not have one.

[2017-10-21 11:13] binkpitch opened #540 "Migration inline-label component to styled-component"
Based on issue #532

I am new to working with open source project but I have write some code with React Native and styled component before. Can I take this issue ?

[2017-10-21 11:24] lex111 opened #541 "Setup code quality metrics"
[Codecov](https://github.com/marketplace/codecov) or [Coveralls](https://github.com/marketplace/coveralls), which one is better?

сс @housseindjirdeh @machour @andrewda @alejandronanez

[2017-10-21 11:28] machour commented on #485
Closed in #512 by @dyesseyumba
❤️

[2017-10-21 11:28] #485 closed

[2017-10-21 11:29] machour commented on #402
Handled by @chinesedfan & @dyesseyumba 🎉 🎉 🎉

[2017-10-21 11:29] #402 closed

[2017-10-21 11:31] machour commented on #541
I personally used and liked coveralls

[2017-10-21 11:33] machour commented on #540
With great pleasure @binkpitch, welcome to GitPoint!
I've added you to the list, let us know if you need any help with your PR.

[2017-10-21 11:37] chinesedfan commented on #453
@machour I think `yarn run prettier` should use the one in node_modules. Does your dev environment work well?

[2017-10-21 11:39] chinesedfan commented on #503
@lex111 It has already been fixed by [133091](https://github.com/gitpoint/git-point/commit/133091044f7ac216b95c85ad56a940064cb848f4).

[2017-10-21 12:08] machour commented on #453
@chinesedfan As far as I understand it does. Changed the command to look like this:
  `which prettier && prettier --write "**/*.js"`

output:
[code]

it's correctly using prettier from node_modules.

I do however see a bunch of files changed after running it:
[code]

All changes seems legit to me

[2017-10-21 12:33] chinesedfan commented on #453
@machour Same with me. Maybe all of above should committed to solve prettier problem completely.

[2017-10-21 12:38] machour commented on #453
Yes, you can do a PR for this. Generally I avoid doing this kind of PRs as it may introduce annoying conflicts in the existing ones. And the would eventually be prettied in a future commit

[2017-10-21 12:55] chinesedfan commented on #453
Right. Hope this time the styled-component refactor will prettier each file. 😆

[2017-10-21 12:57] machour commented on #453
Closing this issue since it was taken care of.

Also note, for the hook to work properly and not leave you with unstaged changes, use `git add` on your files before issuing `git commit`.

[2017-10-21 12:57] #453 closed

[2017-10-21 13:43] alejandronanez commented on #541
I’ve worked with both and I think coveralls os way better.

[2017-10-21 14:01] lex111 commented on #503
Allright, then I close in favor of #532

[2017-10-21 14:01] #503 closed

[2017-10-21 14:04] lex111 commented on #541
Ok, then @housseindjirdeh need to set up coveralls in the repository.

[2017-10-21 15:43] jglover commented on #518
I'll take `InlineLabel` and perhaps a reducer

[2017-10-21 15:56] andrewda commented on #538
Closing in favor of #518 so we can keep all discussion there. Thank you!!

[2017-10-21 15:56] #538 closed

[2017-10-21 15:58] andrewda commented on #518
Thank so much @jglover!!

[2017-10-21 20:13] #61 closed

[2017-10-21 20:13] #62 closed

[2017-10-21 22:26] bg-k opened #549 "Migration to styled-components - repository-section-title"
Issue #532
Hi! I'm pretty much new to the world of OSS but would like to work on this task.

[2017-10-21 22:51] alejandronanez commented on #549
Hey @bg-k welcome! I'll assign it to you.

Thanks!

[2017-10-21 22:53] shmesa22 opened #550 "CommentInput to styled-components"
Issue #532
I'd like to migrate CommentInput to 💅 styled-components ✌️

[2017-10-21 22:56] alejandronanez commented on #550
Hey @shmesa22, I already assigned it to you in #532.
Let us know if you have any question,

Thanks!

[2017-10-22 02:45] bg-k commented on #549
I'm kind of stuck at converting StateBadge component to styled-component..
I'm not sure what I'm doing wrong. Could you help me with this @alejandronanez ?
Here's my code.

[code]

[2017-10-22 06:07] andrewda opened #551 "Start using GitHub Projects again"
GitHub Projects are a great way to keep us organized on what's done, what's being worked on, and what's available to be claimed. It'd be great to start organizing issues and PR's there again.

[2017-10-22 06:19] binkpitch opened #552 "Migrate MentionArea to styled component"
From #532
I'd like to do this.

[2017-10-22 06:24] binkpitch commented on #540
@machour The PR has been merged, do I have to close this issue or just leave it open ?

[2017-10-22 06:37] chinesedfan commented on #540
@binkpitch Sure, I can close it. Done by #544.

[2017-10-22 06:51] andrewda commented on #552
❤️  Let's try to keep all discussions about this in #532. Comment there and you'll be added to the list!

[2017-10-22 06:51] #552 closed

[2017-10-22 06:54] #515 closed

[2017-10-22 06:54] #534 closed

[2017-10-22 06:54] #537 closed

[2017-10-22 06:54] #549 closed

[2017-10-22 06:54] #550 closed

[2017-10-22 10:01] ibotdotout commented on #518
I'll take Color Helpers, Text Helper in Utilities

[2017-10-22 14:21] alejandronanez commented on #551
I agree, this will help us to get a little more organized. I think Github projects will be good enough, but if we want something a little more _fancy_ we can use https://waffle.io/pricing, it is free for open source projects.

[2017-10-22 16:36] MrLoh commented on #532
I can do Button, CommentListItem, EntityInfo. Do you have a guideline how to handle specific styles like `buttonStyle` on the button rom `react-native-elements`? styled-components can do stuff like:

[code]

[2017-10-22 18:53] mittalyashu commented on #514
Oh! I see.

[2017-10-23 09:56] kenitive commented on #518
Oppps. I haven't noticed that @ibotdotout decided to do tests for color helpers :(

[2017-10-23 15:04] G2Jose commented on #376
This is a great idea. I don't think you can hijack github.com urls though - we'll need to do this through `gitpoint.co/{urlToHandle}`. gitpoint.co can then present an option to either open in app or view in browser through github.

https://developer.apple.com/library/content/documentation/General/Conceptual/AppSearch/UniversalLinks.html

[2017-10-23 15:19] G2Jose commented on #187
I definitely think `Immutable.js` adds a layer of safety in a project of this size. I think the benefits (Immutability + clearly defined records) we gain from this outweighs the slightly increased complexity for new devs. For the most part React handles Immutable objects pretty well, without conversion to plain JS.

[2017-10-23 15:58] jglover commented on #518
Tackled notifications reducer tests, see #567

[2017-10-24 01:27] housseindjirdeh commented on #551
Was thinking about this early :)

I closed it since we weren't really relying on it earlier. Definitely open to using it once more if we all decide to rely on it nicely.

How are you guys envisioning it? Split it by version releases and group issues and PRs in each section?

[2017-10-24 01:41] andrewda commented on #551
Maybe have the name of the Project be the name of the release (so like `1.4.0`) and within the project have `To Do`, `In Progress`, and `Completed`.

[2017-10-24 02:04] housseindjirdeh opened #569 "v1.4.0 Release - Final Checks"
Releasing `1.4.0` has been long overdue, and my apologies :O. Let's have this out before the end of this week ⭐️

Couple of things I've noticed so let's use this issue to track down all the changes we'll need before release 🚀

**For any thing mentioned on the list here and on this issue you want to tackle, just tag this issue number on your PR.**

On iOS && Android:
----

### Profile images don't

[2017-10-24 02:14] alejandronanez commented on #569
@housseindjirdeh I can take a look at the profile picture bug.

[2017-10-24 02:14] housseindjirdeh commented on #569
Thank you matey @alejandronanez <3

[2017-10-24 02:18] housseindjirdeh commented on #551
Done :)

I've added separate projects for `v.1.4.0`, `v.1.4.1` and  `v.1.5.0`. I think once we have everything in for 1.4.1 for example for bug fixes, we can add a new one for v.1.4.2 and so forth.

Once we have `1.4.0` merged in, we'll align this project roadmap with separate branches in the repo as well to keep things streamlined.

Also please let me know if you have edit access to projects. I w

[2017-10-24 02:18] alejandronanez opened #570 "User Profile not showing"
User profile not showing in iOS.

[2017-10-24 02:18] alejandronanez commented on #570
Related to #569

[2017-10-24 02:21] andrewda commented on #551
@housseindjirdeh works like a charm!

[2017-10-24 02:21] #551 closed

[2017-10-24 02:22] housseindjirdeh commented on #569
⚠️ Thanks for logging this one @machour:

## Android

![image](https://user-images.githubusercontent.com/12476932/31922003-875a78be-b840-11e7-8573-2b9017c9f550.png)

App intro buttons not showing smoothly

[2017-10-24 02:28] yannbf commented on #536
Np! Actually I mean the section in the bottom where the placeholder "Add a comment here" is.
See the image below:
![selection_293](https://user-images.githubusercontent.com/1671563/31922157-d72eed1c-b849-11e7-8544-1ac5180c554b.png)

[2017-10-24 09:36] machour commented on #569
@housseindjirdeh The app intro button should have been fixed by #527
Are you still getting this?

[2017-10-24 09:40] machour commented on #551
Works fine for me :)

[2017-10-24 09:58] machour commented on #541
Done in #571

[2017-10-24 09:58] #541 closed

[2017-10-24 14:19] machour commented on #569
@jouderianjr did you fix the cropped buttons for issues and pulls? I don't remember anymore :D

[2017-10-24 14:44] jouderianjr commented on #569
yeah, #545 😄  Sorry for don't help much in this release, I'm pretty busy in this days 😢

[2017-10-24 15:13] jglover commented on #520
Normalizr and reselect can massively reduce the amount of transformation and prop manipulation, this re-rendering done. But nicer still, Github released v4 of their API with GraphQL support, so you can retrieve a normalised well-shaped response right out of the gate, may be worth looking at: https://developer.github.com/v4/

[2017-10-24 15:42] chinesedfan commented on #551
@housseindjirdeh No problem. I love tasks!

[2017-10-24 18:14] andrewda opened #575 "Add detox for tests"
https://github.com/wix/detox

Make sure the app actually works on all pages and performs normal actions correctly w/o crashing (#572).

[2017-10-24 20:28] machour commented on #520
@jglover we have some on-going discussions/PRs about GraphQL: #141 #455 #347
The idea for now is to mix both GraphQL & Rest in the future

[2017-10-24 20:50] housseindjirdeh commented on #536
Ooooh thank you, surprised I didn't catch that from the video.

Thanks for this :) We'll make sure it's resolved before our next patch release 💃

[2017-10-24 20:51] housseindjirdeh commented on #569
Thanks @machour, didn't run it and thought it was still showing for Android users. Thank you <3

[2017-10-24 20:52] housseindjirdeh commented on #569
@yannbf was kind enough to log this in #536. Not sure if it's still occurring but logging it here to remind us to double check if it hasn't been resolved yet :)

![image](https://user-images.githubusercontent.com/12476932/31967362-af1a608a-b8db-11e7-83df-3dbf6f4e1429.png)

[2017-10-24 20:54] housseindjirdeh commented on #551
Beautiful <3

Feel free to move things to any of the releases you see fit folks. We can always clarify further in our gitter channe; 🎉

[2017-10-25 01:54] alejandronanez commented on #569
If anything related to `1.4` comes up we should add it to this board https://github.com/gitpoint/git-point/projects/2 I think it's easier to take a look there instead of an issue thread. What do you think guys?

[2017-10-25 02:13] housseindjirdeh commented on #569
Create separate issues for each of these and put it on my board? Yep I think that's a good idea as well

[2017-10-25 02:45] #570 closed

[2017-10-25 03:51] jglover commented on #520
That's great, in which case I definitely support reselect and normalizr for REST based work. Much less transformation then, schemas are also loosely akin to interfaces in Typescript and I think that kind of transparency into the request/response models is a great help.

[2017-10-25 13:19] Kietzmann commented on #439
I'll add Ukrainian translation

[2017-10-25 15:22] chinesedfan opened #580 "Borders are bolded a lot more"
Separated from #569.

It is due to two adjacent sections both have borders.

[2017-10-25 15:28] chinesedfan commented on #569
@housseindjirdeh I got a little confused about milestones. What's the relationship between projects and milestones

[2017-10-25 15:32] chinesedfan opened #581 "Notifications badge count has styling issues"
Separated from #569.

![image](https://user-images.githubusercontent.com/12476932/31921499-ac0b161c-b83d-11e7-96f4-cba1b7dd6494.png)

[2017-10-25 16:29] machour commented on #580
For this case, I think that we should declare a *global* border style and use it everywhere where needed

[2017-10-25 18:25] andrewda commented on #569
@chinesedfan Yea the line gets a little blurry. I'd say milestones are for tracking what issues we want in each release, whereas projects are for the current status of each issue (in progress, etc.) though I think we would be fine only using projects.

[2017-10-25 20:59] dyesseyumba commented on #518
I want to take "**SearchBar – Android**" and "**SearchBar – iOS**"

[2017-10-25 23:23] andrewda commented on #518
@dyesseyumba <3

[2017-10-26 00:52] housseindjirdeh commented on #569
^ Yep that's how I see it. Honestly perfectly fine with sticking to one as long as we all adhere as much as we can (and that can be projects).

Having milestones laid out as well shows the release number in the issues list screen which is pretty cool but isn't essential of course :)

[2017-10-26 00:53] housseindjirdeh commented on #521
Haha yeah I _tried_ to replicate it :P

Definitely think we can mimic the way it actually looks on the site :+1:

Will tag this for the 1.5.0 release :+1:

[2017-10-26 00:56] housseindjirdeh commented on #433
Thanks for logging this @SammyIsra, keep us posted if you find anything :raised_hands:

[2017-10-26 02:17] hndr91 commented on #439
Can I work on id-id ?

[2017-10-26 09:58] machour commented on #569
Just ran the app from master after a few days away, and I'm seeing a lot of obvious UI problems:

<img width="431" alt="screen shot 2017-10-26 at 10 46 21 am" src="https://user-images.githubusercontent.com/304450/32046711-18e1f488-ba44-11e7-9762-9329a43867b6.png">
<img width="447" alt="screen shot 2017-10-26 at 10 47 42 am" src="https://user-images.githubusercontent.com/304450/32046712-1902ae1c-ba

[2017-10-26 10:13] machour opened #584 "Coverall badge not showing up in comments"
![screen shot 2017-10-26 at 11 11 21 am](https://user-images.githubusercontent.com/304450/32047664-fe5779d2-ba46-11e7-88cf-2c0e6e2234be.png)

Here's what it should look like:

<img width="711" alt="screen shot 2017-10-26 at 11 13 10 am" src="https://user-images.githubusercontent.com/304450/32047686-11e14406-ba47-11e7-965d-a1da83be9333.png">

[2017-10-26 13:56] andrewda commented on #584
Is it because the badge is an SVG?

[2017-10-26 13:57] housseindjirdeh commented on #569
:(

Thank you @machour I appreciate it. I definitely think a lot of the folks submitting PRs to change our components styling aren't actually testing it on their simulator (maybe because it's simple to quickly grab an issue that requires a quick styling change?)

I'm going to add a note to the contributing guidelines that asks for a screenshot of the changed component/screen before submitting. If

[2017-10-26 14:05] machour commented on #584
That's probably the cause.

Images handling could benefit from a good rewrite:
- Support SVG & WEBP
- Initially display a loader, then display the images with the appropriate dimensions when they're loaded (currently it's the same height for all images, hence that big white gap in the screenshot)

[2017-10-26 14:13] alejandronanez commented on #569
+1 on adding a screenshot before merging. I think the screenshot should be submitted by the person who creates the PR not by any of the people with merge permissions though, it can be really time consuming + and people that send a PR should be responsible for their work.

@housseindjirdeh You can update the PR template with a checklist requiring the screenshot and some other goodies.

[2017-10-26 14:47] andrewda commented on #569
@alejandronanez I agree that the person submitting the PR should be responsible for creating screenshots. There should also be exceptions, obviously, such as if a person can't get their environment setup correctly, and need help testing their changes.

[2017-10-26 16:13] machour commented on #569
I fixed the user information list, but I encountered some difficulties with styled-components & react-native-elements. (More details in #586). Same things goes for the second screenshot of my previous comment, so I'm holding off on changes til we figure it out.

On a side note, I'm noticing contributors using styled-components names like `ContainerBorderBottom`. Same as CSS, I propose that we avoi

[2017-10-26 17:59] JSLinn727 commented on #581
So you want it to be a complete circle? I will take this issue just need to know exactly what you want it to look like.

[2017-10-27 01:23] alejandronanez commented on #569
@gitpoint/maintainers do we have a list of all the regressions that happened after the SC refactor?

[2017-10-27 01:25] alejandronanez commented on #581
@JSLinn727 yeah it should be a full circle with the number in the middle.
Thanks for your interest!

[2017-10-27 01:55] alejandronanez opened #588 "Remove Sinon.js"
We should remove `sinon.js` from our stack, Jest has its own way to do spies and mocks.

When you remove this, don't forget to update the tests.

[2017-10-27 02:27] andrewda commented on #588
👍

[2017-10-27 02:29] andrewda commented on #588
Apologies for using Sinon in the first place – I had seen it and was excited to use it without looking to Jest's prebuilt solutions 😂

[2017-10-27 02:31] andrewda commented on #569
@alejandronanez Good idea. That's probably the most thorough way to go about this.

[2017-10-27 03:07] alejandronanez commented on #588
haja np!
On Thu, Oct 26, 2017 at 9:29 PM Andrew Dassonville <notifications@github.com>
wrote:

[2017-10-27 03:29] #588 closed

[2017-10-27 10:11] machour commented on #569
@alejandronanez I think we only mentioned what we've seen so far. The only way to get an exhaustive list would be to go through *all* merged PRs and test them one by one :/

[2017-10-27 11:50] alejandronanez opened #595 "Create tests guidelines."
Create a `TEST.md` that explains how we're testing Gitpoint.
I'll use the test for `NotificationListItem` in this PR as a reference. https://github.com/gitpoint/git-point/pull/589

[2017-10-27 13:44] vidhill commented on #450
Me too, try to leave a comment on an issue, app crashes, iOS real device

[2017-10-28 16:38] #368 closed

[2017-10-28 17:05] andrewda commented on #584
:thinking: SVGs seem to work fine in the README.md files. Is there any reason why they'd work there but not in comments?

[2017-10-28 21:57] #595 closed

[2017-10-28 22:15] machour commented on #584
README files are displayed in a WebView, whereas comments are rendered using https://github.com/jsdf/react-native-htmlview that transforms the HTML code into native views, so we're using <Image /> here, and it doesn't support SVG out of the box.

Should be easy to implement using something like https://github.com/react-native-community/react-native-svg

[2017-10-28 22:34] shmesa22 opened #599 "User list item to styled-components"
I would like to migrate user-list-item to styled components #532.
BTW SearchBar iOS and SearchBar Android are on the list but they don't have styles. 😓

[2017-10-28 23:28] jouderianjr commented on #569
Hey everyone, I've noticed this change ( I have almost 100% sure that is related to react-native-elements update)

### Before

![screen shot 2017-10-28 at 20 27 02](https://user-images.githubusercontent.com/1559013/32139417-6c6f0092-bc1e-11e7-804a-3d785b33ffa1.png)

### After

![screen shot 2017-10-28 at 20 16 01](https://user-images.githubusercontent.com/1559013/32139387-3a4708fe-bc1d-11e7-83f1-d

[2017-10-29 00:38] andrewda commented on #599
@shmesa22 Haha thanks for noticing that last part, I just took them off the list. I'm going to close this issue so we can keep everything centralized at #532, but added you to the list!

[2017-10-29 00:38] #599 closed

[2017-10-29 00:39] andrewda commented on #584
Gotchya. That sounds like it should work.

[2017-10-29 01:51] shmesa22 opened #603 "Refactor: SectionList to styled-component"
I would like to migrate section-list component to styled-component #532

[2017-10-29 02:02] andrewda commented on #603
@shmesa22 thanks! I'm going to close this one – could you comment on #532 in the future when you're ready to claim another?

[2017-10-29 02:02] #603 closed

[2017-10-29 02:32] LeoCp commented on #532
I'll take `NotificationListItem`

[2017-10-29 03:21] jamesg1 commented on #518
I'll take "SectionList" please. Thanks

[2017-10-29 04:51] jamesg1 commented on #532
I'll take `SectionList` please, thanks

[2017-10-29 09:58] chinesedfan opened #604 "Integrate styled components checking tasks"
It was a pity that we introduced so many styles problems by styled components refactoring. I suggest to integrate 2 more tasks into our Travis CI.

- [`stylelint-processor-styled-components`](https://github.com/styled-components/stylelint-processor-styled-components), which guarantees basic CSS writing.
- [`styled-components-native-code-mod`](https://github.com/styled-components/styled-components-

[2017-10-29 11:10] machour commented on #604
@chinesedfan I wouldn't mind adding `stylelint-processor-styled-components` as part of CI, but I'm not sure about `styled-components-native-code-mod` which looks more like a conversion utility.

Also, unless I'm missing something, current code base is broken because of an [incompatibility](https://github.com/react-native-training/react-native-elements/issues/679) with `react-native-elements`.

[2017-10-29 11:45] alejandronanez commented on #604
I second @machour, We should integrate `stylelint-processor-styled-components` But not the other one, it looks like a conversion tool.

@machour what do you think about rolling back any changes that involve SC + `react-native-elements` (or go with a workaround) ?

[2017-10-29 12:35] shmesa22 commented on #532
I'd like to take `Members`✌️

[2017-10-29 12:39] machour commented on #604
@alejandronanez was about to reply from the app but it crashed 😆 (you fixed it in #602)

A big +1 on rolling back failing PRs for now until react-native-elements is updated.

[2017-10-29 12:40] alejandronanez commented on #604
Just to clarify, I meant only roll back changes related to RNE.

[2017-10-29 12:41] machour commented on #604
Yes yes :)

[2017-10-29 14:36] ArvinH commented on #528
Hi, I want to take care of this one!
First time for React-native but I'm trying 😄
![demo](http://g.recordit.co/1EIxv3Kyfr.gif)

[2017-10-29 14:53] machour commented on #528
@ArvinH awesome, thank you!! 🎉
You may find our `<ToggleView />` component handy: https://github.com/gitpoint/git-point/blob/master/src/components/toggle-view.component.js
Could you also try to use the same arrow as github?  ► ▼

[2017-10-29 15:06] alejandronanez commented on #532
Assigned @LeoCp @jamesg1 @shmesa22 Let us know if you have any question. Thanks a lot!

[2017-10-29 15:52] jamesg1 commented on #532
Thanks @alejandronanez I do have a few question: how to style `ListItem` as it has a `titleStyle` prop? Also for `List` I'm not sure to to convert it as it is a containerStyle? I also had issues converting topheader as its a flexbox, all of the titles seemed to squish up. Do we need to add anything else for flexbox?

Here is what I've done so far: https://github.com/jamesg1/git-point/commit/51897d

[2017-10-29 15:55] MrLoh commented on #532
That’s pretty much the same question I had. But I never got a response. You can see an idea how to handle such styles though in that question as well as in some of my pull requests.

Generally I think it is a good idea to remove any style related props into the styled components part.

[2017-10-29 16:02] machour commented on #532
@MrLoh the way you did it with styled(ListItem).attrs(/*...*/)``; was perfect, although there were some non desired effects (see #586).

@jamesg1, I think it's better to not convert ListItem yet, as there's an ongoing issue with react-native-elements: https://github.com/react-native-training/react-native-elements/issues/679

[2017-10-29 16:43] apoeco commented on #532
I will give a shot `RepositoryListItem`

[2017-10-29 18:41] shmesa22 commented on #532
I'd like to take `RepositoryProfile` and `ParallaxScroll`

[2017-10-30 02:01] alejandronanez commented on #532
Update the list with your names @shmesa22 and @apoeco, thanks for your interest!

[2017-10-30 09:18] jamesg1 commented on #604
What were the actual benefits of using styled-components? Seems to me it has some issues with supporting third party component libraries.

I use https://github.com/css-modules/css-modules with a work project and enjoy it as it keeps the CSS seperate to the JS.

[2017-10-31 02:34] alejandronanez commented on #604
Hey @jamesg1 we already had a discussion about it (I can’t find the issue right now - on mobile)
My 2 cents on CSS modules is that they work _ok_ but have some restrictions that styled-components address in a really good way.

[2017-10-31 15:56] chinesedfan commented on #604
@machour @alejandronanez Right, `styled-components-native-code-mod` is not a real test tool. Adding it here is just for reminding us to have the same ability to avoid unitless shorthands properties crash.

In #612, I tried to fix problems by `stylelint-processor-styled-components`, as well as `stylelint`. Some of them are just styles preferences, and some are fatal. But I have not verified them ye

[2017-11-02 14:12] chinesedfan opened #614 "No different icons in notifications screen"
Only issues icon is shown. No matter it is a real issue, or pull request, or branch.

Before:

![11509632125_ pic](https://user-images.githubusercontent.com/1736154/32330698-deaebb32-bfae-11e7-8a3f-da841e756a9f.jpg)

Now:

![31509632164_ pic_hd](https://user-images.githubusercontent.com/1736154/32330708-e4f2559e-bfae-11e7-9bc7-3650037d2560.jpg)

[2017-11-02 14:18] chinesedfan opened #615 "IssueDescription is not rendered very well"
It may due to #563.

Before(v1.3):

![21509632125_ pic](https://user-images.githubusercontent.com/1736154/32330618-a7a61b80-bfae-11e7-8e38-0ea2ac0843b8.jpg)

Now:

![41509632185_ pic_hd](https://user-images.githubusercontent.com/1736154/32330572-89671f5c-bfae-11e7-838c-37a29f929962.jpg)

[2017-11-02 14:20] chinesedfan opened #616 "Crash when view pull-diff.screen"
Due to #515. If reverted, it is OK.

[2017-11-02 14:35] machour commented on #615
@chinesedfan Are you talking about the labels list?

[2017-11-02 14:38] chinesedfan commented on #569
I checked the merged 12 styled-component. Thank goodness that only 3 issues(#614, #615, #616) were added. For all [SC related PRs](https://github.com/gitpoint/git-point/pulls?q=is%3Apr+is%3Aopen+label%3Astyled-components), you can view by the `styled-component` label or #532.

[2017-11-02 14:40] chinesedfan commented on #615
@machour Yes, both the repository title and the labels list, as you mentioned in #569.

[2017-11-02 14:43] SammyIsra commented on #569
@jouderianjr Because Bios are usually longer than a line, I am for using the old style with normal font weight and without ellipsis.

[2017-11-02 14:48] chinesedfan commented on #614
Introduced by #589, and #610 contains fix of it.

[2017-11-02 18:16] andrewda commented on #569
Agree with @SammyIsra - GitHub already limits the length of bios, so let's not limit it any further.

[2017-11-02 18:17] andrewda commented on #615
Yea, this might be one of the things we want to roll back and look into fixing later... There's a bunch of issues here.

[2017-11-03 06:14] xiaohp opened #617 "Crash after login"
I'm install the lastest version from app store, the app crash after login, and then crash in open.
system:  iOS 11.1, iPhone 7  Plus

[2017-11-03 10:36] machour commented on #615
react-native-elements 0.18.1 should be out today according to @Monte9, and it should fix a lot of these issues

[2017-11-03 14:09] chinesedfan commented on #617
Hi, @xiaohp, check #436 and #522, my Chinese friend. :)

[2017-11-03 14:14] #617 closed

[2017-11-04 16:33] #540 closed

[2017-11-04 22:59] machour opened #620 "Move language picker into a separate screen"
Thanks to all the translations that got contributed we now have 14 languages 🎉

![screen shot 2017-11-04 at 11 55 00 pm](https://user-images.githubusercontent.com/304450/32410221-c8599bb8-c1bb-11e7-8255-2ff8fd86b9a1.png)

I think it's about time we move language selection from the main options screen to a newly dedicated screen.

We could also take this chance to sort the language list.

[2017-11-04 23:12] machour commented on #604
@jamesg1 the compatibility issue with react-native-elements was fixed in 0.18.1 released yesterday 🎉  You should be able to finish your PR with styled-components soon. We had the discussion Alejandro is referring to in #480.

@chinesedfan could we have a PR adding styling tests in the commit hook? It would be great to have this soon <3

[2017-11-04 23:15] machour commented on #580
@chinesedfan I think it's more due to a change in default values of react-native-elements ListItem.
I addressed the problem in #619

[2017-11-05 10:04] chinesedfan commented on #604
@machour Sure, the commit hook can help contributors discover problems sooner at local. I am working on integrating with `stylelint-processor-styled-components` and have sent a [PR](https://github.com/styled-components/stylelint-processor-styled-components/pull/140) to fix its issue of reporting wrong line numbers. Once my PR is accepted, we can enjoy styling lint.

[2017-11-05 10:08] machour commented on #604
Great, thank you!

[2017-11-05 11:11] #616 closed

[2017-11-05 11:21] machour opened #624 "Buttons are currently messed up"
Separated from #569

Just a reminder that buttons are currently broken in master:
![screen shot 2017-11-05 at 12 16 37 pm](https://user-images.githubusercontent.com/304450/32414264-65ad788c-c223-11e7-83c2-c21c59d35417.png)

Obvious problem on iOS, and an additional white background on Android.
The problem seems to have been introduced in #407 when we bumped react-native-elements from 0.9.3 to 0.17

[2017-11-05 12:12] machour commented on #569
@gitpoint/maintainers Just went through the various issues discussed in this thread and cleaned up the project board for 1.4.0: https://github.com/gitpoint/git-point/projects/2

I'm all in favor of starting to use the project board over milestones, as it gives a neat glimpse of the release status. 👌

[2017-11-05 12:59] machour opened #625 "Discussion: Internal - Pull Requests management"
This is an attempt to lay out some ground rules in order to improve our handling of PRs.

Hopefully, this will avoid finding ourselves in the current situation introduced by styled-components PRs.

I believe this should be part of some guidelines documentation once discussed & approved.

### Rules for merging PRs

#### Base rules
* Every person who merges a PR should have tested it by itself on at

[2017-11-05 13:01] machour commented on #625
@housseindjirdeh @andrewda @alejandronanez @chinesedfan @alejandronanez @lex111 @jouderianjr Please shim in with your ideas 🙏

[2017-11-05 13:25] chinesedfan commented on #625
Great suggestions! I want to mention reviewers count and the duration.

- PRs should be merged with at least 2 approved reviewers.
  - If submitted by a maintainer, the approval from the author is not counted.
- PRs should be opened for at least 1 day, except for those urgent fixes.

[2017-11-05 13:32] machour opened #626 "Discussion: Internal - Project & Releases management"
Echoing #569, I would like if we could talk about our project management and lay out some guidelines here, in order to streamline the releases and be able to deliver new versions more quickly.

Here's my take on the subject:

#### Deprecate milestones

In order to avoid confusions, we should only be using the [GitHub project management](https://github.com/gitpoint/git-point/projects) interface to

[2017-11-05 13:41] machour opened #627 "Add support for <sub> in markdown"
Currently `<GithubHtmlView />` lacks support for the `<sub>` HTML tag.

For example:

<sub>This sentence is rendered as really small on github, but not in gitpoint</sub>.

If anyone wants to tackle this issue, I will gladly provide help 🎉

[2017-11-05 13:43] machour commented on #4
Assigned @jouderianjr as he's working on it, using `setBarStyle` as mentioned by @Krizzu

[2017-11-05 13:58] TheCodeTalker commented on #620
making new section for language by click navigate and sorting based upon first letter this what your saying IS it right ?? i want to take it

[2017-11-05 14:32] machour commented on #620
@TheCodeTalker fantastic 🎉 yes I had in mind exactly what you described.
Don't hesitate if you need any help with this

[2017-11-05 19:09] jouderianjr commented on #620
I think we could use Modal component for that instead create a new screen, what do you think guys?

[2017-11-05 19:42] machour commented on #620
That could work too!

[2017-11-06 04:54] TheCodeTalker commented on #620
@machour  it cool so is which components i can use for Modal...  reactnative model or any npm component for UI???

[2017-11-06 08:31] machour opened #628 "Doubled packager for start:ios & start:android?"
Hey team,

Every time I run either `yarn start:android` or `yarn start:ios` I get two packager launched:

<img width="1138" alt="screen shot 2017-11-06 at 9 31 35 am" src="https://user-images.githubusercontent.com/304450/32431842-5116bc3c-c2d5-11e7-9d87-0c68e693992a.png">

The line being executed is: `concurrently -r 'react-native start' 'react-native run-android'`
It seems to me that `react-nativ

[2017-11-06 09:11] machour opened #630 "Search icon missing from android"
![screen shot 2017-11-06 at 9 40 08 am](https://user-images.githubusercontent.com/304450/32433211-90a1b776-c2da-11e7-99b7-f8a0c4b778c3.png)

It seems like `react-native-material-design-searchbar` use the search icon from Ionicon (https://github.com/ananddayalan/react-native-material-design-searchbar/blob/master/SearchBar.js#L11) but it was removed by #512

[2017-11-06 11:14] machour opened #632 "Run eslint before coverage in Travis"
I'm noticing that if a PR contain eslint problems, coverage is still being ran, and the travis build takes ages to fail.

It would be better to run eslint first, and bail out without running coverage if it fails.

[2017-11-06 11:32] chinesedfan commented on #628
@machour No, I didn't meet. Everything is running in my unique cmd.

[2017-11-06 13:06] jouderianjr commented on #628
Same here hahaha I never understood why is set like that

[2017-11-06 13:12] machour commented on #628
@chinesedfan what do these commands give on your end?
[code]

[2017-11-06 13:48] machour commented on #628
Gotcha! Adding the `--no-packager` option to the run-android call fixes it for me 🕺

[code]

[2017-11-06 14:09] chinesedfan commented on #628
@machour I don't think it has relationship with global `react-native`. My global `react-native` is linked to a strange place. Let's talk in gitter. :)

[code]

[2017-11-06 15:25] rancidfrog commented on #464
Came across this: https://github.com/dmfrancisco/react-markdown-textarea-2
![](https://camo.githubusercontent.com/7688595087ad6039604e9889d623eefb060ca129/687474703a2f2f67632e64617669642e746f6f6c732f72656163742d6d61726b646f776e2d74657874617265612d322f73637265656e73686f742e737667)
Looks decent. Clean design.
Demo: https://dmfrancisco.github.io/react-markdown-textarea-2/
In demo Custom actions parti

[2017-11-06 15:30] machour commented on #464
@rancidfrog Thank you so much for logging this, it looks really nice.
It may require some additional work to make it work on react-native & smaller resolutions.
Do you want to give it a try?

[2017-11-06 15:48] rancidfrog commented on #464
I am not familar with react.
Will try following guide and see if I am able to first build project.

If I am not mistaken, changes needed are for: https://github.com/gitpoint/git-point/blob/master/src/components/comment-input.component.js

[2017-11-06 15:53] machour commented on #464
That's the exact spot to start implementing this feature 👍

Our contribution guide have a [setup section](https://github.com/gitpoint/git-point/blob/master/CONTRIBUTING.md#setup) that should help you get started. We also have a (gitter)[https://gitter.im/git-point/Lobby] if you want to join and get some support should you encounter any difficulties.

[2017-11-06 18:53] machour commented on #628
Dug into `react-native start-android` code to find out what's happening:

[code]

`isPackagerRunning()` does a `fetch('http://localhost:8081/status')` and parses the `.text()` answer.

As we added more dependencies to GitPoint over time, the server starts up take more time than when our yarn script was originally written:
`Scanning 1000 folders for symlinks in /Users/didou/git-point/node_modules (

[2017-11-06 21:45] msarsha commented on #439
Hey!

Will right to left language be properly displayed ?

[2017-11-07 02:06] chinesedfan commented on #628
@machour Please forgive me that I am still a little suspicious about it. Can you add a timeout in `isPackagerRunning`  and check again?

[2017-11-07 09:24] machour commented on #628
@chinesedfan no problems at all.
Added some console.log() statement in both files, here's what's happening:

<img width="753" alt="screen shot 2017-11-07 at 10 20 11 am" src="https://user-images.githubusercontent.com/304450/32485899-481f3912-c3a5-11e7-92af-a711ee5b6674.png">

As you can see, the `fetch()` completed quickly with "not_running", so runAndroid starts a new one. (the one it starts is o

[2017-11-07 10:57] #628 closed

[2017-11-07 13:26] chinesedfan opened #636 "Crash when markdown contain a <details> tag"
Our familiar error message,

[2017-11-07 13:36] machour commented on #636
Thank you for logging this.
Funny thing, this crash will be fixed when #528 is implemented.
There's currently a PR in progress for it: #609

[2017-11-07 13:45] #615 closed

[2017-11-07 13:46] #580 closed, assigned to nobody

[2017-11-07 15:07] #614 closed

[2017-11-08 06:12] AkshayIyer12 commented on #627
I want to work on this issue.

[2017-11-08 06:54] andrewda commented on #627
@AkshayIyer12 Thanks for the interest! I think we already have #629 open. It still needs some changes, though, so feel free to take a look at that code!

[2017-11-08 08:37] machour commented on #627
Hi @AkshayIyer12 and thank you for your interest. @TheCodeTalker is already working on this one in PR #629
Can you pick another issue?

[2017-11-09 03:15] #632 closed

[2017-11-09 03:17] #630 closed

[2017-11-09 03:20] #536 closed

[2017-11-09 08:13] #627 closed

[2017-11-09 10:32] machour commented on #620
@TheCodeTalker the react-native Modal will do just fine!

[2017-11-10 01:05] CameronSamuels opened #639 "Contributor icons being cut off at the end"
On an iPhone SE, the contributor icons are cut off at the end (right). It only shows about half of the last icon.

[2017-11-10 05:01] chinesedfan commented on #639
@CameronSamuels If you are using a released app, I think it has been fixed by #491.

[2017-11-10 08:07] machour commented on #639
Yes, this was already fixed and will be shipped in 1.4.0.
Thank you for reporting it Cameron!

[2017-11-10 08:07] #639 closed

[2017-11-10 13:22] CameronSamuels commented on #639
Sorry for the duplicate

[2017-11-12 05:55] jamesg1 commented on #532
Once I finish off SectionList happy to help with a screen or other components that need to get done?

Thanks

[2017-11-13 02:31] housseindjirdeh commented on #626
Milestones removed :rocket:

I like the idea of having all those columns as part of the project. Right now I've set it up so that the next minor, major and version releases are on there. Do you think that's alright? Or would you rather we only triage issues for the next coming release and nothing more?

This person would regularly test the app for regressions and post comments / new issues if need

[2017-11-13 02:34] housseindjirdeh commented on #625
I couldn't agree more with all this @machour. @chinesedfan do you think we should have at least 2 and not 1? Have no problem to use 2 if we all think it makes sense to have a more thorough look.

@machour I think this and  #626 should be in our docs somehow, will you be okay with me including it into our contributing docs? Please let me know if that's okay

[2017-11-13 02:39] andrewda commented on #625
I can work on a GitHub app/bot to help enforce some of these when I get some free time.

[2017-11-13 03:21] chinesedfan commented on #625
@housseindjirdeh Yes, I prefer 2 different approvals. Normally, a PR merged in 1 week is not a big problem. Of course, I am glad to listen other ones' opinions.

[2017-11-13 08:04] machour commented on #626
@housseindjirdeh The `next` branch is the way `react-native-elements` is doing things. We could give it a try for 1.4.1 and see how it plays out 👍

[2017-11-13 08:10] machour commented on #625
@housseindjirdeh Feel free to use those two tickets as a base for the docs.
I also feel we need to document the following things too:

 * How to keep the repo fork in sync with master (I've seen some users struggling)
 * The proper git workflow to get pre-commit hooks playing nice (git add file1 file2, then git commit, or else hooks like prettier won't work properly)
 * Give some examples of commi

[2017-11-13 08:12] machour commented on #625
We also need some way of distinguishing these two:

  * validated: "wow, this PR *looks* cool"
  * validated: "I have tested this PR, and having seen it in action, I validate it"

I feel like sometimes validation is used as a 👍 , and this should not be counted in the two validations @chinesedfan mentionned

[2017-11-13 10:37] machour opened #640 "Make user location listitem trigger a search"
## What Currently Happens?

Currently, when you click on the `Location` field in a user profile, a Google Map is opened with a pin to that location.

## What Would You Like To Happen?

I don't think the current behavior is really interesting. Would we consider instead triggering a search for other users in that location?

[2017-11-14 00:21] housseindjirdeh commented on #626
I like that 👍

[2017-11-14 00:22] housseindjirdeh commented on #625
Thanks a million @andrewda <3

I'm loving all of this, I'll take care of creating a new `docs` directory with this guide and points entirely in the next few days 🚀

[2017-11-15 06:51] jouderianjr commented on #625
I totally agreed with these rules :D +1 for the test before merge 💃

Also, I think like @chinesedfan, I do prefer 2 approvals before merge, would better have 2 persons reviewing something because we casually have different points of view and on person could find something that the other one don't 😄

[2017-11-17 13:03] coderste opened #642 "Feature Request: Ability to Edit Profile picture within the App"
Is there anyway we could change our Profile Picture from within the app? Or does the GitHub API not allow us to do this?

[2017-11-17 13:09] jouderianjr commented on #642
Hey mate, we have a issue for that #8 I really think that's very important to have :D, do you would like to work on that? 💃

[2017-11-17 13:22] coderste commented on #642
@josenaranjo Hey I can give it a shot after work :D

[2017-11-17 14:09] vitalkanev commented on #8
Maybe you mean Country?

[2017-11-17 17:26] coderste commented on #101
Any update on this feature? Would love it implemented within the app

[2017-11-19 15:46] jouderianjr commented on #642
Awesome, we are here if you want any help 😄

[2017-11-20 11:31] vitalkanev commented on #642
And after checking [dev docs](https://developer.github.com/v3), I didn't even find this thing - We can only modify `name`, `email`, `blog`, `company`, `location`, `hireable` and `bio` ([Source](https://developer.github.com/v3/users/))

[2017-11-20 12:57] coderste commented on #642
@vitalkanev I thought we might not be able to - that is why I asked the question in the issue whether we can actually use the API to edit the Image. As you have pointed out it seems like we can't 😞

Still be nice to have customizable bio etc. But I believe there is already an issue for such feature - so feel free to close this one 😃

[2017-11-21 08:29] machour commented on #642
The GitHub team have been quiet responsive and welcoming to our feedbacks. Maybe you can contact them to request this feature? I usually contact them via the github.com contact form

[2017-11-21 19:18] andrewda opened #644 "Add team discussions view"
## What Currently Happens?

No way to see Team Discussions.

## What Would You Like To Happen?

I'd like to see Team Discussions be implemented into the app. It's not going to happen yet, because the Team Discussions API hasn't yet been released, but when it is, this would be great addition.

[2017-11-21 19:21] andrewda commented on #640
Hey, that's a really good idea! For anyone who wants to take this on: location searches can be performed with the following query: `location:"San Francisco, CA"` [(try it out)](https://github.com/search?q=location%3A"San+Francisco%2C+CA").

[2017-11-22 13:23] derjoker opened #645 "Issue: GitPoint Crashes"
| Question         | Response    |
| ---------------- | ----------- |
| Version?         | v1.3.0      |
| Devices tested?  | iPhone 8 (iOS 11) |

---

## What Currently Happens?

Crashes

## What Do You Expect To Happen?

It should work.

## My Reproduction Steps

1. install from app store
1. login GitHub
1. crash

I've recorded screen.
[bug_gitpoint_v1_3_0.MOV](http://ozepvqvwx.bkt.clouddn.com/b

[2017-11-22 14:32] chinesedfan commented on #645
@derjoker Thanks for reporting. Can you check #436? Hope we can release the next version as soon as possible.

[2017-11-22 15:12] derjoker commented on #645
@chinesedfan yes, I think it's a problem with Chinese. At least when I switch to English or German, it works.

[2017-11-23 02:48] chinesedfan commented on #645
@derjoker All right. This problem has been fixed in #479. Please use the workaround in #436 to play with GitPoint until we release 1.4.

[2017-11-23 02:48] #645 closed

[2017-11-23 12:00] machour opened #646 "Handle network error in login screen"
| Question         | Response    |
| ---------------- | ----------- |
| Version?         | master      |
| Devices tested?  | iPhone 7... |

---

## What Currently Happens?

I'm on a *really* poor connection these days, and just tried to login in GitPoint, this happened:

<img width="349" alt="screen shot 2017-11-23 at 12 55 47 pm" src="https://user-images.githubusercontent.com/304450/33171787-eb0

[2017-11-23 12:04] machour commented on #644
For people wondering what are team discussions: https://github.com/blog/2471-introducing-team-discussions

[2017-11-30 01:31] housseindjirdeh opened #649 "SafeAreaView - iPhone 10"
With the release of iPhone 10 - we'll need to make sure our screens handle the notch :)

[SafeAreaView](https://github.com/react-community/react-native-safe-area-view) should be out in 0.50.0 for us to use where applicable

[2017-11-30 16:39] rn4n opened #650 "Application crashes when user try to open a PDF file"
On repositories that have any PDF file, if the user try to open (or accidently open) the file, the application crashes.

### Steps to Reproduce
- using Gitpoint, open any repository that contains a .pdf file on files viewer tree.
- tap on the file, to view it.
- the app crash.

### Environment
- Android 7.0
- GitPoint 1.3.1

[2017-12-01 12:33] mBeierl opened #651 "allow scrolling in MD code"
When I want to scroll a code example in MD in any readme to left or right, the app actually tries to switch e.g. from home area to notification area.

Expected:
When tapping first inside a code example in MD, hold the tap and move, then I'd expect that the actual embedded code preview is scrolled.

I'd like to tackle this issue myself as a first contribution, if you agree that this is an issue tha

[2017-12-01 12:50] chinesedfan commented on #651
@mBeierl Sure. Welcome to GitPoint!

But I didn't re-produce this problem when visiting readme of [my project](https://github.com/chinesedfan/parrot-mocker) (iPhone 6P, iOS 11.1, GitPoint 1.3). Can you provide your test project, app version and device information?

[2017-12-01 12:55] chinesedfan commented on #650
@reebr Thanks for reporting! Sorry that I opened with a blank view in my iPhone 6P, iOS 11.1, GitPoint 1.3. No crash happened.

@machour Can you take a try to confirm this issue?

[2017-12-01 13:46] jouderianjr commented on #650
I got the same error here (Nexus 5X, Android 8.0) :/

[2017-12-01 14:52] machour commented on #650
Confirmed. On android the error message is `error calling RTCDeviceEventEmitter.emit failed to create Value from Json`.

I guess we shouldn't try to render PDF (and other binary files) through `<SyntaxHighlighter />` 😄

Here's what currently Github provides for files:
<img width="895" alt="screen shot 2017-12-01 at 3 44 42 pm" src="https://user-images.githubusercontent.com/304450/33487822-da3303c6

[2017-12-01 14:58] #4 closed

[2017-12-01 15:07] machour commented on #651
Confirmed on Android, as soon as you try to scroll a `<code>` block, react-navigation swipe kicks in and wants to switch tabs:

![screenshot_1512140541](https://user-images.githubusercontent.com/304450/33488486-0ca4417e-d6b1-11e7-9cbb-59e3e80cf0e4.png)

[2017-12-01 15:09] machour commented on #651
@mBeierl Thank you a lot for logging this issue! I remember we talked about in https://github.com/gitpoint/git-point/pull/326#issuecomment-330000154

We'll be more than glad if you can give this issue a fresher look!

[2017-12-01 15:10] lex111 commented on #4
:tada:

[2017-12-01 15:21] machour commented on #31
Hey, just stumbled upon this old issue.

I'm wondering how this should be handled, as GitPoint is willing to be a complete Github client, and may enable you to edit your private emails in the future.

Should we disable all what is not used now, and enable permissions one by one as they are needed? How would the workflow used to re-authorize the app be handled then? 🤔

[2017-12-05 02:50] SirWindfield commented on #201
It is still happening on my android phone. It's quite annoying since I use GitHub apps mainly to communicate for issues/pr.

It happened on every comment I posted within this [issue](https://github.com/KeitIG/museeks/issues/369), even the ones without mentions. I send the crash log using the `Send feedvack` feature from android itself. The email has `trash` within its name, in case you already rec